{% extends 'layout/_01_lower.twig' %}

{# メタタグ設定 #}
{% set pageTitle = '外構・エクステリア工事メニュー' %}
{% set description = '知多市、半田市、常滑市、東海市を中心に知多半島で優雅なお庭、コンクリートガレージ、外構エクステリアにこだわりたい方は高橋造園にお任せください。' %}
{% set keywords = '外構,エクステリア,造園,知多市,半田市' %}

{# ページID設定 #}
{% set pageId = 'menu' %}
{% set title = 'menu' %}
{% set h1Text = '外構・エクステリア工事メニュー' %}

{# ページ個別　CSS等 #}
{% block headArea %}
<meta property="og:type" content="article" />
<link href="{{ theme }}/assets/css/page-{{ pageId }}.css" rel="stylesheet">
{% endblock %}

{# コンテンツをここに記載(main) #}
{% block main %}
<div class="l-main">
  {% include ('include/_heading.twig') %}
  {% include ('include/_breadcrumb.twig') %}
  <div class="l-page-heading">
    <h2 class="l-page-heading__title"><img src="{{ theme }}/assets/images/menu/title_menu.png" alt="MENU"></h2>
    <p class="l-page-heading__subtitle">{{ pageTitle }}</p>
    <p class="l-page-heading__text"></p>
  </div>

  <div class="l-menu">
  {% include 'include/_menuListComponent.twig' %}
  </div>

  <section class="l-section" id="menu-gate">
    <div class="l-section__inner">
      <div class="l-section__top row-reverse">
        <div class="l-section__top__head head-r">
          <p class="l-section__top__num num-r">01</p>
          <h3 class="l-section__top__title">門・アプローチ</h3>
          <p class="l-section__top__text">門扉・シャッター・門柱・<br class="is-pc">スロープ・階段・タイル等</p>
        </div>
        <div class="l-section__top__thumb">
          <img src="{{ theme }}/assets/images/menu/img_gate_main.jpg" alt="{{ pageTitle }} 門・アプローチ" class="img-rsp">
        </div>
      </div>
      <div class="l-section__bottom">
        <div class="l-section__bottom__detail">
          <p class="l-section__bottom__detail__title">お家の第一印象を決める大切な門・アプローチ</p>
          <p class="l-section__bottom__detail__text">門・アプローチは、お家の第一印象を決める大切な場所です。特に周辺に暮らす近隣の方や来客の方への印象はつきやすいと言えるでしょう。<br>高橋造園は、住宅の外観やテイスト、お客様のお好みに合わせて、素敵な門・アプローチをご提案させて頂きます。</p>
        </div>
        <ul class="l-section__bottom__group">
{%
  set menu1Array = [
    {
      id: '01',
      name: 'モダンテイストのアプローチ',
    },
    {
      id: '02',
      name: '手すり付きスロープ',
    },
    {
      id: '03',
      name: '洋風テイストの門扉',
    }
  ]
%}
        {% for item in menu1Array %}
          <li class="l-section__bottom__child">
            <p class="l-section__bottom__child__thumb"><img src="{{ theme }}/assets/images/menu/image_gate_{{ item.id }}.jpg" alt="{{ item.name }}" class="img-rsp"></p>
            <p class="l-section__bottom__child__text">{{ item.name }}</p>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </section>

  <section class="l-section" id="menu-fence">
    <div class="l-section__inner">
      <div class="l-section__top">
        <div class="l-section__top__head head-l">
          <p class="l-section__top__num num-l">02</p>
          <h3 class="l-section__top__title">フェンス・ブロック</h3>
          <p class="l-section__top__text">フェンス・目隠し・ブロック等</p>
        </div>
        <div class="l-section__top__thumb">
          <img src="{{ theme }}/assets/images/menu/image_fence_main.jpg" alt="{{ pageTitle }} フェンス・ブロック" class="img-rsp">
        </div>
      </div>
      <div class="l-section__bottom">
        <div class="l-section__bottom__detail">
          <p class="l-section__bottom__detail__title">家族と暮らしのプライバシーを守る<br class="is-pc">フェンス・ブロック</p>
          <p class="l-section__bottom__detail__text">ご近所さんや通行人の目から家族のプライバシーを守るのがフェンスです。フェンスも様々な種類やデザインが増えています。近年、お庭でアウトドアをされる方が増えています。お客様の用途に合わせて、フェンスのご提案を致します。<br>ブロックは、お隣さんとの境界をつくる大切な役目となります。</p>
        </div>
        <ul class="l-section__bottom__group">
{%
  set menu2Array = [
    {
      id: '01',
      name: '木目のフェンス',
    },
    {
      id: '02',
      name: '和風の竹フェンス',
    },
    {
      id: '03',
      name: '目隠しフェンス',
    }
  ]
%}
        {% for item in menu2Array %}
          <li class="l-section__bottom__child">
            <p class="l-section__bottom__child__thumb"><img src="{{ theme }}/assets/images/menu/image_fence_{{ item.id }}.jpg" alt="{{ item.name }}" class="img-rsp"></p>
            <p class="l-section__bottom__child__text">{{ item.name }}</p>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </section>

  <section class="l-section" id="menu-deck">
    <div class="l-section__inner">
      <div class="l-section__top row-reverse">
        <div class="l-section__top__head head-r">
          <p class="l-section__top__num num-r">03</p>
          <h3 class="l-section__top__title">デッキ・テラス</h3>
          <p class="l-section__top__text">ウッドデッキ・お庭テラス等</p>
        </div>
        <div class="l-section__top__thumb">
          <img src="{{ theme }}/assets/images/menu/image_deck_main.jpg" alt="{{ pageTitle }} デッキ・テラス" class="img-rsp">
        </div>
      </div>
      <div class="l-section__bottom">
        <div class="l-section__bottom__detail">
          <p class="l-section__bottom__detail__title">デッキ・テラスで家の外に<br class="is-pc">もう一つの空間をプラス。</p>
          <p class="l-section__bottom__detail__text">リビングからそのまま外に出られるデッキやテラスは、プラスアルファな空間と言えます。小さなお子さまとプールで遊んだり、ご家族や友人を呼んでバーベキューをしたり、ペットとゆっくり過ごす時間など・・・様々な用途で活用できる空間となるでしょう。</p>
        </div>
        <ul class="l-section__bottom__group">
{%
  set menu3Array = [
    {
      id: '01',
      name: '色々活用できるウッドデッキ',
    },
    {
      id: '02',
      name: '心地良く過ごせるテラス',
    },
    {
      id: '03',
      name: '青空の見えるガーデンルーム',
    }
  ]
%}
        {% for item in menu3Array %}
          <li class="l-section__bottom__child">
            <p class="l-section__bottom__child__thumb"><img src="{{ theme }}/assets/images/menu/image_deck_{{ item.id }}.jpg" alt="{{ item.name }}" class="img-rsp"></p>
            <p class="l-section__bottom__child__text">{{ item.name }}</p>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </section>

  <section class="l-section" id="menu-parking">
    <div class="l-section__inner">
      <div class="l-section__top">
        <div class="l-section__top__head head-l">
          <p class="l-section__top__num num-l">04</p>
          <h3 class="l-section__top__title">駐車場・カーポート</h3>
          <p class="l-section__top__text">駐車場・カーポート・ガレージ等</p>
        </div>
        <div class="l-section__top__thumb">
          <img src="{{ theme }}/assets/images/menu/image_parking_main.jpg" alt="{{ pageTitle }} 駐車場・カーポート" class="img-rsp">
        </div>
      </div>
      <div class="l-section__bottom">
        <div class="l-section__bottom__detail">
          <p class="l-section__bottom__detail__title">大切な車を雨風から守る大切なスペース。</p>
          <p class="l-section__bottom__detail__text">今まではお庭として活用されていたスペースを、家族の成長に合わせて駐車場にリフォームをされるケースはよくあります。更にカーポートがあると、雨・風・日差しから車を守れるので、大切な家族の車の劣化を防ぐことが可能となります。日常の利便性の高い駐車場やカーポートのことなら、お気軽に高橋造園までご相談下さい。</p>
        </div>
        <ul class="l-section__bottom__group">
{%
  set menu4Array = [
    {
      id: '01',
      name: '2台停められる駐車場',
    },
    {
      id: '02',
      name: '車を守るカーポート',
    },
    {
      id: '03',
      name: '便利なガレージ',
    }
  ]
%}
        {% for item in menu4Array %}
          <li class="l-section__bottom__child">
            <p class="l-section__bottom__child__thumb"><img src="{{ theme }}/assets/images/menu/image_parking_{{ item.id }}.jpg" alt="{{ item.name }}" class="img-rsp"></p>
            <p class="l-section__bottom__child__text">{{ item.name }}</p>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </section>

  <section class="l-section" id="menu-garden">
    <div class="l-section__inner">
      <div class="l-section__top row-reverse">
        <div class="l-section__top__head head-r">
          <p class="l-section__top__num num-r">05</p>
          <h3 class="l-section__top__title">庭・植栽</h3>
          <p class="l-section__top__text">剪定・植木等</p>
        </div>
        <div class="l-section__top__thumb">
          <img src="{{ theme }}/assets/images/menu/image_garden_main.jpg" alt="{{ pageTitle }} 庭・植栽" class="img-rsp">
        </div>
      </div>
      <div class="l-section__bottom">
        <div class="l-section__bottom__detail">
          <p class="l-section__bottom__detail__title">「お家の顔」と言われるほど、<br>お庭は大切なスペースです。</p>
          <p class="l-section__bottom__detail__text">木々や植栽を作り上げることでお家の外観が華やかになり、お庭に緑があると日本ならではの四季がより楽しめます。そこにプラス、適度なお手入れをしてあげるだけでお庭は変わります。例えば伸びすぎた植栽は犯罪に巻き込まれやすかったりもするので、注意が必要です。いつまでも綺麗なお庭を保つためのアドバイスもさせて頂きます。</p>
        </div>
        <ul class="l-section__bottom__group">
{%
  set menu5Array = [
    {
      id: '01',
      name: '伸びた植栽の剪定',
    },
    {
      id: '02',
      name: 'アドバイスも致します。',
    },
    {
      id: '03',
      name: 'お庭のご提案も致します。',
    }
  ]
%}
        {% for item in menu5Array %}
          <li class="l-section__bottom__child">
            <p class="l-section__bottom__child__thumb"><img src="{{ theme }}/assets/images/menu/image_garden_{{ item.id }}.jpg" alt="{{ item.name }}" class="img-rsp"></p>
            <p class="l-section__bottom__child__text">{{ item.name }}</p>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </section>

  <section class="l-section" id="menu-others">
    <div class="l-section__inner">
      <div class="l-section__top">
        <div class="l-section__top__head head-l">
          <p class="l-section__top__num num-l">06</p>
          <h3 class="l-section__top__title">宅地造成・その他</h3>
          <p class="l-section__top__text">アスファルト・コンクリート・土盛・その他</p>
        </div>
        <div class="l-section__top__thumb">
          <img src="{{ theme }}/assets/images/menu/image_others_main.jpg" alt="{{ pageTitle }} 宅地造成・その他" class="img-rsp">
        </div>
      </div>
      <div class="l-section__bottom">
        <div class="l-section__bottom__detail">
          <p class="l-section__bottom__detail__title">様々な工事を幅広く対応させて頂きます。</p>
          <p class="l-section__bottom__detail__text">高橋造園は土地を宅地用に整備をしたい！というご要望にもお応えが出来る技術を持っています。山や傾斜、溝、窪地といった地形をしっかり整備をすることで、宅地にしたり、とり目的の住宅に適した形状にさせて頂きます。更に崖や盛土の側面が崩れないように擁壁工事も行っております。いつでもご相談ください。</p>
        </div>
        <ul class="l-section__bottom__group">
         <li class="l-section__bottom__child">
            <p class="l-section__bottom__child__thumb"><img src="{{ theme }}/assets/images/menu/image_others_01.jpg" alt="擁壁工事も致します。" class="img-rsp"></p>
            <p class="l-section__bottom__child__text">擁壁工事も致します。</p>
          </li>
          <li class="l-section__bottom__child">
            <p class="l-section__bottom__child__thumb"><img src="{{ theme }}/assets/images/menu/image_others_02.jpg" alt="造成工事も致します。" class="img-rsp"></p>
            <p class="l-section__bottom__child__text">造成工事も致します。</p>
          </li>
          <li class="l-section__bottom__child">
            <p class="l-section__bottom__child__thumb"><img src="{{ theme }}/assets/images/menu/image_others_03.jpg" alt="まずは高橋造園までご相談ください。" class="img-rsp"></p>
            <p class="l-section__bottom__child__text">まずは高橋造園まで<br class="is-pc">ご相談下さい。</p>
          </li>
        </ul>
      </div>
    </div>
  </section>
  
{%
  set commonBnrList = [
    {
      id: 'works',
      url: siteMap.case.url,
      name: 'WORKS',
      text: siteMap.case.name,
    },
    {
      id: '10articles',
      url: siteMap.tenArticles.url,
      name: '失敗しない庭づくり',
      text: siteMap.tenArticles.name,
    },
    {
      id: 'staff',
      url: siteMap.staff.url,
      name: '代表・スタッフ紹介',
      text: siteMap.staff.name,
    }
  ]
%}
{% include 'include/_commonBnrComponent.twig' %}
</div>
{% endblock %}
