{% extends 'layout/_01_lower.twig' %}

{# メタタグ設定 #}
{% set top_pageTitle = '高橋造園｜優雅なお庭、和モダンのお庭外構はお任せ下さい' %}
{% set description = '知多市、半田市、常滑市、東海市を中心に知多半島で優雅なお庭、コンクリートガレージ、外構エクステリアにこだわりたい方は高橋造園にお任せください。' %}
{% set keywords = '外構,エクステリア,造園,知多市,半田市' %}

{# ページID設定 #}
{% set pageId = 'index' %}
{% set title = 'toppage' %}

{# ページ個別　CSS等 #}
{% block headArea %}
<meta property="og:type" content="website" />
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link href="{{ theme }}/assets/css/page-index.css" rel="stylesheet">
{% endblock %}

{# コンテンツをここに記載(main) #}
{% block main %}
<div class="l-index">
  <div class="l-mv">
    <div class="l-mv__inner">
      <h2 class="l-mv__title"><img src="{{ theme }}/assets/images/index/text_main.png" alt="庭を変えれば、景色が変わる。家が変わる。暮らしが変わる。"></h2>
      <div class="l-mv-slide">
        <div class="l-mv-slide__content">
          <div class="l-mv-slide__group" id="js-mv-slide__group">
          {% for i in 1..3 %}
            <div class="l-mv-slide__child child-1 js-mv-slide__child">
              <div class="is-pc">
                <img src="{{ theme }}/assets/images/index/img_mv_0{{i}}.jpg" alt="{{pageCompanyName}}メインビジュアルスライダー{{i}}" class="img-fit l-mv-slide__img">
              </div>
              <div class="is-sp">
                <img src="{{ theme }}/assets/images/index/img_mv_0{{i}}_sp.jpg" alt="{{pageCompanyName}}メインビジュアルスライダー{{i}}" class="img-fit l-mv-slide__img">
              </div>
            </div>
          {% endfor  %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="l-access">
    <p class="l-access__text">{{pageCompanyName}}<br class="is-sp">〒{{companyZipcode}}{{companyAddress}}（><a href="{{ siteurl }}{{ siteMap.access.url }}" class="js-hover o-text-link">アクセス</a>）<br class="is-sp">TEL.{{companyTel}}</p>
  </div>

  <div class="l-pickup">
    <div class="l-pickup__inner js-scrollIn">
      <ul class="l-pickup__group">
        <li class="l-pickup__child pickup-garden">
          <a href="{{ siteurl }}{{ siteMap.garden.url }}" class="l-pickup__child__link js-hover">
            <h3 class="l-pickup__child__title">住宅を引き立たせるお庭</h3>
            <p class="l-pickup__child__thumb"><img src="{{ theme }}/assets/images/index/bnr_garden.jpg" alt="PICKUP GARDEN" class="img-rsp"></p>
            <div class="l-pickup__child__row">
              <p class="l-pickup__child__text">高橋造園の外構エクステリア庭工事は、<br class="is-pc">住宅とのバランスを大切にしています。</p>
              <div class="l-pickup__child__icon">
                <div class="icon-wrap">
                  <svg class="icon fill-color-current">
                    <use xlink:href="{{ theme }}/assets/svg/icons.svg#icon_arrow_r">
                  </svg>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="l-pickup__child pickup-garage">
          <a href="{{ siteurl }}{{ siteMap.garage.url }}" class="l-pickup__child__link js-hover">
            <h3 class="l-pickup__child__title">暮らしを豊かにするガレージ</h3>
            <p class="l-pickup__child__thumb"><img src="{{ theme }}/assets/images/index/bnr_garage.jpg" alt="PICKUP GARAGE" class="img-rsp"></p>
            <div class="l-pickup__child__row">
              <p class="l-pickup__child__text">カーポート、車庫、ガレージなど、<br class="is-pc">大切な車を守り暮らしを便利にしたいものです。</p>
              <div class="l-pickup__child__icon">
                <div class="icon-wrap">
                  <svg class="icon fill-color-current">
                    <use xlink:href="{{ theme }}/assets/svg/icons.svg#icon_arrow_r">
                  </svg>
                </div>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <section class="l-staff">
    <div class="l-staff__head">
      <div class="l-staff__main js-scrollIn">
        <h3 class="l-staff__title f-min ">趣味は仕事。<br class="is-sp">庭づくりが大好きです。</h3>
        <p class="l-staff__text">高橋造園は創業以来、ここ知多市を中心に常滑市、半田市、東海市、東浦町、阿久比町、武豊町、美浜町を施工エリアとしています。世界でたった一つのお客様だけのお庭をつくるために駆け抜けてきました。私の趣味は、仕事と言っても過言ではありません。1年365日中、360日は仕事をしているかもしれません。それほど仕事が、庭づくりが大好きなのです。実は・・・</p>
      </div>
    </div>
    <div class="l-staff__bottom">
      <div class="l-staff__btn js-scrollIn">
        <a href="{{ siteurl }}{{ siteMap.staff.url }}" class="c-btn btn-normal js-hover">
          <p class="c-btn__text">代表・スタッフ紹介はこちら</p>
          <div class="btn-normal__arrow"> 
            <div class="icon-wrap">
              <svg class="icon fill-color-current">
                <use xlink:href="{{ theme }}/assets/svg/icons.svg#icon_arrow_r"></use>
              </svg>
            </div>
          </div>
        </a>
      </div>
      <p class="l-staff__photo"><img src="{{ theme }}/assets/images/index/img_greeting.png" alt="{{pageCompanyName}} 代表・スタッフ挨拶イメージ" class="img-rsp"></p>
    </div>
  </section>

{%
  set siteContentArray = [
    {
      id: 'japanese_modern',
      title: '和モダンのお庭',
      url: siteMap.japaneseModern.url,
      text: '伝統的な和テイストと現代モダンテイストを融合させたお庭です。'
    },
    {
      id: 'stone',
      title: '庭石の魅力',
      url: siteMap.stone.url,
      text: '石は置き方や置く位置で様々な見せ方が出来ます。'
    },
    {
      id: 'flow',
      title: 'ご相談から完成までの流れ',
      url: siteMap.flow.url,
      text: '外構エクステリアお庭のご相談から完成までの流れをご紹介します。'
    }
  ]
%}

  <div class="l-site-content">
    <div class="l-site-content__inner js-scrollIn">
      <ul class="l-site-content__group">
      {% for item in siteContentArray %}
        <li class="l-site-content__child">
          <a href="{{ siteurl }}{{ item.url }}" class="l-site-content__child__link js-hover">
            <h3 class="l-site-content__child__title">{{ item.title }}</h3>
            <p class="l-site-content__child__thumb"><img src="{{ theme }}/assets/images/index/bnr_{{ item.id }}.jpg" alt="{{ item.title }}" class="img-rsp"></p>
            <p class="l-site-content__child__text">{{ item.text }}</p>
          </a>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>

  <section class="l-menu">
    <div class="l-menu__head js-scrollIn">
      <h2 class="l-menu__head__title"><img src="{{ theme }}/assets/images/index/text_menu.png" alt="MENU"></h2>
      <p class="l-menu__head__subtitle">外構・エクステリア工事メニュー</p>
    </div>
    <div class="l-menu__main js-scrollIn">
    {% include 'include/_menuListComponent.twig' %}
    </div>
    <div class="l-menu__btn js-scrollIn">
      <a href="{{ siteurl }}{{ siteMap.menu.index.url }}" class="c-btn btn-normal js-hover">
        <p class="c-btn__text">工事メニュー詳細はこちら</p>
        <div class="btn-normal__arrow"> 
          <div class="icon-wrap">
            <svg class="icon fill-color-current">
              <use xlink:href="{{ theme }}/assets/svg/icons.svg#icon_arrow_r"></use>
            </svg>
          </div>
        </div>
      </a>
    </div>
  </section>

  <section class="l-works">
    <div class="l-works__inner js-scrollIn">
      <h2 class="l-works__title"><img src="{{ theme }}/assets/images/index/text_works.png" alt="WORKS" class="img-rsp"></h2>
      {% setcontent caserecords = 'case/latest/8' where { status: 'published' } %}
      {% if caserecords is defined and caserecords is not empty %}
      <ul class="l-works__group">
      {% for record in caserecords | order('sortorder') %}
      {% if record.case_thumb_img is defined and record.case_thumb_img is not empty %}
      {% set _thumbnail_Path = record.case_thumb_img | image %}
      {% else %}
      {% set _thumbnail_Path = asset('assets/images/common/noimage.png', 'theme') %}
      {% endif %}
        <li class="l-works__child">
          <a href="{{ record.link }}" class="l-works__child__link js-hover">
            <p class="l-works__child__thumb"><img src="{{ _thumbnail_Path }}" alt="{{ record.case_title }} 写真" class="img-fit l-works__child__img"></p>
            {% if record.case_customer_area is defined and record.case_customer_area is not empty %}
            <p class="l-works__child__area">{{ record.case_customer_area }}</p>
            {% endif %}
            <p class="l-works__child__title">{{ record.case_title }}</p>
          </a>
        </li>
      {% endfor %}
      </ul>
      {% endif %}
      <div class="l-works__btn">
        <a href="{{ siteurl }}{{ siteMap.case.url }}" class="c-btn btn-normal js-hover">
          <p class="c-btn__text">施工事例一覧はこちら</p>
          <div class="btn-normal__arrow"> 
            <div class="icon-wrap">
              <svg class="icon fill-color-current">
                <use xlink:href="{{ theme }}/assets/svg/icons.svg#icon_arrow_r"></use>
              </svg>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>

{%
  set bannerArray = [
    {
      id: 'voice',
      name: 'お客様の声',
      url: siteMap.voice.url,
      text1: '高橋造園で工事をさせて頂いた',
      text2: 'お客様の声をご紹介します。'
    },
    {
      id: '10articles',
      name: '失敗しない家づくり',
      url: siteMap.tenArticles.url,
      text1: '後悔する前に！失敗しない庭づくりを',
      text2: 'ご参考にしてください。'
    }
  ]
%}

  <div class="l-banner">
    <div class="l-banner__inner js-scrollIn">
      <ul class="l-banner__group">
      {% for item in bannerArray %}
        <li class="l-banner__child">
          <a href="{{ siteurl }}{{ item.url }}" class="l-banner__child__link js-hover">
            <p class="l-banner__child__thumb"><img src="{{ theme }}/assets/images/index/bnr_{{ item.id }}.jpg" alt="{{ item.name }}" class="img-rsp"></p>
            <div class="l-banner__child__detail">
              <p class="l-banner__child__text">{{ item.text1 }}<br class="is-pc">{{ item.text2 }}</p>
              <div class="l-banner__child__icon">
                <div class="icon-wrap">
                  <svg class="icon fill-color-current">
                    <use xlink:href="{{ theme }}/assets/svg/icons.svg#icon_arrow_r"></use>
                  </svg>
                </div>
              </div>
            </div>
          </a>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>

  <div class="l-info">
    <div class="l-info__inner js-scrollIn">
      <div class="l-info-news">
        <div class="l-info-news__head">
          <h2 class="l-info-news__head__title"><img src="{{ theme }}/assets/images/index/text_news.png" alt="NEWS" class="img-rsp"></h2>
          <div class="l-info-news__head__list">
            <a href="{{ siteurl }}{{ siteMap.news.url }}" class="l-info-news__head__link js-hover">
              <p class="l-info-news__head__link__text">一覧はこちら</p>
              <div class="l-info-news__head__link__icon">
                <div class="icon-wrap">
                  <svg class="icon fill-color-current">
                    <use xlink:href="{{ theme }}/assets/svg/icons.svg#icon_arrow_r"></use>
                  </svg>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="l-info-news__main">
          <div class="l-info-news__main__inner">
          {% setcontent newsrecords = 'news/latest/6' where { status: 'published' } %}
          {% if newsrecords is defined and newsrecords is not empty %}
            <ul class="l-info-news__main__group">
            {% for record in newsrecords | order('sortorder')%}
              <li class="l-info-news__main__child">
                <a href="{{ record.link }}" class="l-info-news__main__child__link js-hover">
                  <p class="l-info-news__main__child__date">{{ record.datepublish | date('Y/m/d') }}</p>
                  <h3 class="l-info-news__main__child__title">{{ record.news_title }}</h3>
                </a>
              </li>
            {% endfor %}
            </ul>
          {% endif %}
          </div>
        </div>
      </div>
      <div class="l-info-banner">
        <p class="l-info-banner__recruit">
          <a href="{{ siteurl }}{{ siteMap.recruit.url }}" class="js-hover l-info-banner__recruit__link"><img src="{{ theme }}/assets/images/index/bnr_recruit.jpg" alt="求人募集" class="img-rsp"></a>
        </p>
        <div class="l-info-banner__company">
          <a class="c-btn btn-company js-hover" href="{{ siteurl }}{{ siteMap.company.url }}">
            <p class="l-info-banner__company__text"><img src="{{ theme }}/assets/images/index/text_btn_company.png" alt="会社概要"></p>
            <div class="l-info-banner__company__icon">
              <div class="icon-wrap">
                <svg class="icon fill-color-current">
                  <use xlink:href="{{ theme }}/assets/svg/icons.svg#icon_arrow_r"></use>
                </svg>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <section class="l-contact">
    <div class="l-contact__head">
      <h2 class="l-contact__head__title js-scrollIn"><img src="{{ theme }}/assets/images/index/text_contact.png" alt="CONTACT"></h2>
    </div>
    <div class="l-contact__main">
      <div class="l-contact__main__inner js-scrollIn">
        <h3 class="l-contact__main__title">外構・エクステリア・お庭を<br class="is-sp">ご検討されている方へ</h3>
        <ul class="l-contact__main__group">
          <li class="l-contact__main__child">
            <div class="l-contact__main__child__head">
              <p class="l-contact__main__child__title"><span>新築</span>での施工</p>
            </div>
            <div class="l-contact__main__child__row">
              <p class="l-contact__main__child__thumb"><img src="{{ theme }}/assets/images/index/img_work_new.jpg" alt="新築での施工" class="img-rsp"></p>
              <div class="l-contact__main__child__detail">
                <p class="l-contact__main__child__desc">ぜひ事務所へ<br><span>お気軽にお越し下さい。</span></p>
                <p class="l-contact__main__child__text">※現場工事で不在の時がありますので、<br class="is-pc">事前にご連絡を頂けますと幸いです。</p>
                <div class="l-contact__main__child__btn is-pc">
                  <a href="{{ siteurl }}{{ siteMap.access.url }}" class="c-btn btn-normal js-hover">
                    <p class="btn-normal__text">アクセスについて</p>
                    <div class="btn-normal__arrow">
                      <div class="icon-wrap">
                        <svg class="icon fill-color-current">
                          <use xlink:href="{{ theme }}/assets/svg/icons.svg#icon_arrow_r"></use>
                        </svg>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="l-contact__main__child__bottom__btn is-sp">
              <div class="l-contact__main__child__btn">
                <a href="{{ siteurl }}{{ siteMap.access.url }}" class="c-btn btn-normal js-hover">
                  <p class="btn-normal__text">アクセスについて</p>
                  <div class="btn-normal__arrow">
                    <div class="icon-wrap">
                      <svg class="icon fill-color-current">
                        <use xlink:href="{{ theme }}/assets/svg/icons.svg#icon_arrow_r"></use>
                      </svg>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </li>
          <li class="l-contact__main__child">
            <div class="l-contact__main__child__head">
              <p class="l-contact__main__child__title"><span>リフォーム</span>での施工</p>
            </div>
            <div class="l-contact__main__child__row">
              <p class="l-contact__main__child__thumb"><img src="{{ theme }}/assets/images/index/img_work_reform.jpg" alt="リフォームでの施工" class="img-rsp"></p>
              <div class="l-contact__main__child__detail">
                <p class="l-contact__main__child__desc"><span>無料現地調査</span>で<br>より正確なお見積りを<br>ご提案いたします。</p>
                <div class="l-contact__main__child__btn is-pc">
                  <a href="{{ siteurl }}{{ siteMap.contact.url }}?link=info" class="c-btn btn-normal js-hover">
                    <p class="btn-normal__text">無料現地調査について</p>
                    <div class="btn-normal__arrow">
                      <div class="icon-wrap">
                        <svg class="icon fill-color-current">
                          <use xlink:href="{{ theme }}/assets/svg/icons.svg#icon_arrow_r"></use>
                        </svg>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="l-contact__main__child__bottom__btn is-sp">
              <div class="l-contact__main__child__btn">
                <a href="{{ siteurl }}{{ siteMap.contact.url }}?link=info" class="c-btn btn-normal js-hover">
                  <p class="btn-normal__text">無料現地調査について</p>
                  <div class="btn-normal__arrow">
                    <div class="icon-wrap">
                      <svg class="icon fill-color-current">
                        <use xlink:href="{{ theme }}/assets/svg/icons.svg#icon_arrow_r"></use>
                      </svg>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="l-contact__bottom"></div>
  </section>
</div>
{% endblock %}

{% block jsArea %}
<script type="text/javascript">
  $(function() {
    $('#js-mv-slide__group').slick({
      dots: true, // ページャーの表示フラグ
      infinite: true, // ループのフラグ
      speed: 500, // アニメーションのスピード
      fade: true, // フェード
      cssEase: 'linear', // イージング
      arrows: false, // 矢印表示フラグ(デフォルトでtrue)
      autoplay: true, // 自動再生
      autoplaySpeed: 6000, // 再生間隔
    });

    // スタイルを追加
    var $slidePager = $('.slick-dots');
    var $slidePagerChild = $('.slick-dots').find('li');

    $slidePager.addClass('l-mv-slide__pager');
    $slidePagerChild.addClass('l-mv-slide__pager__child');
  });
</script>
{% endblock %}
