{% extends 'layout/_01_lower.twig' %}

{# ページタイトル設定 #}
{% set pageTitle = 'ページが存在しません。' %}
{% set description = '知多市、半田市、常滑市、東海市を中心に知多半島で優雅なお庭、コンクリートガレージ、外構エクステリアにこだわりたい方は高橋造園にお任せください。' %}
{% set keywords = '外構,エクステリア,造園,知多市,半田市' %}

{% set pageId = 'not-found' %}
{% set title = 'notfound.twig' %}
{% set h1Text = 'ページが存在しません' %}

{# ページ個別　CSS等 #}
{% block headArea %}
<meta property="og:type" content="article" />
<link href="{{ theme }}/assets/css/page-{{ pageId }}.css" rel="stylesheet">
{% endblock %}

{# コンテンツをここに記載(main) #}
{% block main %}
<div class="l-main">
  {% include ('include/_heading.twig') %}
  <div class="l-not-found">
    <div class="l-not-found__inner"> 
      <h2 class="l-not-found__title">お探しのページは見つかりませんでした。</h2>
      <p class="l-not-found__text">大変申し訳ございません。<br>お探しのページは一時的にアクセスできない状況にあるか、移動もしくは削除された可能性がございます。</p>
      <div class="l-not-found__btn">
        <a href="{{ siteurl }}" class="c-btn btn-normal js-hover">
          <p class="c-btn__text">トップページに戻る</p>
          <div class="btn-normal__arrow"> 
            <div class="icon-wrap">
              <svg class="icon fill-color-current">
                <use xlink:href="{{ theme }}/assets/svg/icons.svg#icon_arrow_r"></use>
              </svg>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
