{% extends 'layout/_01_lower.twig' %}

{# メタタグ設定 #}
{% set pageTitle = record.voice_title %}
{% set description = '知多市、半田市、常滑市、東海市を中心に知多半島で優雅なお庭、コンクリートガレージ、外構エクステリアにこだわりたい方は高橋造園にお任せください。' %}
{% set keywords = '外構,エクステリア,造園,知多市,半田市' %}

{% set seo_pageTitle = record.seo_pagetitle %}
{% set seo_description = record.seo_description %}
{% set sns_img = record.sns_img %}

{# ページID設定 #}
{% set pageId = 'voice-single' %}
{% set title = 'お客様の声' %}
{% set h1Text = 'お客様の声' %}
{% set pageArchiveId = 'voice' %}

{# ページ個別　CSS等 #}
{% block headArea %}
<meta property="og:type" content="article" />
<link href="{{ theme }}/assets/css/page-{{ pageId }}.css" rel="stylesheet">
{% endblock %}

{# コンテンツをここに記載(main) #}
{% block main %}
<div class="l-main">
  {% include ('include/_heading.twig') %}
  {% include ('include/_breadcrumb.twig') %}
  <div class="l-single-wrap">
    {% include 'layout/_entryPagerComponent.twig' %}
    {% set _thumbnail_Path = record.voice_thumb_img | image %}
    <article class="l-voice-single">
      <div class="l-voice-single__inner">
        <div class="l-voice-single__head">
          <p class="l-voice-single__head__area">{{ record.voice_area_name }} {{ record.voice_name }}</p>
          <h2 class="l-voice-single__head__title">{{ record.voice_title }}</h2>
        </div>
        {% if record.voice_thumb_img is defined and record.voice_thumb_img is not empty %}
        <div class="l-voice-single__thumb">
          <img src="{{ _thumbnail_Path }}" alt="{{ record.voice_title }}" class="img-rsp">
        </div>
        {% endif %}
        <div class="l-voice-single__body l-wysi">
          {{ record.voice_body_text }}
        </div>
        {% if  record.voice_gallery is defined and record.voice_gallery is not empty %}
        <div class="l-voice-single__gallery">
          <h3 class="l-voice-single__gallery__title">GALLERY</h3>
          <ul class="l-voice-single__gallery__group" id="js-gallery">
          {% for _gallery in record.voice_gallery %}
            <li class="l-voice-single__gallery__child">
              <a href="{{ _gallery | image }}" class="l-voice-single__gallery__link js-hover"
                data-tracking-content-type = "voice"
                data-tracking-content-id = "{{ record.id }}"
                data-tracking-content-name = "{{ record.voice_title }}"
                data-tracking-img-src = "{{ _gallery | image }}"
                data-tracking-img-label = "{{ _gallery.title }}"
                data-tracking-field-type = "ギャラリー">
                <div class="l-voice-single__gallery__thumb">
                  <img src="{{ _gallery | image }}" class="img-fit l-voice-single__gallery__img" alt="{{ _gallery.title }}">
                </div>
                {% set _filename = _gallery.filename|split('.') %}
                {% if _filename[0] not in _gallery.title %}
                <p class="l-voice-single__gallery__caption">{{ _gallery.title }}</p>
                {% endif %}
              </a>
            </li>
          {% endfor %}
          </ul>
        </div>
      {% endif %}
      </div>
    </article>
    {% include 'layout/_entryPagerComponent.twig' %}

    {% setcontent voicerecords = 'voice/latest/12' where { status: 'published' } %}
    {% if voicerecords is defined and voicerecords is not empty %}
    <section class="l-voice-other">
      <div class="l-voice-other__head">
        <h3 class="l-voice-other__title">その他のお客様の声</h3>
      </div>
      <div class="l-voice-other__main">
        <div class="l-voice-other__main__inner">
          <ul class="l-voice-other__group">
          {% for record in voicerecords | order('sortorder') %}
          {% if record.voice_thumb_img is defined and record.voice_thumb_img is not empty %}
          {% set _thumbnail_Path = record.voice_thumb_img | image %}
          {% else %}
          {% set _thumbnail_Path = asset('assets/images/common/noimage.png', 'theme') %}
          {% endif %}
            <li class="l-voice-other__child">
              <a href="{{ record.link }}" class="l-voice-other__child__link js-hover">
                <p class="l-voice-other__child__thumb"><img src="{{ _thumbnail_Path }}" alt="{{ record.voice_title }} 写真" class="img-fit l-voice-other__child__img"></p>
                <p class="l-voice-other__child__title">{{ record.voice_title }}</p>
              </a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </section>
    {% endif %}
  </div>
</div>
{% endblock %}
{% block jsArea %}
<script type="text/javascript">
  $(function() {
  // ポップアップギャラリー
    $('#js-gallery').magnificPopup({
      delegate: 'a',
      type: 'image',
      gallery: { //ギャラリー表示にする
        enabled: true
      },
      image: {
        titleSrc: function (item) {
          return item.el.find('img').attr('alt');
        }
      }
    });
  });
</script>
{% endblock %}