{% extends 'layout/_01_lower.twig' %}

{# メタタグ設定 #}
{% set pageTitle = 'お客様の声' %}
{% set description = '知多市、半田市、常滑市、東海市を中心に知多半島で優雅なお庭、コンクリートガレージ、外構エクステリアにこだわりたい方は高橋造園にお任せください。' %}
{% set keywords = '外構,エクステリア,造園,知多市,半田市' %}

{# ページID設定 #}
{% set pageId = 'voice-archive' %}
{% set title = 'お客様の声' %}
{% set h1Text = 'お客様の声' %}

{# ページ個別　CSS等 #}
{% block headArea %}
<meta property="og:type" content="article" />
<link href="{{ theme }}/assets/css/page-{{ pageId }}.css" rel="stylesheet">
{% endblock %}

{# コンテンツをここに記載(main) #}
{% block main %}
<div class="l-main">
  {% include ('include/_heading.twig') %}
  {% include ('include/_breadcrumb.twig') %}
  <div class="l-voice-archive">
    <div class="l-voice-archive__inner">
      {% if records is defined and records is not empty %}
      <ul class="l-voice-archive__group">
      {% for record in records %}
        {% if record.voice_thumb_img is defined and record.voice_thumb_img is not empty %}
        {% set _thumbnail_Path = record.voice_thumb_img | image %}
        {% else %}
        {% set _thumbnail_Path = asset('assets/images/common/noimage.png', 'theme') %}
        {% endif %}
        <li class="l-voice-archive__child">
          <a href="{{ record.link }}" class="l-voice-archive__link js-hover">
            <p class="l-voice-archive__thumb"><img src="{{_thumbnail_Path}}" alt="{{record.voice_area_name}}{{record.voice_title}}" class="l-voice-archive__img img-fit"></p>
            <p class="l-voice-archive__title">{{ record.voice_title }}</p>
            <p class="l-voice-archive__area">{{ record.voice_area_name }}</p>
            <p class="l-voice-archive__name">{{ record.voice_name }}</p>
            <div class="l-voice-archive__more">
              <p class="l-voice-archive__more__btn">More</p>
            </div>
          </a>
        </li>
      {% endfor %}
      </ul>
      {% endif %}
      {{ pager(template = 'layout/_archivePagerComponent.twig') }}
    </div>
  </div>
</div>
{% endblock %}
