{% set request_param = app.request.get('_route_params') %}
<nav class="l-breadcrumb">
  <ul class="l-breadcrumb__group" itemscope itemtype="https://schema.org/BreadcrumbList">
    <li class="l-breadcrumb__child">
      <a itemprop="item"  href="{{ siteurl }}/" class="l-breadcrumb__link js-hover"><span itemprop="name">HOME</span></a>
    <meta itemprop="position" content="1" />
    </li>
    {% if request_param.slug is defined and request_param.slug is not empty %}
    <li class="l-breadcrumb__child" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a itemprop="item"  href="{{siteurl}}/{{pageArchiveId}}" class="l-breadcrumb__link js-hover"><span itemprop="name">{{ h1Text }}</span></a>
    <meta itemprop="position" content="2" />
    </li>
    <li class="l-breadcrumb__child" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <link itemprop="item" href="{{ canonical() }}"><span itemprop="name">{{ pageTitle }}</span>
      <meta itemprop="position" content="3" />
    </li>
    {% else %}
    <li class="l-breadcrumb__child" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <link itemprop="item" href="{{ canonical() }}"><span itemprop="name">{{ pageTitle }}</span>
    <meta itemprop="position" content="2" />
    </li>
    {% endif %}
  </ul>
</nav>