<!-- ブログページで使用しているカレンダー -->
<script type="application/javascript">
  var eventData = [
    {% setcontent calendar_records = 'blog' where { status: 'published' } %}
    {% if calendar_records is defined and calendar_records is not empty %}
      {% for calendar_record in calendar_records %}
        {
          date: '{{ calendar_record.datepublish | date('Y-m-d') | escape('js') }}'
        },
      {% endfor %}
    {% endif %}
  ];
  $(document).ready(function () {
    $("#blog-calendar").zabuto_calendar({
      cell_border: true,
      today: true,
      show_days: true,
      weekstartson: 0,
      data: eventData,
      action: function () {
        return myDateFunction(this.id);
      },
    });
    function myDateFunction(id) {
      var date = $("#" + id).data("date");
      location.href = '{{ path('blogsearchcontentlisting', { date: '' }) | escape('js') }}' + date;
    }
  });
</script>
