<div class="inc-list02">
{% setcontent voicerecords = 'voice/latest/10000' where { status: 'published' } %}
{% if voicerecords is defined and voicerecords is not empty %}
<ul class="system-list02">
{% for record in voicerecords %}
<li>
<article>
    {# TOP表示用画像が未登録時は、共通のNoImage画像 #}
    {% if record.voice_thumb_img is defined and record.voice_thumb_img is not empty %}
    {% set _thumbnail_Path = record.voice_thumb_img | image %}
    {% else %}
    {% set _thumbnail_Path = asset('images/common/img_noimage.png', 'theme') %}
    {% endif %}
    <p class="system-pic fit"><a href = "{{ record.link }}" data-tracking-content-type = "voice" data-tracking-content-id = "{{ record.id }}" data-tracking-content-name ="{{ record.voice_customer_name }}" data-tracking-img-src = "{{ _thumbnail_Path }}" data-tracking-img-label = "" data-tracking-field-type = "アイキャッチ"><img src="{{ _thumbnail_Path }}" class="eyecatchImg" alt="{{ record.voice_customer_name }}"></a></p>
<a href = "{{ record.link }}"><p class="system-ttl-01">{{ record.voice_title }}</p></a>
</article>
</li>
{% endfor %}
</ul><!-- system-list -->
{% endif %}
</div>