<div class="l-companyContact">
  <div class="l-companyContact__head">
    <div class="l-companyContact__head__icon">
      <div class="l-companyContact__head__icon__inner">
        <svg class="icon full-color-current">
          <use xlink:href="{{ theme }}/assets/svg/icons.svg#icon_tel"></use>
        </svg>
      </div>
    </div>
    <p class="l-companyContact__head__text">お電話でのお問合せ</p>
  </div>
  <div class="l-companyContact__tel">
    <p class="l-companyContact__tel__text f-min">TEl.<span class="l-companyContact__tel__num">{{ companyTel }}</span></p>
  </div>
  <div class="l-companyContact__mail">
    <a class="c-btn btn-footer-mail js-hover" href="{{ siteurl }}{{ siteMap.contact.url }}">
      <div class="c-btn__inner">
        <div class="c-btn__icon btn-icon-footer-mail">
          <div class="c-btn__icon__inner">
            <svg class="icon fill-color-current">
              <use xlink:href="{{ theme }}/assets/svg/icons.svg#icon_mail"></use>
            </svg>
          </div>
        </div>
        <p class="c-btn__text">無料見積り／お問い合わせ</p>
        <div class="c-btn__arrow btn-arrow-footer-mail">
          <div class="c-btn__arrow__inner">
            <svg class="icon fill-color-current">
              <use xlink:href="{{ theme }}/assets/svg/icons.svg#icon_arrow_r"></use>
            </svg>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>