<div class="inc-list">
{% setcontent case_newlyrecords = 'case_newly/latest/10000' where { status: 'published' } %}
{% if case_newlyrecords is defined and case_newlyrecords is not empty %}
<ul class="system-list">
{% for record in case_newlyrecords %}
<li>
  <article>
    {# TOP表示用画像が未登録時は、共通のNoImage画像 #}
    {% if record.case_newly_thumb_img is defined and record.case_newly_thumb_img is not empty %}
    {% set _thumbnail_Path = record.case_newly_thumb_img | image %}
    {% else %}
    {% set _thumbnail_Path = asset('images/common/img_noimage.png', 'theme') %}
    {% endif %}
    <p class="system-pic fit"><a href = "{{ record.link }}" data-tracking-content-type = "case_newly" data-tracking-content-id = "{{ record.id }}" data-tracking-content-name ="{{ record.case_newly_customer_name }}" data-tracking-img-src = "{{ _thumbnail_Path }}" data-tracking-img-label = "" data-tracking-field-type = "アイキャッチ"><img src="{{ _thumbnail_Path }}" class="eyecatchImg" alt="{{ record.case_newly_customer_name }}"></a></p>
<a href = "{{ record.link }}">
<p class="system-ttl-01">{{ record.case_newly_title }}</p>
</a>
</article>
</li>
{% endfor %}
</ul><!-- system-list -->
{% endif %}
</div>
