<div class="l-companyinfo">
  <div class="l-companyinfo__head">
    <div class="l-companyinfo__head__logo">
      <div class="icon-wrap">
        <svg class="icon fill-color-current">
          <use xlink:href="{{ theme }}/assets/svg/icons.svg#logo"></use>
        </svg>
      </div>
    </div>
  </div>
  <div class="l-companyinfo__access">
    <p class="l-companyinfo__access__text">TAKAHASHI / 株式会社高橋造園<br>〒{{ companyZipcode }}{{ companyAddress }}（> <a href="{{ siteurl }}{{ siteMap.access.url }}" class="o-text-link js-hover">アクセス</a>）<br>TEL.{{ companyTel }}</p>
  </div>
</div>