{# バナー定義
  @param {string} id - 画像名(bnr_の後の文字列)
  @param {string} url - 遷移先
  @param {string} name - 画像のalt
  @param {string} text - バナー画像下のテキスト 
#}
{% block commonBnr %}
<div class="c-common-bnr">
  <ul class="c-common-bnr__group">
  {% for item in commonBnrList %}
    <li class="c-common-bnr__child">
      <a href="{{ siteurl }}{{ item.url }}" class="c-common-bnr__link js-hover">
        <p class="c-common-bnr__thumb"><img src="{{ theme }}/assets/images/common/bnr_{{ item.id }}.jpg" alt="{{ item.name }}" class="img-rsp"></p>
        <p class="c-common-bnr__text">{{ item.text }}</p>
      </a>
    </li>
  {% endfor %}
  </ul>
</div>
{% endblock %}