<footer class="l-footer">
{% if pageId != 'contact' %}
  <div class="l-footer-contact">
    <div class="l-footer-contact__inner">
      <div class="l-footer-contact__content">
    {% include 'include/_companyContactComponent.twig' %}
      </div>
      <div class="l-footer-contact__access">
        <p class="l-footer-contact__access__text">{{ pageCompanyName }}</p>
        <p class="l-footer-contact__access__text">〒{{ companyZipcode }}{{ companyAddress }}（> <a href="{{ siteurl }}{{ siteMap.access.url }}" class="o-text-link js-hover">アクセス</a>）</p>
      </div>
    </div>
  </div>
{% endif %}
{% if pageId == 'index' %}
  {% include 'include/_indexMessageComponent.twig' %}
{% endif %}
  <div class="l-footer-navi" id="js-footer-navi">
    <div class="l-footer-navi__inner">
    {% include 'include/_companyInfoComponent.twig' %}
      <div class="l-footer-navi__main">
    {% include 'include/_navilistComponent.twig' %}
      </div>
    </div>
    <button class="l-footer-pagetop js-hover" id="js-pagetop">  
      <div class="l-footer-pagetop__inner">
        <div class="icon-wrap">
          <svg class="icon fill-color-current">
            <use xlink:href="{{ theme }}/assets/svg/icons.svg#icon_pagetop"></use>
          </svg>
        </div>
      </div>
    </button>
  </div>
  <div class="l-footer-copy">
    <copy class="l-footer-copy__text is-pc">Copyright (C) {{ pageCompanyName }},inc. All Rights Reserved.</copy>
    <copy class="l-footer-copy__text is-sp">Copyright (C) {{ pageCompanyName }}.<br>All Rights Reserved.</copy>
  </div>
</footer>