<nav class="l-navi" id="js-navi">
  <div class="l-navi__wrapper">
    <button type="button" class="l-navi__close js-close-menu">
      <div class="l-navi__close__inner">
        <span class="l-navi__close__border border-1"></span>
        <span class="l-navi__close__border border-2"></span>
      </div>
    </button>
    <div class="l-navi__inner">
       <div class="l-navi__logo">
        <a href="{{ siteurl }}" class="l-navi__logo__link">{{ pageCompanyName }}</a>
      </div>
      <div class="l-navi__contact">
    {% include 'include/_companyContactComponent.twig' %}
      </div>
      <div class="l-navi__content">
        <div class="l-navi__info">
      {% include 'include/_companyInfoComponent.twig' %}
        </div>
        <div class="l-navi__list">
      {% include 'include/_navilistComponent.twig' %}
        </div>
      </div>
      <div class="l-navi__access">
        <p class="l-navi__access__text">{{ pageCompanyName }}<br>〒{{ companyZipcode }}{{ companyAddress }}（> <a class="o-text-link js-hover" href="{{ siteurl }}{{ siteMap.access.url }}">アクセス</a>）</p>
      </div>
    </div>
  </div>
</nav>