{%
  set headerNavi = [
    {
      'url': siteMap.menu.index.url,
      'text': '工事メニュー',
    },
    {
      'url': siteMap.tenArticles.url,
      'text': '失敗しない庭づくり',
    },
    {
      'url': siteMap.case.url,
      'text': '施工事例',
    },
    {
      'url': siteMap.japaneseModern.url,
      'text': '和モダンのお庭',
    },
    {
      'url': siteMap.recruit.url,
      'text': '求人募集',
    },
    {
      'url': siteMap.company.url,
      'text': '会社概要',
    }
  ]
%}
<header class="l-header">
  <div class="l-header__inner">
    <div class="l-header__content">
    {% if pageId == 'index' %}
      <h1 class="l-header__logo">
        <a href="{{ path('homepage') }}" class="l-header__logo__link js-hover">
          <div class="icon-wrap">
            <svg class="icon fill-color-current">
              <use xlink:href="{{ theme }}/assets/svg/icons.svg#logo"></use>
            </svg>
          </div>
        </a>
      </h1>
    {% else %}
      <div class="l-header__logo">
        <a href="{{ path('homepage') }}" class="l-header__logo__link js-hover">
          <div class="icon-wrap">
            <svg class="icon fill-color-current">
              <use xlink:href="{{ theme }}/assets/svg/icons.svg#logo"></use>
            </svg>
          </div>
        </a>
      </div>
    {% endif %}
      <nav class="l-header__navi">
        <ul class="l-header__navi__group">
        {% for item in headerNavi %}
          <li class="l-header__navi__child"><a href="{{ siteurl }}{{ item.url }}" class="l-header__navi__link js-hover">{{ item.text }}</a></li>
        {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</header>