<section class="l-message">
  <div class="l-message__inner">
    <h2 class="l-message__title"><img src="{{ theme }}/assets/images/index/text_message.png" alt="MESSAGE"></h2>
    <p class="l-message__text">高橋造園は、愛知県知多市にある地元密着の、外構・エクステリア・お庭づくりをしている会社です。外構・エクステリア・お庭づくり・ガーデンルーム・ウッドデッキ・ガレージなどお庭まわりのことは何でもお任せください！新築に伴うお庭のご提案はもちろんのこと、長年親しんできたお庭・外構のリフォームも承っております。お客様の元へ訪問、現地調査も行っています。もちろんご相談は無料対応なのでご安心ください！高橋造園は、この地元の知多半島エリア、知多市、常滑市、半田市、東海市、東浦町、阿久比町、武豊町、美浜町、南知多町を施工エリアとしています。ご要望+αのご提案で更にご満足いただけるようなお庭づくりをご提案致します。</p>
  </div>
</section>