{%
  set menuArray = [
    {
      id: 1,
      img: 'gate',
      url: 'menu-gate',
      title: siteMap.menu.gate.name,
      text: '門扉・シャッター・門柱・スロープ・階段・タイル等'
    },
    {
      id: 2,
      img: 'fence',
      url: 'menu-fence',
      title: siteMap.menu.fence.name,
      text: 'フェンス・目隠し・ブロック等'
    },
    {
      id: 3,
      img: 'deck',
      url: 'menu-deck',
      title: siteMap.menu.deck.name,
      text: 'ウッドデッキ・お庭テラス等'
    },
    {
      id: 4,
      img: 'parking',
      url: 'menu-parking',
      title: siteMap.menu.parking.name,
      text: '駐車場・カーポート・ガレージ等'
    },
    {
      id: 5,
      img: 'garden',
      url: 'menu-garden',
      title: siteMap.menu.garden.name,
      text: '剪定・植木等'
    },
    {
      id: 6,
      img: 'others',
      url: 'menu-others',
      title: siteMap.menu.others.name,
      text: 'アスファルト・コンクリート・土盛・その他'
    }
  ]
%}
<div class="c-menu-list"> 
  <ul class="c-menu-list__group">
  {% for item in menuArray %}
    <li class="c-menu-list__child child-{{ item.id }}">
    {% if pageId == 'menu' %}
      <a href="?link={{ item.url }}" class="c-menu-list__link js-hover js-scrollLink">
    {% else %}
      <a href="{{ siteurl }}/menu?link={{ item.url }}" class="c-menu-list__link js-hover">
    {% endif %}
        <div class="c-menu-list__head head-{{ item.id }}">
          <div class="c-menu-list__head__thumb">
            <img src="{{ theme }}/assets/images/index/img_menu_{{ item.img }}.jpg" alt="{{ item.text }}" class="img-rsp">
          </div>
          <p class="c-menu-list__head__num">0{{ item.id }}</p>
        </div>
        <div class="c-menu-list__main main-{{ item.id }}">
          <h3 class="c-menu-list__main__title">{{ item.title }}</h3>
          <p class="c-menu-list__main__text">{{ item.text }}</p>
          <div class="c-menu-list__main__icon">
            <div class="icon-wrap">
              <svg class="icon fill-color-current">
                <use xlink:href="{{ theme }}/assets/svg/icons.svg#icon_arrow_r_w"></use>
              </svg>
            </div>
          </div>
        </div>
      </a>
    </li>
  {% endfor %}
  </ul>
</div>