{%
  set naviHome = {
    'url': '',
    'text': 'HOME | 知多・常滑・半田・東海・の外構エクステリアは高橋造園',
  }
%}
{%
  set naviMenu = [
    {
      'url': siteMap.menu.gate.url,
      'text': siteMap.menu.gate.name
    },
    {
      'url': siteMap.menu.fence.url,
      'text': siteMap.menu.fence.name
    },
    {
      'url': siteMap.menu.deck.url,
      'text': siteMap.menu.deck.name
    },
    {
      'url': siteMap.menu.parking.url,
      'text': siteMap.menu.parking.name
    },
    {
      'url': siteMap.menu.garden.url,
      'text': siteMap.menu.garden.name
    },
    {
      'url': siteMap.menu.others.url,
      'text': siteMap.menu.others.name
    }
  ]
%}
{%
  set naviStyle = [
    {
      'url': siteMap.garage.url,
      'text': siteMap.garage.name
    },
    {
      'url': siteMap.garden.url,
      'text': siteMap.garden.name
    }
  ]
%}
{%
  set naviList = [
    {
      'url': siteMap.japaneseModern.url,
      'text': siteMap.japaneseModern.name
    },
    {
      'url': siteMap.stone.url,
      'text': siteMap.stone.name
    },
    {
      'url': siteMap.flow.url,
      'text': siteMap.flow.name
    },
    {
      'url': siteMap.staff.url,
      'text': siteMap.staff.name
    },
    {
      'url': siteMap.tenArticles.url,
      'text': siteMap.tenArticles.name
    },
    {
      'url': siteMap.case.url,
      'text': siteMap.case.name
    },
    {
      'url': siteMap.voice.url,
      'text': siteMap.voice.name
    },
    {
      'url': siteMap.news.url,
      'text': siteMap.news.name
    },
    {
      'url': siteMap.contact.url,
      'text': siteMap.contact.name
    },
    {
      'url': siteMap.recruit.url,
      'text': siteMap.recruit.name
    },
    {
      'url': siteMap.company.url,
      'text': siteMap.company.name
    }
  ]
%}
<div class="l-navilist">
  <div class="l-navilist__home">
    <a href="{{ path('homepage') }}" class="o-text-link js-hover">{{ naviHome.text }}</a>
  </div>
  <div class="l-navilist__main">
    <div class="l-navilist__group">
      <dl class="l-navilist__def">
        <dt class="l-navilist__heading">
          <a href="{{ siteurl }}{{ siteMap.menu.index.url }}" class="l-navilist__heading__link o-text-link js-hover">{{ siteMap.menu.index.name }}</a>
        </dt>
      {% for item in naviMenu %}
        <dd class="l-navilist__child">
          <a href="{{ siteurl }}{{ item.url }}" class="l-navilist__child__link js-hover o-text-link">{{ item.text }}</a>
        <dd>
      {% endfor %}
      </dl>
      <dl class="l-navilist__def">
        <dt class="l-navilist__heading">
          <a class="l-navilist__heading__link">おすすめ庭スタイル</a>
        </dt>
      {% for item in naviStyle %}
        <dd class="l-navilist__child">
          <a href="{{ siteurl }}{{ item.url }}" class="l-navilist__child__link js-hover o-text-link">{{ item.text }}</a>
        <dd>
      {% endfor %}
      </dl>
    </div>
    <ul class="l-navilist__group">
    {% for item in naviList %}
      <li class="l-navilist__list">
        <a href="{{ siteurl }}{{ item.url }}" class="l-navilist__list__link o-text-link js-hover">{{ item.text }}</a>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>