<div class="c-spmenu-btn js-open-menu">
  <button class="c-spmenu-btn__content">
    <div class="c-spmenu-btn__inner">
      <span class="c-spmenu-btn__border border-1"></span>
      <span class="c-spmenu-btn__border border-2"></span>
      <span class="c-spmenu-btn__border border-3"></span>
    </div>
  </button>
</div>