<div class="c-sp-sticky" id="js-sp-sticky">
  <div class="c-sp-sticky__content">
    <div class="c-sp-sticky__inner">
      <a class="c-sp-sticky__tel js-sp-tel" href="tel:{{ companyTel }}">
        <img class="img-rsp" src="{{ theme }}/assets/images/common/btn_sticky_tel.png" alt="電話する">
      </a>
      <a class="c-sp-sticky__mail" href="{{ siteurl }}{{ siteMap.contact.url }}">
        <img class="img-rsp" src="{{ theme }}/assets/images/common/btn_sticky_mail.png" alt="無料見積り/お問い合わせ">
      </a>
    </div>
  </div>
</div>