<div class="c-sticky-btn" id="js-sticky-btn">
  <div class="c-sticky-btn__contact">
    <a href="{{ siteurl }}{{ siteMap.contact.url }}" class="c-sticky-btn__link js-hover"><img src="{{ theme }}/assets/images/common/btn_side_contact.png" alt="無料見積もり／お問い合わせ"></a>
  </div>
  <button class="c-sticky-btn__menu js-open-menu">
    <div class="c-sticky-btn__menu__inner">
      <span class="c-sticky-btn__menu__border border-1"></span>
      <span class="c-sticky-btn__menu__border border-2"></span>
      <span class="c-sticky-btn__menu__border border-3"></span>
    </div>
  </button>
</div>