{% extends 'layout/_01_lower.twig' %}

{% set title = 'listing.twig' %}
{# ページタイトル設定 #}
{% set pageTitle = '' %}
{% set description = '' %}
{% set keywords = '' %}

{% set h1text = '新築施工事例' %}

{# ページID設定 #}
{% set pageId = 'case_newly' %}

{# ページ個別　CSS等 #}
{% block headArea %}
<meta property="og:type" content="article">
<link rel="stylesheet" type="text/css" href="{{ asset('css/page-system.css', 'theme') }}">
{% endblock %}

{# コンテンツをここに記載(main) #}
{% block main %}
<h1 class="main-title"><span class="en">{{ pageId }}</span><span class="jp f-gothic">{{ h1text }}</span></h1>
{% include ('include/_gnavi.twig') %}

<div id="one-cl" class="clearfix"><!-- one-cl -->
<!--<div id="tow-cl" class="clearfix"> tow-cl -->
{#  {% include ('include/_sidebarcommon.twig') %} 2カラムの場合追加 #}

<main>
{# パンくずリスト #}
<nav class="seo_bread_list clearfix">
<ul class="clearfix" itemscope itemtype="https://schema.org/BreadcrumbList">
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"> <a itemprop="item" href="{{ path('homepage') }}"><span itemprop="name">HOME</span></a>
<meta itemprop="position" content="1" /> </li>
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"> <a itemprop="item" href="{{siteurl}}/{{ pageId }}"><span itemprop="name">{{ h1text }}</span></a>
<meta itemprop="position" content="2" /> </li>
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
{% set request_param = app.request.get('_route_params') %}
{% if request_param.slug is defined and request_param.slug is not empty %}
<link itemprop="item" href="{{ canonical() }}"><span itemprop="name">{{ taxonomy.options[request_param.slug] }}</span>
<meta itemprop="position" content="3" /> </li>
{% endif %}
</ul>
</nav>

<h2 class="sub-title">{{ h1text }} : {{ taxonomy.options[request_param.slug] }}</h2>

{% if records is defined and records is not empty %}
<ul class="system-list f-gothic">
{% for record in records|order('-datepublish') %}
{# TOP表示用画像が未登録時は、共通のNoImage画像 #}
{% if record.case_newly_thumb_img is defined and record.case_newly_thumb_img is not empty %}
{% set _thumbnail_Path = record.case_newly_thumb_img | image %}
{% else %}
{% set _thumbnail_Path = asset('images/common/img_noimage.png', 'theme') %}
{% endif %}
<li>
<p class="system-pic fit"><a href = "{{ record.link }}" data-tracking-content-type = "case_newly" data-tracking-content-id = "{{ record.id }}" data-tracking-content-name ="{{ record.case_newly_customer_name }}" data-tracking-img-src = "{{ _thumbnail_Path }}" data-tracking-img-label = "" data-tracking-field-type = "アイキャッチ"><img src="{{ _thumbnail_Path }}" class="eyecatchImg" alt="{{ record.case_newly_customer_name }}"></a></p>
<a href = "{{ record.link }}">
{# カテゴリのラベルを表示させる #}
{% if record.taxonomy.case_newly_categories is defined and record.taxonomy.case_newly_categories is not empty %}
<div class="system-category-set">
{% for key, value in record.taxonomy.case_newly_categories %}
<p class="system-category {{key | replace({'/case_newly_categories/': ''}) }}">{{value}}</p>
{% endfor %}
</div>
{% endif %}
<p class="system-date">{{ record.case_newly_customer_area }} {{ record.case_newly_customer_name }}</p>
<h3 class="system-ttl-01">{{ record.case_newly_title }}</h3>
<p class="btn">more</p>
</a>
</li>
{% endfor %}
</ul><!-- system-list -->
{% endif %}



<h2 class="sub-title">{{ h1text }}カテゴリ一覧</h2>
{# カテゴリ別リンク #}
{% set case_newly_categories = app.config.get('taxonomy/case_newly_categories/options') %}
<div class="serchcategory">
{% for key, value in case_newly_categories %}
<a href="{{ path('taxonomylink', { taxonomytype: 'case_newly_categories', slug: key }) }}"><span class="icon {{ key }}">{{ value }}</span></a>
{% endfor %}
</div><!-- serchcategory -->

</main>
</div><!-- one-cl or tow-cl -->

{% include ('include/_end-bnr.twig') %}

{% endblock %}

{#   ページ個別　JS等 #}
{% block jsArea %}
{% endblock %}
