{% extends 'layout/_01_lower.twig' %}

{# メタタグ設定 #}
{% set pageTitle = '会社概要' %}
{% set description = '知多市、半田市、常滑市、東海市を中心に知多半島で優雅なお庭、コンクリートガレージ、外構エクステリアにこだわりたい方は高橋造園にお任せください。' %}
{% set keywords = '外構,エクステリア,造園,知多市,半田市' %}

{# ページID設定 #}
{% set pageId = 'company' %}
{% set title = 'company' %}
{% set h1Text = '会社概要' %}

{# ページ個別　CSS等 #}
{% block headArea %}
<meta property="og:type" content="article" />
<link href="{{ theme }}/assets/css/page-{{ pageId }}.css" rel="stylesheet">
{% endblock %}

{# コンテンツをここに記載(main) #}
{% block main %}
<div class="l-main">
  {% include ('include/_heading.twig') %}
  <div class="l-mv">
    <div class="l-mv__inner">
      <h2 class="l-mv__text">庭を変えれば、景色が変わる。家が変わる。暮らしが変わる。</h2>
      <div class="l-mv__desc">
        <p class="l-mv__desc__title">庭をつくる。<br class="is-sp">庭をまもる。</p>
        <div class="l-mv__desc__icon">
          <div class="icon-wrap">
            <svg class="icon fill-color-current">
              <use xlink:href="{{ theme }}/assets/svg/icons.svg#logo"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="l-company">
    <div class="c-section-heading">
      <h2 class="c-section-heading__text">会社概要</h2>
    </div>
    <table class="l-company-table">
      <tbody>
        <tr>
          <th class="l-company-table__title">会社名</th>
          <td class="l-company-table__detail">{{ companyname }}</td>
        </tr>
        <tr>
          <th class="l-company-table__title">代表取締役</th>
          <td class="l-company-table__detail">{{ pageCompanyCeo }}</td>
        </tr>
        <tr>
          <th class="l-company-table__title">住所</th>
          <td class="l-company-table__detail">〒{{ companyZipcode }} {{ companyAddress }}</td>
        </tr>
        <tr>
          <th class="l-company-table__title">連絡先</th>
          <td class="l-company-table__detail">
            TEL:{{ companyTel }}<br>FAX:{{ companyFax }}
          </td>
        </tr>
        <tr>
          <th class="l-company-table__title">事業内容</th>
          <td class="l-company-table__detail">
            <dl class="l-company-table__business">
              <dt class="l-company-table__business__title">【外構・造園工事設計施工】</dt>
              <dd class="u-mb-30 l-company-table__business__detail">門・塀・ブロック・タイル・石積・コンクリート擁壁・植栽・石・砂利工事 など。</dd>
              <dt class="l-company-table__business__title">【各種エクステリア商品】</dt>
              <dd class="u-mb-30 l-company-table__business__detail">ガーデンルーム・ウッドデッキ・門扉・フェンス・カーポート・テラス・物置・ガレージ など。</dd>
              <dt class="l-company-table__business__title">【造成工事】</dt>
              <dd class="l-company-table__business__detail">埋立工事・RC（鉄筋コンクリート）擁壁・アスファルト舗装・各種申請 など。</dd>
            </dl>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <section class="l-access" id="access">
    <div class="c-section-heading">
      <h2 class="c-section-heading__text">アクセスマップ</h2>
    </div>
    <div class="l-access-map">
      <iframe class="l-access-map__frame" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13080.45668614078!2d136.8591!3d34.953747!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbe9ced5ca1bd25ba!2z77yI5qCq77yJ6auY5qmL6YCg5ZyS!5e0!3m2!1sja!2sjp!4v1589965989394!5m2!1sja!2sjp" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  </section>

  <section class="l-area">
    <div class="c-section-heading">
      <h2 class="c-section-heading__text">対応エリア</h2>
    </div>
    <div class="l-area-content">
      <div class="l-area-content__detail">
        <p class="l-area-content__text">知多市、常滑市、半田市、東海市、東浦町、阿久比町、武豊町、美浜町、南知多町など。</p>
        <p class="l-area-content__attention">※その他のエリアもご相談に応じます。</p>
      </div>
      <p class="l-area-content__img"><img src="{{ theme }}/assets/images/company/img_area.png" class="img-rsp" alt="対応エリア"></p>
    </div>
  </section>
</div>
{% endblock %}
