{% macro calendar(monthOffset) %}
{% set day = date('first day of this month') %}
{% if monthOffset %}
{% set day = day|date_modify(monthOffset) %}
{% endif %}
{% set is_sunday_beginning = (day|date('w') == 0 ? true : false) %}
{% set table_rows_number = (is_sunday_beginning ? 6 : 5) %}
{% set month = day|date('n') %}
{% set year = day|date('Y') %}
{% set day = day|date_modify('-' ~ (is_sunday_beginning ? (7 - 1) : (day|date('w') - 1)) ~ 'days') %}
<table class="table-style-grid">
    <caption>{{ year }}年{{ month }}月</caption>
    <tbody>
      <tr>
        <td class="head weekday">月</td>
        <td class="head weekday">火</td>
        <td class="head weekday">水</td>
        <td class="head weekday">木</td>
        <td class="head weekday">金</td>
        <td class="head sat">土</td>
        <td class="head sun">日</td>
      </tr>
      {% for i in (0..table_rows_number) %}
      <tr>
      {% for j in (0..6) %}
        {% if day|date('n') == month %}
          <td class="body {{ day|date('D')|lower }} day-{{ day|date('Ymd') }}">
            <span>{{ day|date('j') }}</span>
            {% for record in records %}

              {% if record.event_end_date is defined and record.event_end_date is not empty %}
                  {% set end_date = record.event_end_date | date('Y/m/d') %}
              {% else %}
                  {% set end_date = record.event_start_date | date('Y/m/d') %}
              {% endif %}

                        {% if ( day|date('Y/m/d') >= record.event_start_date|date('Y/m/d') ) and ( day|date('Y/m/d') <= end_date|date('Y/m/d') ) %}
                            <a href="{{ record.link }}" class="cl_bg">

                              {{ record.event_title }}
                                  {% if record.event_opentime_repeater is defined and record.event_opentime_repeater is not empty %}
                                  {% for event_opentime in record.event_opentime_repeater %}
                              <br>{{ event_opentime.event_open_time }}{% if loop.last == false %}{% endif %}
                                  {% endfor %}
                                  {% endif %}
                                  {% if record.event_venue is defined and record.event_venue is not empty %}
                              <br>{{ record.event_venue }}
                                  {% endif %}
                            </a>
                        {% endif %}

            {% endfor %} <!-- end records -->
          </td>
        {% else %}
        <td>&nbsp;</td>
        {% endif %}
        {% set day = day|date_modify('+1day') %}
      {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
</table>
{% endmacro %}
