{% macro calendar(monthOffset) %}
{% set count = '0' %}
{% set day = date('first day of this month') %}
{% if monthOffset %}
{% set daysInMonth = daysInMonth|date_modify(monthOffset)|date("t") %}
{% set day = day|date_modify(monthOffset) %}
{% endif %}
{% set month = day|date('n') %}
{% set year = day|date('Y') %}
{% set weekDays = { 1: '月', 2: '火', 3: '水', 4: '木', 5: '金', 6: '土', 7: '日'} %}
<table>
    <caption>{{ year }}年{{ month }}月</caption>
    <tbody>
    {% for i in (1..daysInMonth) %}
        <tr>
                    <td class="day day-{{ day|date('Ymd') }} {{ day|date('D')|lower }}">
                    {{ day|date('j') }}<br>
                    {% for key,value in weekDays %}
                       {% if key==day|date('N') %}
                        ({{ value }})
                        {% endif %}
                    {% endfor %}
                   </td>
<td class="detail"> 
    
{% for record in records %}
    
    {% if record.event_end_date is defined and record.event_end_date is not empty %}
        {% set end_date = record.event_end_date | date('Y/m/d') %}
    {% else %}
        {% set end_date = record.event_start_date | date('Y/m/d') %}
    {% endif %}
            
              {% if ( day|date('Y/m/d') >= record.event_start_date|date('Y/m/d') ) and ( day|date('Y/m/d') <= end_date|date('Y/m/d') ) %} 
                  <a href="{{ record.link }}" class="cl_bg">
                   
                    {{ record.event_title }}
                        {% if record.event_opentime_repeater is defined and record.event_opentime_repeater is not empty %}             
                        {% for event_opentime in record.event_opentime_repeater %}
                    <br>{{ event_opentime.event_open_time }}{% if loop.last == false %}{% endif %}
                        {% endfor %}
                        {% endif %}
                        {% if record.event_venue is defined and record.event_venue is not empty %}
                    <br>{{ record.event_venue }}
                        {% endif %}
                  </a>
              {% endif %}
             
 {% endfor %} <!-- end records -->
</td>
      </tr>
        {% set day = day|date_modify('+1day') %}
    {% endfor %}
    </tbody>
</table>
{% endmacro %}
