{% extends 'layout/_01_lower.twig' %}

{# ページタイトル設定 #}
{% set pageTitle = record.event_title %}
{% set pageTitle02 = '' %}
{% set description = '' %}
{% set keywords = '' %}
{% set h1text = 'イベント情報' %}

{# SNS設定用 #}
{% set seo_pageTitle = record.seo_pagetitle %}
{% set seo_description = record.seo_description %}
{% set sns_img = record.sns_img %}

{% set pageClass = 'input' %}
{# ページID設定 #}
{% set pageId = 'event' %}

{# ページ個別　CSS等 #}
{% block headArea %}
<meta property="og:type" content="article">
<link rel="stylesheet" type="text/css" href="{{ asset('css/page-system.css', 'theme') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/page/detail.css', 'theme') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/page/form.css', 'theme') }}">
{% endblock %}

{% block snsshare %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.10";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}

{# コンテンツをここに記載(main) #}
{% block main %}
<h1 class="main-title"><span class="en">{{pageId}}</span><span class="jp f-gothic">{{ h1text }}</span></h1>
{% include ('include/_gnavi.twig') %}

<div id="one-cl" class="clearfix"><!-- one-cl -->
<!--<div id="tow-cl" class="clearfix"> tow-cl -->
{#  {% include ('include/_sidebarcommon.twig') %} 2カラムの場合追加 #}

<main>

{# パンくずリスト #}
<nav class="seo_bread_list clearfix">
<ul class="clearfix" itemscope itemtype="https://schema.org/BreadcrumbList">
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"> <a itemprop="item" href="{{ path('homepage') }}"><span itemprop="name">HOME</span></a>
<meta itemprop="position" content="1" /> </li>
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"> <a itemprop="item" href="{{siteurl}}/{{pageId}}"><span itemprop="name">{{ h1text }}</span></a>
<meta itemprop="position" content="2" /> </li>
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
<link itemprop="item" href="{{ canonical() }}"><span itemprop="name">{{ record.event_title }}</span>
<meta itemprop="position" content="3" /> </li>
</ul>
</nav>

<article>

<h2 class="sub-title">{{ h1text }}</h2>

{# ▼ このタグで囲むと確認画面時に非表示 #}
<section data-pfwform-hide-if-confirm>
ここにフォーム上のコードを記入してください。
</section>
{# ▲ このタグで囲むと確認画面時に非表示 #}


{# 詳細ページ毎ページャー #}
{% include 'layout/_entry_pager.twig' %}

<div class="system-contents" data-pfwform-hide-if-confirm>
<div class="system-contents-inner">

<div class="titleArea">
{% if record.event_date is defined and record.event_date is not empty %}
<p class="system-date">{{ record.event_date }} 更新</p>
{% endif %}

{% if record.event_nth is defined and record.event_nth is not empty %}
<span class="number">{{ record.event_nth }}</span>
{% endif %}
{% set fb_url = record.event_fb_link %}
{% if fb_url is defined and fb_url is not empty %}
<div class="fb-share-button" data-href="{{ fb_url|e }}" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ fb_url | url_encode }}&amp;src=sdkpreparse">シェア</a></div>
{% endif %}

{% if record.taxonomy.event_categories is defined and record.taxonomy.event_categories is not empty %}
<div class="system-category-set clearfix">
{% for key, value in record.taxonomy.event_categories %}
<p class="system-category {{ key | replace({'/event_categories/': ''})}}">{{ value }}</p>
{% endfor %}
</div>
{% endif %}

{% if record.event_title is defined and record.event_title is not empty %}
<h3 class="system-ttl">{{ record.event_title }}</h3>
{% endif %}
<p class="system-txt">開催期間：

{{ record.event_start_date | date('Y/m/d') }}
{% if record.event_end_date is defined and record.event_end_date is not empty %}
～{{ record.event_end_date | date('Y/m/d') }}
{% endif %}
</p>
{% if record.event_opentime_repeater is defined and record.event_opentime_repeater is not empty %}
<p class="system-txt">開催時間：
{% for event_opentime in record.event_opentime_repeater %}
{{ event_opentime.event_open_time }}{% if loop.last == false %}・{% endif %}
{% endfor %}
</p>
{% endif %}
{% if record.event_venue is defined and record.event_venue is not empty %}
<p class="system-txt">場所：{{ record.event_venue }}</p>
{% endif %}

</div>


<p class="system-icon02">
{# 管理画面で登録した開始日のうち、一番若い日付を変数に登録 #}
{% set start_date_sort_first = '' %}

{% if (start_date_sort_first == '') or (start_date_sort_first > record.event_start_date) %}
{% set start_date_sort_first = record.event_start_date %}
{% endif %}

{# ラベル実装のswitch文 #}
{% set a_week_passed = record.datepublish | date_modify('+8 day') | date('Y/m/d') %}
{% set now_val = 'now' | date('Y/m/d G:i') %}
{% if now_val < a_week_passed %}{# NEW表示 #}
{% set _icon_new = asset('images/common/i_01.png', 'theme') %}
{% endif %}
{% set start_date = start_date_sort_first | date('Y/m/d') %}
{% set end_date = record.event_end_date | date_modify("+1 day") | date('Y/m/d 0:00') %}
{% set event_val = record.event_icon %}
{% switch event_val %}{# イベントステータスを手動設定している場合 #}
　{% case "受付中" %}
<span class="icon02-01">受付中</span>
{% case "開催中" %}
<span class="icon02-03">開催中</span>
{% case "終了" %}
<span class="icon02-02">終了しました</span>
{% default %}{# イベントステータスを手動設定していない場合(自動判定) #}
{% if end_date is defined and end_date is not empty %}{# 終了日時が設定されている場合 #}
{% if now_val < start_date %}{# "受付中" #}
<span class="icon02-01">受付中</span>
{% elseif start_date <= now_val and now_val <= end_date %}{# "開催中" #}
<span class="icon02-03">開催中</span>
{% elseif now_val > end_date %}{# "終了" #}
<span class="icon02-02">終了しました</span>
{% endif %}
{% else %}{# 終了日時が設定されていない場合 #}
{% if now_val < start_date %}{# "受付中"表示 #}
<span class="icon02-01">只今 受付中</span>
{% elseif start_date <= now_val %}{# "開催中"表示 #}
<span class="icon02-03">開催中</span>
{% endif %}{# 終了日時が設定されていない場合、終了アイコンは表示させない #}
{% endif %}
{% endswitch %}
</p>

<div class="system-i-pic">
{# TOP表示用画像が未登録時は、共通のNoImage画像 #}
{% if record.event_titleimg is defined and record.event_titleimg is not empty %}
{% set _event_titleimg = record.event_titleimg | image %}
{% else %}
{% set _event_titleimg = asset('images/common/img_noimage.png', 'theme') %}
{% endif %}
<img src="{{ _event_titleimg }}" class="eyecatchImg" alt="{{ record.event_title }}">
</div>

<div class="wysiwyg">{{ record.event_body_txt }}</div>

{% if record.event_google_map is defined and record.event_google_map is not empty %}
<div id="gm_wrap">
<div id="googlemaps" ></div>
</div>
{% endif %}

{% if record.event_related_pdf is defined and record.event_related_pdf is not empty %}
<div class="btnArea clearfix">
<a href="{{ asset(record.event_related_pdf, 'files') }}" target="_blank">関連資料</a>
</div><!-- btnArea -->
{% endif %}

</div>
</div>

<div data-pfwform-hide-if-confirm>
{# 詳細ページ毎ページャー #}
{% include 'layout/_entry_pager.twig' %}
</div>

<div id="form" class="form-Box">
<div class="form-Box-inner">

{# フォーム #}
<h2 class="sub-title">お問い合わせフォーム</h2>
<ul class="form-list" data-pfwform-hide-if-confirm>
<li>・お問い合わせフォームに必要事項のご入力をして送信ボタンをクリックしてください。</li>
<li>・メールアドレスは正しくご入力下さい（弊社より返信メールが届きません。）</li>
<li>・半角カナ入力は文字化けの原因になりますので、全角カナでご入力頂きますようお願いします。</li>
<li>・<span class="attention-color">【必須】</span>項目は必ず入力してください。</li>
<li>・お使いのメールサービス、メールソフト、ウィルス対策ソフト等の設定により「迷惑メール」と認識され、メールが届かない場合があります。<br>以下のドメインを受信できるように設定をお願い致します。<br>
受信設定ドメイン：{{companymail}}</li>
</ul>
<p class="form-list" data-pfwform-show-if-confirm>ご入力内容をご確認ください。</p>


<div class="error" data-pfwform-show-if-error><p>入力不備の項目がございます。<br>お手数ですが、もう一度入力内容をご確認ください。</p></div>
<form class="pfwform h-adr" action="#" data-pfwform-action="{{ asset('event/pfwform.php', 'theme') }}" data-pfwform-token-generator="{{ asset('event/pfwform-token.php', 'theme') }}" method="post" data-pfwform-confirm>
<input type="hidden" value="{{ record.event_title }}"　placeholder="イベント名" name="イベント名">
<table>
<tbody>
<tr data-pfwform-class-if-success="has-success" data-pfwform-class-if-error="form_error" data-pfwform-target="お名前">
<th class="required">お名前</th>
<td data-pfwform-hide-if-confirm>
<input type="text" size="15" placeholder="姓" value="" name="姓" data-pfwform-required>
<input type="text" size="15" placeholder="名" value="" name="名" data-pfwform-required>
<div class="form_error_wrap" data-pfwform-show-if-error="姓">お名前(姓)を正しく入力して下さい。</div>
<div class="form_error_wrap" data-pfwform-show-if-error="名">お名前(名)を正しく入力して下さい。</div>
</td>
<td data-pfwform-show-if-confirm>
<p><span data-pfwform-confirm-value="姓"></span>
<span data-pfwform-confirm-value="名"></span></p>
</td>
</tr>

<tr data-pfwform-target="ふりがな">
<th class="required">ふりがな</th>
<td data-pfwform-hide-if-confirm>
<input type="text" size="15" placeholder="せい" value="" name="せい" data-pfwform-required>
<input type="text" size="15" placeholder="めい" value="" name="めい" data-pfwform-required>
<div class="form_error_wrap" data-pfwform-show-if-error="せい">ふりがな(せい)を正しく入力して下さい。</div>
<div class="form_error_wrap" data-pfwform-show-if-error="めい">ふりがな(めい)を正しく入力して下さい。</div>
</td>
<td data-pfwform-show-if-confirm>
<p><span data-pfwform-confirm-value="せい"></span>
<span data-pfwform-confirm-value="めい"></span></p>
</td>
</tr>

<tr>
<th class="required">電話番号</th>
<td data-pfwform-hide-if-confirm>
<input class="input-txt1" type="tel" size="15" maxlength="5" placeholder="000" name="電話番号_1" data-pfwform-type="regex" data-pfwform-regex="^\d{1,5}$" data-pfwform-required>
<input class="input-txt1" type="tel" size="15" maxlength="5" placeholder="000" name="電話番号_2" data-pfwform-type="regex" data-pfwform-regex="^\d{1,5}$" data-pfwform-required>
<input class="input-txt1" type="tel" size="15" maxlength="5" placeholder="0000" name="電話番号_3" data-pfwform-type="regex" data-pfwform-regex="^\d{1,5}$" data-pfwform-required>
<div class="form_error_wrap valid_tel" data-pfwform-show-if-error="電話番号_1">電話番号を正しく入力してください。</div>
<div class="form_error_wrap valid_tel" data-pfwform-show-if-error="電話番号_2">電話番号を正しく入力してください。</div>
<div class="form_error_wrap valid_tel" data-pfwform-show-if-error="電話番号_3">電話番号を正しく入力してください。</div>
</td>
<td data-pfwform-show-if-confirm>
<p>
<span data-pfwform-confirm-value="電話番号_1"></span>
<span data-pfwform-confirm-value="電話番号_2"></span>
<span data-pfwform-confirm-value="電話番号_3"></span>
</p>
</td>
</tr>

<tr data-pfwform-target="郵便番号">
<th>郵便番号</th>
<td data-pfwform-hide-if-confirm>
<span class="p-country-name" style="display:none;">Japan</span>
<input class="p-postal-code input-txt1" type="tel" size="15" minlength="2" maxlength="3" placeholder="000" name="郵便番号_1" value="" data-pfwform-type="regex" data-pfwform-regex="^\d{3}$">
<input class="p-postal-code input-txt1" type="tel" size="15" minlength="3" maxlength="4" placeholder="0000" name="郵便番号_2" value="" data-pfwform-type="regex" data-pfwform-regex="^\d{4}$">
<div class="form_error_wrap" data-pfwform-show-if-error="郵便番号_1">郵便番号(上3桁)を正しく入力してください。</div>
<div class="form_error_wrap" data-pfwform-show-if-error="郵便番号_2">郵便番号(下4桁)を正しく入力してください。</div>
</td>
<td data-pfwform-show-if-confirm>
<p>
<span data-pfwform-confirm-value="郵便番号_1"></span><span>-</span>
<span data-pfwform-confirm-value="郵便番号_2"></span>
</p>
</td>
</tr>

<tr data-pfwform-class-if-success="has-success" data-pfwform-class-if-error="form_error" data-pfwform-target="ご住所">
<th class="required">ご住所</th>
<td data-pfwform-hide-if-confirm>
<input class="p-region p-locality p-street-address p-extended-address" type="text" size="40" name="ご住所" value="" placehold="ご住所をここに記入してください。" data-pfwform-required>
<div class="form_error_wrap" data-pfwform-show-if-error="ご住所">ご住所を正しく入力して下さい。</div>
</td>
<td data-pfwform-show-if-confirm >
<p data-pfwform-confirm-value="ご住所"></p>
</td>
</tr>

<tr data-pfwform-class-if-success="has-success" data-pfwform-class-if-error="form_error" data-pfwform-target="メールアドレス">
<th class="required">メールアドレス</th>
<td data-pfwform-hide-if-confirm>
<input type="text" size="40" name="メールアドレス" value="" placeholder="yourmail@sample.co.jp" data-pfwform-type="email" data-pfwform-required>
<div class="form_error_wrap" data-pfwform-show-if-error="メールアドレス">メールアドレスを正しく入力して下さい。</div>
</td>
<td data-pfwform-show-if-confirm>
<p data-pfwform-confirm-value="メールアドレス"></p>
</td>
</tr>

<tr data-pfwform-class-if-success="has-success" data-pfwform-class-if-error="form_error" data-pfwform-target="ご予約の有無">
<th class="required">ご予約の有無</th>
<td data-pfwform-hide-if-confirm>
<label><input class="form-check-input" type="radio" name="ご予約の有無" value="相談会予約" data-pfwform-required>相談会予約</label>
<label><input class="form-check-input" type="radio" name="ご予約の有無" value="お問合せします" data-pfwform-required>お問合わせします</label>
<div class="form_error_wrap" data-pfwform-show-if-error="ご予約の有無">ご予約の有無を選択してください</div>
</td>
<td data-pfwform-show-if-confirm>
<p data-pfwform-confirm-value="ご予約の有無"></p>
</td>
</tr>

<tr data-pfwform-class-if-success="has-success" data-pfwform-class-if-error="form_error"  data-pfwform-target="ご予約種別">
<th class="required">ご予約種別</th>
<td data-pfwform-hide-if-confirm data-pfwform-required>
<label class="form-check-label"><input class="form-check-input" type="checkbox" name="ご予約種別[]" value="家づくり相談会" data-pfwform-required >家づくり相談会</label><br>
<label class="form-check-label"><input class="form-check-input" type="checkbox" name="ご予約種別[]" value="資金計画相談" data-pfwform-required >資金計画相談</label><br>
<label class="form-check-label"><input class="form-check-input" type="checkbox" name="ご予約種別[]" value="土地探し相談会" data-pfwform-required >土地探し相談会</label>
<div class="form_error_wrap" data-pfwform-show-if-error="ご予約種別">ご予約種別を正しく入力してください</div>
</td>
<td data-pfwform-show-if-confirm>
<p data-pfwform-confirm-value="ご予約種別"></p>
</td>
</tr>

<tr data-pfwform-target="予約希望日1">
<th>予約希望日1</th>
<td data-pfwform-hide-if-confirm>
<input type="date" size="40" name="予約希望日1" placeholder="mm月dd日">
</td>
<td data-pfwform-show-if-confirm>
<p data-pfwform-confirm-value="予約希望日1"></p>
</td>
</tr>

<tr data-pfwform-class-if-success="has-success" data-pfwform-class-if-error="has-danger" data-pfwform-target="予約希望日2">
<th>予約希望日2</th>
<td data-pfwform-hide-if-confirm>
<select name="予約希望日2">
<option value="" selected>選択してください</option>
<option value="10/02">10/02</option>
<option value="10/03">10/03</option>
</select>
</td>
<td data-pfwform-show-if-confirm>
<p data-pfwform-confirm-value="予約希望日2"></p>
</td>
</tr>

<tr data-pfwform-target="ご希望時間1">
<th>ご希望時間1</th>
<td data-pfwform-hide-if-confirm><input type="tel" size="40" name="ご希望時間1" placehold="10:00-"></td>
<td data-pfwform-show-if-confirm>
<p data-pfwform-confirm-value="ご希望時間1"></p>
</td>
</tr>

<tr data-pfwform-target="ご希望時間2">
<th>ご希望時間2</th>
<td data-pfwform-hide-if-confirm>
<select name="ご希望時間2">
<option value="" selected>選択してください</option>
<option value="10:00">10:00</option>
<option value="11:00">11:00</option>
</select>
</td>
<td data-pfwform-show-if-confirm>
<p data-pfwform-confirm-value="ご希望時間2"></p>
</td>
</tr>

<tr data-pfwform-class-if-success="has-success" data-pfwform-class-if-error="form_error" data-pfwform-target="ご希望の連絡方法">
<th>ご希望の連絡方法</th>
<td data-pfwform-hide-if-confirm>
<label><input class="form-check-input" type="radio" name="ご希望の連絡方法" value="電話">電話</label>
<label><input class="form-check-input" type="radio" name="ご希望の連絡方法" value="メール">メール</label>
<label><input class="form-check-input" type="radio" name="ご希望の連絡方法" value="どちらでも">どちらでも</label>
<div class="form_error_wrap" data-pfwform-show-if-error="ご希望の連絡方法">ご希望の連絡方法を選択してください</div>
</td>
<td data-pfwform-show-if-confirm>
<p data-pfwform-confirm-value="ご希望の連絡方法"></p>
</td>
</tr>

<tr data-pfwform-target="お問合わせ・伝言等">
<th>お問合わせ・伝言等</th>
<td data-pfwform-hide-if-confirm>
<textarea name="お問合わせ・伝言等" size="40"></textarea>
</td>
<td data-pfwform-show-if-confirm>
<p data-pfwform-confirm-value="お問合わせ・伝言等"></p>
</td>
</tr>

</tbody>
</table>

{% include ('include/_privacy.twig') %}

<div class="priv" data-pfwform-class-if-success="has-success" data-pfwform-class-if-error="form_error"  data-pfwform-target="プライバシー">
<div data-pfwform-hide-if-confirm data-pfwform-required>
<label class="form-check-label"><input class="form-check-input" type="checkbox" name="プライバシー[]" value="上記、プライバシーポリシーに同意する" data-pfwform-required >上記、プライバシーポリシーに同意する</label><br>
<div class="form_error_wrap" data-pfwform-show-if-error="プライバシー">プライバシーポリシーに同意した上でお問い合わせください。</div>
</div>
</div>


<div class="btnArea">
<input type="hidden" name="cms_relation_code" value="{% if record.event_form is defined and record.event_form is not empty %}{{ record.event_form }}{% else %}NULL{% endif %}">
{# 会員IDを指定 #}
<input type="hidden" name="username" value="">
<div class="from-btn-01"><p><button class="button" type="submit" data-pfwform-hide-if-confirm><img src="{{ theme }}/images/common/con-btn-01.jpg" alt="確認画面へ"/></button></p></div>
<div class="from-btn-02">
<p><button class="button back" type="button" data-pfwform-show-if-confirm data-pfwform-back-button><img src="{{ theme }}/images/common/con-btn-02.jpg" alt="入力画面に戻る" class="pc2"/><img src="{{ theme }}/images/common/sp-con-btn-02.jpg" alt="入力画面に戻る" class="sp2"/></button></p>
<p><button type="submit" name="button" data-pfwform-show-if-confirm><img src="{{ theme }}/images/common/con-btn-03.jpg" alt="上記内容にて送信"/></button></p>
</div>

</div>
</form>

</div>
</div>

<div data-pfwform-hide-if-confirm>
<h2 class="sub-title">{{ h1text }}カテゴリ一覧</h2>
{# カテゴリ別リンク #}
{% set event_categories = app.config.get('taxonomy/event_categories/options') %}
<div class="serchcategory">
{% for key, value in event_categories %}
  <a href="{{ path('taxonomylink', { taxonomytype: 'event_categories', slug: key }) }}"><span class="icon {{ key }}">{{ value }}</span></a>
{% endfor %}
</div><!-- serchcategory -->
</div>

</article>
</main>
</div><!-- one-cl or tow-cl -->

{% include ('include/_end-bnr.twig') %}

{% endblock %}

{# ページ個別　JS等 #}
{% block jsArea %}
<script type="text/javascript" src="{{ asset('js/pfwform.js', 'theme') }}"></script>

{% if record.event_google_map is defined and record.event_google_map is not empty %}
{# TODO : googleMapのkeyを変更する #}
<script src="//maps.google.com/maps/api/js?key=AIzaSyDt3stXNmit_x2WbJN6RbW4w4Tzp7jImI8"></script>
{% endif %}
<script>
{% if record.event_google_map is defined and record.event_google_map is not empty %}
function initialize() {

var latlng = new google.maps.LatLng({{ record.event_google_map['latitude'] }},{{ record.event_google_map['longitude'] }});
var myOptions = {
zoom: 18,
center: latlng,
mapTypeId: google.maps.MapTypeId.LOADMAP,
scrollwheel: true
//disableDefaultUI: false
};
var map = new google.maps.Map(document.getElementById('googlemaps'), myOptions);
var lopanMarker = new google.maps.Marker({
position: latlng,
map: map
});

google.maps.event.addDomListener(window, "resize", function() {

var center = map.getCenter();
google.maps.event.trigger(map, "resize");
map.setCenter(center);
});

var styledMapOptions = { name: '{{ record.event_google_map['formatted_address'] }}' }
}
google.maps.event.addDomListener(window, 'load', initialize);
{% endif %}
$(function() {
//slick
$(".gallery .slider-for").slick({
slidesToShow: 1,
slidesToScroll: 1,
dots: false,
arrows: false,
fade: true,
adaptiveHeight: true,
asNavFor: '.slider-nav'
});
$(".gallery .slider-nav").slick({
slidesToShow:6,
slidesToScroll: 1,
asNavFor: '.slider-for',
focusOnSelect: true,
responsive: [{
breakpoint: 800,
settings: {
slidesToShow: 3
}
}, {
breakpoint: 600,
settings: {
slidesToShow: 2
}
}]

});
//枚数がカルーセルに満たない場合
$(function(){
$(".gallery").each(function() {
var slidepak =$(this);
var num=$(slidepak).find(".gallery_img img").length;
var dots=$(slidepak).find(".slick-dots li");
var navimglast = $(slidepak).find("div.gallery_nav div.slick-track>div.slick-slide:last-child");
var prevbtn=$(slidepak).find("button.slick-prev");
var nextbtn=$(slidepak).find("button.slick-next");
var slidernav=$(slidepak).find(".gallery_nav .slick-track>div");
//
if(num<8){
$(dots).click(function(){
$(slidernav).removeClass("slick-current");
var indexnum = $(dots).index(this)+1;
var checkimg = $(slidepak).find(".gallery_nav .slick-track>div:nth-child("+indexnum+")");
$(checkimg).addClass("slick-current");
});

function currmove(){
$(slidernav).removeClass("slick-current");
var curr = $(slidepak).find(".slick-dots li.slick-active");
var currIndex = $(dots).index(curr)+1;
var btncheckimg = $(slidepak).find(".gallery_nav .slick-track>div:nth-child("+currIndex+")");
$(btncheckimg).addClass("slick-current");
}
$(prevbtn).click(function(){
currmove();
});
$(nextbtn).click(function(){
currmove();
});
}
});
});
});

$(function() {
// ポップアップギャラリー
$('.popupgallery').magnificPopup({
delegate: 'a',
type: 'image',
gallery: { //ギャラリー表示にする
enabled: true
},
image: {
titleSrc: function (item) {
return item.el.find('img').attr('alt');
}
}
});
});
</script>
{% endblock %}

