{% extends 'layout/_01_lower.twig' %}

{# ページタイトル設定 #}
{% set pageTitle = '' %}
{% set description = '' %}
{% set keywords = '' %}

{% set h1text = 'イベント情報' %}


{# ページID設定 #}
{% set pageId = 'event' %}

{# ページ個別　CSS等 #}
{% block headArea %}
<meta property="og:type" content="article">
<link rel="stylesheet" type="text/css" href="{{ asset('css/page-system.css', 'theme') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/page/event.css', 'theme') }}">
{% endblock %}

{# コンテンツをここに記載(main) #}
{% block main %}
<h1 class="main-title"><span class="en">{{pageId}}</span><span class="jp f-gothic">{{ h1text }}</span></h1>
{% include ('include/_gnavi.twig') %}

<div id="one-cl" class="clearfix"><!-- one-cl -->
<!--<div id="tow-cl" class="clearfix"> tow-cl -->
{#  {% include ('include/_sidebarcommon.twig') %} 2カラムの場合追加 #}

<main>
{# パンくずリスト #}
<nav class="seo_bread_list clearfix">
<ul class="clearfix" itemscope itemtype="https://schema.org/BreadcrumbList">
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
<a itemprop="item" href="{{ path('homepage') }}"><span itemprop="name">HOME</span></a>
<meta itemprop="position" content="1" />
</li>
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
<link itemprop="item" href="{{ canonical() }}"><span itemprop="name">{{ h1text }}</span>
<meta itemprop="position" content="2" />
</li>
</ul>
</nav>

<h2 class="sub-title">{{ h1text }}</h2>

{% if records is defined and records is not empty %}

{# grid表示のカレンダー #}
    <div id="calendar-grid">
      <!--SPのみ表示ボタン ここから-->
      <div id="ChangeGrid_Btn_Content">
        <ul>
          <li class="ChangeElem_Btn ChangeGrid_Btn is-active">今月</li>
          <li class="ChangeElem_Btn ChangeGrid_Btn">来月</li>
          <li class="ChangeElem_Btn ChangeGrid_Btn">再来月</li>
        </ul>
      </div>
      <!--SPのみ表示ボタン ここまで-->
      <p class="system-txt">ご希望のイベント名をクリックしてご予約下さい。</p>
      <!--カレンダー ここから-->
      <div id="calendar">
        {% import 'event/_calendar-table.twig' as cal %}
        <div class="calendar-inner">
          <div class="ChangeGrid_Panel_Desktop">
            {{ cal.calendar('this month') }}
          </div>
          <div class="ChangeGrid_Panel_Desktop">
            {{ cal.calendar('+1 month') }}
          </div>
          <div class="ChangeGrid_Panel_Desktop">
            {{ cal.calendar('+2 month') }}
          </div>
        </div>
        {% import 'event/_calendar-col.twig' as cal %}
        <div class="ChangeGrid_Panel">
          {{ cal.calendar('this month') }}
        </div>
        <div class="ChangeGrid_Panel">
          {{ cal.calendar('+1 month') }}
        </div>
        <div class="ChangeGrid_Panel">
          {{ cal.calendar('+2 month') }}
        </div>
      </div>
      <!--カレンダー ここまで-->
    </div>
{# grid表示用のカレンダーここまで #}

{# 3カラム表示カレンダー #}
    <div id="calendar-column">
      <!--SPのみ表示ボタン ここから-->
      <div id="ChangeCol_Btn_Content">
        <ul>
          <li class="ChangeCol_Btn is-active">今月</li>
          <li class="ChangeCol_Btn">来月</li>
          <li class="ChangeCol_Btn">再来月</li>
        </ul>
      </div>
      <!--SPのみ表示ボタン ここまで-->
      <p class="system-txt">ご希望のイベント名をクリックしてご予約下さい。</p>
      <!--カレンダー ここから-->
      <div id="calendar">

        {% import 'event/_calendar-3cols.twig' as cal %}
        <div class="calendar-inner col-3">
          <div>
            {{ cal.calendar('this month') }}
          </div>
          <div>
            {{ cal.calendar('+1 month') }}
          </div>
          <div>
            {{ cal.calendar('+2 month') }}
          </div>
        </div>
        {% import 'event/_calendar-col.twig' as cal %}
        <div class="ChangeCol_Panel">
          {{ cal.calendar('this month') }}
        </div>
        <div class="ChangeCol_Panel">
          {{ cal.calendar('+1 month') }}
        </div>
        <div class="ChangeCol_Panel">
          {{ cal.calendar('+2 month') }}
        </div>
      </div>
      <!--カレンダー ここまで-->
    </div>
{# 3カラム表示のカレンダー ここまで #}

<ul class="system-list">
{% for record in records %}
<li>
<div class="contentArea">
<a href="{{ record.link }}" class="imgFrame">
{% if record.taxonomy.event_categories is defined and record.taxonomy.event_categories is not empty %}
{% for key, value in record.taxonomy.event_categories %}
<p class="system-category {{ key | replace({'/event_categories/': ''})}}">{{ value }}</p>
{% endfor %}
{% endif %}
{# TOP表示用画像が未登録時は、共通のNoImage画像 #}
{% if record.event_titleimg is defined and record.event_titleimg is not empty %}
{% set _event_titleimg = record.event_titleimg | image %}
{% else %}
{% set _event_titleimg = asset('images/common/img_noimage.png', 'theme') %}
{% endif %}
<p class="system-pic"><img src="{{ _event_titleimg }}" class="eyecatchImg" alt="{{ record.event_title }}"></p>

<p class="system-icon02">
{# 管理画面で登録した開始日のうち、一番若い日付を変数に登録 #}
{% set start_date_sort_first = '' %}

{% if (start_date_sort_first == '') or (start_date_sort_first > record.event_start_date) %}
{% set start_date_sort_first = record.event_start_date %}
{% endif %}

{# ラベル実装のswitch文 #}
{% set a_week_passed = record.datepublish | date_modify('+8 day') | date('Y/m/d') %}
{% set now_val = 'now' | date('Y/m/d G:i') %}
{% if now_val < a_week_passed %}{# NEW表示 #}
{% set _icon_new = asset('images/common/i_01.png', 'theme') %}
{% endif %}
{% set start_date = start_date_sort_first | date('Y/m/d') %}
{% set end_date = record.event_end_date | date_modify("+1 day") | date('Y/m/d 0:00') %}
{% set event_val = record.event_icon %}
{% switch event_val %}{# イベントステータスを手動設定している場合 #}
　{% case "受付中" %}
<span class="icon02-01">受付中</span>
{% case "開催中" %}
<span class="icon02-03">開催中</span>
{% case "終了" %}
<span class="icon02-02">終了しました</span>
{% default %}{# イベントステータスを手動設定していない場合(自動判定) #}
{% if end_date is defined and end_date is not empty %}{# 終了日時が設定されている場合 #}
{% if now_val < start_date %}{# "受付中" #}
<span class="icon02-01">受付中</span>
{% elseif start_date <= now_val and now_val <= end_date %}{# "開催中" #}
<span class="icon02-03">開催中</span>
{% elseif now_val > end_date %}{# "終了" #}
<span class="icon02-02">終了しました</span>
{% endif %}
{% else %}{# 終了日時が設定されていない場合 #}
{% if now_val < start_date %}{# "受付中"表示 #}
<span class="icon02-01">只今 受付中</span>
{% elseif start_date <= now_val %}{# "開催中"表示 #}
<span class="icon02-03">開催中</span>
{% endif %}{# 終了日時が設定されていない場合、終了アイコンは表示させない #}
{% endif %}
{% endswitch %}
</p>
<div class="system-information">
<p class="system-date">{{ record.event_date }} 更新</p>
<h3 class="system-ttl-01">{{ record.event_title }}</h3>
<p class="system-txt">開催期間：<span class="sp-system-txt-in">
{# リピーターの'開始日'を配列に格納 #}
{{ record.event_start_date | date('Y/m/d') }}
{% if record.event_end_date is defined and record.event_end_date is not empty %}
～{{ record.event_end_date | date('Y/m/d') }}
{% endif %}
</span>
</p>
{% if record.event_opentime_repeater is defined and record.event_opentime_repeater is not empty %}
<p class="system-txt">開催時間：<span class="sp-system-txt-in">
{% for event_opentime in record.event_opentime_repeater %}
{{ event_opentime.event_open_time }}{% if loop.last == false %}・{% endif %}
{% endfor %}
</span>
</p>
{% endif %}
{% if record.event_venue is defined and record.event_venue is not empty %}
<p class="system-txt">場所：<span class="sp-system-txt-in">{{ record.event_venue }}</span></p>
{% endif %}
</div>
{% if record.event_comment is defined and record.event_comment is not empty %}
<p class="system-coment">{{ record.event_comment }}</p>
{% endif %}
<p class="btn">more</p>
</a>
</div>
</li>
{% endfor %}
</ul><!-- system-list -->
{% endif %}

{# ページャー #}
{{ pager(template = 'layout/_sub_pager.twig') }}

<h2 class="sub-title">{{ h1text }}カテゴリ一覧</h2>
{# カテゴリ別リンク #}
{% set event_categories = app.config.get('taxonomy/event_categories/options') %}
<div class="serchcategory">
{% for key, value in event_categories %}
  <a href="{{ path('taxonomylink', { taxonomytype: 'event_categories', slug: key }) }}"><span class="icon {{ key }}">{{ value }}</span></a>
{% endfor %}
</div><!-- serchcategory -->

</main>
</div><!-- one-cl or tow-cl -->

{% include ('include/_end-bnr.twig') %}
{% endblock %}

{# ページ個別　JS等 #}
{% block jsArea %}
{# grid表示のカレンダー #}
<script>
$(function() {
  var changeGridPanel = function() {
    var index = $('.ChangeGrid_Btn').index($('.ChangeGrid_Btn.is-active'));
    if ( $(window).innerWidth() > 800 ) {
      $('.ChangeGrid_Panel').hide();
      $('.ChangeGrid_Panel_Desktop').hide();
      $('.ChangeGrid_Panel_Desktop').eq(index).show();
    } else {
      $('.ChangeGrid_Panel_Desktop').hide();
      $('.ChangeGrid_Panel').hide();
      $('.ChangeGrid_Panel').eq(index).show();
    }
  };

  $('.ChangeGrid_Btn').on('click', function() {
    $('.ChangeGrid_Btn').removeClass('is-active');
    $(this).addClass('is-active');
    changeGridPanel();
  });

  $(window).on('resize', function() {
    changeGridPanel();
  });

  changeGridPanel();
});
</script>
{# grid表示用のカレンダーここまで #}
{# 3カラム表示カレンダー #}
<script>
$(function() {
  var changeColPanel = function() {
    var index = $('.ChangeCol_Btn').index($('.ChangeCol_Btn.is-active'));
    if ( $(window).innerWidth() > 800 ) {
      $('.ChangeCol_Panel').hide();
    } else {
      if ($('#ChangeCol_Btn_Content').is(':visible')) {
        $('.ChangeCol_Panel').hide();
        $('.ChangeCol_Panel').eq(index).show();
      } else {
        $('.ChangeCol_Panel').show();
      }
    }
  };

  $('.ChangeCol_Btn').on('click', function() {
    $('.ChangeCol_Btn').removeClass('is-active');
    $(this).addClass('is-active');
    changeColPanel();
  });

  $(window).on('resize', function() {
    changeColPanel();
  });

  changeColPanel();
});
</script>
{# 3カラム表示のカレンダー ここまで #}
{% endblock %}
