{% extends 'layout/_01_lower.twig' %}

{% set title = 'listing.twig' %}

{# ページタイトル設定 #}
{% set pageTitle = 'イベント情報 カテゴリ詳細' %}
{% set pageTitle = '' %}
{% set description = '' %}
{% set keywords = '' %}

{% set h1text = 'イベント情報' %}


{# ページID設定 #}
{% set pageId = 'event' %}

{# ページ個別　CSS等 #}
{% block headArea %}
<meta property="og:type" content="article">
<link rel="stylesheet" type="text/css" href="{{ asset('css/page-system.css', 'theme') }}">
{% endblock %}

{# コンテンツをここに記載(main) #}
{% block main %}
<h1 class="main-title"><span class="en">{{pageId}}</span><span class="jp f-gothic">{{ h1text }}</span></h1>
{% include ('include/_gnavi.twig') %}

<div id="one-cl" class="clearfix"><!-- one-cl -->
<!--<div id="tow-cl" class="clearfix"> tow-cl -->
{#  {% include ('include/_sidebarcommon.twig') %} 2カラムの場合追加 #}

<main>
{# パンくずリスト #}
<nav class="seo_bread_list clearfix">
<ul class="clearfix" itemscope itemtype="https://schema.org/BreadcrumbList">
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"> <a itemprop="item" href="{{ path('homepage') }}"><span itemprop="name">HOME</span></a>
<meta itemprop="position" content="1" /> </li>
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"> <a itemprop="item" href="{{siteurl}}/{{pageId}}"><span itemprop="name">{{ h1text }}</span></a>
<meta itemprop="position" content="2" /> </li>
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
{% set request_param = app.request.get('_route_params') %}
{% if request_param.slug is defined and request_param.slug is not empty %}
<link itemprop="item" href="{{ canonical() }}"><span itemprop="name">{{ taxonomy.options[request_param.slug] }}</span>
<meta itemprop="position" content="3" /> </li>
{% endif %}
</ul>
</nav>

<h2 class="sub-title">{{ h1text }}</h2>

{% if records is defined and records is not empty %}
<ul class="system-list">
{% for record in records|order('-datepublish') %}
<li>
<div class="contentArea">
<a href="{{ record.link }}" class="imgFrame">
{% if record.taxonomy.event_categories is defined and record.taxonomy.event_categories is not empty %}
{% for key, value in record.taxonomy.event_categories %}
<p class="system-category {{ key | replace({'/event_categories/': ''})}}">{{ value }}</p>
{% endfor %}
{% endif %}
{# TOP表示用画像が未登録時は、共通のNoImage画像 #}
{% if record.event_titleimg is defined and record.event_titleimg is not empty %}
{% set _event_titleimg = record.event_titleimg | image %}
{% else %}
{% set _event_titleimg = asset('images/common/img_noimage.png', 'theme') %}
{% endif %}
<p class="system-pic"><img src="{{ _event_titleimg }}" class="eyecatchImg" alt="{{ record.event_title }}"></p>

<p class="system-icon02">
{# 管理画面で登録した開始日のうち、一番若い日付を変数に登録 #}
{% set start_date_sort_first = '' %}

{% if (start_date_sort_first == '') or (start_date_sort_first > record.event_start_date) %}
{% set start_date_sort_first = record.event_start_date %}
{% endif %}

{# ラベル実装のswitch文 #}
{% set a_week_passed = record.datepublish | date_modify('+8 day') | date('Y/m/d') %}
{% set now_val = 'now' | date('Y/m/d G:i') %}
{% if now_val < a_week_passed %}{# NEW表示 #}
{% set _icon_new = asset('images/common/i_01.png', 'theme') %}
{% endif %}
{% set start_date = start_date_sort_first | date('Y/m/d') %}
{% set end_date = record.event_end_date | date('Y/m/d G:i') %}
{% set event_val = record.event_icon %}
{% switch event_val %}{# イベントステータスを手動設定している場合 #}
　{% case "受付中" %}
<span class="icon02-01">受付中</span>
{% case "開催中" %}
<span class="icon02-03">開催中</span>
{% case "終了" %}
<span class="icon02-02">終了しました</span>
{% default %}{# イベントステータスを手動設定していない場合(自動判定) #}
{% if end_date is defined and end_date is not empty %}{# 終了日時が設定されている場合 #}
{% if now_val < start_date %}{# "受付中" #}
<span class="icon02-01">受付中</span>
{% elseif start_date <= now_val and now_val <= end_date %}{# "開催中" #}
<span class="icon02-03">開催中</span>
{% elseif now_val > end_date %}{# "終了" #}
<span class="icon02-02">終了しました</span>
{% endif %}
{% else %}{# 終了日時が設定されていない場合 #}
{% if now_val < start_date %}{# "受付中"表示 #}
<span class="icon02-01">只今 受付中</span>
{% elseif start_date <= now_val %}{# "開催中"表示 #}
<span class="icon02-03">開催中</span>
{% endif %}{# 終了日時が設定されていない場合、終了アイコンは表示させない #}
{% endif %}
{% endswitch %}
</p>

<div class="system-information">
<p class="system-date">{{ record.event_date }} 更新</p>
<h3 class="system-ttl-01">{{ record.event_title }}</h3>
<p class="system-txt">開催期間：
{# リピーターの'開始日'を配列に格納 #}

{{ record.event_start_date | date('Y/m/d') }}
{% if record.event_end_time is defined and record.event_end_time is not empty and loop.last %}
～{{ record.event_end_time | date('Y/m/d G:i') }}
{% endif %}
</p>
{% if record.event_opentime_repeater is defined and record.event_opentime_repeater is not empty %}
<p class="system-txt">開催時間：
{% for event_opentime in record.event_opentime_repeater %}
{{ event_opentime.event_open_time }}{% if loop.last == false %}・{% endif %}
{% endfor %}
</p>
{% endif %}
{% if record.event_venue is defined and record.event_venue is not empty %}
<p class="system-txt">場所：{{ record.event_venue }}</p>
{% endif %}
</div>
{% if record.event_comment is defined and record.event_comment is not empty %}
<p class="system-coment">{{ record.event_comment }}</p>
{% endif %}
<p class="btn">more</p>
</a>
</div>
</li>
{% endfor %}
</ul><!-- system-list -->
{% endif %}



<h2 class="sub-title">{{ h1text }}カテゴリ一覧</h2>
{# カテゴリ別リンク #}
{% set event_categories = app.config.get('taxonomy/event_categories/options') %}
<div class="serchcategory">
{% for key, value in event_categories %}
  <a href="{{ path('taxonomylink', { taxonomytype: 'event_categories', slug: key }) }}"><span class="icon {{ key }}">{{ value }}</span></a>
{% endfor %}
</div><!-- serchcategory -->
</main>
</div><!-- one-cl or tow-cl -->

{% include ('include/_end-bnr.twig') %}

{% endblock %}

{# ページ個別　JS等 #}
{% block jsArea %}
{% endblock %}
