{# ★★★★★★★★★↓↓↓event/index.twig↓↓↓★★★★★★★★★ #}

{% if records is defined and records is not empty %}
<ul class="system-list f-gothic">
{% for record in records %}
<li>
<h3>{{ record.event_title }}</h3>
<div class="contentArea">
<a href="{{ record.link }}" class="imgFrame">
{# TOP表示用画像が未登録時は、共通のNoImage画像 #}
{% if record.event_titleimg is defined and record.event_titleimg is not empty %}
{% set _event_titleimg = record.event_titleimg | image %}
{% else %}
{% set _event_titleimg = asset('images/common/img_noimage.png', 'theme') %}
{% endif %}
<p class="system-pic"><img src="{{ _event_titleimg }}" class="eyecatchImg" alt="{{ record.event_title }}"></p>
{% if record.taxonomy.event_categories is defined and record.taxonomy.event_categories is not empty %}
{% for key, value in record.taxonomy.event_categories %}
<span class="system-icon {{ key | replace({'/event_categories/': ''})}}">{{ value }}</span>
{% endfor %}
{% endif %}
</a>
<div class="system-information">
<p class="date">{{ record.event_date }}
{# リピーターの'開始日'を配列に格納 #}

{{ record.event_start_date | date('Y/m/d') }}
{% if record.event_end_time is defined and record.event_end_time is not empty and loop.last %}
～{{ record.event_end_time | date('Y/m/d G:i') }}
{% endif %}
</p>
{% if record.event_opentime_repeater is defined and record.event_opentime_repeater is not empty %}
<p>開催時間：
{% for event_opentime in record.event_opentime_repeater %}
{{ event_opentime.event_open_time }}{% if loop.last == false %}・{% endif %}
{% endfor %}
</p>
{% endif %}
{% if record.event_venue is defined and record.event_venue is not empty %}
<p>場所：{{ record.event_venue }}</p>
{% endif %}
{% if record.event_comment is defined and record.event_comment is not empty %}
<p class="system-coment">{{ record.event_comment }}</p>
{% endif %}
</div>

{# 管理画面で登録した開始日のうち、一番若い日付を変数に登録 #}
{% set start_date_sort_first = '' %}

{% if (start_date_sort_first == '') or (start_date_sort_first > record.event_start_date) %}
{% set start_date_sort_first = record.event_start_date %}
{% endif %}

{# ラベル実装のswitch文 #}
{% set a_week_passed = record.datepublish | date_modify('+8 day') | date('Y/m/d') %}
{% set now_val = 'now' | date('Y/m/d G:i') %}
{% if now_val < a_week_passed %}{# NEW表示 #}
{% set _icon_new = asset('images/common/i_01.png', 'theme') %}
{% endif %}
{% set start_date = start_date_sort_first | date('Y/m/d') %}
{% set end_date = record.event_end_time | date('Y/m/d G:i') %}
{% set event_val = record.event_icon %}
{% switch event_val %}{# イベントステータスを手動設定している場合 #}
　{% case "受付中" %}
{% set _icon_img = asset('images/common/i_02.png', 'theme') %}
<span class="Infolabel"><img src="{{ _icon_img }}" ></span>
{% case "開催中" %}
{% set _icon_img = asset('images/common/i_03.png', 'theme') %}
<span class="Infolabel"><img src="{{ _icon_img }}" ></span>
　{% case "終了" %}
{% set _icon_img = asset('images/common/i_04.png', 'theme') %}
<span class="Infolabel"><img src="{{ _icon_img }}" ></span>

{% default %}{# イベントステータスを手動設定していない場合(自動判定) #}
{% if end_date is defined and end_date is not empty %}{# 終了日時が設定されている場合 #}

{% if now_val < start_date %}{# "受付中" #}
{% set _icon_img = asset('images/common/i_02.png', 'theme') %}
<span class="Infolabel"><img src="{{ _icon_img }}" ></span>

{% elseif start_date <= now_val and now_val <= end_date %}{# "開催中" #}
{% set _icon_img = asset('images/common/i_03.png', 'theme') %}
<span class="Infolabel"><img src="{{ _icon_img }}" ></span>

{% elseif now_val > end_date %}{# "終了" #}
{% set _icon_img = asset('images/common/i_04.png', 'theme') %}
<span class="Infolabel"><img src="{{ _icon_img }}" ></span>
{% endif %}

{% else %}{# 終了日時が設定されていない場合 #}
{% if now_val < start_date %}{# "受付中"表示 #}
{% set _icon_img = asset('images/common/i_02.png', 'theme') %}
<span class="Infolabel"><img src="{{ _icon_img }}" ></span>
{% elseif start_date <= now_val %}{# "開催中"表示 #}
{% set _icon_img = asset('images/common/i_03.png', 'theme') %}
<span class="Infolabel"><img src="{{ _icon_img }}" ></span>
{% endif %}{# 終了日時が設定されていない場合、終了アイコンは表示させない #}
{% endif %}
{% endswitch %}
</div>
</li>
{% endfor %}
</ul><!-- system-list -->
{% endif %}

{# ★★★★★★★★★↑↑↑event/index.twig↑↑↑★★★★★★★★★ #}
