{% extends 'layout/_01_lower.twig' %}

{# ページタイトル設定 #}
{% set pageTitle = record.staff_name %}
{% set pageTitle02 = '' %}
{% set description = '' %}
{% set keywords = '' %}
{% set h1text = 'スタッフ紹介' %}

{# SNS設定用 #}
{% set seo_pageTitle = record.seo_pagetitle %}
{% set seo_description = record.seo_description %}
{% set sns_img = record.sns_img %}

{# ページID設定 #}
{% set pageId = 'staff' %}

{# ページ個別　CSS等 #}
{% block headArea %}
<meta property="og:type" content="article">
<link rel="stylesheet" type="text/css" href="{{ asset('css/page-system.css', 'theme') }}">
{% endblock %}

{#  コンテンツをここに記載(main) #}
{% block main %}
<h1 class="main-title"><span class="en">{{pageId}}</span><span class="jp f-gothic">{{ h1text }}</span></h1>
{% include ('include/_gnavi.twig') %}

<div id="one-cl" class="clearfix"><!-- one-cl -->
<!--<div id="tow-cl" class="clearfix"> tow-cl -->
{#  {% include ('include/_sidebarcommon.twig') %} 2カラムの場合追加 #}

<main>
{# パンくずリスト #}
<nav class="seo_bread_list clearfix">
<ul class="clearfix" itemscope itemtype="https://schema.org/BreadcrumbList">
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"> <a itemprop="item" href="{{ path('homepage') }}"><span itemprop="name">HOME</span></a>
<meta itemprop="position" content="1" /> </li>
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"> <a itemprop="item" href="{{siteurl}}/{{pageId}}"><span itemprop="name">{{ h1text }}</span></a>
<meta itemprop="position" content="2" /> </li>
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
<link itemprop="item" href="{{ canonical() }}"><span itemprop="name">{{ record.staff_name }}</span>
<meta itemprop="position" content="3" /> </li>
</ul>
</nav>

<a id="system-contents" name="system-contents"></a>
<h2 class="sub-title">{{ h1text }}</h2>

{# 詳細ページ毎ページャー #}
{% include 'layout/_entry_pager.twig' %}

<div class="system-contents">
<div class="system-contents-inner">

<div class="system-info-box clearfix">

<div class="system-info">
{% if record.staff_name is defined and record.staff_name is not empty %}
<h3 class="system-name f-gothic">{{ record.staff_name }} </h3>
{% endif %}
{% if record.staff_kana is defined and record.staff_kana is not empty %}
<p class="system-kana">{{ record.staff_kana }}</p>
{% endif %}
{% if record.staff_job is defined and record.staff_job is not empty %}
<p class="system-job">{{ record.staff_job }}</p>
{% endif %}
{% if record.staff_comment is defined and record.staff_comment is not empty %}
<p class="system-comment">{{ record.staff_comment }}</p>
{% endif %}
</div>

{# TOP表示用画像が未登録時は、共通のNoImage画像 #}
{% if record.staff_thumb_img is defined and record.staff_thumb_img is not empty %}
{% set _thumbnail_Path = record.staff_thumb_img | image %}
{% else %}
{% set _thumbnail_Path = asset('images/common/img_noimage.png', 'theme') %}
{% endif %}
<p class="system-i-pic"><img src="{{ _thumbnail_Path }}" class="eyecatchImg" alt="{{ record.staff_name }}"></p>

</div>

<div class="wysiwyg">{{ record.staff_body_text }}</div>

{% if  record.staff_gallery is defined and record.staff_gallery is not empty %}
<div class="system-gallery">
<h2 class="sub-title">Gallery</h2>
<ul class="clearfix gallery-list popupgallery">
{% for _gallery in record.staff_gallery %}
<li>
<a
href = "{{ _gallery | image }}"
data-tracking-content-type = "staff"
data-tracking-content-id = "{{ record.id }}"
data-tracking-content-name = "{{ record.staff_name }}"
data-tracking-img-src = "{{ _gallery | image }}"
data-tracking-img-label = "{{ _gallery.title }}"
data-tracking-field-type = "ギャラリー"
>
<span class="system-Frame fit">
<img src="{{ _gallery | image }}" alt="{{ _gallery.title }}">
</span>
</a>
{% set _filename = _gallery.filename|split('.') %}
{% if _filename[0] not in _gallery.title %}{# imgListに画像を登録した際、ファイル名が出力されるため処理 #}
<span>{{ _gallery.title }}</span>
{% endif %}
</li>
{% endfor %}
</ul><!-- gallery-list -->
</div><!-- gallery-list -->
{% endif %}

</div><!-- system-contents-inner -->
</div><!-- system-contents -->

{# 詳細ページ毎ページャー #}
{% include 'layout/_entry_pager.twig' %}

</main>
</div><!-- one-cl or tow-cl -->

{% include ('include/_end-bnr.twig') %}

{% endblock %}

{#   ページ個別　JS等 #}
{% block jsArea %}
<script>
$(function() {
$('.popupgallery').magnificPopup({
delegate: 'a',
type: 'image',
gallery: { //ギャラリー表示にする
enabled: true
},
image: {
titleSrc: function (item) {
return item.el.find('img').attr('alt');
}
}
});

});
</script>
{% endblock %}
