{% extends 'layout/_01_lower.twig' %}

{# ページタイトル設定 #}
{% set pageTitle = '' %}
{% set description = '' %}
{% set keywords = '' %}

{% set h1text = 'スタッフ紹介' %}

{# ページID設定 #}
{% set pageId = 'staff' %}

{# ページ個別　CSS等 #}
{% block headArea %}
<meta property="og:type" content="article">
<link rel="stylesheet" type="text/css" href="{{ asset('css/page-system.css', 'theme') }}">
{% endblock %}

{#  コンテンツをここに記載(main) #}
{% block main %}
<h1 class="main-title"><span class="en">{{pageId}}</span><span class="jp f-gothic">{{ h1text }}</span></h1>
{% include ('include/_gnavi.twig') %}

<div id="one-cl" class="clearfix"><!-- one-cl -->
<!--<div id="tow-cl" class="clearfix"> tow-cl -->
{#  {% include ('include/_sidebarcommon.twig') %} 2カラムの場合追加 #}

<main>
{# パンくずリスト #}
<nav class="seo_bread_list clearfix">
<ul class="clearfix" itemscope itemtype="https://schema.org/BreadcrumbList">
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
<a itemprop="item" href="{{ path('homepage') }}"><span itemprop="name">HOME</span></a>
<meta itemprop="position" content="1" />
</li>
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
<link itemprop="item" href="{{ canonical() }}"><span itemprop="name">{{ h1text }}</span>
<meta itemprop="position" content="2" />
</li>
</ul>
</nav>

<h2 class="sub-title">{{ h1text }}</h2>

{% if records is defined and records is not empty %}
<ul class="system-list">
{% for record in records %}
{# TOP表示用画像が未登録時は、共通のNoImage画像 #}
{% if record.staff_thumb_img is defined and record.staff_thumb_img is not empty %}
{% set _thumbnail_Path = record.staff_thumb_img | image %}
{% else %}
{% set _thumbnail_Path = asset('images/common/img_noimage.png', 'theme') %}
{% endif %}
<li>
<p class="system-pic fit"><a href = "{{ record.link }}" data-tracking-content-type = "staff" data-tracking-content-id = "{{ record.id }}" data-tracking-content-name ="{{ record.staff_customer_name }}" data-tracking-img-src = "{{ _thumbnail_Path }}" data-tracking-img-label = "" data-tracking-field-type = "アイキャッチ"><img src="{{ _thumbnail_Path }}" class="eyecatchImg" alt="{{ record.staff_name }}"></a></p>
<a href = "{{ record.link }}">
<h3 class="system-name">{{ record.staff_name }}</h3>
<p class="system-kana">{{ record.staff_kana }}</p>
<p class="system-job">{{ record.staff_job }}</p>
<p class="btn">more</p>
</a>
</li>
{% endfor %}
</ul><!-- system-list -->
{% endif %}

{# ページャー #}
{{ pager(template = 'layout/_sub_pager.twig') }}

</main>
</div><!-- one-cl or tow-cl -->

{% include ('include/_end-bnr.twig') %}

{% endblock %}

{#   ページ個別　JS等 #}
{% block jsArea %}
{% endblock %}
