{# テーマアドレス置き換えタグの定義（画像等のパス用）　使用例:{{theme}} #}
{% set theme = '/theme/ababai' %}
{# サイトurl置き換えタグの定義（リンク用）　使用例：{{siteurl}} #}
{% set siteurl = 'http://localhost:8000' %}

{# 会社名（リンク用）　使用例：{{companyname}} #}
{% set companyname = '株式会社アババイ' %}
{% set companymail = 'ababai.co.jp' %}

{# タイトルの後ろに付ける seoタイトル 会社名 上げたいキーワード #}
{% set seocompanyname = 'ここを変えてください' %}

{# サイト全体共通テンプレート #}
<!DOCTYPE HTML>
<html lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
{% if responsive == true %}<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">{% endif %}

<meta name="format-detection" content="telephone=no">

{% if title != 'notfound.twig' %}
<link rel="canonical" href="{{ canonical() }}">
{% endif %}

{% if  top_pageTitle %}
<title>{{top_pageTitle}}</title>
{% elseif  seo_pageTitle is defined and seo_pageTitle is not empty %}
<title>{{ h1text }}｜{{seo_pageTitle}}｜{% if lowCat.catlayer2.name %}{{lowCat.catlayer2.name}}｜{% endif %}{{seocompanyname}}</title>{% else %}
<title>{% if  pageTitle  is defined and pageTitle  is not empty %}{{pageTitle}}｜{% endif %}{% if  pageTitle02  is defined and pageTitle02  is not empty %}{{pageTitle02}}｜{% endif %}{% if  pageTitle03  is defined and pageTitle03  is not empty %}{{pageTitle03}}｜{% endif %}{% if lowCat.catlayer2.name %}{{lowCat.catlayer2.name}}｜{% endif %} {{seocompanyname}}</title>{% endif %}
<link rel="icon" href="{{ asset('favicon.ico', 'theme') }}/" type="image/x-icon">
<meta name="keywords" content="{{keywords}}">
{% if  seo_description  is defined and seo_description  is not empty %}<meta name="description" content="{{seo_description}}">{% else %}<meta name="description" content="{{description}}{% if description02 %}｜{{description02}}{% endif %}{% if description03 %}｜{{description03}}{% endif %}">{% endif %}
{% if title != 'notfound.twig' %}
{% if  top_pageTitle %}<meta property="og:title" content="{{top_pageTitle}}" />{% elseif  seo_pageTitle is defined and seo_pageTitle is not empty %}<meta property="og:title" content="{{seo_pageTitle}}｜{% if lowCat.catlayer2.name %}{{lowCat.catlayer2.name}}｜{% endif %}{{seocompanyname}}" />{% else %}<meta property="og:title" content="{% if  pageTitle  is defined and pageTitle  is not empty %}{{pageTitle}}｜{% endif %}{% if  pageTitle02  is defined and pageTitle02  is not empty %}{{pageTitle02}}｜{% endif %}{% if  pageTitle03  is defined and pageTitle03  is not empty %}{{pageTitle03}}｜{% endif %}{% if lowCat.catlayer2.name %}{{lowCat.catlayer2.name}}｜{% endif %} {{seocompanyname}}" />{% endif %}
<meta property="og:url" content="{{ canonical() }}" />
{% if  sns_img  is defined and sns_img  is not empty %}<meta property="og:image" content="{{siteurl}}/files/{{record.sns_img}}" />{% else %}<meta property="og:image" content="{{siteurl}}{{theme}}/ogp.jpg" />{% endif %}
<meta property="og:site_name" content="{{seocompanyname}}" />
{% if  seo_description  is defined and seo_description  is not empty %}<meta name="og:description" content="{{seo_description}}">{% else %}<meta name="og:description" content="{{description}}{% if description02 %}｜{{description02}}{% endif %}{% if description03 %}｜{{description03}}{% endif %}">{% endif %}
<meta name="twitter:card" content="summary_large_image" />
{% endif %}

{% if not disableBaseStyle %}
<meta name="viewport" content="width=1280, user-scalable=yes">
<link rel="shortcut icon" href="{{siteurl}}{{theme}}/favicon.ico">
<meta name="thumbnail" content="{{siteurl}}{{theme}}/mobileimage.jpg" />
<link rel="apple-touch-icon" href="{{siteurl}}{{theme}}/apple-touch-icon.png" />
<meta name="format-detection" content="telephone=no">
<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
<script>
var ua = navigator.userAgent;
var title = document.getElementsByTagName('title');
if (((ua.indexOf('iPhone') > 0) || ua.indexOf('iPod') > 0 || (ua.indexOf('Android') > 0 && ua.indexOf('Mobile') > 0))) {
title[0].insertAdjacentHTML('afterend','<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes">');
} else {
title[0].insertAdjacentHTML('afterend','<meta name="viewport" content="width=1280, user-scalable=yes">');
}
</script>
<!--base.css-->
<link href="https://fonts.googleapis.com/earlyaccess/sawarabimincho.css" rel="stylesheet" />
<link href="{{ theme }}/css/common.css" rel="stylesheet" media="screen, projection, print">
<link href="{{ theme }}/css/magnific-popup.css" rel="stylesheet">
<link href="{{ theme }}/css/jquery.bxslider.css" rel="stylesheet">
{% endif %}
{% block headArea %}{% endblock %}
<!-- Google Tag Manager -->

</head>

<body id="{{pageId}}"{% if pageClass |length > 0 %} class="{{pageClass}}"{% endif %}>
<!-- Google Tag Manager (noscript) -->

{% block snsshare %}{% endblock %}
{% include ('include/_header.twig') %}

{% block main %}
{% endblock %}

<!-- end of #main -->

{% include ('include/_footer.twig') %}
<script src="{{ theme }}/js/jquery.min.js"></script>
<script type="text/javascript" src="{{ asset('js/common.min.js', 'theme') }}"></script>
<script type="text/javascript" src="{{ asset('js/script.js', 'theme') }}"></script>
<script type="text/javascript" src="{{ theme }}/js/functions.js"></script>
<script type="text/javascript" src="{{ theme }}/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="{{ theme }}/js/imgLiquid-min.js"></script>
<script type="text/javascript" src="{{ theme }}/js/jquery.bxslider.js"></script>
<script type="text/javascript" src="{{ theme }}/js/ofi.min.js"></script>
<script>
objectFitImages('.fit img');
</script>
<!--[if lt IE 9]>
<script src="{{ theme }}/js/html5shiv.js"></script>
<![endif]-->
{% block jsArea %}{% endblock %}
</body>
</html>
