{#
  下層ページ共通テンプレート
#}
{# {% set pageClass = 'cms' %} #}

{% extends 'layout/_00_base.twig' %}

{# 下層共通CSS等 #}
{% block headArea %}
{% endblock %}

{# メインブロック #}
{% block main %}
{% endblock %}

{# 下層共通 JS #}
{% block jsArea %}{% endblock %}
