<div class="pagen clearfix">
<p class="list"><a href="../{{pageId}}/">一覧</a></p>
{% set previous = record.previous() %}
{% set next = record.next() %}
<ul class="page-navi" data-pfwform-hide-if-confirm>
{% if next %}
  <li class="fast"><a href="{{ next.link }}">&lt; new</a></li>
{% endif %}
{% if previous %}
  <li class="last"><a href="{{ previous.link }}">back &gt;</a></li>
{% endif %}
</ul>
</div>