{% extends 'layout/_01_lower.twig' %}

{# メタタグ設定 #}
{% set pageTitle = '庭石の魅力' %}
{% set description = '知多市、半田市、常滑市、東海市を中心に知多半島で優雅なお庭、コンクリートガレージ、外構エクステリアにこだわりたい方は高橋造園にお任せください。' %}
{% set keywords = '外構,エクステリア,造園,知多市,半田市' %}

{# ページID設定 #}
{% set pageId = 'stone' %}
{% set title = 'stone' %}
{% set h1Text = '庭石の魅力' %}

{# ページ個別　CSS等 #}
{% block headArea %}
<meta property="og:type" content="article" />
<link href="{{ theme }}/assets/css/page-{{ pageId }}.css" rel="stylesheet">
{% endblock %}

{# コンテンツをここに記載(main) #}
{% block main %}
<div class="l-main">
  {% include ('include/_heading.twig') %}
  {% include ('include/_breadcrumb.twig') %}
  <div class="l-mv">
    <h2 class="l-mv__title"><img src="{{ theme }}/assets/images/stone/img_main.jpg" alt="庭石の魅力" class="img-rsp"></h2>
  </div>

  <section class="l-section section-ishigaki">
    <div class="l-section__inner">
      <div class="l-section__content content-ishigaki js-scrollIn">
        <div class="l-section__head head-ishigaki">
          <h3 class="l-section__title"><img src="{{ theme }}/assets/images/stone/text_ishigaki.png" alt="石垣" class="img-rsp"></h3>
        </div>
        <div class="l-section__detail">
          <p class="l-section__desc f-min">現代によみがえる、石垣の趣。</p>
          <p class="l-section__text">今までの純和風の石垣よりも現代風にアレンジすることによりブロックやコンクリートよう壁にはない世界に一つだけのものを作り上げます。</p>
        </div>
      </div>
    </div>
  </section>

  <section class="l-section section-niwaishi">
    <div class="l-section__inner row-reverse">
      <div class="l-section__content content-niwaishi js-scrollIn">
        <div class="l-section__head head-iwanishi">
          <h3 class="l-section__title"><img src="{{ theme }}/assets/images/stone/text_niwaishi.png" alt="庭石" class="img-rsp"></h3>
        </div>
        <div class="l-section__detail">
          <p class="l-section__desc f-min">石と、会話する。</p>
          <p class="l-section__text u-mb-40">石にはさまざまな顔をもっています。雨に濡れた時の表情、乾いている時の表情それぞれ四季によっても変わります。<br>人間の作った物には出せない表情もっています。ほんの少しだけ人が手を加えるだけで自然と人の調和が生まれます。</p>
          <p class="l-section__text">石と会話し、人と自然が作り出す庭は癒しの源にはなります。</p>
        </div>
      </div>
    </div>
  </section>

  <div class="l-summary">
    <div class="l-summary__inner">
      <p class="l-summary__text"><img src="{{ theme }}/assets/images/stone/text_charm.png" alt="庭石の魅力" class="img-rsp"></p>
    </div>
  </div>

{%
  set commonBnrList = [
    {
      id: 'menu',
      url: siteMap.menu.index.url,
      name: 'MENU',
      text: siteMap.menu.index.name
    },
    {
      id: 'flow',
      url: siteMap.flow.url,
      name: 'FLOW',
      text: siteMap.flow.name
    },
    {
      id: 'works',
      url: siteMap.case.url,
      name: 'WORKS',
      text: siteMap.case.name
    }
  ]
%}
{% include 'include/_commonBnrComponent.twig' %}
</div>
{% endblock %}
