@charset "UTF-8";
/* 詳細ページ */
/*
ユーティリティ系おまとめファイル
*/
/*
██████   █████  ███████ ███████
██   ██ ██   ██ ██      ██
██████  ███████ ███████ █████
██   ██ ██   ██      ██ ██
██████  ██   ██ ███████ ███████
*/
/*
██████  ██████  ███████  █████  ██   ██ ██████   ██████  ██ ███    ██ ████████
██   ██ ██   ██ ██      ██   ██ ██  ██  ██   ██ ██    ██ ██ ████   ██    ██
██████  ██████  █████   ███████ █████   ██████  ██    ██ ██ ██ ██  ██    ██
██   ██ ██   ██ ██      ██   ██ ██  ██  ██      ██    ██ ██ ██  ██ ██    ██
██████  ██   ██ ███████ ██   ██ ██   ██ ██       ██████  ██ ██   ████    ██
*/
/*
 ██████  ██████  ██       ██████  ██████
██      ██    ██ ██      ██    ██ ██   ██
██      ██    ██ ██      ██    ██ ██████
██      ██    ██ ██      ██    ██ ██   ██
 ██████  ██████  ███████  ██████  ██   ██
*/
/*
████████ ███████ ██   ██ ████████
   ██    ██       ██ ██     ██
   ██    █████     ███      ██
   ██    ██       ██ ██     ██
   ██    ███████ ██   ██    ██
*/
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("../../fonts/slick/slick.eot");
  src: url("../../fonts/slick/slick.eot?#iefix") format("embedded-opentype"), url("../../fonts/slick/slick.woff") format("woff"), url("../../fonts/slick/slick.ttf") format("truetype"), url("../../fonts/slick/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: auto;
  width: auto;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 30px;
    line-height: 1;
    color: gray;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "slick";
    font-size: 30px;
    line-height: 1;
    color: gray;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }

.slick-prev {
  left: -25px;
  z-index: 99; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px;
  z-index: 99; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

.slick-loading .slick-list {
  background: #fff url("/theme/ababai/images/slick/ajax-loader.gif") center center no-repeat; }

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }
  .mfp-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur {
  cursor: zoom-out; }
  .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader, .mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1; }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1; }
  .mfp-arrow:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent;
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    transform: scale(0.75); }
  .mfp-arrow-left {
    transform-origin: 0; }
  .mfp-arrow-right {
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }
  .mfp-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur {
  cursor: zoom-out; }
  .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader, .mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1; }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1; }
  .mfp-arrow:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent;
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    transform: scale(0.75); }
  .mfp-arrow-left {
    transform-origin: 0; }
  .mfp-arrow-right {
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

/** VARIABLES
===================================*/
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  margin-bottom: 60px;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y; }
  .bx-wrapper img {
    max-width: 100%;
    display: block; }

.bxslider {
  margin: 0;
  padding: 0; }

ul.bxslider {
  list-style: none; }

.bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0); }

/** THEME
===================================*/
.bx-wrapper {
  box-shadow: 0 0 5px #ccc;
  border: 5px solid #fff;
  background: #fff; }
  .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -30px;
    width: 100%; }
  .bx-wrapper .bx-loading {
    min-height: 50px;
    background: url("../../image/bx_loader.gif") center center no-repeat #ffffff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000; }
  .bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    padding-top: 20px; }
    .bx-wrapper .bx-pager.bx-default-pager a {
      background: #666;
      text-indent: -9999px;
      display: block;
      width: 10px;
      height: 10px;
      margin: 0 5px;
      outline: 0;
      border-radius: 5px; }
      .bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
        background: #000; }
  .bx-wrapper .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    vertical-align: bottom;
    *zoom: 1;
    *display: inline; }
  .bx-wrapper .bx-pager-item {
    font-size: 0;
    line-height: 0; }
  .bx-wrapper .bx-prev {
    left: 10px;
    background: url("../../image/controls.png") no-repeat 0 -32px; }
    .bx-wrapper .bx-prev:hover, .bx-wrapper .bx-prev:focus {
      background-position: 0 0; }
  .bx-wrapper .bx-next {
    right: 10px;
    background: url("../../image/controls.png") no-repeat -43px -32px; }
    .bx-wrapper .bx-next:hover, .bx-wrapper .bx-next:focus {
      background-position: -43px 0; }
  .bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    z-index: 9999; }
    .bx-wrapper .bx-controls-direction a.disabled {
      display: none; }
  .bx-wrapper .bx-controls-auto {
    text-align: center; }
    .bx-wrapper .bx-controls-auto .bx-start {
      display: block;
      text-indent: -9999px;
      width: 10px;
      height: 11px;
      outline: 0;
      background: url("../../image/controls.png") -86px -11px no-repeat;
      margin: 0 3px; }
      .bx-wrapper .bx-controls-auto .bx-start:hover, .bx-wrapper .bx-controls-auto .bx-start.active, .bx-wrapper .bx-controls-auto .bx-start:focus {
        background-position: -86px 0; }
    .bx-wrapper .bx-controls-auto .bx-stop {
      display: block;
      text-indent: -9999px;
      width: 9px;
      height: 11px;
      outline: 0;
      background: url("../../image/controls.png") -86px -44px no-repeat;
      margin: 0 3px; }
      .bx-wrapper .bx-controls-auto .bx-stop:hover, .bx-wrapper .bx-controls-auto .bx-stop.active, .bx-wrapper .bx-controls-auto .bx-stop:focus {
        background-position: -86px -33px; }
  .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left;
    width: 80%; }
  .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px; }
  .bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #666;
    background: rgba(80, 80, 80, 0.75);
    width: 100%; }
    .bx-wrapper .bx-caption span {
      color: #fff;
      font-family: Arial;
      display: block;
      font-size: .85em;
      padding: 10px; }

/* LOADER */
/* PAGER */
/* DIRECTION CONTROLS (NEXT / PREV) */
/* AUTO CONTROLS (START / STOP) */
/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
/* IMAGE CAPTIONS */
.bx-wrapper {
  margin-bottom: 10px;
  box-shadow: none;
  border: none; }

.bx-wrapper .bx-controls-direction a {
  text-indent: 0;
  font-size: 0; }
  .bx-wrapper .bx-controls-direction a:before {
    font-family: "slick";
    font-size: 30px;
    line-height: 1;
    color: gray;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.bx-wrapper .bx-prev, .bx-wrapper .bx-next {
  background: none; }

.bx-wrapper .bx-prev:before {
  content: "←"; }

.bx-wrapper .bx-next:before {
  content: "→"; }

.bx-wrapper .bx-loading {
  background: url("/theme/ababai/images/bxslider/bx_loader.gif") center center no-repeat #ffffff; }

.bxslider img {
  width: 100%;
  height: auto; }

.eyecatchImg {
  vertical-align: bottom;
  width: 100%;
  height: auto; }

.gallery {
  border: 1px solid #ccc;
  margin: 10px 0; }
  .gallery .slider-for {
    margin-bottom: 10px; }
    .gallery .slider-for li img {
      width: 100%;
      margin: 0 auto; }
  .gallery .slider-nav {
    width: 95%;
    margin: 0 auto; }
    .gallery .slider-nav li {
      margin: 10px;
      width: 15%;
      cursor: pointer; }
      .gallery .slider-nav li img {
        width: 100%;
        height: auto;
        opacity: 0.5; }
      .gallery .slider-nav li.slick-current img {
        opacity: 1; }

.BAslide {
  margin: 20px 0;
  position: relative; }
  .BAslide::after {
    content: "";
    display: block;
    clear: both; }
  .BAslide .Before {
    float: left; }
    .BAslide .Before .bxslider:before {
      content: "Before"; }
  .BAslide .After {
    float: right; }
    .BAslide .After .bxslider:before {
      content: "After";
      font-size: 30px; }
  .BAslide .Before, .BAslide .After {
    width: 450px; }
    @media screen and (max-width: 1100px) {
      body:not(.no-rp) .BAslide .Before, body:not(.no-rp) .BAslide .After {
        width: 45%; } }
  .BAslide .bxslider {
    position: relative; }
    .BAslide .bxslider:before {
      color: #ccc;
      font-weight: bold;
      font-size: 20px;
      display: inline-block;
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 99; }
    .BAslide .bxslider li {
      }
    .BAslide .bxslider img {
      margin: 0 auto;
      max-height: 400px;
    width: auto;
  height: auto; }
  @media screen and (max-width: 800px) {
    body:not(.no-rp) .BAslide .bx-wrapper .bx-viewport {
      height: 200px; } }
  @media screen and (max-width: 600px) {
    body:not(.no-rp) .BAslide .bx-wrapper .bx-viewport {
      height: 100px; } }
  @media screen and (max-width: 800px) {
    body:not(.no-rp) .BAslide .bx-wrapper img {
      height: 200px;
      width: auto; } }
  @media screen and (max-width: 600px) {
    body:not(.no-rp) .BAslide .bx-wrapper img {
      height: 100px; } }
  .BAslide #bx-pager, .BAslide #bx-pager02 {
    width: 100%; }
    .BAslide #bx-pager a, .BAslide #bx-pager02 a {
      text-align: center;
      padding: 3px;
      display: inline-block;
      border: 1px solid #ccc;
      margin-bottom: 5px;
      min-width: 98px; }
    .BAslide #bx-pager img, .BAslide #bx-pager02 img {
      max-height: 60px;
      vertical-align: bottom; }

.arrow {
  border: 30px solid transparent;
  border-left-color: #ccc;
  border-right-width: 0;
  width: 0;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  display: inline-block;
  margin: 0 auto; }

.freeArea::after {
  content: "";
  display: block;
  clear: both; }

.freeArea dl {
  height: 100%;
  float: left;
  border: 1px solid #ccc;
  width: 49%;
  margin-bottom: 5px;
  padding: 5px; }
  .freeArea dl:nth-child(even) {
    float: right; }
  @media screen and (max-width: 600px) {
    body:not(.no-rp) .freeArea dl {
      float: none;
      width: 100%; }
      body:not(.no-rp) .freeArea dl::after {
        content: "";
        display: block;
        clear: both; } }
  .freeArea dl dt {
    display: block;
    width: 25%;
    min-width: 100px;
    clear: left;
    float: left; }
  .freeArea dl dd {
    text-align: left;
    display: block;
    width: auto;
    float: left; }

.wysiwyg {
  margin: 20px 0; }
  .wysiwyg img {
    padding: 10px;
    max-width: 300px; }

.responsible {
  margin: 20px 0; }
  .responsible::after {
    content: "";
    display: block;
    clear: both; }
  .responsible .account_img {
    float: left;
    width: 30%;
    text-align: center;
    vertical-align: middle;
    width: auto;
    max-width: 300px;
    margin-right: 10px; }
    @media screen and (max-width: 600px) {
      body:not(.no-rp) .responsible .account_img {
        float: none;
        width: 100%;
        margin: 0 auto 5px;
        max-width: 100%;
        max-height: 100%; } }
  .responsible img {
    vertical-align: bottom;
    width: 100%;
    height: auto; }
  .responsible .wysiwyg {
    margin: 0 auto;
    overflow: hidden; }

#horizontalgallery {
  width: 1100px;
  margin: 5px auto; }
  #horizontalgallery li {
    text-align: center;
    max-width: 210px;
    max-height: 200px;
    margin: 0 5px; }
  #horizontalgallery img {
    margin: 0 auto;
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 200px; }

.update {
  display: inline-block;
  width: auto;
  border: 1px solid #ccc; }
  .update::after {
    content: "";
    display: block;
    clear: both; }
  .update dt, .update dd {
    padding: 5px; }
  .update dt {
    display: block;
    width: auto;
    clear: left;
    float: left; }
  .update dd {
    text-align: right;
    display: block;
    width: auto;
    float: left; }

.btnArea {
  margin: 5px 0;
  text-align: center; }
  .btnArea a {
 }
    @media screen and (max-width: 600px) {
      body:not(.no-rp) .btnArea a {
} }

.popupgallery {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: row;
      flex-direction: row;
  margin: 20px -5px; }
  @media screen and (max-width: 600px) {
    body:not(.no-rp) .popupgallery {
      margin: 0; } }
  .popupgallery li {
    overflow: hidden;
    width: 25%;
    text-align: center;
    vertical-align: middle;
    /*padding: 0 5px;*/
    margin-bottom: 10px; }
    .popupgallery li:hover {
      opacity: 0.8; }
    @media screen and (max-width: 800px) {
      body:not(.no-rp) .popupgallery li {
        width: 50%; } }
    .popupgallery li .imgFrame {
      overflow: hidden;
      text-align: center;
      margin: 0 auto;
      display: block;
      width: auto;
      height: auto;
      max-width: 275px;
      max-height: 183px; }
      @media screen and (max-width: 800px) {
        body:not(.no-rp) .popupgallery li .imgFrame {
          width: 100%;
          max-width: 100%;
          max-height: 100%; } }
      @media screen and (max-width: 600px) {
        body:not(.no-rp) .popupgallery li .imgFrame {
          width: 100%;
          max-width: 100%;
          max-height: 100%; } }
      .popupgallery li .imgFrame img {
        vertical-align: top;
        width: 100%; }
    .popupgallery li span {
      display: block; }

.BAgallery {
  margin: 20px 0;
  position: relative; }
  .BAgallery::after {
    content: "";
    display: block;
    clear: both; }
  .BAgallery div {
    position: relative;
    width: 45%; }
    @media screen and (max-width: 600px) {
      body:not(.no-rp) .BAgallery div {
        width: 100%; } }
    .BAgallery div.Before {
      float: left; }
      @media screen and (max-width: 600px) {
        body:not(.no-rp) .BAgallery div.Before {
          float: none; } }
      .BAgallery div.Before:before {
        content: "Before"; }
    .BAgallery div.After {
      float: right; }
      @media screen and (max-width: 600px) {
        body:not(.no-rp) .BAgallery div.After {
          float: none; } }
      .BAgallery div.After:before {
        content: "After";
        font-size: 30px; }
    .BAgallery div:before {
      color: #8c8c8c;
      font-weight: bold;
      font-size: 20px;
      display: inline-block;
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 99; }
    .BAgallery div .imgFrame {
      border: 1px solid #ccc;
      overflow: hidden;
      text-align: center;
      margin: 0 auto;
      display: block;
      width: auto;
      height: auto; }
      @media screen and (max-width: 800px) {
        body:not(.no-rp) .BAgallery div .imgFrame {
          width: 100%;
          max-width: 100%;
          max-height: 100%; } }
      .BAgallery div .imgFrame img {
        vertical-align: bottom;
        height: auto;
        max-width: 100%;
        max-height: 330px; }
        @media screen and (max-width: 600px) {
          body:not(.no-rp) .BAgallery div .imgFrame img {
            max-height: 100%; } }
    .BAgallery div .caption {
      display: block; }
  @media screen and (max-width: 600px) {
    body:not(.no-rp) .BAgallery .arrow {
      border: 30px solid transparent;
      border-top-color: #ccc;
      border-bottom-width: 0;
      position: static;
      display: block;
      margin: 20px auto; } }

.detailInfo .item .titleArea {
  margin: 20px 0; }
  .detailInfo .item .titleArea::after {
    content: "";
    display: block;
    clear: both; }
  .detailInfo .item .titleArea .fb-share-button {
    float: right; }

.detailInfo .item .contentArea {
  position: relative; }
  .detailInfo .item .contentArea::after {
    content: "";
    display: block;
    clear: both; }
  .detailInfo .item .contentArea .imgFrame {
    float: left;
    width: 49%; }
    @media screen and (max-width: 600px) {
      body:not(.no-rp) .detailInfo .item .contentArea .imgFrame {
        float: none;
        width: 100%;
        margin-bottom: 10px; } }
    .detailInfo .item .contentArea .imgFrame img {
      max-width: 100%;
      height: auto; }
  .detailInfo .item .contentArea .information {
    float: right;
    width: 49%;
    margin-left: auto; }
    @media screen and (max-width: 600px) {
      body:not(.no-rp) .detailInfo .item .contentArea .information {
        float: none;
        width: 100%; } }
  .detailInfo .item .contentArea .info {
    margin-bottom: 5px; }
    .detailInfo .item .contentArea .info dt, .detailInfo .item .contentArea .info dd {
      width: auto; }
    .detailInfo .item .contentArea .info.time dt, .detailInfo .item .contentArea .info.place dt {
      padding-right: 0; }
      .detailInfo .item .contentArea .info.time dt:after, .detailInfo .item .contentArea .info.place dt:after {
        content: "|";
        margin: 0 5px; }
    .detailInfo .item .contentArea .info.time dd, .detailInfo .item .contentArea .info.place dd {
      padding-left: 0; }

.video {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  margin: 20px 0; }
  .video iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%; }

#gm_wrap {
  margin: 50px 0;
  display: block; }

#googlemaps {
  padding-bottom: 20%; }

/*# sourceMappingURL=../_map/page/detail.css.map */
