@charset "UTF-8";
/*イベント情報　ページ*/
/*
ユーティリティ系おまとめファイル
*/
/*
██████   █████  ███████ ███████
██   ██ ██   ██ ██      ██
██████  ███████ ███████ █████
██   ██ ██   ██      ██ ██
██████  ██   ██ ███████ ███████
*/
/*
██████  ██████  ███████  █████  ██   ██ ██████   ██████  ██ ███    ██ ████████
██   ██ ██   ██ ██      ██   ██ ██  ██  ██   ██ ██    ██ ██ ████   ██    ██
██████  ██████  █████   ███████ █████   ██████  ██    ██ ██ ██ ██  ██    ██
██   ██ ██   ██ ██      ██   ██ ██  ██  ██      ██    ██ ██ ██  ██ ██    ██
██████  ██   ██ ███████ ██   ██ ██   ██ ██       ██████  ██ ██   ████    ██
*/
/*
 ██████  ██████  ██       ██████  ██████
██      ██    ██ ██      ██    ██ ██   ██
██      ██    ██ ██      ██    ██ ██████
██      ██    ██ ██      ██    ██ ██   ██
 ██████  ██████  ███████  ██████  ██   ██
*/
/*
████████ ███████ ██   ██ ████████
   ██    ██       ██ ██     ██
   ██    █████     ███      ██
   ██    ██       ██ ██     ██
   ██    ███████ ██   ██    ██
*/
#ChangeGrid_Btn_Content ul,
#ChangeCol_Btn_Content ul {
  margin-bottom: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  #ChangeGrid_Btn_Content ul .ChangeGrid_Btn,
  #ChangeGrid_Btn_Content ul .ChangeCol_Btn,
  #ChangeCol_Btn_Content ul .ChangeGrid_Btn,
  #ChangeCol_Btn_Content ul .ChangeCol_Btn {
    width: 30%;
    background: #eeefef;
    padding: 10px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.813em; }
    #ChangeGrid_Btn_Content ul .ChangeGrid_Btn.is-active,
    #ChangeGrid_Btn_Content ul .ChangeCol_Btn.is-active,
    #ChangeCol_Btn_Content ul .ChangeGrid_Btn.is-active,
    #ChangeCol_Btn_Content ul .ChangeCol_Btn.is-active {
      background: #999;
      color: #fff; }

#ChangeGrid_Btn_Content + p,
#ChangeCol_Btn_Content + p {
  text-align: center; }

#ChangeCol_Btn_Content {
  display: none; }
  @media screen and (max-width: 800px) {
    body:not(.no-rp) #ChangeCol_Btn_Content {
      display: block; } }

.ChangeGrid_Panel,
.ChangeCol_Panel {
  display: none; }
  @media screen and (max-width: 800px) {
    body:not(.no-rp) .ChangeGrid_Panel, body:not(.no-rp)
    .ChangeCol_Panel {
      display: block;
      margin: 10px; } }

#calendar {
  margin: 20px 0 50px; }
  @media screen and (max-width: 800px) {
    body:not(.no-rp) #calendar {
      display: block; } }
  #calendar > .calendar-inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-direction: column;
        flex-direction: column; }
    @media screen and (max-width: 800px) {
      body:not(.no-rp) #calendar > .calendar-inner {
        margin: 10px; } }
    #calendar > .calendar-inner.col-3 {
      -ms-flex-direction: row;
          flex-direction: row; }
      @media screen and (max-width: 800px) {
        body:not(.no-rp) #calendar > .calendar-inner.col-3 {
          display: none; } }
      #calendar > .calendar-inner.col-3 > div {
        width: calc( 33% - 10px); }
        @media screen and (max-width: 800px) {
          body:not(.no-rp) #calendar > .calendar-inner.col-3 > div {
            width: 33%; } }
  #calendar table {
    border: 1px solid #ccc;
    font-size: 1.2rem;
    line-height: 1.6;
    width: 100%;
    margin-bottom: 50px; }
    #calendar table caption {
      text-align: center;
      font-size: 1.2em;
      border-bottom: 1px solid #eee;
      padding-bottom: 10px;
      margin-bottom: 20px; }
      @media screen and (max-width: 800px) {
        body:not(.no-rp) #calendar table caption {
          margin-bottom: 10px; } }
    #calendar table tr {
      border-bottom: 1px solid #ccc; }
    #calendar table td {
      padding: 10px;
      vertical-align: middle; }
      @media screen and (max-width: 800px) {
        body:not(.no-rp) #calendar table td {
          padding: 5px; } }
      #calendar table td.day {
        text-align: center;
        width: 40px;
        background-color: #eeefef; }
        #calendar table td.day.sat {
          background: #93e9ff; }
        #calendar table td.day.sun {
          background: #FFCDD2; }
      #calendar table td.detail a {
        padding: 10px;
        font-weight: bold;
        display: block; }
        @media screen and (max-width: 800px) {
          body:not(.no-rp) #calendar table td.detail a {
            padding: 5px;
            word-break: break-all; } }
        #calendar table td.detail a:not(:nth-child(1)) {
          margin-top: 10px; }
        #calendar table td.detail a:hover {
          text-decoration: none;
          opacity: 0.6; }
        #calendar table td.detail a.cl_bg {
          background: #eeefef; }
    #calendar table.table-style-grid {
      table-layout: fixed; }
      @media screen and (max-width: 800px) {
        body:not(.no-rp) #calendar table.table-style-grid {
          display: none; } }
      #calendar table.table-style-grid tr:last-child {
        display: none; }
      #calendar table.table-style-grid .head.sun {
        background-color: #FFCDD2; }
      #calendar table.table-style-grid .head.weekday {
        background-color: #eeefef; }
      #calendar table.table-style-grid .head.sat {
        background-color: #93e9ff; }
      #calendar table.table-style-grid td {
        border-right: 1px solid #ccc;
        vertical-align: unset; }
      #calendar table.table-style-grid .body {
        position: relative;
        height: 120px;
        text-align: right; }
        #calendar table.table-style-grid .body a {
          text-align: left;
          display: block;
          background: #eeefef;
          padding: 10px;
          font-weight: bold; }
          #calendar table.table-style-grid .body a:hover {
            text-decoration: none;
            opacity: 0.6; }
          #calendar table.table-style-grid .body a:not(:nth-child(1)) {
            margin-top: 10px; }

/*# sourceMappingURL=../_map/page/event.css.map */
