@charset "UTF-8";
/*
██████   █████  ███████ ███████
██   ██ ██   ██ ██      ██
██████  ███████ ███████ █████
██   ██ ██   ██      ██ ██
██████  ██   ██ ███████ ███████
*/
/*
██████  ██████  ███████  █████  ██   ██ ██████   ██████  ██ ███    ██ ████████
██   ██ ██   ██ ██      ██   ██ ██  ██  ██   ██ ██    ██ ██ ████   ██    ██
██████  ██████  █████   ███████ █████   ██████  ██    ██ ██ ██ ██  ██    ██
██   ██ ██   ██ ██      ██   ██ ██  ██  ██      ██    ██ ██ ██  ██ ██    ██
██████  ██   ██ ███████ ██   ██ ██   ██ ██       ██████  ██ ██   ████    ██
*/
/*
 ██████  ██████  ██       ██████  ██████
██      ██    ██ ██      ██    ██ ██   ██
██      ██    ██ ██      ██    ██ ██████
██      ██    ██ ██      ██    ██ ██   ██
 ██████  ██████  ███████  ██████  ██   ██
*/
/*
████████ ███████ ██   ██ ████████
   ██    ██       ██ ██     ██
   ██    █████     ███      ██
   ██    ██       ██ ██     ██
   ██    ███████ ██   ██    ██
*/
/*
 *      form.css
 */
form input, form textarea, form select {
  border: 1px solid #ccc; }

form input.has_success {
  border: 1px solid #5cb85c;
  background-color: #e9fbe9; }

form input.has_error {
  background: #f7dada;
  border: 1px solid #f00; }

form select {
  width: 250px; }

form textarea {
  width: 100%;
  height: 100px; }

form table, form th, form td {
  /*border: 1px solid #ccc;
  border-collapse: collapse;
  padding: 15px;*/
  text-align: left; }
  @media screen and (max-width: 600px) {
    body:not(.no-rp) form table, body:not(.no-rp) form th, body:not(.no-rp) form td {
      /*padding: 10px;*/ } }

form table {
  width: 100%;
  margin: 10px 0; }
  @media screen and (max-width: 600px) {
    body:not(.no-rp) form table {
      /*border: none;*/ } }

@media screen and (max-width: 600px) {
  body:not(.no-rp) form tr:not(:last-child) {
    display: block;
    margin-bottom: 10px; } }

@media screen and (max-width: 600px) {
  body:not(.no-rp) form th {
    display: block;
    width: 100%;
    border-bottom: none; } }

form th.required:after {
  display: inline-block;
  content: "【必須】";
  color: #f00;
  margin-left: 10px; }

@media screen and (max-width: 600px) {
  body:not(.no-rp) form td {
    display: block;
    width: 100%; } }

form label + label {
  margin-left: 10px; }

.btnArea {
  text-align: center;
  margin: 10px 0; }

form button {
  padding: 0px;
  border: none;
  text-align: center;
  border-radius: 10px;
/*margin: 0 5px;*/ }

form .error {
  color: #f00; }

.form_error .form_error_wrap {
  color: #f00; }

[data-pfwform-show-if-error] {
  color: #f00; }

/*# sourceMappingURL=../_map/page/form.css.map */
