@charset "UTF-8";
/* topicsページ */
/*
ユーティリティ系おまとめファイル
*/
/*
██████   █████  ███████ ███████
██   ██ ██   ██ ██      ██
██████  ███████ ███████ █████
██   ██ ██   ██      ██ ██
██████  ██   ██ ███████ ███████
*/
/*
██████  ██████  ███████  █████  ██   ██ ██████   ██████  ██ ███    ██ ████████
██   ██ ██   ██ ██      ██   ██ ██  ██  ██   ██ ██    ██ ██ ████   ██    ██
██████  ██████  █████   ███████ █████   ██████  ██    ██ ██ ██ ██  ██    ██
██   ██ ██   ██ ██      ██   ██ ██  ██  ██      ██    ██ ██ ██  ██ ██    ██
██████  ██   ██ ███████ ██   ██ ██   ██ ██       ██████  ██ ██   ████    ██
*/
/*
 ██████  ██████  ██       ██████  ██████
██      ██    ██ ██      ██    ██ ██   ██
██      ██    ██ ██      ██    ██ ██████
██      ██    ██ ██      ██    ██ ██   ██
 ██████  ██████  ███████  ██████  ██   ██
*/
/*
████████ ███████ ██   ██ ████████
   ██    ██       ██ ██     ██
   ██    █████     ███      ██
   ██    ██       ██ ██     ██
   ██    ███████ ██   ██    ██
*/
.topicsInfo {
  margin: 10px auto 30px;
  line-height: 1.8;
  width: 98%; }
  .topicsInfo::after {
    content: "";
    display: block;
    clear: both; }
  .topicsInfo dt, .topicsInfo dd {
    padding: 10px 0; }
  .topicsInfo dt {
    width: 100px;
    float: left;
    margin: 0;
    padding: 0 0 0 5px;
    font-weight: bold; }
    @media screen and (max-width: 600px) {
      body:not(.no-rp) .topicsInfo dt {
        float: none;
        width: 100%;
        padding: 0; } }
  .topicsInfo dd {
    position: relative;
    margin: 0 0 10px;
    padding: 0 5px 10px 15em;
    border-bottom: 1px solid #ccc; }
    @media screen and (max-width: 600px) {
      body:not(.no-rp) .topicsInfo dd {
        padding-left: 0px; } }
    .topicsInfo dd a {
      display: block; }
  .topicsInfo span[class^="icon"] {
    display: block;
    position: absolute;
    top: 0;
    left: 8em;
    margin: 0; }
    @media screen and (max-width: 600px) {
      body:not(.no-rp) .topicsInfo span[class^="icon"] {
        position: static;
        display: inline-block;
        margin: 5px 0; } }

/*# sourceMappingURL=../_map/page/topics.css.map */
