{% extends 'layout/_01_lower.twig' %}

{# メタタグ設定 #}
{% set pageTitle = '失敗しない庭づくり' %}
{% set description = '知多市、半田市、常滑市、東海市を中心に知多半島で優雅なお庭、コンクリートガレージ、外構エクステリアにこだわりたい方は高橋造園にお任せください。' %}
{% set keywords = '外構,エクステリア,造園,知多市,半田市' %}

{# ページID設定 #}
{% set pageId = 'ten-articles' %}
{% set title = 'ten-articles' %}
{% set h1Text = '失敗しない庭づくり' %}

{# ページ個別　CSS等 #}
{% block headArea %}
<meta property="og:type" content="article" />
<link href="{{ theme }}/assets/css/page-{{ pageId }}.css" rel="stylesheet">
{% endblock %}

{# コンテンツをここに記載(main) #}
{% block main %}
<div class="l-main">
  {% include ('include/_heading.twig') %}
  {% include ('include/_breadcrumb.twig') %}

  <div class="l-mv">
    <h2 class="l-mv__title"><img src="{{ theme }}/assets/images/10articles/img_main.jpg" alt="{{ pageTitle }}" class="img-rsp"></h2>
  </div>

{%
  set exampleArray = [
    {
      id: '01',
      text: '「なんだか周りの環境から、庭だけ浮いてしまっている…！」',
    },
    {
      id: '02',
      text: '素敵なお庭が出来たのに、管理が出来ない…！',
    },
    {
      id: '03',
      text: '途中でお金が足りなくなって、中途半端な庭に…！',
    },
    {
      id: '04',
      text: 'こんな庭になるはずじゃなかった…',
    },
    {
      id: '05',
      text: '完成時は良かったのに、数年経って大変なことに…',
    },
    {
      id: '06',
      text: 'イメージが上手く伝えられなかった…',
    },
    {
      id: '07',
      text: '私の理想は叶ったのに、家族はあまり関心がない…',
    },
    {
      id: '08',
      text: '泥棒に入られました…駐車場で車をぶつけました…',
    },
    {
      id: '09',
      text: '時間が経ってから使いにくさに気づきました…',
    },
    {
      id: '10',
      text: '失敗しないために…高橋造園の話を聞いてみる！',
    }
  ]
%}

  <div class="l-intro-wrap">
    <div class="l-intro">
      <div class="l-intro__head">
        <p class="l-intro__head__text">数多くの施工実績から</p>
        <h2 class="l-intro__head__title"><span class="l-intro__head__line"><span>失敗しない庭づくり</span></span>を<br class="is-sp">ご提案</h2>
      </div>
      <div class="l-intro__desc"> 
        <p class="l-intro__desc__text">たくさんの業者がいる中で基本となる、失敗しない庭造りを10ヶ条にまとめました。<br>お庭づくりを考えられる際の参考にして頂けると嬉しいです。</p>
      </div>

      <div class="l-intro__content">
        <div class="l-intro__content__head">
          <div class="l-intro__content__head__icon">
            <div class="icon-wrap">
              <svg class="icon fill-color-current">
                <use xlink:href="{{ theme }}/assets/svg/icons.svg#icon_light"></use>
              </svg>
            </div>
          </div>
          <h3 class="l-intro__content__head__title">よくある失敗10例から見る解決法</h3>
        </div>
        <div class="l-intro__content__body">
          <ul class="l-intro__content__group">
          {% for item in exampleArray[:5] %}
            <li class="l-intro__content__child">
              <p class="l-intro__content__child__num">{{ item.id }}</p>
              <a class="l-intro__content__child__link js-hover js-scrollLink" href="?link=section-{{ item.id }}">{{ item.text }}</a>
            </li>
          {% endfor %}
          </ul>
          <ul class="l-intro__content__group">
          {% for item in exampleArray[5:] %}
            <li class="l-intro__content__child">
              <p class="l-intro__content__child__num">{{ item.id }}</p>
              <a class="l-intro__content__child__link js-hover js-scrollLink" href="?link=section-{{ item.id }}">{{ item.text }}</a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  

  <div class="l-section-wrap">
    <section class="l-section" id="section-01">
      <div class="l-section__head">
        <p class="l-section__head__num">01</p>
        <div class="l-section__head__detail">
          <p class="l-section__head__sub">よくある失敗その1</p>
          <h3 class="l-section__head__title">「なんだか周りの環境から、庭だけ浮いてしまっている…！」</h3>
        </div>
      </div>

      <div class="l-section__main">
        <div class="l-section__main__detail">
          <div class="l-section__main__detail__inner">
            <div class="l-section__main__icon">
              <p class="l-section__main__icon__text">解決</p>
              <p class="l-section__main__icon__num">01</p>
            </div>
            <p class="l-section__main__detail__title"><span class="l-section__main__detail__line"><span>庭だけでなく周辺環境までしっかり把握</span></span>して、<br class="is-pc">お庭づくりのプランを立てること</p>
          </div>
          <p class="l-section__main__detail__text">よくお庭をつくった後に、「家の雰囲気にいまいち合っていない・・」「周りの雰囲気からちょっと浮いてしまっている」というお悩みをお聞きします。 現在の庭の状態だけでなく、家の外観デザインから、ご近所の環境をもしっかりと把握した上で全体的にマッチングする庭を作ることが失敗しない秘訣です！</p>
        </div>
        <div class="l-section__main__thumb">
          <img src="{{ theme }}/assets/images/10articles/img_01.jpg" alt="{{pageCompanyName}} 失敗しない庭づくり1" class="img-rsp">
        </div>
      </div>

      <div class="l-section__point">
        <p class="l-section__point__text">高橋造園では、お客様からお聞きしたご希望のもと周辺環境をしっかり見て、お客様にプランのご提案をいたしますのでご安心くださいね。</p>
      </div>
    </section>

    <section class="l-section" id="section-02">
      <div class="l-section__head">
        <p class="l-section__head__num">02</p>
        <div class="l-section__head__detail">
          <p class="l-section__head__sub">よくある失敗その2</p>
          <h3 class="l-section__head__title">「素敵なお庭が出来たのに、管理が出来ない…！」</h3>
        </div>
      </div>

      <div class="l-section__main">
        <div class="l-section__main__detail">
          <div class="l-section__main__detail__inner">
            <div class="l-section__main__icon">
              <p class="l-section__main__icon__text">解決</p>
              <p class="l-section__main__icon__num">02</p>
            </div>
            <p class="l-section__main__detail__title">デザイン性にとらわれず、<br class="is-pc"><span class="l-section__main__detail__line"><span>将来性を見据えた庭づくり</span></span>をすること</p>
          </div>
          <p class="l-section__main__detail__text">デザイン性にとらわれすぎて実際にお庭が出来た際に手入れが 出来ない失敗が考えられます。 お手入れや管理はしっかりできるのか、管理にお金は費やせるのか？ さらに使い勝手までも考えた上で庭造りのプランを立てましょう。</p>
        </div>
        <div class="l-section__main__thumb">
          <img src="{{ theme }}/assets/images/10articles/img_02.jpg" alt="{{pageCompanyName}} 失敗しない庭づくり2" class="img-rsp">
        </div>
      </div>

      <div class="l-section__point">
        <p class="l-section__point__text">高橋造園ではデザイン性にこだわるあまりに、管理ができない造園にすることはありません。長い目線でしっかりと自分のお庭を楽しめるように設計いたします。</p>
      </div>
    </section>

    <section class="l-section" id="section-03">
      <div class="l-section__head">
        <p class="l-section__head__num">03</p>
        <div class="l-section__head__detail">
          <p class="l-section__head__sub">よくある失敗その3</p>
          <h3 class="l-section__head__title">「途中でお金が足りなくなってしまって、<br class="is-pc">中途半端な庭になってしまった！」</h3>
        </div>
      </div>

      <div class="l-section__main">
        <div class="l-section__main__detail">
          <div class="l-section__main__detail__inner">
            <div class="l-section__main__icon">
              <p class="l-section__main__icon__text">解決</p>
              <p class="l-section__main__icon__num">03</p>
            </div>
            <p class="l-section__main__detail__title"><span class="l-section__main__detail__line"><span>庭の予算までしっかり立てて</span></span>、<br class="is-pc">もし足りなくなる可能性があるなら<br class="is-pc"><span class="l-section__main__detail__line"><span>部位ごとに少しずつ庭づくりをしていく</span></span>こと</p>
          </div>
          <p class="l-section__main__detail__text">新築の場合は特に、家にお金をかけすぎて庭造りまでまわらなくなってしまった、という失敗が多いようです。お庭の予算もしっかり取っておきましょう。お庭のリフォームの場合も、不必要になったもの解体撤去費用がかかる場合もあるかもしれません。予算をしっかり業者に伝えて後でお金が足りなくなってしまったということのないようにしたいものですね。</p>
        </div>
        <div class="l-section__main__thumb">
          <img src="{{ theme }}/assets/images/10articles/img_03.jpg" alt="{{pageCompanyName}} 失敗しない庭づくり3" class="img-rsp">
        </div>
      </div>

      <div class="l-section__point">
        <p class="l-section__point__text">高橋造園では、予算の相談もしっかりのらせて頂きます。<br>予算の範囲内で最善のプランが立てられるように努力いたしますのでお気軽にご相談ください！</p>
      </div>
    </section>

    <section class="l-section" id="section-04">
      <div class="l-section__head">
        <p class="l-section__head__num">04</p>
        <div class="l-section__head__detail">
          <p class="l-section__head__sub">よくある失敗その4</p>
          <h3 class="l-section__head__title">「こんな庭になるはずじゃなかった…」</h3>
        </div>
      </div>

      <div class="l-section__main">
        <div class="l-section__main__detail">
          <div class="l-section__main__detail__inner">
            <div class="l-section__main__icon">
              <p class="l-section__main__icon__text">解決</p>
              <p class="l-section__main__icon__num">04</p>
            </div>
            <p class="l-section__main__detail__title">疑問点、不安な点は残さず、<br class="is-pc"><span class="l-section__main__detail__line"><span>とことん質問すること</span></span></p>
          </div>
          <p class="l-section__main__detail__text">よく、業者と上手くコミュニケーションがとれずに、あとから「こんなはずじゃなかったんだけどね・・」という悲しいご相談を受けることがあります。 このような失敗をしないためにも、どんな小さな工事の場合でも、不安や疑問が少しでもあれば、とことん質問をしましょう！ 初めの打ち合わせだけでなく、工事中、工事後もいかなる場合も「相談」です。</p>
        </div>
        <div class="l-section__main__thumb">
          <img src="{{ theme }}/assets/images/10articles/img_04.jpg" alt="{{pageCompanyName}} 失敗しない庭づくり4" class="img-rsp">
        </div>
      </div>

      <div class="l-section__point">
        <p class="l-section__point__text">高橋造園ではいつでもご相談にのらせて頂きます！<br>コミュニケーションをしっかりとって、 お客様と一緒に庭造りを楽しみたいと考えているので、質問されたらとても喜びます！<br>不安点、疑問点から僕への質問まで…（笑） どんなことでもお尋ねください！</p>
      </div>
    </section>

    <section class="l-section" id="section-05">
      <div class="l-section__head">
        <p class="l-section__head__num">05</p>
        <div class="l-section__head__detail">
          <p class="l-section__head__sub">よくある失敗その5</p>
          <h3 class="l-section__head__title">「完成時は良かったのに、<br class="is-pc">数年経って大変なことになってしまいました…」</h3>
        </div>
      </div>

      <div class="l-section__main">
        <div class="l-section__main__detail">
          <div class="l-section__main__detail__inner">
            <div class="l-section__main__icon">
              <p class="l-section__main__icon__text">解決</p>
              <p class="l-section__main__icon__num">05</p>
            </div>
            <p class="l-section__main__detail__title">完成して終わりではなく、<br class="is-pc"><span class="l-section__main__detail__line"><span>管理の方法をしっかり聞くこと</span></span></p>
          </div>
          <p class="l-section__main__detail__text u-mb-30">お庭は生きています。木も草も花も、そして石さえも生きていて、 毎日成長し、季節によっていろいろな表情をもつものです。</p>
          <p class="l-section__main__detail__text">完成時と同じ状態を保つというよりもその成長を楽しむために、 お庭の管理の方法をしっかり聞きましょう！</p>
        </div>
        <div class="l-section__main__thumb">
          <img src="{{ theme }}/assets/images/10articles/img_05.jpg" alt="{{pageCompanyName}} 失敗しない庭づくり5" class="img-rsp">
        </div>
      </div>

      <div class="l-section__point">
        <p class="l-section__point__text">高橋造園では庭好きなスタッフが1から丁寧にご説明させていただいております。お客様の庭が育っていくのは私達もとても嬉しいです。<br>一緒にその成長を楽しませてくださいね。</p>
      </div>
    </section>

    <section class="l-section" id="section-06">
      <div class="l-section__head">
        <p class="l-section__head__num">06</p>
        <div class="l-section__head__detail">
          <p class="l-section__head__sub">よくある失敗その6</p>
          <h3 class="l-section__head__title">「イメージが上手く伝えられなかった…」</h3>
        </div>
      </div>

      <div class="l-section__main">
        <div class="l-section__main__detail">
          <div class="l-section__main__detail__inner">
            <div class="l-section__main__icon">
              <p class="l-section__main__icon__text">解決</p>
              <p class="l-section__main__icon__num">06</p>
            </div>
            <p class="l-section__main__detail__title">イメージを膨らませるために、<br class="is-pc"><span class="l-section__main__detail__line"><span>普段から意識して生活すること</span></span></p>
          </div>
          <p class="l-section__main__detail__text">どんなお庭にしたいのか、うまく伝えられるかどうか不安な方も多いかと思います。和風なお庭にしたいのか？洋風にしたいのか？癒されるお庭にしたいのか、ガーデニングがしたいのか、あなたの夢をしっかり伝えましょう。 また、趣味や家族構成も伝えることが業者のイメージも沸きやすくなります。さらに、雑誌でも広告でも写真でもどんなものでも良いので参考資料があればお見せいただければ、一層イメージが伝わりやすくなるでしょう。</p>
        </div>
        <div class="l-section__main__thumb">
          <img src="{{ theme }}/assets/images/10articles/img_06.jpg" alt="{{pageCompanyName}} 失敗しない庭づくり6" class="img-rsp">
        </div>
      </div>

      <div class="l-section__point">
        <p class="l-section__point__text">高橋造園では、お客様のイメージどおりのお庭づくりが出来るよう、こちらからも積極的にお客様とコミュニケーションをとろうと努力していきます！</p>
      </div>
    </section>

    <section class="l-section" id="section-07">
      <div class="l-section__head">
        <p class="l-section__head__num">07</p>
        <div class="l-section__head__detail">
          <p class="l-section__head__sub">よくある失敗その7</p>
          <h3 class="l-section__head__title">「私の理想は叶ったのに、家族はあまり関心がない…」</h3>
        </div>
      </div>

      <div class="l-section__main">
        <div class="l-section__main__detail">
          <div class="l-section__main__detail__inner">
            <div class="l-section__main__icon">
              <p class="l-section__main__icon__text">解決</p>
              <p class="l-section__main__icon__num">07</p>
            </div>
            <p class="l-section__main__detail__title">業者の言いなりにならず、業者とも家族とも<br class="is-pc"><span class="l-section__main__detail__line"><span>コミュニケーションを取り、話し合うこと。</span></span></p>
          </div>
          <p class="l-section__main__detail__text u-mb-30">お庭は一家の顔になります。駐車場の数からアプローチから、家族とどんな庭にしたいのか話し合うことが、家族全員が満足する出来のお庭造りへの成功法です。</p>
          <p class="l-section__main__detail__text">業者のいいなりになると、家族全員が満足する庭造りができなくなってしまいます。家族と話し合った内容をしっかりと業者に伝えましょう！</p>
        </div>
        <div class="l-section__main__thumb">
          <img src="{{ theme }}/assets/images/10articles/img_07.jpg" alt="{{pageCompanyName}} 失敗しない庭づくり7" class="img-rsp">
        </div>
      </div>

      <div class="l-section__point">
        <p class="l-section__point__text">高橋造園では、家族全員が庭を見ることが好きになる、そして全員が便利だと思える庭造りを徹底します！</p>
      </div>
    </section>

    <section class="l-section" id="section-08">
      <div class="l-section__head">
        <p class="l-section__head__num">08</p>
        <div class="l-section__head__detail">
          <p class="l-section__head__sub">よくある失敗その8</p>
          <h3 class="l-section__head__title">「泥棒に入られました…駐車場で車をぶつけました…」</h3>
        </div>
      </div>

      <div class="l-section__main">
        <div class="l-section__main__detail">
          <div class="l-section__main__detail__inner">
            <div class="l-section__main__icon">
              <p class="l-section__main__icon__text">解決</p>
              <p class="l-section__main__icon__num">08</p>
            </div>
            <p class="l-section__main__detail__title"><span class="l-section__main__detail__line"><span>防犯・防災対策</span></span>の施された<br class="is-pc">庭づくりをすること</p>
          </div>
          <p class="l-section__main__detail__text">悪い人が侵入しやすいお庭はお勧めできません。防犯対策をも、しっかりと考えましょう。また、駐車場が狭すぎてよく車をぶつけてしまったり、見通しが悪くて通行人に気づきにくい・・といった完成してからわかる不便さも起こらないように、業者と相談を繰り返しましょう。<br>さらに、災害が起こった時のことも考え、地震にも耐えられるような安全な設計のもと、庭づくりに取り掛かりましょう。</p>
        </div>
        <div class="l-section__main__thumb">
          <img src="{{ theme }}/assets/images/10articles/img_08.jpg" alt="{{pageCompanyName}} 失敗しない庭づくり8" class="img-rsp">
        </div>
      </div>

      <div class="l-section__point">
        <p class="l-section__point__text">高橋造園では、お庭のデザイン性だけではなく、 愛車を駐車しやすい配置をとったり、侵入者に入られないように防犯対策も考えられた庭造りを行なっています。</p>
      </div>
    </section>

    <section class="l-section" id="section-09">
      <div class="l-section__head">
        <p class="l-section__head__num">09</p>
        <div class="l-section__head__detail">
          <p class="l-section__head__sub">よくある失敗その9</p>
          <h3 class="l-section__head__title">「時間が経ってから使いにくさに気づきました…」</h3>
        </div>
      </div>

      <div class="l-section__main">
        <div class="l-section__main__detail">
          <div class="l-section__main__detail__inner">
            <div class="l-section__main__icon">
              <p class="l-section__main__icon__text">解決</p>
              <p class="l-section__main__icon__num">09</p>
            </div>
            <p class="l-section__main__detail__title"><span class="l-section__main__detail__line"><span>メリットだけでなくデメリットまで予め考え、</span></span><br class="is-pc">提案力のある業者を選ぶこと</p>
          </div>
          <p class="l-section__main__detail__text">目先のメリットだけを見るのではなく、「もしここにこれを置いたらどんなデメリットが発生するのか・・」というように、 庭をつくることによって起こりうる悪い点も考えましょう。わからなければ業者に提案をしてもらいましょう。<br>業者のいいなりになることは良くないことですが、逆に何も提案してくれない業者も良くはありません。 経験豊富な業者なら先を見据えた提案をしてくれるはずです。</p>
        </div>
        <div class="l-section__main__thumb">
          <img src="{{ theme }}/assets/images/10articles/img_09.jpg" alt="{{pageCompanyName}} 失敗しない庭づくり9" class="img-rsp">
        </div>
      </div>

      <div class="l-section__point">
        <p class="l-section__point__text">高橋造園では、今だけでなく将来を見据えたご提案をさせていただきます。無理な押し付けもいたしません。起こりうるデメリットに対してもしっかりご説明させていただきますのでご安心ください。</p>
      </div>
    </section>

    <section class="l-section" id="section-10">
      <div class="l-section__head">
        <p class="l-section__head__num num-solved">10</p>
        <div class="l-section__head__detail">
          <p class="l-section__head__sub">失敗しないために・・・</p>
          <h3 class="l-section__head__title">「高橋造園の話を聞いてみること！」</h3>
        </div>
      </div>

      <div class="l-section__main section-last-main">
        <div class="l-section__main__detail">
          <div class="l-section__main__detail__inner">  
            <p class="l-section__main__detail__title">どんな小さなことでも<span class="l-section__main__detail__line"><span>高橋造園にご相談ください！</span></span></p>
          </div>
          <p class="l-section__main__detail__text u-mb-30">高橋造園は「安かろう　悪かろう」ではなく、低価格で高品質のお庭造りを目標としています。無駄な人件費や経費は極力カットし、その分お客様に 質のいい材料や技術をご提供いたします。</p>
          <p class="l-section__main__detail__text">永く永く愛される高橋造園であるために、常にお客様の気持ちを優先して庭づくりに 取り組みさせていただきます。</p>
        </div>
        <div class="l-section__main__thumb">
          <img src="{{ theme }}/assets/images/10articles/img_10.jpg" alt="{{pageCompanyName}} 失敗しない庭づくり10" class="img-rsp">
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %}
