{# テーマアドレス置き換えタグの定義（画像等のパス用）　使用例:{{theme}} #}
{% set theme = '/theme/takahashi-zoen' %}
{# サイトurl置き換えタグの定義（リンク用）　使用例：{{siteurl}} #}
{% set siteurl = 'http://localhost:8000' %}

{# 会社名（リンク用）　使用例：{{companyname}} #}
{% set companyname = '株式会社高橋造園' %}
{% set companymail = 'ababai.co.jp' %}

{# タイトルの後ろに付ける seoタイトル 会社名 上げたいキーワード #}
{% set seocompanyname = '株式会社高橋造園' %}

{# 会社電話番号 #}
{% set companyTel = '0562-38-6967' %}

{# 会社FAX番号 #}
{% set companyFax = '0562-38-6968' %}

{# 会社郵便番号 #}
{% set companyZipcode = '478-0044' %}

{# 会社住所 #}
{% set companyAddress = '愛知県知多市旭桃台707' %}

{# ページ上の会社名表記 #}
{% set pageCompanyName = 'TAKAHASHI / 株式会社高橋造園' %}

{# 代表者氏名 #}
{% set pageCompanyCeo = '高橋　昇' %}

{# サイト内のURLと名前定義 #}
{% set siteMap = {
    'menu': {
      'index': {
        'url': '/menu/',
        'name': '外構・エクステリアメニュー',
      },
      'gate': {
        'url': '/menu/?link=menu-gate',
        'name': '門・アプローチ'
      },
      'fence': {
        'url': '/menu/?link=menu-fence',
        'name': 'フェンス・ブロック'
      },
      'deck': {
        'url': '/menu/?link=menu-deck',
        'name': 'デッキ・テラス'
      },
      'parking': {
        'url': '/menu/?link=menu-parking',
        'name': '駐車場・カーポート'
      },
      'garden': {
        'url': '/menu/?link=menu-garden',
        'name': '庭・植栽'
      },
      'others': {
        'url': '/menu/?link=menu-others',
        'name': '宅地造成・その他'
      }
    },
    'garage': {
      'url': '/garage/',
      'name': '暮らしを豊かにするガレージ'
    },
    'garden': {
      'url': '/garden/',
      'name': '住宅を引き立たせるお庭'
    },
    'japaneseModern': {
      'url': '/japanese-modern/',
      'name': '和モダンのお庭'
    },
    'stone': {
      'url': '/stone/',
      'name': '庭石の魅力'
    },
    'flow': {
      'url': '/flow/',
      'name': 'ご相談から完成までの流れ'
    },
    'staff': {
      'url': '/staff/',
      'name': '代表・スタッフ紹介'
    },
    'tenArticles': {
      'url': '/10articles/',
      'name': '失敗しない庭づくり'
    },
    'case': {
      'url': '/case/',
      'name': '施工事例'
    },
    'voice': {
      'url': '/voice/',
      'name': 'お客様の声'
    },
    'news': {
      'url': '/news/',
      'name': '新着情報'
    },
    'contact': {
      'url': '/contact/',
      'name': 'お問い合わせ'
    },
    'recruit': {
      'url': '/recruit/',
      'name': '求人募集'
    },
    'company': {
      'url': '/company/',
      'name': '会社概要'
    },
    'access': {
      'url': '/company/?link=access',
      'name': 'アクセス'
    }
  }
%}

{# サイト全体共通テンプレート #}
<!DOCTYPE HTML>
<html lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
{% if responsive == true %}<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">{% endif %}

<meta name="format-detection" content="telephone=no">

{% if title != 'notfound.twig' %}
<link rel="canonical" href="{{ canonical() }}">
{% endif %}

{% if  top_pageTitle %}
<title>{{top_pageTitle}}</title>
{% elseif  seo_pageTitle is defined and seo_pageTitle is not empty %}
<title>{{ h1text }}｜{{seo_pageTitle}}｜{% if lowCat.catlayer2.name %}{{lowCat.catlayer2.name}}｜{% endif %}{{seocompanyname}}</title>{% else %}
<title>{% if  pageTitle  is defined and pageTitle  is not empty %}{{pageTitle}}｜{% endif %}{% if  pageTitle02  is defined and pageTitle02  is not empty %}{{pageTitle02}}｜{% endif %}{% if  pageTitle03  is defined and pageTitle03  is not empty %}{{pageTitle03}}｜{% endif %}{% if lowCat.catlayer2.name %}{{lowCat.catlayer2.name}}｜{% endif %} {{seocompanyname}}</title>{% endif %}
<link rel="icon" href="{{ asset('favicon.ico', 'theme') }}/" type="image/x-icon">
<meta name="keywords" content="{{keywords}}">
{% if  seo_description  is defined and seo_description  is not empty %}<meta name="description" content="{{seo_description}}">{% else %}<meta name="description" content="{{description}}{% if description02 %}｜{{description02}}{% endif %}{% if description03 %}｜{{description03}}{% endif %}">{% endif %}
{% if title != 'notfound.twig' %}
{% if  top_pageTitle %}<meta property="og:title" content="{{top_pageTitle}}" />{% elseif  seo_pageTitle is defined and seo_pageTitle is not empty %}<meta property="og:title" content="{{seo_pageTitle}}｜{% if lowCat.catlayer2.name %}{{lowCat.catlayer2.name}}｜{% endif %}{{seocompanyname}}" />{% else %}<meta property="og:title" content="{% if  pageTitle  is defined and pageTitle  is not empty %}{{pageTitle}}｜{% endif %}{% if  pageTitle02  is defined and pageTitle02  is not empty %}{{pageTitle02}}｜{% endif %}{% if  pageTitle03  is defined and pageTitle03  is not empty %}{{pageTitle03}}｜{% endif %}{% if lowCat.catlayer2.name %}{{lowCat.catlayer2.name}}｜{% endif %} {{seocompanyname}}" />{% endif %}
<meta property="og:url" content="{{ canonical() }}" />
{% if  sns_img  is defined and sns_img  is not empty %}<meta property="og:image" content="{{siteurl}}/files/{{record.sns_img}}" />{% else %}<meta property="og:image" content="{{siteurl}}{{theme}}/ogp.jpg" />{% endif %}
<meta property="og:site_name" content="{{seocompanyname}}" />
{% if  seo_description  is defined and seo_description  is not empty %}<meta name="og:description" content="{{seo_description}}">{% else %}<meta name="og:description" content="{{description}}{% if description02 %}｜{{description02}}{% endif %}{% if description03 %}｜{{description03}}{% endif %}">{% endif %}
<meta name="twitter:card" content="summary_large_image" />
{% endif %}

{% if not disableBaseStyle %}
<meta name="viewport" content="width=1280, user-scalable=yes">
<link rel="shortcut icon" href="{{siteurl}}{{theme}}/favicon.ico">
<meta name="thumbnail" content="{{siteurl}}{{theme}}/mobileimage.jpg" />
<link rel="apple-touch-icon" href="{{siteurl}}{{theme}}/apple-touch-icon.png" />
<meta name="format-detection" content="telephone=no">
<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
<script>
var ua = navigator.userAgent;
var title = document.getElementsByTagName('title');
if (((ua.indexOf('iPhone') > 0) || ua.indexOf('iPod') > 0 || (ua.indexOf('Android') > 0 && ua.indexOf('Mobile') > 0))) {
title[0].insertAdjacentHTML('afterend','<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes">');
} else {
title[0].insertAdjacentHTML('afterend','<meta name="viewport" content="width=1280, user-scalable=yes">');
}
</script>
<!--base.css-->
<link href="https://fonts.googleapis.com/earlyaccess/sawarabimincho.css" rel="stylesheet" />
<link href="{{ theme }}/assets/css/magnific-popup.css" rel="stylesheet">
<link href="{{ theme }}/assets/css/jquery.bxslider.css" rel="stylesheet">
{% endif %}
{% block headArea %}{% endblock %}
<!-- Google Tag Manager -->

</head>

<body id="{{pageId}}"{% if pageClass |length > 0 %} class="{{pageClass}}"{% endif %}>
<!-- Google Tag Manager (noscript) -->

{% block snsshare %}{% endblock %}
<div class="l-bg"></div>
<div class="l-wrapper" id="js-wrapper">
{% include ('include/_header.twig') %}
{% block main %}
{% endblock %}

<!-- end of #main -->

{% include ('include/_gnavi.twig') %}
{% include ('include/_footer.twig') %}
</div>
{% include ('include/_stickyBtnComponent.twig') %}
{% include ('include/_spMenuBtnComponent.twig') %}
{% include ('include/_spStickyBtnComponent.twig') %}
<script src="{{ theme }}/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="{{ asset('assets/js/common.min.js', 'theme') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/script.js', 'theme') }}"></script>
{# <script type="text/javascript" src="{{ theme }}/assets/js/functions.js"></script> #}
<script type="text/javascript" src="{{ theme }}/assets/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="{{ theme }}/assets/js/imgLiquid-min.js"></script>
<script type="text/javascript" src="{{ theme }}/assets/js/ofi.min.js"></script>
<script type="text/javascript" src="{{ theme }}/assets/js/libs.js"></script>
<script type="text/javascript" src="{{ theme }}/assets/js/site-common.js"></script>
<script>
objectFitImages('.fit img');
</script>
<!--[if lt IE 9]>
<script src="{{ theme }}/assets/js/html5shiv.js"></script>
<![endif]-->
{% block jsArea %}{% endblock %}
</body>
</html>
