{% set link = pager.makelink() %}

{% if pager.totalpages > 1 %}
<div class="c-archive-pager">
  {% if pager.current > surr+1 %}
  <a href="{{link}}{{1}}" class="c-archive-pager__child child-link js-hover pager-arrow">&laquo;</a>
  {% endif %}

  {% if pager.current > 1 and class!="narrow" %}
  <a href="{{link}}{{pager.current-1}}" class="c-archive-pager__child child-link js-hover pager-arrow" rel="noindex, follow">前へ</a>
  {% endif %}

  {% if pager.current > surr+2 %}
  <span class="c-archive-pager__child child-dot">...</span>
  {% endif %}

  {% for i in max(1, pager.current-surr)..min(pager.current+surr, pager.totalpages) %}
    {% if i==pager.current %}
  <span class="c-archive-pager__child child-current">{{i}}</span>
    {% else %}
  <a href="{{link}}{{i}}" {% if i != 1 %}rel="noindex, follow"{% endif %} class="c-archive-pager__child child-link js-hover pager-num" rel="noindex, follow">{{i}}</a>
    {% endif %}
  {% endfor %}

  {% if pager.current < (pager.totalpages - surr - 1) %}
  <span class="c-archive-pager__child child-dot">...</span>
  {% endif %}

  {% if pager.current < pager.totalpages and class!="narrow" %}
  <a href="{{link}}{{pager.current+1}}" class="c-archive-pager__child child-link js-hover pager-arrow" rel="noindex, follow">次へ</a>
  {% endif %}

  {% if pager.current < pager.totalpages-surr %}
  <a href="{{link}}{{pager.totalpages}}" class="c-archive-pager__child child-link js-hover pager-arrow" rel="noindex, follow">&raquo;</a>
  {% endif %}
</div>
{% endif %}