{% set previous = record.previous() %}
{% set next = record.next() %}
<div class="c-entry-pager">
  <ul class="c-entry-pager__entry">
  {% if next %}
    <li class="c-entry-pager__entry__child"><a href="{{ next.link }}" class="js-hover c-entry-pager__link">&lt; 前へ</a></li>
  {% endif %}
  {% if previous %}
    <li class="c-entry-pager__entry__child"><a href="{{ previous.link }}" class="js-hover c-entry-pager__link">次へ &gt;</a><li>
  {% endif %}
  </ul>
  <div class="c-entry-pager__archive">
    <a href="{{siteurl}}/{{pageArchiveId}}/" class="c-entry-pager__archive__link js-hover">一覧に戻る &gt;</a>
  </div>
</div>