{% extends 'layout/_01_lower.twig' %}

{# ページタイトル設定 #}
{% set pageTitle = record.case_reform_customer_area_name %}
{% set pageTitle02 = record.case_reform_title %}
{% set description = '' %}
{% set keywords = '' %}
{% set h1text = 'リフォーム施工事例' %}

{# SNS設定用 #}
{% set seo_pageTitle = record.seo_pagetitle %}
{% set seo_description = record.seo_description %}
{% set sns_img = record.sns_img %}

{# ページID設定 #}
{% set pageId = 'case_reform' %}

{# ページ個別 CSS等 #}
{% block headArea %}
<meta property="og:type" content="article">
<link rel="stylesheet" type="text/css" href="{{ asset('css/page-system.css', 'theme') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/page/detail.css', 'theme') }}">
{# detail.css #}
{% endblock %}

{# コンテンツをここに記載(main) #}
{% block main %}
<h1 class="main-title"><span class="en">{{pageId}}</span><span class="jp f-gothic">{{ h1text }}</span></h1>
{% include ('include/_gnavi.twig') %}

<div id="one-cl" class="clearfix"><!-- one-cl -->
<!--<div id="tow-cl" class="clearfix"> tow-cl -->
{#  {% include ('include/_sidebarcommon.twig') %} 2カラムの場合追加 #}

<main>
{# パンくずリスト #}
<nav class="seo_bread_list clearfix">
<ul class="clearfix" itemscope itemtype="https://schema.org/BreadcrumbList">
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"> <a itemprop="item" href="{{ path('homepage') }}"><span itemprop="name">HOME</span></a>
<meta itemprop="position" content="1" /> </li>
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"> <a itemprop="item" href="{{siteurl}}/{{pageId}}"><span itemprop="name">{{ h1text }}</span></a>
<meta itemprop="position" content="2" /> </li>
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
<link itemprop="item" href="{{ canonical() }}"><span itemprop="name">{{ pageTitle }} {{ pageTitle02 }}</span>
<meta itemprop="position" content="3" /> </li>
</ul>
</nav>

<article>

<a id="system-contents" name="system-contents"></a>
<h2 class="sub-title">{{ h1text }}</h2>

{# 詳細ページ毎ページャー #}
{% include 'layout/_entry_pager.twig' %}

<div class="system-contents">
<div class="system-contents-inner">
<p class="system-date">{{ record.case_reform_customer_area_name }} {{ record.case_reform_customer_name }}</p>
{# カテゴリのラベルを表示させる #}
{% if record.taxonomy.case_reform_categories is defined and record.taxonomy.case_reform_categories is not empty %}
<div class="system-category-set clearfix">
{% for key, value in record.taxonomy.case_reform_categories %}
<p class="system-category {{key | replace({'/case_reform_categories/': ''}) }}">{{value}}</p>
{% endfor %}
</div>
{% endif %}
{% if record.case_reform_title is defined and record.case_reform_title is not empty %}
<h3 class="system-ttl">{{ record.case_reform_title }}</h3>
{% endif %}

{# TOP表示用画像が未登録時は、共通のNoImage画像 #}
{% if record.case_reform_thumb_img is defined and record.case_reform_thumb_img is not empty %}
{% set _thumbnail_Path = record.case_reform_thumb_img | image %}
{% else %}
{% set _thumbnail_Path = asset('images/common/img_noimage.png', 'theme') %}
{% endif %}
<p class="system-i-pic"><img src="{{ _thumbnail_Path }}" class="eyecatchImg" alt="{{ record.case_reform_customer_name }}"></p>






{% if record.before_after_img_repeater is defined and record.before_after_img_repeater is not empty %}
<div class="BAslide">
<div class="Before">
<ul class="bxslider">
{% for b in record.before_after_img_repeater %}
<li><img src="{{ asset(b.case_reform_before_img.file , 'files') }}" alt="Before画像"></li>
{% endfor %}
</ul>
<div id="bx-pager">
{% set i = 0 %}
{% for b in record.before_after_img_repeater %}
<a
data-slide-index="{{ i }}"
data-tracking-content-type = "case_reform"
data-tracking-content-id = "{{ record.id }}"
data-tracking-content-name = "{{ record.case_reform_customer_name }}"
data-tracking-img-src = "{{ asset(b.case_reform_before_img.file , 'files') }}"
data-tracking-img-label = "Before"
data-tracking-field-type = "Before/After"
>
<img src="{{ asset(b.case_reform_before_img.file , 'files') }}" alt="Before画像">
</a>
{% set i = i + 1 %}
{% endfor %}
</div>
</div>
<span class="arrow"></span>
<div class="After">
<ul class="bxslider">
{% for a in record.before_after_img_repeater %}
<li><img src="{{ asset(a.case_reform_after_img.file , 'files') }}" alt="After画像"></li>
{% endfor %}
</ul>
<div id="bx-pager02">
{% set j = 0 %}
{% for _a in record.before_after_img_repeater %}
<a
data-slide-index="{{ j }}"
data-tracking-content-type = "case_reform"
data-tracking-content-id = "{{ record.id }}"
data-tracking-content-name = "{{ record.case_reform_customer_name }}"
data-tracking-img-src = "{{ asset(_a.case_reform_after_img.file , 'files') }}"
data-tracking-img-label = "After"
data-tracking-field-type = "Before/After"
>
<img src="{{ asset(_a.case_reform_after_img.file , 'files') }}" alt="After画像">
</a>
{% set j = j + 1 %}
{% endfor %}
</div>
</div>
</div>
{% endif %}

<div class="wysiwyg">{{ record.case_reform_body_text }}</div>

{% if  record.case_reform_gallery is defined and record.case_reform_gallery is not empty %}
<div class="system-gallery">
<h2 class="sub-title">Gallery</h2>
<ul class="clearfix gallery-list popupgallery">
{% for _gallery in record.case_reform_gallery %}
<li>
<a
href = "{{ _gallery | image }}"
data-tracking-content-type = "case_reform"
data-tracking-content-id = "{{ record.id }}"
data-tracking-content-name = "{{ record.case_reform_title }}"
data-tracking-img-src = "{{ _gallery | image }}"
data-tracking-img-label = "{{ _gallery.title }}"
data-tracking-field-type = "ギャラリー"
>
<span class="system-Frame fit">
<img src="{{ _gallery | image }}" alt="{{ _gallery.title }}">
</span>
</a>
{% set _filename = _gallery.filename|split('.') %}
{% if _filename[0] not in _gallery.title %}{# imgListに画像を登録した際、ファイル名が出力されるため処理 #}
<span>{{ _gallery.title }}</span>
{% endif %}
</li>
{% endfor %}
</ul><!-- gallery-list -->
</div><!-- gallery-list -->
{% endif %}

<div class="btnArea">
{% set relatedrecords = record.related() %}
{% if relatedrecords is not empty %}
{% for related in relatedrecords %}
<a href="{{ related.link }}">お客様の声</a>
{% endfor %}
{% endif %}
</div><!-- btnArea -->
</div><!-- system-contents-inner -->
</div><!-- system-contents -->

{# 詳細ページ毎ページャー #}
{% include 'layout/_entry_pager.twig' %}

<h2 class="sub-title">{{ h1text }}カテゴリ一覧</h2>
{# カテゴリ別リンク #}
{% set case_reform_categories = app.config.get('taxonomy/case_reform_categories/options') %}
<div class="serchcategory">
{% for key, value in case_reform_categories %}
<a href="{{ path('taxonomylink', { taxonomytype: 'case_reform_categories', slug: key }) }}"><span class="icon {{ key }}">{{ value }}</span></a>
{% endfor %}
</div><!-- serchcategory -->

</article>

</main>
</div><!-- one-cl or tow-cl -->

{% include ('include/_end-bnr.twig') %}

{% endblock %}

{# ページ個別　JS等 #}
{% block jsArea %}
<script type="text/javascript">
$(function() {
//Before,After画像ギャラリー
$('.bxslider').bxSlider({
mode: 'fade',
touchEnabled: false,
controls: false,
pagerCustom: '#bx-pager,#bx-pager02'
});

// ポップアップギャラリー
$('.popupgallery').magnificPopup({
delegate: 'a',
type: 'image',
gallery: { //ギャラリー表示にする
enabled: true
},
image: {
titleSrc: function (item) {
return item.el.find('img').attr('alt');
}
}
});
});
</script>
{% endblock %}
