{% extends 'layout/_01_lower.twig' %}

{# ページタイトル設定 #}
{% set pageTitle = record.blog_title %}
{% set pageTitle02 = '' %}
{% set description = '' %}
{% set keywords = '' %}
{% set h1text = 'ブログ' %}

{# SNS設定用 #}
{% set seo_pageTitle = record.seo_pagetitle %}
{% set seo_description = record.seo_description %}
{% set sns_img = record.sns_img %}

{# ページID設定 #}
{% set pageId = 'blog' %}

{# ページ個別　CSS等 #}
{% block headArea %}
<meta property="og:type" content="article">
<link rel="stylesheet" type="text/css" href="{{ asset('css/page-system.css', 'theme') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/page/detail.css', 'theme') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/page/blog.css', 'theme') }}">
{% endblock %}

{#  コンテンツをここに記載(main) #}
{% block main %}
<h1 class="main-title"><span class="en">{{pageId}}</span><span class="jp f-gothic">{{ h1text }}</span></h1>
{% include ('include/_gnavi.twig') %}

<div id="one-cl" class="clearfix"><!-- one-cl -->
<!--<div id="tow-cl" class="clearfix"> tow-cl -->
{#  {% include ('include/_sidebarcommon.twig') %} 2カラムの場合追加 #}

<main>
{# パンくずリスト #}
<nav class="seo_bread_list clearfix">
<ul class="clearfix" itemscope itemtype="https://schema.org/BreadcrumbList">
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
<a itemprop="item" href="{{ path('homepage') }}"><span itemprop="name">HOME</span></a>
<meta itemprop="position" content="1" />
</li>
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"> <a itemprop="item" href="{{siteurl}}/{{pageId}}"><span itemprop="name">{{ h1text }}</span></a>
<meta itemprop="position" content="2" /> </li>
{% set request_param = app.request.get('_route_params') %}
{% if request_param.slug is defined and request_param.slug is not empty %}
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
<link itemprop="item" href="{{ canonical() }}"><span itemprop="name">{{ pageTitle }}</span>
<meta itemprop="position" content="3" /> </li>
{% endif %}
</ul>
</nav>


<div class="contentswrapper">
<div class="mainContents">
<h2 class="sub-title">{{ h1text }}</h2>

{# 詳細ページ毎ページャー #}
{% include 'layout/_entry_pager.twig' %}

<div class="system-contents">
<div class="system-contents-inner">



<div class="item">
{% if record.blog_nth is defined and record.blog_nth is not empty %}
<span class="number">{{ record.blog_nth }}</span>
{% endif %}
<span class="system-date">{{ record.datepublish | date('Y/m/d') }}</span>
{% if record.blog_title is defined and record.blog_title is not empty %}
<h3 class="system-ttl">{{record.blog_title}}</h3>
{% endif %}

{# 本文エリア #}
<div class="wysiwyg">
{{ record.blog_body_text }}
</div>
</div>

<div class="footInfo">

<div class="system-contributor"><strong>投稿者：</strong>{{record.user.displayname}}</div>

{% if record.taxonomy.blog_categories is defined and record.taxonomy.blog_categories is not empty %}
<div class="system-category-set clearfix">
{% for key, value in record.taxonomy.blog_categories %}
<p class="system-category {{ key | replace({'/blog_categories/': ''})}}">{{ value }}</p>
{% endfor %}
</div>
{% endif %}

<dl>
{% if record.taxonomy.blog_tags is defined and record.taxonomy.blog_tags is not empty %}
<dt>タグ：</dt>
<dd>
{% for link, value in record.taxonomy.blog_tags %}
{% set _value_parts = value|split(':') %}
{% if _value_parts|length <= 1 %}
<a href="{{ link }}">{{ value }}</a>{% if loop.last == false %}、{% endif %}
{% else %}
<a href="{{ link }}">{{ _value_parts[1] }}</a>{% if loop.last == false %}、{% endif %}
{% endif %}
{% endfor %}
</dd>
{% endif %}
</dl>
</div>

{% if record.blog_related_pdf is defined and record.blog_related_pdf is not empty %}
<div class="btnArea">
<a href="{{ asset(record.blog_related_pdf, 'files') }}"  download="関連資料(PDF).pdf">関連資料(PDF)</a>
</div>
{% endif %}

</div><!-- system-contents-inner -->
</div><!-- system-contents -->


{# 詳細ページ毎ページャー #}
{% include 'layout/_entry_pager.twig' %}
</div><!-- mainContents -->

{# サイドバー #}
{% include ('include/_sidebar.twig') %}

</div><!-- contentswrapper -->
</main>
</div><!-- one-cl or tow-cl -->

{% include ('include/_end-bnr.twig') %}

{% endblock %}

{# ページ個別　JS等 #}
{% block jsArea %}
<script src="{{ asset('js/bootstrap-3.0.2.min.js', 'theme') }}"></script>
<script src="{{ asset('js/zabuto_calendar.min.js', 'theme') }}"></script>
{% include ('include/_calendar.js.twig') %}
{% endblock %}
