{% extends 'layout/_01_lower.twig' %}

{# ページタイトル設定 #}
{% set pageTitle = '' %}
{% set description = '' %}
{% set keywords = '' %}
{% set h1text = 'ブログ' %}


{# ページID設定 #}
{% set pageId = 'blog' %}

{# ページ個別　CSS等 #}
{% block headArea %}
<meta property="og:type" content="article">
<link rel="stylesheet" type="text/css" href="{{ asset('css/page-system.css', 'theme') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/page/blog.css', 'theme') }}">
{% endblock %}

{#  コンテンツをここに記載(main) #}
{% block main %}
<h1 class="main-title"><span class="en">{{pageId}}</span><span class="jp f-gothic">{{ h1text }}</span></h1>
{% include ('include/_gnavi.twig') %}

<div id="one-cl" class="clearfix"><!-- one-cl -->
<!--<div id="tow-cl" class="clearfix"> tow-cl -->
{#  {% include ('include/_sidebarcommon.twig') %} 2カラムの場合追加 #}

<main>
{# パンくずリスト #}
<nav class="seo_bread_list clearfix">
<ul class="clearfix" itemscope itemtype="https://schema.org/BreadcrumbList">
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
<a itemprop="item" href="{{ path('homepage') }}"><span itemprop="name">HOME</span></a>
<meta itemprop="position" content="1" />
</li>
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
<link itemprop="item" href="{{ canonical() }}"><span itemprop="name">{{ h1text }}</span>
<meta itemprop="position" content="2" />
</li>
</ul>
</nav>

<div class="contentswrapper">
<div class="mainContents">
<h2 class="sub-title">{{ h1text }}</h2>



<!-- patern1 -->
{% if records is defined and records is not empty %}
<div class="system-list">
<ul class="system-list-inner">
{% for record in records %}
<li>
<a href="{{ record.link }}">
<p class="system-date">{{ record.datepublish | date('Y/m/d') }}</p>
{% if record.taxonomy.blog_categories is defined and record.taxonomy.blog_categories is not empty %}
<div class="system-category-set">
{% for key, value in record.taxonomy.blog_categories %}
<p class="system-category {{ key | replace({'/blog_categories/': ''}) }}">{{ value }}</p>
{% endfor %}
</div>
{% endif %}
{% if record.blog_title is defined and record.blog_title is not empty %}
<h3 class="system-ttl-01">{{record.blog_title}}</h3>
{% endif %}
</a>
</li>
{% endfor %}
</ul>
</div>
{% endif %}
<!-- /patern1 -->



<br><br><br><br><br><br><br>
<!-- patern2 -->
{% if records is defined and records is not empty %}
<div class="system-list2">
<ul class="system-list-inner2">
{% for record in records %}
<li>
<a href="{{ record.link }}">
{# TOP表示用画像が未登録時は、共通のNoImage画像 #}
{% if record.blog_thumb_img is defined and record.blog_thumb_img is not empty %}
{% set _blog_thumb_img = record.blog_thumb_img | image %}
{% else %}
{% set _blog_thumb_img = asset('images/common/img_noimage.png', 'theme') %}
{% endif %}
<p class="system-pic"><img src="{{_blog_thumb_img}}" class="eyecatchImg" alt="{{ record.blog_title }}"></p>
{% if record.taxonomy.blog_categories is defined and record.taxonomy.blog_categories is not empty %}
<div class="system-category-set">
{% for key, value in record.taxonomy.blog_categories %}
<p class="system-category {{ key | replace({'/blog_categories/': ''}) }}">{{ value }}</p>
{% endfor %}
</div>
{% endif %}
<p class="system-date">{{ record.datepublish | date('Y/m/d') }}</p>
{% if record.blog_title is defined and record.blog_title is not empty %}
<h3 class="system-ttl-01">{{record.blog_title}}</h3>
{% endif %}
<p class="system-contributor">投稿者：{{record.user.displayname}}</p>
</a>
</li>
{% endfor %}
</ul>
</div>
{% endif %}
<!-- /patern2 -->


{# ページャー #}
{{ pager(template = 'layout/_sub_pager.twig') }}
</div><!-- mainContents -->

{# サイドバー #}
{% include ('include/_sidebar.twig') %}

</div><!-- contentswrapper -->
</main>
</div><!-- one-cl or tow-cl -->

{% include ('include/_end-bnr.twig') %}

{% endblock %}

{# ページ個別　JS等 #}
{% block jsArea %}
<script src="{{ asset('js/bootstrap-3.0.2.min.js', 'theme') }}"></script>
<script src="{{ asset('js/zabuto_calendar.min.js', 'theme') }}"></script>
{% include ('include/_calendar.js.twig') %}
{% endblock %}
