{% extends 'layout/_01_lower.twig' %}

{# ページタイトル設定 #}
{% set pageTitle = 'ブログ・コラム' %}
{% set pageClass = 'cms tags' %}

{# ページID設定 #}
{% set pageId = 'blog' %}

{# ページ個別　CSS等 #}
{% block headArea %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/page/blog.css', 'theme') }}">
{% endblock %}

{# コンテンツをここに記載(main) #}
{% block main %}
{# パンくずリスト #}
<ul class="topicspath">
  <li><a href="{{ path('homepage') }}">HOME</a></li>
  <li><a href="{{ path('contentlisting', { contenttypeslug: 'blog' }) }}">ブログ・コラム</a></li>
</ul>

<h2>ここにh2が入ります</h2>

<div class="contentswrapper">
<div class="mainContents">
  {% if records is defined and records is not empty %}
  <section>
    <ul class="itemList">
      {% for record in records|order('sortorder') %}
        <li>
          <a href="{{ record.link }}">
            <span class="sub">
              <span class="date">{{ record.datepublish | date("Y/m/d") }}</span>
              {# カテゴリのラベルを表示させる #}
              {% if record.taxonomy.blog_categories is defined and record.taxonomy.blog_categories is not empty %}
                {% for key, value in record.taxonomy.blog_categories %}
                <span class="{{key | replace({'/blog_categories/': ''}) }}">{{value}}</span>
                {% endfor %}
              {% endif %}
            </span>
            {% if record.blog_title is defined and record.blog_title is not empty %}
              <span class="coment">
                {{record.blog_title}}
              </span>
            {% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>
  {% endif %}

  {% if request_param.slug is defined and request_param.slug is not empty %}
    <span class="{{ request_param.slug }} label">{{ taxonomy.options[request_param.slug] }}</span>
  {% endif %}
  {% if records is defined and records is not empty %}
  <section>
    <div class="itemList">
      {% for record in records|order('sortorder') %}
        <div class="item">
          <a href="{{ record.link }}">
            {% if record.blog_nth is defined and record.blog_nth is not empty %}
              <span class="number">{{ record.blog_nth }}</span>
            {% endif %}
            {# TOP表示用画像が未登録時は、共通のNoImage画像 #}
            {% if record.blog_thumb_img is defined and record.blog_thumb_img is not empty %}
              {% set _blog_thumb_img = record.blog_thumb_img | image %}
            {% else %}
              {% set _blog_thumb_img = asset('images/common/img_noimage.png', 'theme') %}
            {% endif %}
            <img src="{{_blog_thumb_img}}" class="eyecatchImg" alt="{{ record.blog_title }}">
            {% if record.taxonomy.blog_categories is defined and record.taxonomy.blog_categories is not empty %}
              {% for key, value in record.taxonomy.blog_categories %}
                <span class="{{ key | replace({'/blog_categories/': ''})}}">{{ value }}</span>
              {% endfor %}
            {% endif %}
            <span class="date">{{ record.datepublish | date('Y/m/d') }}</span>
            {% if record.blog_title is defined and record.blog_title is not empty %}
              <p class="coment">{{record.blog_title}}</p>
            {% endif %}
            <span class="contributor"><strong>投稿者：</strong>{{record.user.displayname}}</span>
          </a>
        </div>
      {% endfor %}
    </div>
  </section>
  {% endif %}

  {# ページャー #}
  {{ pager(template = 'layout/_sub_pager.twig') }}

</div>


{# サイドバー #}
{% include ('include/_sidebar.twig') %}
  </div>


{% endblock %}

{# ページ個別　JS等 #}
{% block jsArea %}
<script src="{{ asset('js/bootstrap-3.0.2.min.js', 'theme') }}"></script>
<script src="{{ asset('js/zabuto_calendar.min.js', 'theme') }}"></script>
{% include ('include/_calendar.js.twig') %}
{% endblock %}
