{% extends 'layout/_01_lower.twig' %}

{# ページタイトル設定 #}
{% set pageTitle = '' %}
{% set description = '' %}
{% set keywords = '' %}

{% set h1text = 'ブログ' %}


{# ページID設定 #}
{% set pageId = 'blog' %}

{# ページ個別　CSS等 #}
{% block headArea %}
<meta property="og:type" content="article">
<link rel="stylesheet" type="text/css" href="{{ asset('css/page-system.css', 'theme') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/page/blog.css', 'theme') }}">
{% endblock %}

{#  コンテンツをここに記載(main) #}
{% block main %}
<h1 class="main-title"><span class="en">{{pageId}}</span><span class="jp f-gothic">{{ h1text }}</span></h1>
{% include ('include/_gnavi.twig') %}

<div id="one-cl" class="clearfix"><!-- one-cl -->
<!--<div id="tow-cl" class="clearfix"> tow-cl -->
{#  {% include ('include/_sidebarcommon.twig') %} 2カラムの場合追加 #}

<main>
{# パンくずリスト #}
<nav class="seo_bread_list clearfix">
<ul class="clearfix" itemscope itemtype="https://schema.org/BreadcrumbList">
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
<a itemprop="item" href="{{ path('homepage') }}"><span itemprop="name">HOME</span></a>
<meta itemprop="position" content="1" />
</li>
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"> <a itemprop="item" href="{{siteurl}}/{{pageId}}"><span itemprop="name">{{ h1text }}</span></a>
<meta itemprop="position" content="2" /> </li>
{% set request_param = app.request.get('_route_params') %}
{% if request_param.slug is defined and request_param.slug is not empty %}
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
<link itemprop="item" href="{{ canonical() }}"><span itemprop="name">{{ pageTitle }}</span>
<meta itemprop="position" content="3" /> </li>
{% endif %}
</ul>
</nav>

<div class="contentswrapper">
<div class="mainContents">
<h2 class="sub-title">{{ h1text }}</h2>

{# GETパラメータを取得 #}
{% set request_date = app.request.query.get('date') %}
{% set request_yearmonth = app.request.query.get('yearmonth') %}
{% set request_contributor = app.request.query.get('contributor') %}

{% if request_date is defined and request_date is not empty %}
{# 日付別 #}
{# 入力値チェック #}
{% if request_date matches '/^(\\d{4})-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])$/' %}
{% set search_start_date = request_date ~ ' 00:00:00' %}
{% set search_end_date = request_date|date_modify("+1 day")|date("Y-m-d") ~ ' 00:00:00' %}
{% set _date_search_flg = true %}
{% endif %}
{% elseif request_yearmonth is defined and request_yearmonth is not empty %}
{# 月別 #}
{% set _start_date = request_yearmonth ~ '-01' %}
{# 入力値チェック #}
{% if _start_date matches '/^(\\d{4})-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])$/' %}
{% set search_start_date = _start_date ~ ' 00:00:00' %}
{% set search_end_date = _start_date|date_modify("+1 month")|date("Y-m-d") ~ ' 00:00:00' %}
{% set _date_search_flg = true %}
{% endif %}
{% elseif request_contributor is defined and request_contributor is not empty %}
{# 投稿者別 #}
{# displaynameからusernameを割り出す（セキュリティ観点から、直接GETでusernameを渡さない） #}
{% set search_username = "" %}
{% for key, value in users %}
{% if value.displayname == request_contributor %}
{% set search_username = value.username %}
{% endif %}
{% endfor %}
{% set _contributor_search_flg = true %}
{% endif %}

{# 条件に合致するデータを抽出 #}
{% if _date_search_flg %}
{% setcontent searchrecords = 'blog' where { status: 'published', datepublish: '>=' ~ search_start_date ~ ' && < ' ~ search_end_date } %}
{% elseif _contributor_search_flg %}
{% setcontent searchrecords = 'blog' where { status: 'published', ownerid: getuserid(search_username) } %}
{% endif %}




<!-- patern1 -->
{% if searchrecords is defined and searchrecords is not empty %}
<div class="system-list">
<ul class="system-list-inner">
{% for searchrecord in searchrecords %}
<li>
<a href="{{ searchrecord.link }}">
<p class="system-date">{{ searchrecord.datepublish | date("Y/m/d") }}</p>
{# カテゴリのラベルを表示させる #}
{% if searchrecord.taxonomy.blog_categories is defined and searchrecord.taxonomy.blog_categories is not empty %}
<div class="system-category-set">
{% for key, value in searchrecord.taxonomy.blog_categories %}
<p class="system-category {{ key | replace({'/blog_categories/': ''}) }}">{{ value }}</p>
{% endfor %}
</div>
{% endif %}
{% if searchrecord.blog_title is defined and searchrecord.blog_title is not empty %}
<h3 class="system-ttl-01">{{searchrecord.blog_title}}</h3>
{% endif %}
</a>
</li>
{% endfor %}
</div>
{% endif %}
<!-- /patern1 -->




<br><br><br><br><br><br><br>
<!-- patern2 -->
{% if searchrecords is defined and searchrecords is not empty %}
<div class="system-list2">
<ul class="system-list-inner2">
{% for searchrecord in searchrecords %}
<li>
<a href="{{ searchrecord.link }}">
{# TOP表示用画像が未登録時は、共通のNoImage画像 #}
{% if searchrecord.blog_thumb_img is defined and searchrecord.blog_thumb_img is not empty %}
{% set _blog_thumb_img = searchrecord.blog_thumb_img | image %}
{% else %}
{% set _blog_thumb_img = asset('images/common/img_noimage.png', 'theme') %}
{% endif %}
<p class="system-pic"><img src="{{_blog_thumb_img}}" class="eyecatchImg" alt="{{ searchrecord.blog_title }}"></p>
{% if searchrecord.taxonomy.blog_categories is defined and searchrecord.taxonomy.blog_categories is not empty %}
<div class="system-category-set">
{% for key, value in searchrecord.taxonomy.blog_categories %}
<p class="system-category {{ key | replace({'/blog_categories/': ''}) }}">{{ value }}</p>
{% endfor %}
</div>
{% endif %}
<p class="system-date">{{ searchrecord.datepublish | date("Y/m/d") }}</p>
{% if searchrecord.blog_title is defined and searchrecord.blog_title is not empty %}
<h3 class="system-ttl-01">{{searchrecord.blog_title}}</h3>
{% endif %}
<p class="system-contributor">投稿者：{{searchrecord.user.displayname}}</p>
</a>
</li>
{% endfor %}
</ul>
</div>
{% endif %}
<!-- /patern2 -->




</div><!-- mainContents -->

{# サイドバー #}
{% include ('include/_sidebar.twig') %}

</div><!-- contentswrapper -->
</main>
</div><!-- one-cl or tow-cl -->

{% include ('include/_end-bnr.twig') %}

{% endblock %}


{# ページ個別　JS等 #}
{% block jsArea %}
<script src="{{ asset('js/bootstrap-3.0.2.min.js', 'theme') }}"></script>
<script src="{{ asset('js/zabuto_calendar.min.js', 'theme') }}"></script>
{% include ('include/_calendar.js.twig') %}
{# もっと見るボタン（サムネイル画像無しパターン） #}
<script type="text/javascript">
$(function(){
// 指定件数より多く記事があれば、隠す
var x = 1;
$('ul.itemList .system_record').each(function() {
if ( x <= 6 ) {
$(this).addClass('system_show');
}
x = x + 1;
});
if ( x <= 6 ) {
$('.moreBtnArea.type1').hide();
}

// もっと見るボタンを押したら指定件数ずつ表示する
$('.moreBtnArea.type1 .moreBtn').on('click', function() {
var y = 1;
$('ul.itemList .system_record').not('.system_show').each(function() {
if ( y <= 6 ) {
$(this).addClass('system_show');
}
y = y + 1;
});
// 隠れている要素がなくなれば、もっと見るボタンを隠す
if( ! ($('ul.itemList .system_record').not('.system_show').length)){
$('.moreBtnArea.type1').hide();
}
});
});
</script>
{# ここまで もっと見るボタン（サムネイル画像無しパターン） #}
{# もっと見るボタン（サムネイル画像有りパターン） #}
<script type="text/javascript">
$(function(){
// 指定件数より多く記事があれば、隠す
var x = 1;
$('div.itemList .system_record').each(function() {
if ( x <= 6 ) {
$(this).addClass('system_show');
}
x = x + 1;
});
if ( x <= 6 ) {
$('.moreBtnArea.type2').hide();
}

// もっと見るボタンを押したら指定件数ずつ表示する
$('.moreBtnArea.type2 .moreBtn').on('click', function() {
var y = 1;
$('div.itemList .system_record').not('.system_show').each(function() {
if ( y <= 6 ) {
$(this).addClass('system_show');
}
y = y + 1;
});
// 隠れている要素がなくなれば、もっと見るボタンを隠す
if( ! ($('div.itemList .system_record').not('.system_show').length)){
$('.moreBtnArea.type2').hide();
}
});
});
</script>
{# ここまで もっと見るボタン（サムネイル画像有りパターン） #}
{% endblock %}
