@keyframes menuAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.js-scrollIn {
  opacity: 0;
  transform: translate(0, 40px);
  transition: all 0.3s ease;

  &.is-scrollIn {
    transform: translate(0, 0);
    opacity: 1;
  }
}
