@charset "UTF-8";

/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;	box-sizing:border-box;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {	display: block;}
body {	line-height: 1;}
ol, ul {	list-style: none;}
blockquote, q {	quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {	content: '';	content: none;}
table {	border-collapse: collapse;	border-spacing: 0;}

form button:hover{
   cursor: pointer;
 cursor: hand;
 opacity: 0.8;
 }

 .wysiwyg  iframe{
   max-width: 100%;
 }

@media screen and (min-width: 768px),print {
   /* bese */
   body { font-size: 16px;
      overflow-x: hidden;
   line-height: 1.8;
   }
   
   header{ width: 1100px; height: 100px; margin: 0px auto 20px auto; padding-top: 10px; position: relative;}
   header h1{ font-size: 0.75em; color: #ccc; margin-bottom: 15px; line-height: 1.2; height: 20px; width: 650px;}
   header .h-link-list{ font-size: 0.75em; position: absolute; left: 220px; top: 80px; }
   header .h-link-list li{ float: left; margin-right: 15px; }
   header .h-link-list li::before{ content: "＞"; }
   header .h-add-Box{ width: 300px; position: absolute; font-size: 0.75em; top: 20px; right: 120px; }
   header .sns-list{ position: absolute; top: 10px; right: 0px; }
   header .sns-list li{ float: right; margin-left: 10px; }
   
   header .btn01{ position: absolute; right: 130px; bottom: 0; font-size: 0.75em;}
   header .btn01 a{ color: #fff; display: inline-block; padding: 10px 35px;background: #000; }
   header .btn02{ position: absolute; right: 0; bottom: 0; font-size: 0.75em;}
   header .btn02 a{ color: #fff; display: inline-block; padding: 10px 35px;background: #000; }
   
   .pc-menu{ position: fixed; top: 0; right: 0;  z-index: 9999; }
   .pc-menu:hover{
      opacity: 0.8;
      cursor: pointer;
      cursor: hand;}

   .side-fix{ position: fixed; top: 150px; right: 0; z-index: 10;}
   
   #pc-menu-open{ display: none; background: #f8f8f8; width: 100vw; height: 100vh; position: fixed; top: 0; z-index: 10000; overflow: scroll; }
   #pc-menu-open .open-close-01{ position: absolute; top: 0; right: 0; }
   #pc-menu-open .open-main-Box{ width: 1100px; margin: 0 auto; padding: 70px; text-align: center; line-height: 2.5;}
   #pc-menu-open .open-main-Box .ttl { margin-bottom: 30px; }
   #pc-menu-open .open-main-Box .con-Box { margin-bottom: 30px; }
   #pc-menu-open .list-Box .con-Box { margin-bottom: 30px; }
   #pc-menu-open .open-close-02{ width: 300px; line-height: 1; cursor: pointer; font-weight: bold; margin: 0 auto; color: #fff; padding: 10px 50px; font-size: 1em; text-align: center; background: #000;}
   
   #g-nav{ width: 1100px; margin: 0px auto 10px auto; padding: 20px 0; text-align: center; font-size: 0.875em;}
   #g-nav li.list { position: relative; display: inline-block; margin-right: 2px;}
   #g-nav li.list span { cursor: pointer;}
   #g-nav li.list span,
   #g-nav li.list a{ border-right: 1px solid #999; display: block; text-align: center; padding: 10px 20px; }
   #g-nav li.list:first-child a { border-left: 1px solid #999;}
   #g-nav .dropmenu li.list ul.sub { visibility: hidden; opacity: 0; transition: 0s; position: absolute; top: 35px; left: 0; margin: 0; padding: 0; z-index: 500; width: 220px;}
   #g-nav .dropmenu li.list:hover ul { visibility: visible; opacity: 1; display: block; }
   #g-nav .dropmenu li.list ul li:last-child a { border-bottom: 1px solid #ccc; }
   #g-nav .dropmenu li.list ul li a { visibility: hidden; opacity: 0; transition: 0.9s; background: #fff; display: block; width: 220px; padding: 10px; color: #000; border: 1px solid #ccc; border-bottom: none; }
   #g-nav .dropmenu li.list:hover ul li a { visibility: visible; opacity: 1; }
   
   #end-contact { background: #eee; padding: 50px 0;}
   #end-contact .end-contact-ttl { margin-bottom: 50px; text-align: center; font-size: 1.5em; font-weight: bold; }
   #end-contact p { text-align: center; margin-bottom: 20px; font-size: 0.875em;}
   #end-contact .btn a{ font-weight: bold; margin: 0 auto; color: #fff; padding: 10px 50px; font-size: 1.125em; text-align: center; display: inline-block; background: #000; }
   #end-contact .btn a:hover{ background: #333; text-decoration: none; }
   
   footer{ width: 100%; min-width: 1100px; background: #ccc; padding: 40px 0; line-height: 1.6; }
   footer .footer-Box{ width: 1100px; margin: 0 auto; font-size: 0.875em;}
   footer .f-link-Box{ width: 770px; float: left;  }
   footer .f-link-Box .f-home-link { margin-bottom: 40px;}
   footer .f-link-Box .f-home-link::before { content: "■ "; }
   footer .f-link-l{ float: left; width: 150px; margin-right: 40px; }
   footer .f-link-c{ float: left; width: 150px; margin-right: 40px }
   footer .f-link-r{ float: left; width: 150px; }
   footer .f-link-Box li{ margin-bottom: 10px; }
   footer .f-link-Box li::before{ content: "> "; }
   footer .f-con-Box{ width: 320px; float: left; }
   
   .copyright{ font-size: 0.75em; text-align: center; padding: 20px 0px; display: block; }
   
   /* common */
   
   /* 2カラムサイト----------------
   #tow-cl{ width: 1100px; margin: 0 auto; padding: 20px 0;}
   #tow-cl main{ width: 800px!important; float: left;  }
   #tow-cl #side{ width: 280px; float: left; margin-right: 19px; background: #333; height: 800px; }
   #blog #tow-cl #side{ display: none;}
   #blog #tow-cl main{ width: 1100px !important;}*/
   /* 1カラムサイト */
   /*#one-cl{ }*/
   

   h1.main-title{ width: 100%; min-width: 1100px; background: #333; color: #fff; padding: 50px 0; text-align: center; }
   h1.main-title .en { display: block; font-size: 1rem; margin-bottom: 20px; text-transform: uppercase;}
   h1.main-title .jp { display: block; font-size: 2rem; font-weight: bold;}
   h2.sub-title{ background: #000; padding: 15px 20px; color: #fff; margin-bottom: 30px; font-size: 1rem; font-weight: bold; letter-spacing: 1px; }
   .seo_bread_list{max-width: 1100px; width: 100%; padding: 20px 0; margin: 0 auto; font-size: 0.8rem; line-height: 1.4; }
   .seo_bread_list li{ margin-right: 20px; float: left;  }
   .seo_bread_list li::after{ content: " >"; }
   .seo_bread_list li:last-child::after{ content: ""; }
   
   /*pc・タブレットcss*/
   /*pc_defaultset*/
   .pc { display: block !important; }
   /*pcのみ表示ブロック*/
   .pc2 { display: inline-block !important; }
   /*pcのみ表示ブロック*/
   .sp, .sp2 { display: none !important; }
   /*スマホのみ表示ブロック*/
   .h_menu { display: none; }
   /*スマホ用ヘッダ*/
   .sp-header { display: none; }
   /*スマホ用メニュー*/
   #sp-global-nav { display: none; }
   /*スマホ用メニュー*/
   .sp-fix-list { display: none; }
   /* Antialiasing ※任意　*/
   
   .fit img { object-fit: cover; font-family: "object-fit: cover;"; }
   
   html { -webkit-font-smoothing: subpixel-antialiased; -moz-osx-font-smoothing: none; overflow-x: hidden; }
   
   /* WEB FONTs 游ゴシックかすれ予防*/
   @font-face { font-family: "Yu Gothic"; src: local("Yu Gothic Medium"); font-weight: 100; }
   @font-face { font-family: "Yu Gothic"; src: local("Yu Gothic Medium"); font-weight: 200; }
   @font-face { font-family: "Yu Gothic"; src: local("Yu Gothic Medium"); font-weight: 300; }
   @font-face { font-family: "Yu Gothic"; src: local("Yu Gothic Medium"); font-weight: 400; }
   @font-face { font-family: "Yu Gothic"; src: local("Yu Gothic Bold"); font-weight: bold; }
   @font-face { font-family: "Helvetica Neue"; src: local("Helvetica Neue Regular"); font-weight: 100; }
   @font-face { font-family: "Helvetica Neue"; src: local("Helvetica Neue Regular"); font-weight: 200; }
   .f-min { font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif; }
   .f-min-02 { font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3","Sawarabi Mincho","Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; }
   .f-gothic { font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "游ゴシック","Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro",  Verdana, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;}
   body { -webkit-text-size-adjust: 100%; }
   img { vertical-align: bottom; }
   a { text-decoration: none; color: #090909; }
   a:hover { text-decoration: underline; }
   .nobd a:hover { text-decoration: none !important; }
   
   /* clearfix */
   .clearfix { zoom: 1; }
   .clearfix:after { display: block; clear: both; height: 0; visibility: hidden; line-height: 0; content: "."; }
   /* wysiwyg */
   .wysiwyg { word-wrap: break-word; margin-bottom: 30px;}
   .wysiwyg strong { font-weight: bolder; }
   .wysiwyg em { font-family: "ＭＳ ゴシック",sans-serif; font-style: italic; }
   .wysiwyg img { max-width: 100% !important; height: auto !important; }
   .wysiwyg p { min-height: 15px; min-width: 10px; line-height: 1.6;}
   .wysiwyg h1, .wysiwyg h2, .wysiwyg h3, .wysiwyg h4, .wysiwyg h5, .wysiwyg h6 { color: #333; font-weight: bold; text-align: left;}
   .wysiwyg h1 { background-color: #dcdcdc; padding: 12px 24px; font-size: 1.25rem; line-height: 1.6; margin: 0.5em 0 1em;}
   .wysiwyg h2 { border-top: 1px solid #333; border-bottom: 1px solid #333; padding: 12px; font-size: 1.25rem; line-height: 1.6; margin: 0.5em 0 1em;}
   .wysiwyg h3 { border-left: 6px solid #231815; padding: 5px 20px; font-size: 1.25rem; line-height: 1.6; margin: 0.5em 0 1em;}
   .wysiwyg h4 { border-bottom: 1px solid #000; padding: 0 0 10px; font-size: 1.188rem; line-height: 1.6; margin: 0.5em 0 1em;}
   .wysiwyg h5 { border-bottom: 1px dashed #000; padding: 0 0 10px; font-size: 1.188rem; line-height: 1.6; margin: 0.5em 0 1em;}
   .wysiwyg h6 { background-color: #eee; border: 1px dotted #999; padding: 10px; font-size: 1rem; line-height: 1.6; margin: 0.5em 0 1em;}
   .wysiwyg ul { list-style-type: disc; line-height: 1.6; font-size: 0.875rem; margin: 0.5em 0 1em 2em}
   .wysiwyg ol { list-style-type: decimal; line-height: 1.6; font-size: 0.875rem; margin: 0.5em 0 1em 2em}
   .wysiwyg table th,
   .wysiwyg table td { border: 1px solid #999; padding: 10px; font-size: 0.875rem; margin: 0.5em 0 1em;}
   
   /* リンク透明 */
   a img:hover { -ms-filter: "alpha( opacity=80 )"; filter: alpha(opacity=80); opacity: 0.8; }
   /* リンク透明にしない */
   .noop a img:hover { -ms-filter: "alpha( opacity=100 )"; filter: alpha(opacity=100); opacity: 1.0; }
   /*---------------------------------------- 　　外部サービス ----------------------------------------*/
   /* ggmap */
   /* <div class="ggmap">iframeのコピーしたコード</div> */
   .ggmap { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }
   .ggmap iframe, .ggmap object, .ggmap embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
   /* <div class="youtube"><iframe  src="youtubeのURL?rel=0" frameborder="0" allowfullscreen></iframe></div> */
   .youtube { position: relative; width: 100%; padding-top: 56.25%; }
   .youtube iframe { position: absolute; top: 0; right: 0; width: 100% !important; height: 100% !important; }
   /*---------------------------------------- 　　webフォント（サーバー置き）　 ----------------------------------------*/
   @font-face { font-family: 'jp-sttl01';
   /* お好きな名前にしましょう */
   src: url("../font/.eot");
   /* IE9以上用 */
   src: url("../font/bokutachi.eot?#iefix") format("embedded-opentype"), url("../font/NotoSansCJKjp-Medium.woff") format("woff"), url("../font/NotoSansCJKjp-Medium.woff") format("woff");
   /* iOS, Android用 */
   /* 念の為指定しておきます */
   font-weight: normal;
   /* 念の為指定しておきます */
   font-style: normal; vertical-align: top; margin: 0px; padding: 0px; }
   .myWebFontClass { font-family: 'jp-sttl01'; }
   }
   @media screen and (max-width: 1200px) {
   html {
      overflow: auto;
   }
   body {
      overflow: visible;
   }
   }
@media screen and (max-width: 767px) {

   .mw_wp_form input[type="file"] {
      display: inline-block;
      width: 100%;
      font-size: 3.8vw;
  }
html{
   font-size:62.5% ; 
}

body { overflow: hidden; font-size: 16px; font-family: sans-serif; -webkit-text-size-adjust: 100%;
line-height: 1.6;
}
.pc, .pc2 { display: none !important; }
/*pcのみ表示ブロック*/
.sp { display: block !important; }
/*スマホのみ表示ブロック*/
.sp2 { display: inline-block !important; }
/*スマホのみ表示ブロック*/
.no-br { display: none; }
/*スマホでbrを解除したい場合に使用*/
.sp_display_block { display: block !important; }
/*スマホでflexboxを解除したい場合等に使用*/
.pc-menu{ display: none; }
.side-fix{ display: none; }
.fix-list{ display: none; }
#pc-menu-open{ display: none; }
#g-nav{ display: none; }

.sp-header .h-logo img { height: 50px; width: auto;}
.sp-header .h-menu { position: fixed; top: 0; right: 0; width: 50px; z-index: 997;}
.sp-header .h-menu img { height: 50px; width: auto;}

nav#sp-global-nav { font-size: 1.4rem; z-index: 999; overflow: scroll; position: fixed; top: 0; width: 100vw; height: 100vh; display: none; background-color: #000; box-sizing: border-box; color: #fff; }
nav#sp-global-nav .open-close-01 { position: fixed; top: 0; right: 0; width: 50px; z-index: 998;}
nav#sp-global-nav .open-close-01 img { height: 50px; width: auto;}
nav#sp-global-nav .list { margin: 50px 0 20px;}
nav#sp-global-nav .list li a { color: #fff; line-height: 1.4; text-decoration: none; padding: 5%; display: block; border-bottom: 1px solid #fff; }

nav#sp-global-nav .two-list{width: 96%;margin: 0 auto;display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex;-webkit-box-lines: multiple; -moz-box-lines: multiple; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap;}
nav#sp-global-nav .two-list li{width: 50%; border-bottom: 1px solid #fff;}
nav#sp-global-nav .two-list li a{ color: #fff; line-height: 1.4; text-decoration: none; padding: 9% 5%; display: block; line-height: 1.6;}

nav#sp-global-nav .two-list-02{width: 96%;margin: 0 auto;display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex;-webkit-box-lines: multiple; -moz-box-lines: multiple; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap;}
nav#sp-global-nav .two-list-02 li{width: 50%; border-bottom: 1px solid #fff;}
nav#sp-global-nav .two-list-02 li a{ color: #fff; line-height: 1.4; text-decoration: none; padding: 9% 5%; display: block; line-height: 1.6;}

nav#sp-global-nav .open-close-02 { background: #222; text-align: center; padding: 5% 3%; margin: 10% 5% 20%; letter-spacing: 2px;}

nav#sp-global-nav .two-list-02 li:nth-child(2n+1):last-child {width: 100%; border-bottom: 1px solid #fff;}
nav#sp-global-nav .two-list-02 li:nth-child(2n+1):last-child a{padding: 4.5% 2.5%}

.sp-fix-list { position: fixed; bottom: 0; width: 100%; z-index: 996; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; align-items: flex-end;}
.sp-fix-list .tel {  }
.sp-fix-list .icon { }

#end-contact { background: #eee; padding: 10% 5%;}
#end-contact .end-contact-ttl { margin-bottom: 10%; text-align: center; font-size: 2rem; font-weight: bold; }
#end-contact p { text-align: center; margin-bottom: 5%; font-size: 1.4rem;}
#end-contact .tel { margin: 0 10% 10%;}
#end-contact .btn a{ font-weight: bold; margin: 0 auto; color: #fff; padding: 5% 5%; text-align: center; display: block; background: #000; }

.sp-page-top a { text-align: center; display: block; padding: 5% 3%;}
.sp-page-top a img { width: 10%; height: auto;}
footer{ background: #ccc; line-height: 1.6; font-size: 1.4rem;}
footer .f-link-Box .f-home-link { border-bottom: 1px solid #bebebe; padding: 10% 3%;}
footer .f-link-Box li a { border: 1px solid #bebebe; border-width: 0 1px 1px 0;padding: 3%; display: block;}
footer .f-con-Box{ padding: 10% 3%; }

.copyright{ font-size: 1.2rem; line-height: 1.6; padding: 10% 3% 25%; display: block; }

h1.main-title{ width: 100%; background: #333; color: #fff; padding: 7% 0; text-align: center; margin-bottom: 4%; }
h1.main-title .en { display: block; font-size: 1.2rem; margin-bottom: 4%; text-transform: uppercase;}
h1.main-title .jp { display: block; font-size: 1.8rem; font-weight: bold;}

h2.sub-title{ background: #000; padding: 3%; color: #fff; margin-bottom: 5%; font-size: 1.5rem; letter-spacing: 1px; }
.seo_bread_list{ width: 100%; padding: 5% 2%; margin: 0 auto; font-size: 1.2rem; color: #666; line-height: 1.6;}
.seo_bread_list{display: none;}
/* .seo_bread_list a { color: #666;}
.seo_bread_list li{ margin-right: 0.5em; float: left;  }
.seo_bread_list li::after{ content: ">"; }
.seo_bread_list li:last-child::after{ content: none; } */

/* 2カラムサイト---------------- */
#tow-cl #side{ display: none;}

.fit img { object-fit: cover; }
.wysiwyg img { width: auto !important; height: auto !important; }
html { -webkit-font-smoothing: subpixel-antialiased; -moz-osx-font-smoothing: none; overflow-x: hidden; }
/* WEB FONTs 游ゴシックかすれ予防*/
@font-face { font-family: "Yu Gothic"; src: local("Yu Gothic Medium"); font-weight: 100; }
@font-face { font-family: "Yu Gothic"; src: local("Yu Gothic Medium"); font-weight: 200; }
@font-face { font-family: "Yu Gothic"; src: local("Yu Gothic Medium"); font-weight: 300; }
@font-face { font-family: "Yu Gothic"; src: local("Yu Gothic Medium"); font-weight: 400; }
@font-face { font-family: "Yu Gothic"; src: local("Yu Gothic Bold"); font-weight: bold; }
@font-face { font-family: "Helvetica Neue"; src: local("Helvetica Neue Regular"); font-weight: 100; }
@font-face { font-family: "Helvetica Neue"; src: local("Helvetica Neue Regular"); font-weight: 200; }
.f-min { font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif; }
.f-min-02 { font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3","Sawarabi Mincho","Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; }
.f-gothic { font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "游ゴシック","Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro",  Verdana, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;}
body { -webkit-text-size-adjust: 100%; }
img { vertical-align: bottom; max-width: 100%; }
a { text-decoration: none; color: #090909; }
a:hover { text-decoration: underline; }
.nobd a:hover { text-decoration: none !important; }
.clearfix { zoom: 1; }
.clearfix:after { display: block; clear: both; height: 0; visibility: hidden; line-height: 0; content: "."; }

/* wysiwyg */
.wysiwyg { word-wrap: break-word; margin-bottom: 30px; font-size: 1.4rem;}
.wysiwyg strong { font-weight: bolder; }
.wysiwyg em { font-family: "ＭＳ ゴシック",sans-serif; font-style: italic; }
.wysiwyg img { max-width: 100% !important; height: auto !important; }
.wysiwyg p { min-height: 1rem; min-width: 1rem; line-height: 1.6;}
.wysiwyg h1, .wysiwyg h2, .wysiwyg h3, .wysiwyg h4, .wysiwyg h5, .wysiwyg h6 { color: #333; font-weight: bold; text-align: left;}
.wysiwyg h1 { background-color: #dcdcdc; padding: 3%; font-size: 1.6rem; line-height: 1.6; margin: 0.5em 0 1em;}
.wysiwyg h2 { border-top: 1px solid #333; border-bottom: 1px solid #333; padding: 3%; font-size: 1.6rem; line-height: 1.6; margin: 0.5em 0 1em;}
.wysiwyg h3 { border-left: 4px solid #231815; padding: 3%; font-size: 1.6rem; line-height: 1.6; margin: 0.5em 0 1em;}
.wysiwyg h4 { border-bottom: 1px solid #000; padding: 0 0 3%; font-size: 1.5rem; line-height: 1.6; margin: 0.5em 0 1em;}
.wysiwyg h5 { border-bottom: 1px dashed #000; padding: 0 0 3%; font-size: 1.4rem; line-height: 1.6; margin: 0.5em 0 1em;}
.wysiwyg h6 { background-color: #eee; border: 1px dotted #999; padding: 3%; font-size: 1.4rem; line-height: 1.6; margin: 0.5em 0 1em;}
.wysiwyg ul { list-style-type: disc; line-height: 1.6; margin: 0.5em 0 1em 2em}
.wysiwyg ol { list-style-type: decimal; line-height: 1.6; font-size: 1.4rem; margin: 0.5em 0 1em 2em}
.wysiwyg table { width: 100% !important;}
.wysiwyg table th,
.wysiwyg table td { border: 1px solid #999; padding: 3%; font-size: 1.4rem; margin: 0.5em 0 1em;}
/* img-block */
/* アンカーリンク調整 */
.hideAnchor { display: block; height: 0px; overflow: hidden; text-indent: -9999px; margin-top: -10px; padding-bottom: 10px; }
/* スクロール縦 */
.scroll-y { box-sizing: border-box; overflow-y: scroll; transform: translateZ(0); }
/* リンク透明 */
a img:hover { -ms-filter: "alpha( opacity=80 )"; filter: alpha(opacity=80); opacity: 0.8; }
/* リンク透明にしない */
.noop a img:hover { -ms-filter: "alpha( opacity=100 )"; filter: alpha(opacity=100); opacity: 1.0; }
/*---------------------------------------- 　　外部サービス ----------------------------------------*/
/* ggmap */
/* <div class="ggmap">iframeのコピーしたコード</div> */
.sp-ggmap { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }
.sp-ggmap iframe, .sp-ggmap object, .sp-ggmap embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
/* <div class="youtube"><iframe  src="youtubeのURL?rel=0" frameborder="0" allowfullscreen></iframe></div> */
.youtube { position: relative; width: 100%; padding-top: 56.25%; }
.youtube iframe { position: absolute; top: 0; right: 0; width: 100% !important; height: 100% !important; }
/*---------------------------------------- 　　webフォント（サーバー置き）　 ----------------------------------------*/
@font-face { font-family: 'jp-sttl01';
/* お好きな名前にしましょう */
src: url("../font/.eot");
/* IE9以上用 */
src: url("../font/bokutachi.eot?#iefix") format("embedded-opentype"), url("../font/NotoSansCJKjp-Medium.woff") format("woff"), url("../font/NotoSansCJKjp-Medium.woff") format("woff");
/* iOS, Android用 */
/* 念の為指定しておきます */
font-weight: normal;
/* 念の為指定しておきます */
font-style: normal; vertical-align: top; margin: 0px; padding: 0px; }
.myWebFontClass { font-family: 'jp-sttl01'; }
}

@media screen and (max-height: 450px) {
   /* 高さ450px以下の場合 andoroidのフォーム対策 ストーカーバナー用　*/
	.sp-fix-list{display: none;}
}
