@charset "UTF-8";

@media screen and (min-width: 768px),print {  

  main{ width: 1100px; margin: 0 auto 30px auto; }
  /* 3枚表示のbxslider
  -------------------------------------*/
    /* system-common */
  .page-list { font-size: 0.875em; margin: 50px 0 100px;  text-align: center; font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "游ゴシック","Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro",  Verdana, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif; }
  .page-list li{ background: #eeefef; display: inline-block; border: #dcdddd 1px solid; }
  .page-list li.active { background: #231815; color: #fff; }
  .page-list li.active a { color: #fff; }
  .page-list a { padding: 12px; display: inline-block; }
  .pagen{ width: 100%; margin: 0 auto 30px auto; font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "游ゴシック","Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro",  Verdana, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif; }
  .page-navi { font-size: 0.875em; }
  .page-navi li { display: inline-block;  }
  .page-navi li.active { background: #ccc; }
  .page-navi a { padding: 8px; display: inline-block; }
  .page-navi .fast { margin-right: 0px; }
  .page-navi .last { }
  .page-navi .fast::after {  content: "|";  display: inline-block;  margin: 0 5px; }
  .pagen .list{ float: right; }
  .pagen .list a{ margin: 0 auto; color: #fff; padding: 7px 30px; font-size: 0.875em; text-align: center; display: inline-block; background: #000; }
  .pagen .list a:hover{ background: #666; text-decoration: none; }
  .btnArea { text-align: center; margin: 50px 0 20px; padding: 0; }
  .btnArea a{ font-weight: bold; margin: 0 auto; color: #fff; padding: 20px 50px; font-size: 0.875em; text-align: center; display: block; background: #000; letter-spacing: 1px; width: 60%;}
  .btnArea a:hover{ background: #666; text-decoration: none; }
  .btnArea-s { text-align: center;}
  .btnArea-s a{ font-weight: bold; margin: 0 auto; color: #fff; padding: 10px 50px; font-size: 0.875em; text-align: center; display: inline-block; background: #000; letter-spacing: 1px;}
  .btnArea-s a:hover{ background: #666; text-decoration: none; }
  .btnArea-s::after{  content: ''; display: block; margin-bottom: 100px;}
  .borderwrap{ margin-bottom: 40px;}
  .borderwrap h3{ font-size: 1.5em; font-weight: bold;  margin-bottom: 20px; padding-bottom: 15px; border-bottom: 1px #ccc solid; line-height: 1.6; }
  .borderwrap p{ font-size: 0.875em; line-height: 1.8;}
  
  /* event -------------------------------------*/
  #event .system-list{ background: #eeefef; padding: 41px 21px 21px; margin-bottom: 50px; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; -webkit-box-lines: multiple; -moz-box-lines: multiple; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  #event .system-list li{ line-height: 1.4; width: 32%; margin-right: 2%; background: #fff; position: relative; margin-bottom: 20px; padding: 20px 10px 50px;}
  #event .system-list li:nth-child(3n){ margin-right: 0}
  #event .system-list li a:hover{ text-decoration: none; }
  #event .system-list .btn{ text-align: center; background: #333; color: #fff; font-size: 0.75em; position: absolute; bottom: 0; left: 0; width: 100%; padding: 3%;}
  #event .system-list .btn::after { content: ' >';}
  #event .system-pic{ width: 100%; height: 220px; overflow: hidden; text-align: center; margin-bottom: 15px;}
  #event .system-pic img{ max-width: 100%; max-height: 220px; width: auto; height: auto; }
  #event .system-date{ font-size: 0.75em; margin-bottom: 10px; line-height: 1.4;}
  #event .system-date::before{ content: "■"; }
  #event .system-information { border-bottom: 1px solid #eee; padding-bottom: 10px; margin-bottom: 20px;}
  #event .system-txt{ font-size:  0.813em; margin-bottom: 5px; line-height: 1.4; }
  #event .system-coment{ font-size: 0.813em; margin-bottom: 5px; line-height: 1.4; }
  #event .system-ttl-01{ font-size: 1em; font-weight: bold; line-height: 1.4; border-bottom: 1px solid #eee; padding-bottom: 10px; margin-bottom: 20px; }
  #event .system-category{ font-size: 0.688em; font-weight: bold; color: #fff; text-align: center; padding: 8px; background-color: #ccc;}
  #event .serchcategory{ margin-bottom: 100px;}
  #event .serchcategory .icon { display: inline-block; margin-bottom: 15px; font-size: 0.688em; font-weight: bold; color: #fff; text-align: center; padding: 10px 20px;}
  #event .icon01{ background: #000; }
  #event .icon02{ background: #111; }
  #event .icon03{ background: #222; }
  #event .icon04{ background: #333; }
  #event .icon05{ background: #444; }
  #event .icon06{ background: #555; }
  #event .system-icon02 span { display: block; padding: 8px; background: #ccc; font-size: 0.8rem; margin-bottom: 15px; margin-top: -15px; }
  #event .system-icon02 span.icon02-01 { background: #999; }
  #event .system-icon02 span.icon02-02 { background: #ccc; }
  #event .system-icon02 span.icon02-03 { background: #eee; }
  #event .system-contents{ background: #eeefef; padding: 40px 20px; margin-bottom: 30px; }
  #event .system-contents-inner { background: #fff; padding: 20px 20px 40px;}
  #event .system-contents .system-date{ font-size: 0.75em; line-height: 1.4; text-align: right;}
  #event .system-contents .system-date::before{ content: none; }
  #event .system-contents .titleArea{ margin-bottom: 30px; padding-bottom: 25px; border-bottom: 1px #ccc solid;}
  #event .system-contents .system-category{ margin-bottom: 20px; font-size: 0.75em; color: #fff; text-align: center; padding: 8px; width: 20%; float: left; margin-right: 2px;}
  #event .system-contents .system-ttl{ font-size: 1.375em; font-weight: bold; margin-bottom: 20px; line-height: 1.4;}
  #event .system-contents .system-icon02 { width: 20%;}
  #event .system-contents .system-i-pic{ text-align: center; margin-bottom: 20px; }
  #event .system-contents .system-i-pic img{ max-width: 100%; max-height: 900px; width: auto; height: auto; }
  #event .system-contents #googlemaps{ height: 500px; border: 1px solid #dcdddd;}
  #event .system-gallery { background: #eeefef; padding: 30px 20px;}
  #event .system-gallery h2 { text-transform: uppercase;}
  #event .gallery-list{ display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; -webkit-box-lines: multiple; -moz-box-lines: multiple; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  #event .gallery-list li{ width: 18.4%; position: relative; margin:0 2% 25px 0; font-size: 0.75em; line-height: 1.4;}
  #event .gallery-list li:nth-of-type(5n) { margin-right: 0;}
  #event .gallery-list li a:hover{ text-decoration: none; }
  #event .gallery-list li .system-Frame{ display: block; width: 100%; height: 120px; overflow: hidden; text-align: center; margin-bottom: 8px;}
  #event .gallery-list li .system-Frame::after{ content: url(../images/common/icon_plus.jpg); display: block; position: absolute; top: 90px; right: 0;}
  #event .gallery-list li .system-Frame img{ width: 100%; height: 120px; }


  /* case_newly -------------------------------------*/
  #case_newly .system-list{ background: #eeefef; padding: 41px 21px 21px; margin-bottom: 50px; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; -webkit-box-lines: multiple; -moz-box-lines: multiple; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  #case_newly .system-list li{ line-height: 1.4; width: 23.5%; margin-right: 2%; background: #fff; position: relative; margin-bottom: 20px; padding: 20px 10px 30px;}
  #case_newly .system-list li:nth-child(4n){ margin-right: 0}
  #case_newly .system-list li a:hover{ text-decoration: none; }
  #case_newly .system-list .btn{ text-align: center; background: #333; color: #fff; font-size: 0.75em; position: absolute; bottom: 0; left: 0; width: 100%; padding: 3%;}
  #case_newly .system-list .btn::after { content: ' >';}
  #case_newly .system-pic{ width: 100%; height: 180px; overflow: hidden; text-align: center; margin-bottom: 15px; }
  #case_newly .system-pic img{ width: 100%; height: 180px; }
  #case_newly .system-date{ font-size: 0.75em; margin-bottom: 10px; line-height: 1.4; }
  #case_newly .system-date::before{ content: "■"; }
  #case_newly .system-coment{ font-size: 0.75em; margin-bottom: 5px; line-height: 1.4; }
  #case_newly .system-ttl-01{ font-size: 1em; margin-bottom: 20px; line-height: 1.4; }
  #case_newly .system-category-set { margin-bottom: 15px; margin-top: -15px;}
  #case_newly .system-category{ margin-bottom: 1px; font-size: 0.688em; font-weight: bold; color: #fff; text-align: center; padding: 8px; background-color: #ccc;}
  #case_newly .serchcategory{ margin-bottom: 100px;}
  #case_newly .serchcategory .icon { display: inline-block; margin-bottom: 15px; font-size: 0.688em; font-weight: bold; color: #fff; text-align: center; padding: 10px 20px; }
  #case_newly .icon01{ background: #000; }
  #case_newly .icon02{ background: #111; }
  #case_newly .icon03{ background: #222; }
  #case_newly .icon04{ background: #333; }
  #case_newly .icon05{ background: #444; }
  #case_newly .icon06{ background: #555; }
  #case_newly .system-contents{ background: #eeefef; padding: 40px 20px; margin-bottom: 30px; }
  #case_newly .system-contents .system-category-set { margin-top: 0px; margin-bottom: 0;}
  #case_newly .system-contents-inner { background: #fff; padding: 40px 20px;}
  #case_newly .system-contents .system-date{ font-size: 1em; margin-bottom: 15px; display: block; }
  #case_newly .system-contents .system-category{ margin-bottom: 20px; font-size: 0.75em; color: #fff; text-align: center; padding: 8px; width: 20%; float: left; margin-right: 2px;}
  #case_newly .system-contents .system-ttl{ font-size: 1.375em; font-weight: bold;  margin-bottom: 30px; padding-bottom: 25px; border-bottom: 1px #ccc solid; line-height: 1.4; }
  #case_newly .system-contents .system-i-pic{ text-align: center; margin-bottom: 20px; }
  #case_newly .system-contents .system-i-pic img{ max-width: 100%; max-height: 900px; width: auto; max-height: auto; }
  #case_newly .system-gallery { background: #eeefef; padding: 30px 20px;}
  #case_newly .system-gallery h2 { text-transform: uppercase;}
  #case_newly .gallery-list{ display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; -webkit-box-lines: multiple; -moz-box-lines: multiple; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  #case_newly .gallery-list li{ width: 18.4%; position: relative; margin:0 2% 25px 0; font-size: 0.75em; line-height: 1.4; text-align: left;}
  #case_newly .gallery-list li:nth-of-type(5n) { margin-right: 0;}
  #case_newly .gallery-list li a:hover{ text-decoration: none; }
  #case_newly .gallery-list li .system-Frame{ display: block; width: 100%; height: 120px; overflow: hidden; text-align: center; margin-bottom: 8px;}
  #case_newly .gallery-list li .system-Frame::after{ content: url(../images/common/icon_plus.jpg); display: block; position: absolute; top: 90px; right: 0;}
  #case_newly .gallery-list li .system-Frame img{ width: 100%; height: 120px; }
  
  /* case_reform -------------------------------------*/
  #case_reform .system-list{ background: #eeefef; padding: 41px 21px 21px; margin-bottom: 50px; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; -webkit-box-lines: multiple; -moz-box-lines: multiple; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  #case_reform .system-list li{ line-height: 1.4; width: 23.5%; margin-right: 2%; background: #fff; position: relative; margin-bottom: 20px; padding: 20px 10px 30px;}
  #case_reform .system-list li:nth-child(4n){ margin-right: 0}
  #case_reform .system-list li a:hover{ text-decoration: none; }
  #case_reform .system-list .btn{ text-align: center; background: #333; color: #fff; font-size: 0.75em; position: absolute; bottom: 0; left: 0; width: 100%; padding: 3%;}
  #case_reform .system-list .btn::after { content: ' >';}
  #case_reform .system-pic{ width: 100%; height: 180px; overflow: hidden; text-align: center; margin-bottom: 15px;}
  #case_reform .system-pic img{ width: 100%; height: 180px; }
  #case_reform .system-date{ font-size: 0.75em; margin-bottom: 10px; line-height: 1.4; }
  #case_reform .system-date::before{ content: "■"; }
  #case_reform .system-coment{ font-size: 0.75em; margin-bottom: 5px; line-height: 1.4; }
  #case_reform .system-ttl-01{ font-size: 1em; margin-bottom: 20px; line-height: 1.4; }
  #case_reform .system-category-set { margin-bottom: 15px; margin-top: -15px;}
  #case_reform .system-category{ margin-bottom: 1px; font-size: 0.688em; font-weight: bold; color: #fff; text-align: center; padding: 8px; background-color: #ccc;}
  #case_reform .serchcategory{ margin-bottom: 100px;}
  #case_reform .serchcategory .icon { display: inline-block; margin-bottom: 15px; font-size: 0.688em; font-weight: bold; color: #fff; text-align: center; padding: 10px 20px; }
  #case_reform .icon01{ background: #000; }
  #case_reform .icon02{ background: #111; }
  #case_reform .icon03{ background: #222; }
  #case_reform .icon04{ background: #333; }
  #case_reform .icon05{ background: #444; }
  #case_reform .icon06{ background: #555; }
  #case_reform .system-contents{ background: #eeefef; padding: 40px 20px; margin-bottom: 30px; }
  #case_reform .system-contents-inner { background: #fff; padding: 40px 20px;}
  #case_reform .system-contents .system-date{ font-size: 1em; margin-bottom: 15px; display: block; }
  #case_reform .system-contents .system-category{ margin-bottom: 20px; font-size: 0.75em; color: #fff; text-align: center; padding: 8px; width: 20%; float: left; margin-right: 2px;}
  #case_reform .system-contents .system-category-set { margin-top: 0; margin-bottom: 0;}
  #case_reform .system-contents .system-ttl{ font-size: 1.375em; font-weight: bold;  margin-bottom: 30px; padding-bottom: 25px; border-bottom: 1px #ccc solid; line-height: 1.4; }
  #case_reform .system-contents .system-i-pic{ text-align: center; margin-bottom: 40px; padding-bottom: 30px; border-bottom: 1px #ccc solid; }
  #case_reform .system-contents .system-i-pic img{ max-width: 100%; max-height: 900px; width: auto; max-height: auto; }
  #case_reform .system-gallery { background: #eeefef; padding: 30px 20px;}
  #case_reform .system-gallery h2 { text-transform: uppercase;}
  #case_reform .gallery-list{ display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; -webkit-box-lines: multiple; -moz-box-lines: multiple; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  #case_reform .gallery-list li{ width: 18.4%; position: relative; margin:0 2% 25px 0; font-size: 0.75em; line-height: 1.4; text-align: left;}
  #case_reform .gallery-list li:nth-of-type(5n) { margin-right: 0;}
  #case_reform .gallery-list li a:hover{ text-decoration: none; }
  #case_reform .gallery-list li .system-Frame{ display: block; width: 100%; height: 120px; overflow: hidden; text-align: center; margin-bottom: 8px;}
  #case_reform .gallery-list li .system-Frame::after{ content: url(../images/common/icon_plus.jpg); display: block; position: absolute; top: 90px; right: 0;}
  #case_reform .gallery-list li .system-Frame img{ width: 100%; height: 120px; }
  #case_reform .bxslider img { height: auto !important;}
  
  /* voice -------------------------------------*/
  #voice .system-list{ background: #eeefef; padding: 41px 21px 21px; margin-bottom: 50px; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; -webkit-box-lines: multiple; -moz-box-lines: multiple; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  
  #voice .system-list li{ line-height: 1.4; width: 32%; margin-right: 2%; background: #fff; position: relative; margin-bottom: 20px; padding: 20px 10px 30px;}
  #voice .system-list li:nth-child(3n){ margin-right: 0}
  #voice .system-list li a:hover{ text-decoration: none; }

  #voice .system-list .btn{ text-align: center; background: #333; color: #fff; font-size: 0.75em; position: absolute; bottom: 0; left: 0; width: 100%; padding: 2%;}
  #voice .system-list .btn::after { content: ' >';}
  #voice .system-pic{ width: 100%; height: 240px; overflow: hidden; text-align: center; margin-bottom: 15px; }
  #voice .system-pic img{ width: 100%; height: 240px; }
  #voice .system-date{ font-size: 0.75em; margin-bottom: 10px; line-height: 1.4; }
  #voice .system-date::before{ content: "■"; }
  #voice .system-name{ font-size: 0.813em; margin-bottom: 10px; line-height: 1.4; }
  #voice .system-coment{ font-size: 0.75em; margin-bottom: 5px; line-height: 1.4; }
  #voice .system-ttl-01{ font-size: 1em; margin-bottom: 20px; line-height: 1.4; }
  #voice .system-category-set { margin-bottom: 15px; margin-top: -15px;}
  #voice .system-category{ margin-bottom: 1px; font-size: 0.688em; font-weight: bold; color: #fff; text-align: center; padding: 8px; background-color: #ccc;}
  #voice .serchcategory{ margin-bottom: 100px;}
  #voice .serchcategory .icon { display: inline-block; margin-bottom: 15px; font-size: 0.688em; font-weight: bold; color: #fff; text-align: center; padding: 10px 20px; }
  #voice .icon01{ background: #000; }
  #voice .icon02{ background: #111; }
  #voice .icon03{ background: #222; }
  #voice .icon04{ background: #333; }
  #voice .icon05{ background: #444; }
  #voice .icon06{ background: #555; }
  #voice .system-contents{ background: #eeefef; padding: 40px 20px; margin-bottom: 30px; }
  #voice .system-contents-inner { background: #fff; padding: 40px 20px;}
  #voice .system-contents .system-date{ font-size: 1em; margin-bottom: 15px; display: block; }
  #voice .system-contents .system-category-set { margin-top: 0px; margin-bottom: 0;}
  #voice .system-contents .system-category{ margin-bottom: 20px; font-size: 0.75em; color: #fff; text-align: center; padding: 8px; width: 20%; float: left; margin-right: 2px;}
  #voice .system-contents .system-ttl{ font-size: 1.375em; font-weight: bold;  margin-bottom: 30px; padding-bottom: 25px; border-bottom: 1px #ccc solid; line-height: 1.4; }
  #voice .system-contents .system-i-pic{ text-align: center; margin-bottom: 20px; }
  #voice .system-contents .system-i-pic img{ max-width: 100%; max-height: 900px; width: auto; max-height: auto; }
  #voice .system-gallery { background: #eeefef; padding: 30px 20px;}
  #voice .system-gallery h2 { text-transform: uppercase;}
  #voice .gallery-list{ display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; -webkit-box-lines: multiple; -moz-box-lines: multiple; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  #voice .gallery-list li{ width: 18.4%; position: relative; margin:0 2% 25px 0; font-size: 0.75em; line-height: 1.4; text-align: left;}
  #voice .gallery-list li:nth-of-type(5n) { margin-right: 0;}
  #voice .gallery-list li a:hover{ text-decoration: none; }
  #voice .gallery-list li .system-Frame{ display: block; width: 100%; height: 120px; overflow: hidden; text-align: center; margin-bottom: 8px;}
  #voice .gallery-list li .system-Frame::after{ content: url(../images/common/icon_plus.jpg); display: block; position: absolute; top: 90px; right: 0;}
  #voice .gallery-list li .system-Frame img{ width: 100%; height: 120px; }
  
  #voice .system-list02{ background: #eeefef; padding: 41px 21px 21px; margin-bottom: 50px; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; -webkit-box-lines: multiple; -moz-box-lines: multiple; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  #voice .system-list02 li{ line-height: 1.4; width: 23.5%; margin-right: 2%; background: #fff; position: relative; margin-bottom: 20px; padding: 20px 10px 30px;}
  #voice .system-list02 li:nth-child(4n){ margin-right: 0}
  #voice .system-list02 li a:hover{ text-decoration: none; }
  #voice .system-list02 .btn{ text-align: center; background: #333; color: #fff; font-size: 0.75em; position: absolute; bottom: 0; left: 0; width: 100%; padding: 3%;}
  #voice .system-list02 .btn::after { content: ' >';}
  #voice .system-list02 .system-pic{ width: 100%; height: 180px; overflow: hidden; text-align: center; margin-bottom: 15px; }
  #voice .system-list02 .system-pic img{ width: 100%; height: 180px; }
  #voice .system-list02 .system-date{ font-size: 0.75em; margin-bottom: 10px; line-height: 1.4; }
  #voice .system-list02 .system-date::before{ content: "■"; }
  #voice .system-list02 .system-coment{ font-size: 0.75em; margin-bottom: 5px; line-height: 1.4; }
  #voice .system-list02 .system-ttl-01{ font-size: 1em; margin-bottom: 20px; line-height: 1.4; }
  
  /* real_estate -------------------------------------*/
  #real_estate .system-list{ background: #eeefef; padding: 41px 21px 21px; margin-bottom: 50px; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; -webkit-box-lines: multiple; -moz-box-lines: multiple; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  #real_estate .system-list li{ line-height: 1.4; width: 32%; margin-right: 2%; background: #fff; position: relative; margin-bottom: 20px; padding: 20px 10px 30px;}
  #real_estate .system-list li:nth-child(3n){ margin-right: 0}
  #real_estate .system-list li a:hover{ text-decoration: none; }
  #real_estate .system-list .btn{ text-align: center; background: #333; color: #fff; font-size: 0.75em; position: absolute; bottom: 0; left: 0; width: 100%; padding: 3%;}
  #real_estate .system-list .btn::after { content: ' >';}
  #real_estate .system-pic{ width: 100%; height: 220px; overflow: hidden; text-align: center; margin-bottom: 15px; }
  #real_estate .system-pic img{ max-width: 100%; max-height: 220px; width: auto; height: auto; }
  #real_estate .system-date{ font-size: 0.75em; margin-bottom: 10px; line-height: 1.4; }
  #real_estate .system-date::before{ content: "■"; }
  #real_estate .system-name{ font-size: 0.813em; margin-bottom: 10px; line-height: 1.4; }
  #real_estate .system-coment{ font-size: 1em; margin-bottom: 15px; line-height: 1.4; }
  #real_estate .system-coment span { font-size: 1.25em; font-weight: bold;}
  #real_estate .system-ttl-01{ font-size: 0.813em; margin-bottom: 15px; line-height: 1.4; }
  #real_estate .system-category-set { margin-bottom: 15px; margin-top: -15px;}
  #real_estate .system-category{ margin-bottom: 1px; font-size: 0.688em; font-weight: bold; color: #fff; text-align: center; padding: 8px; background-color: #ccc;}
  #real_estate .serchcategory{ margin-bottom: 100px;}
  #real_estate .serchcategory .icon { display: inline-block; margin-bottom: 15px; font-size: 0.688em; font-weight: bold; color: #fff; text-align: center; padding: 10px 20px; }
  #real_estate .icon01{ background: #000; }
  #real_estate .icon02{ background: #111; }
  #real_estate .icon03{ background: #222; }
  #real_estate .icon04{ background: #333; }
  #real_estate .icon05{ background: #444; }
  #real_estate .icon06{ background: #555; }
  #real_estate .system-icon02 span { display: block; padding: 8px; background: #ccc; font-size: 0.8rem; margin-bottom: 5%; }
  #real_estate .system-icon02 span.icon02-01 { background: #999; }
  #real_estate .system-icon02 span.icon02-02 { background: #ccc; }
  #real_estate .system-icon02 span.icon02-03 { background: #eee; }
  #real_estate .system-contents{ background: #eeefef; padding: 40px 20px; margin-bottom: 30px; }
  #real_estate .system-contents .system-category-set{margin-top: 0; margin-bottom: 0;}
  #real_estate .system-contents-inner { background: #fff; padding: 40px 20px}
  #real_estate .system-contents .system-date{ font-size: 0.75em; line-height: 1.4; text-align: right;}
  #real_estate .system-contents .system-date::before{ content: none; }
  #real_estate .system-contents .titleArea{ margin-bottom: 30px; padding-bottom: 25px; border-bottom: 1px #ccc solid;}
  #real_estate .system-contents .system-category{ margin-bottom: 20px; font-size: 0.75em; color: #fff; text-align: center; padding: 8px; width: 20%; float: left; margin-right: 2px;}
  #real_estate .system-contents .system-ttl{ font-size: 1.375em; font-weight: bold; margin-bottom: 10px; line-height: 1.4;}
  #real_estate .system-contents .system-txt{ font-size: 0.813em; margin-bottom: 25px; line-height: 1.4; }
  #real_estate .system-contents .system-price{ font-size: 1em; line-height: 1.4; }
  #real_estate .system-contents .system-price span{ font-size: 1.75em; font-weight: bold; line-height: 1.4; }
  #real_estate .system-contents .system-icon02 { width: 20%;}
  #real_estate .system-contents .system-i-pic{ text-align: center; margin-bottom: 20px; }
  #real_estate .system-contents .system-i-pic img{ max-width: 100%; max-height: 900px; width: auto; height: auto; }
  #real_estate .system-gallery { background: #eeefef; padding: 30px 20px;}
  #real_estate .system-gallery h2 { text-transform: uppercase;}
  #real_estate .gallery-list{ display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; -webkit-box-lines: multiple; -moz-box-lines: multiple; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  #real_estate .gallery-list li{ width: 18.4%; position: relative; margin:0 2% 25px 0; font-size: 0.75em; line-height: 1.4;}
  #real_estate .gallery-list li:nth-of-type(5n) { margin-right: 0;}
  #real_estate .gallery-list li a:hover{ text-decoration: none; }
  #real_estate .gallery-list li .system-Frame{ display: block; width: 100%; height: 120px; overflow: hidden; text-align: center; margin-bottom: 8px;}
  #real_estate .gallery-list li .system-Frame::after{ content: url(../images/common/icon_plus.jpg); display: block; position: absolute; top: 90px; right: 0;}
  #real_estate .gallery-list li .system-Frame img{ width: 100%; height: 120px; }
  #real_estate table.system-details { border: 1px solid #dcdddd; margin-bottom: 50px; font-size: 0.875em; line-height: 1.6; width: 100%;}
  #real_estate table.system-details th { border: 1px solid #dcdddd; text-align: left; background-color: #eeefef; padding: 20px; vertical-align: top;}
  #real_estate table.system-details td { border: 1px solid #dcdddd; text-align: left; padding: 20px; vertical-align: top;}
  #real_estate table.system-details td img { max-width: 100%; height: auto;}
  #real_estate .system-contents #googlemaps{ height: 500px; border: 1px solid #dcdddd;}
  
  #real_estate .estate-list { display: flex; flex-wrap: wrap; font-size: 14px; line-height: 1.6;}
  #real_estate .estate-list li{ flex-basis:50%; display: flex; border: #ccc 1px solid; margin-bottom: -1px; }
  #real_estate .estate-list li .estate-list-ttl{ flex-basis:33%; padding: 5%; background: #f8f8f8; }
  #real_estate .estate-list li p{ flex-basis:67%;  padding: 5%; background: #fff;}
  #real_estate .estate-list li:nth-of-type(2n) { margin-left: -1px;}

  
  /* blog -------------------------------------*/
  /*patern1*/
  #blog .mainContents .system-list{ background: #eeefef; padding: 41px 21px; margin-bottom: 50px; }
  #blog .mainContents .system-list-inner{ background: #fff; padding: 40px 20px;}
  #blog .mainContents .system-list li{ overflow: hidden; line-height: 1.4; margin-bottom: 20px; border-bottom: 1px dotted #b2b2b2; padding: 0 0 20px;}
  #blog .mainContents .system-list li a:hover{ text-decoration: none; }
  #blog .mainContents .system-list .system-date{ width: 20%; float: left; font-size: 0.938em; line-height: 1.4; }
  #blog .mainContents .system-list .system-date::before{ content: "■"; }
  #blog .mainContents .system-list .system-ttl-01{ width: 78%; float: right; font-size: 0.938em; line-height: 1.6; }
  #blog .mainContents .system-list .system-category-set { width: 78%; float: right; margin-bottom: 15px;}
  #blog .mainContents .system-list .system-category{ width: 20%; margin-right: 1px; font-size: 0.625em; font-weight: bold; color: #fff; text-align: center; padding: 4px; float: left; background: #ccc;}
  /*patern2*/
  #blog .mainContents .system-list2{ background: #eeefef; padding: 41px 21px; margin-bottom: 50px; }
  #blog .mainContents .system-list-inner2{ background: #fff; padding: 40px 20px;}
  #blog .mainContents .system-list2 li{ overflow: hidden; line-height: 1.4; margin-bottom: 20px; border-bottom: 1px dotted #b2b2b2; padding: 0 0 20px;}
  #blog .mainContents .system-list2 li a:hover{ text-decoration: none; }
  #blog .mainContents .system-list2 .system-pic{ width: 20%; float: left; }
  #blog .mainContents .system-list2 .system-pic img{ max-width: 100%; height: auto; }
  #blog .mainContents .system-list2 .system-date{ width: 78%; margin-bottom: 10px; float: right; font-size: 0.938em; line-height: 1.4; }
  #blog .mainContents .system-list2 .system-date::before{ content: "■"; }
  #blog .mainContents .system-list2 .system-ttl-01{ width: 78%; float: right; font-size: 0.938em; line-height: 1.6; margin-bottom: 10px; }
  #blog .mainContents .system-list2 .system-category-set { width: 78%; float: right; margin-bottom: 15px;}
  #blog .mainContents .system-list2 .system-category{ width: 20%; margin-right: 1px; font-size: 0.625em; font-weight: bold; color: #fff; text-align: center; padding: 4px; float: left; background: #ccc;}
  #blog .mainContents .system-list2 .system-contributor { width: 78%; float: right; color: #bbb; font-size: 0.75em; text-align: right;}
  /**/
  #blog .mainContents .blog-icon01{ background: #000 !important; }
  #blog .mainContents .blog-icon02{ background: #111 !important; }
  #blog .mainContents .blog-icon03{ background: #222 !important; }
  #blog .mainContents .blog-icon04{ background: #333 !important; }
  #blog .mainContents .blog-icon05{ background: #444 !important; }
  #blog .mainContents .blog-icon06{ background: #555 !important; }
  #blog .mainContents .system-contents{ background: #eeefef; padding: 40px 20px; margin-bottom: 30px; }
  #blog .mainContents .system-contents-inner { background: #fff; padding: 40px 20px;}
  #blog .mainContents .system-contents .system-date{ font-size: 1em; margin-bottom: 15px; display: block; }
  #blog .mainContents .system-contents .system-date::before{ content: "■"; }
  #blog .mainContents .system-contents .system-category-set { width: 100%; margin-bottom: 20px;}
  #blog .mainContents .system-contents .system-category{ font-size: 0.75em; font-weight: bold; color: #fff; text-align: center; padding: 8px; width: 20%; float: right; margin-right: 2px; background: #ccc;}
  #blog .mainContents .system-contents .system-ttl{ font-size: 1.375em; font-weight: bold; margin-bottom: 30px; padding-bottom: 25px; border-bottom: 1px #ccc solid; line-height: 1.4; }
  #blog .mainContents .system-contents .footInfo { margin-top: 50px; padding-top: 20px; border-top: 1px dotted #ccc;}
  #blog .mainContents .system-contents .system-contributor { font-size: 0.875em; margin-bottom: 15px; text-align: right;}
  
  /*blogサイドバー*/
  aside.sidebar .aside-blog-ttl { border-bottom: 1px solid #ccc; padding-bottom: 10px; margin-bottom: 20px; text-align: center;}
  aside.sidebar .aside-blog-ttl span.en { font-size: 0.75em; display: block; margin-bottom: 10px; letter-spacing: 1px; color: #ccc;}
  aside.sidebar .aside-blog-ttl span.jp { font-size: 0.938em; font-weight: bold; }
  aside.sidebar .list-block { margin: 20px 0 40px;}
  aside.sidebar a { line-height: 1.4; font-size: 0.875rem; border-bottom: 1px dotted #ddd; padding-bottom: 15px; margin-bottom: 15px !important;}
  
  /* topics -------------------------------------*/
  #topics .system-list{ background: #eeefef; padding: 41px 21px 21px; margin-bottom: 50px; }
  #topics .system-list-inner{ background: #fff; padding: 40px 20px;}
  #topics .system-list li{ overflow: hidden; line-height: 1.4; margin-bottom: 20px; border-bottom: 1px dotted #b2b2b2; padding: 0 0 20px;}
  #topics .system-list li a:hover{ text-decoration: none; }
  #topics .system-list .system-date{ width: 20%; float: left; font-size: 0.938em; line-height: 1.4; }
  #topics .system-date::before{ content: "■"; }
  #topics .system-list .system-ttl-01{ width: 78%; float: right; font-size: 0.938em; line-height: 1.6; }
  #topics .system-list .system-category-set { width: 78%; float: right; margin-bottom: 15px;}
  #topics .system-list .system-category{ width: 20%; margin-right: 1px; font-size: 0.688em; font-weight: bold; color: #fff; text-align: center; padding: 5px; float: left; background: #ccc;}
  #topics .icon01{ background: #000 !important; }
  #topics .icon02{ background: #111 !important; }
  #topics .icon03{ background: #222 !important; }
  #topics .icon04{ background: #333 !important; }
  #topics .icon05{ background: #444 !important; }
  #topics .icon06{ background: #555 !important; }
  #topics .system-contents{ background: #eeefef; padding: 40px 20px; margin-bottom: 30px; }
  #topics .system-contents-inner { background: #fff; padding: 40px 20px;}
  #topics .system-contents .system-date{ font-size: 1em; margin-bottom: 15px; display: block; }
  #topics .system-contents .system-category-set { width: 100%; margin-bottom: 20px;}
  #topics .system-contents .system-category{ font-size: 0.75em; font-weight: bold; color: #fff; text-align: center; padding: 8px; width: 20%; float: left; margin-right: 2px; background: #ccc;}
  #topics .system-contents .system-ttl{ font-size: 1.375em; font-weight: bold; margin-bottom: 30px; padding-bottom: 25px; border-bottom: 1px #ccc solid; line-height: 1.4; }
  
  /* staff -------------------------------------*/
  #staff .system-list{ background: #eeefef; padding: 41px 21px 21px; margin-bottom: 50px; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; -webkit-box-lines: multiple; -moz-box-lines: multiple; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  #staff .system-list li{ line-height: 1.4; width: 23.5%; margin-right: 2%; background: #fff; position: relative; margin-bottom: 20px; padding: 20px 10px 30px;}
  #staff .system-list li:nth-child(4n){ margin-right: 0}
  #staff .system-list li a:hover{ text-decoration: none; }
  #staff .system-list .btn{ text-align: center; background: #333; color: #fff; font-size: 0.75em; position: absolute; bottom: 0; left: 0; width: 100%; padding: 3%;}
  #staff .system-list .btn::after { content: ' >';}
  #staff .system-pic{ width: 100%; height: 260px; margin-bottom: 10px; overflow: hidden; text-align: center; margin-bottom: 15px; }
  #staff .system-pic img{ width: 100%; height: 260px; }
  #staff .system-name{ font-size: 1em; font-weight: bold; margin-bottom: 10px; line-height: 1.4; }
  #staff .system-kana{ font-size: 0.75em; margin-bottom: 15px; line-height: 1.4; }
  #staff .system-job{ font-size: 0.813em; margin-bottom: 20px; line-height: 1.4; }
  #staff .system-contents{ background: #eeefef; padding: 40px 20px; margin-bottom: 30px; }
  #staff .system-contents-inner { background: #fff; padding: 40px 20px;}
  #staff .system-info { width: 56%; float: right; margin: 50px 0 0;}
  #staff .system-contents .system-name{ font-size: 1.75em; font-weight: bold; line-height: 1.4; }
  #staff .system-contents .system-kana{ font-size: 0.813em; margin-bottom: 15px; line-height: 1.4; }
  #staff .system-contents .system-job{ font-size: 1em; margin-bottom: 30px; line-height: 1.4; border-bottom: 1px solid #ccc; padding-bottom: 30px;}
  #staff .system-contents .system-comment{ font-size: 0.875em; margin-bottom: 20px; line-height: 1.6; }
  #staff .system-contents .system-i-pic{ width: 40%; float: left; text-align: center; margin-bottom: 20px;}
  #staff .system-contents .system-i-pic img{ max-width: 100%; max-height: 900px; width: auto; max-height: auto; }
  #staff .system-gallery { background: #eeefef; padding: 30px 20px;}
  #staff .system-gallery h2 { text-transform: uppercase;}
  #staff .gallery-list{ display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; -webkit-box-lines: multiple; -moz-box-lines: multiple; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  #staff .gallery-list li{ width: 18.4%; position: relative; margin:0 2% 25px 0; font-size: 0.75em; line-height: 1.4; text-align: left;}
  #staff .gallery-list li:nth-of-type(5n) { margin-right: 0;}
  #staff .gallery-list li a:hover{ text-decoration: none; }
  #staff .gallery-list li .system-Frame{ display: block; width: 100%; height: 120px; overflow: hidden; text-align: center; margin-bottom: 8px;}
  #staff .gallery-list li .system-Frame::after{ content: url(../images/common/icon_plus.jpg); display: block; position: absolute; top: 90px; right: 0;}
  #staff .gallery-list li .system-Frame img{ width: 100%; height: 120px; }
  
  .priv-title{ text-align: center; margin-bottom: 20px; }
  .priv-text{ padding: 20px; overflow-y:scroll; height: 250px; border:#ccc solid 1px; margin-bottom: 30px; background: #eff0f2; }
  .priv-text .priv-ttl{ margin-bottom: 10px; font-size: 16px; font-weight: bold; }
  .priv-text p{ margin-bottom: 20px; font-size: 13px; margin-bottom: 20px; padding-bottom: 20px; border-bottom: #ccc solid 1px; }
  .priv{ text-align: center; margin-bottom: 30px; }
  .priv-text .tt{ margin-bottom: 10px;  font-size: 20px; color: #333; font-weight: bold; }


  /* form -------------------------------------*/
  .form-Box{ background: #eeefef; padding: 40px 20px; margin-bottom: 30px; line-height: 1.6;}
  .form-Box .form-Box-inner{ background: #fff; padding: 20px 20px 40px;}
  .form-Box .form-list { font-size: 0.875em; margin-bottom: 30px;}
  .form-Box .error { margin-bottom: 1em;}
  .form-Box .attention-color { color: #f00;}
  .form-Box .form-list li { padding-left: 1em; text-indent: -1em; margin-bottom: 3px; }
  .form-Box table { border: 1px solid #dcdddd; margin-bottom: 50px; font-size: 0.875em; line-height: 1.6;}
  .form-Box th { border: 1px solid #dcdddd; text-align: left; width: 30%; background-color: #eeefef; padding: 20px; vertical-align: top;}
  .form-Box td { border: 1px solid #dcdddd; text-align: left; width: 70%; padding: 20px; vertical-align: top; }
  .form-Box td img { max-width: 100%; height: auto;}
  .form-Box .from-btn-01 { text-align: center; }
  .form-Box .from-btn-02 { margin-top: 24px; width: 680px; margin-left: auto; margin-right: auto; text-align: center; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; -webkit-justify-content: space-between; justify-content: space-between; }
  .form-Box .button { border: 0; padding: 0; margin: 0}
  .form-Box .button:hover { cursor: pointer; cursor: hand; opacity: 0.8;}
  .form-Box input[type="text"],
  .form-Box input[type="email"],
  .form-Box input[type="tel"],
  .form-Box input[type="date"],
  .form-Box select,
  .form-Box textarea { font-size: 0.875rem; padding: 1%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;}
  .form-Box textarea {width: 100%; min-height: 120px;}
  }

@media screen and (max-width: 767px) {

/* system-common */
.page-list { font-size: 1.2rem; margin: 10% 0 20%;  text-align: center; font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "游ゴシック","Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro",  Verdana, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif; }
.page-list li{ background: #eeefef; display: inline-block; border: #dcdddd 1px solid; }
.page-list li.active { background: #231815; color: #fff; }
.page-list li.active a { color: #fff; }
.page-list a { padding: 12px; display: inline-block; }
.pagen{ width: 98%; margin: 0 auto 10% auto; font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "游ゴシック","Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro",  Verdana, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif; }
.pagen:nth-of-type(1)  {margin-bottom: 5%;}

.page-navi { font-size: 1.4rem; }
.page-navi li { display: inline-block;  }
.page-navi li.active { background: #ccc; }
.page-navi a { padding: 8px; display: inline-block; }
.page-navi .fast { margin-right: 0px; }
.page-navi .last { }
.page-navi .fast::after {  content: "|";  display: inline-block;  margin: 0 5px; }
.pagen .list{ float: right; }
.pagen .list a{ margin: 0 auto; color: #fff; font-size: 1.4rem; padding: 7px 30px; text-align: center; display: inline-block; background: #000; }
.pagen .list a:hover{ background: #666; text-decoration: none; }
.btnArea { text-align: center; margin: 10% auto; padding: 0; }
.btnArea a{ font-weight: bold; margin: 0 auto; color: #fff; padding: 20px 50px; font-size: 1.2rem; text-align: center; display: block; background: #000; letter-spacing: 1px;}
.btnArea-s { text-align: center;}
.btnArea-s a{ font-weight: bold; margin: 0 auto; color: #fff; padding: 3% 10%; font-size: 1.2rem; text-align: center; display: inline-block; background: #000; letter-spacing: 1px;}
.btnArea-s::after{  content: ''; display: block; margin-bottom: 10%;}
.borderwrap{ width: 94%; margin: 0 auto 10%; line-height: 1.6;}
.borderwrap h3{ font-size: 1.2rem; font-weight: bold;  margin-bottom: 5%; padding-bottom: 5%; border-bottom: 1px #ccc solid; }
.borderwrap p{ font-size: 0.875em;}

/* event -------------------------------------*/
#event .system-list{ background: #eeefef; padding: 4% 2%; margin-bottom: 10%; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; -webkit-box-lines: multiple; -moz-box-lines: multiple; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
#event .system-list li{ position: relative; line-height: 1.4; width: 49%; margin-right: 2%; background: #fff; position: relative; margin-bottom: 20px; padding: 2% 2% 14%;}
#event .system-list li:nth-child(2n){ margin-right: 0}
#event .system-list li a:hover{ text-decoration: none; }
#event .system-list .btn{ text-align: center; background: #333; color: #fff; font-size: 1.2rem; position: absolute; bottom: 0; left: 0; width: 100%; padding:4% 3%;}
#event .system-list .btn::after { content: ' >';}
#event .system-pic{ width: 100%; height: 120px; overflow: hidden; text-align: center; margin-bottom: 8%; }
#event .system-pic img{ max-width: 100%; max-height: 120px; width: auto; height: auto; }
#event .system-date{ font-size: 1.2rem; margin-bottom: 5%; line-height: 1.6;}
#event .system-date::before{ content: "■"; }
#event .system-information { border-bottom: 1px solid #eee; padding-bottom: 0%; margin-bottom: 8%;}
#event .system-txt{ font-size:  1.4rem; margin-bottom: 8%; line-height: 1.6; }

#event .system-coment{ font-size: 1.2rem; margin-bottom: 5%; line-height: 1.6; }
#event .system-ttl-01{ font-size: 1.4rem; font-weight: bold; line-height: 1.6; border-bottom: 1px solid #eee; padding-bottom: 6%; margin-bottom: 7%; }
#event .system-category{ font-size: 1.2rem; font-weight: bold; color: #fff; text-align: center; padding: 8px; background-color: #ccc;}
#event .serchcategory{ margin: 0 3% 10%;}
#event .serchcategory .icon { display: inline-block;margin-right: 1%;margin-bottom: 3%;font-size: 1.2rem;color: #fff;text-align: center;padding: 4.5% 3%; }
#event .icon01{ background: #000; }
#event .icon02{ background: #111; }
#event .icon03{ background: #222; }
#event .icon04{ background: #333; }
#event .icon05{ background: #444; }
#event .icon06{ background: #555; }

#event .system-icon02 span { display: block; padding: 4%; background: #ccc; font-size: 1.2rem; margin-bottom: 5%; margin-top: -5%;}
#event .system-contents  .system-icon02 span { display: block; padding: 4%; background: #ccc; font-size: 1.4rem; margin-bottom: 5%; font-weight: 700; }

#event .system-icon02 span.icon02-01 { background: #999; }
#event .system-icon02 span.icon02-02 { background: #ccc; }
#event .system-icon02 span.icon02-03 { background: #eee; }
#event .system-contents{ background: #eeefef; padding: 4% 2%; margin-bottom: 30px; }
#event .system-contents .system-txt{margin-bottom: 3%; }
#event .system-contents-inner { background: #fff; padding: 5% 3%;}
#event .system-contents .system-date{ font-size: 1.2rem; line-height: 1.4; text-align: right;}
#event .system-contents .system-date::before{ content: none; }
#event .system-contents .titleArea{ margin-bottom: 9%; padding-bottom: 3%; border-bottom: 1px #ccc solid;}
#event .system-contents .system-category{ margin-bottom: 1px; font-size: 1.2rem; color: #fff; text-align: center; padding: 4% 2%; width: 100%;}
#event .system-contents .system-category-set { margin-bottom: 5%;}
#event .system-contents .system-ttl{ font-size: 1.6rem; font-weight: bold; margin-bottom: 5%; line-height: 1.6;}
#event .system-contents .system-icon02 { width: 100%;}
#event .system-contents .system-i-pic{ text-align: center; margin-bottom: 20px; }
#event .system-contents .system-i-pic img{ max-width: 100%; height: auto; }
#event .system-contents #googlemaps{ height: 300px; border: 1px solid #dcdddd;}
#event .system-gallery { background: #eeefef; padding: 30px 20px;}
#event .system-gallery h2 { text-transform: uppercase;}
#event .gallery-list{ display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; -webkit-box-lines: multiple; -moz-box-lines: multiple; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
#event .gallery-list li{ width: 18.4%; position: relative; margin:0 2% 25px 0; font-size: 0.75em; line-height: 1.4;}
#event .gallery-list li:nth-of-type(5n) { margin-right: 0;}
#event .gallery-list li a:hover{ text-decoration: none; }
#event .gallery-list li .system-Frame{ display: block; width: 100%; height: 120px; overflow: hidden; text-align: center; margin-bottom: 5%;}
#event .gallery-list li .system-Frame::after{ content: url(../images/common/icon_plus.jpg); display: block; position: absolute; top: 90px; right: 0;}
#event .gallery-list li .system-Frame img{ width: 100%; height: 120px; }
#event .sp-system-txt-in{display: inline-block; font-size: 1.2rem;}

/* case_newly -------------------------------------*/
#case_newly .system-list{ background: #eeefef; padding: 4% 2%; margin-bottom: 10%; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; -webkit-box-lines: multiple; -moz-box-lines: multiple; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
#case_newly .system-list li{ position: relative; line-height: 1.4; width: 49%; margin-right: 2%; background: #fff; position: relative; margin-bottom: 5%; padding: 2% 2% 14%;}
#case_newly .system-list li:nth-child(2n){ margin-right: 0}
#case_newly .system-list li a:hover{ text-decoration: none; }
#case_newly .system-list .btn{ text-align: center; background: #333; color: #fff; font-size: 1.2rem; position: absolute; bottom: 0; left: 0; width: 100%; padding:4% 3%;}
#case_newly .system-list .btn::after { content: ' >';}
#case_newly .system-pic{ width: 100%; height: 120px; overflow: hidden; text-align: center; margin-bottom: 8%; }
#case_newly .system-pic img{ width: 100%; height: 120px; }
#case_newly .system-date{ font-size: 1.2rem; margin-bottom: 5%; }
#case_newly .system-date::before{ content: "■"; }
#case_newly .system-ttl-01{ font-size: 1.4rem; margin-bottom: 5%; line-height: 1.6; }
#case_newly .system-category-set { margin-bottom: 8%;margin-top: -8%;}
#case_newly .system-category{ margin-bottom: 1px; font-size: 1.2rem; font-weight: bold; color: #fff; text-align: center; padding: 8px; background-color: #ccc;}
#case_newly .serchcategory{ margin: 0 3% 10%;}
#case_newly .serchcategory .icon { display: inline-block;margin-right: 1%;margin-bottom: 3%;font-size: 1.2rem;color: #fff;text-align: center;padding: 4.5% 3%; }
#case_newly .icon01{ background: #000; }
#case_newly .icon02{ background: #111; }
#case_newly .icon03{ background: #222; }
#case_newly .icon04{ background: #333; }
#case_newly .icon05{ background: #444; }
#case_newly .icon06{ background: #555; }
#case_newly .system-coment{ margin-bottom: 5%; }
#case_newly .system-contents .system-category-set{margin-top: 0;}
#case_newly .system-contents{ background: #eeefef; padding: 4% 2%; margin-bottom: 10%; }
#case_newly .system-contents-inner { background: #fff; padding: 5% 3%;}
#case_newly .system-contents .system-date{ font-size: 1.2rem; margin-bottom: 5%; display: block; line-height: 1.4;}
#case_newly .system-contents .system-category{ margin-bottom: 1px; font-size: 1.2rem; color: #fff; text-align: center; padding: 4% 3%; width: 100%;}
#case_newly .system-contents .system-category-set { margin-bottom: 5%; margin-top: 0;}
#case_newly .system-contents .system-ttl{ font-size: 1.6rem; font-weight: bold;  margin-bottom: 8%; padding-bottom: 8%; border-bottom: 1px #ccc solid; line-height: 1.6; }
#case_newly .system-contents .system-i-pic{ text-align: center; margin-bottom: 8%; }
#case_newly .system-contents .system-i-pic img{ max-width: 100%; }
#case_newly .system-gallery { background: #eeefef; padding: 5% 3%;}
#case_newly .system-gallery h2 { text-transform: uppercase; }
#case_newly .gallery-list{ display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; -webkit-box-lines: multiple; -moz-box-lines: multiple; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
#case_newly .gallery-list li{ width: 32%; position: relative; margin:0 2% 6% 0; font-size: 1.2rem; line-height: 1.4;}
#case_newly .gallery-list li:nth-of-type(3n) { margin-right: 0;}
#case_newly .gallery-list li a:hover{ text-decoration: none; }
#case_newly .gallery-list li .system-Frame{ display: block; width: 100%; height: 90px; overflow: hidden; text-align: center; margin-bottom: 5%;}
#case_newly .gallery-list li .system-Frame::after{ content: none;}
#case_newly .gallery-list li .system-Frame img{ width: 100%; height: 90px; }

/* case_reform -------------------------------------*/
#case_reform .system-list{ background: #eeefef; padding: 4% 2%; margin-bottom: 10%; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; -webkit-box-lines: multiple; -moz-box-lines: multiple; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
#case_reform .system-list li{ position: relative; line-height: 1.4; width: 49%; margin-right: 2%; background: #fff; position: relative; margin-bottom: 5%; padding: 2% 2% 14%;}
#case_reform .system-list li:nth-child(2n){ margin-right: 0}
#case_reform .system-list li a:hover{ text-decoration: none; }
#case_reform .system-list .btn{ text-align: center; background: #333; color: #fff; font-size: 1.2rem; position: absolute; bottom: 0; left: 0; width: 100%; padding:4% 3%;}
#case_reform .system-list .btn::after { content: ' >';}
#case_reform .system-pic{ width: 100%; height: 120px; overflow: hidden; text-align: center; margin-bottom: 8%; }
#case_reform .system-pic img{ width: 100%; height: 120px; }
#case_reform .system-date{ font-size: 1.2rem; margin-bottom: 5%; }
#case_reform .system-date::before{ content: "■"; }
#case_reform .system-ttl-01{ font-size: 1.4rem; margin-bottom: 5%; line-height: 1.6;}
#case_reform .system-category-set { margin-bottom: 8%;margin-top: -8%;}
#case_reform .system-category{ margin-bottom: 1px; font-size: 1.2rem; font-weight: bold; color: #fff; text-align: center; padding: 8px; background-color: #ccc;}
#case_reform .serchcategory{ margin: 0 3% 10%;}
#case_reform .serchcategory .icon { display: inline-block;margin-right: 1%;margin-bottom: 3%;font-size: 1.2rem;color: #fff;text-align: center;padding: 4.5% 3%; }
#case_reform .icon01{ background: #000; }
#case_reform .icon02{ background: #111; }
#case_reform .icon03{ background: #222; }
#case_reform .icon04{ background: #333; }
#case_reform .icon05{ background: #444; }
#case_reform .icon06{ background: #555; }
#case_reform .system-coment{ margin-bottom: 5%; }
#case_reform .system-contents{ background: #eeefef; padding: 4% 2%; margin-bottom: 10%; }
#case_reform .system-contents-inner { background: #fff; padding: 5% 3%;}
#case_reform .system-contents .system-date{ font-size: 1.2rem; margin-bottom: 5%; display: block; line-height: 1.4;}
#case_reform .system-contents .system-category{ margin-bottom: 1px; font-size: 1.2rem; color: #fff; text-align: center; padding: 4% 3%; width: 100%;}
#case_reform .system-contents .system-category-set { margin-bottom: 5%; margin-top: 0;}
#case_reform .system-contents .system-ttl{ font-size: 1.6rem; font-weight: bold;  margin-bottom: 8%; padding-bottom: 8%; border-bottom: 1px #ccc solid; line-height: 1.6; }
#case_reform .system-contents .system-i-pic{ text-align: center; margin-bottom: 8%; padding-bottom: 8%; border-bottom: 1px #ccc solid; }
#case_reform .system-contents .system-i-pic img{ max-width: 100%; }
#case_reform .system-gallery { background: #eeefef; padding: 5% 3%;}
#case_reform .system-gallery h2 { text-transform: uppercase; }
#case_reform .gallery-list{ display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; -webkit-box-lines: multiple; -moz-box-lines: multiple; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
#case_reform .gallery-list li{ width: 32%; position: relative; margin:0 2% 6% 0; font-size: 1.2rem; line-height: 1.4;}
#case_reform .gallery-list li:nth-of-type(3n) { margin-right: 0;}
#case_reform .gallery-list li a:hover{ text-decoration: none; }
#case_reform .gallery-list li .system-Frame{ display: block; width: 100%; height: 90px; overflow: hidden; text-align: center; margin-bottom: 5%;}
#case_reform .gallery-list li .system-Frame::after{ content: none;}
#case_reform .gallery-list li .system-Frame img{ width: 100%; height: 90px; }
#case_reform .BAslide .Before { float: none; width: 100%; border-bottom: 1px #ccc solid; padding-bottom: 3%;}
#case_reform .BAslide .After { float: none; width: 100%; border-bottom: 1px #ccc solid; padding-bottom: 3%; }
#case_reform .arrow { border: 20px solid transparent; border-left-color: #ccc; border-right-width: 0; width: 0; display: block; margin: 3% auto; position: static !important; transform: rotate(90deg);}
#case_reform .BAslide .bxslider img { margin: 0 auto; max-height: 200px; width: auto; height: auto; }
#case_reform .BAslide #bx-pager a,
#case_reform .BAslide #bx-pager02 a { text-align: center; padding: 3px; display: inline-block; border: 1px solid #ccc; margin-bottom: 5px; min-width: 50px; }
#case_reform .BAslide #bx-pager img,
#case_reform .BAslide #bx-pager02 img { max-height: 40px; vertical-align: bottom; }

/* voice -------------------------------------*/
#voice .system-list{ background: #eeefef; padding: 4% 2%; margin-bottom: 10%; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; -webkit-box-lines: multiple; -moz-box-lines: multiple; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
#voice .system-list li{ position: relative; line-height: 1.4; width: 49%; margin-right: 2%; background: #fff; position: relative; margin-bottom: 5%; padding: 2% 2% 14%;}
#voice .system-list li:nth-child(2n){ margin-right: 0}
#voice .system-list li a:hover{ text-decoration: none; }
#voice .system-list .btn{ text-align: center; background: #333; color: #fff; font-size: 1.2rem; position: absolute; bottom: 0; left: 0; width: 100%; padding:4% 3%;}
#voice .system-list .btn::after { content: ' >';}

#voice .system-list02{ background: #eeefef; padding: 4% 2%; margin-bottom: 10%; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; -webkit-box-lines: multiple; -moz-box-lines: multiple; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
#voice .system-list02 li{ position: relative; line-height: 1.4; width: 49%; margin-right: 2%; background: #fff; position: relative; margin-bottom: 5%; padding: 2% 2% 14%;}
#voice .system-list02 li:nth-child(2n){ margin-right: 0}
#voice .system-list02 li a:hover{ text-decoration: none; }
#voice .system-list02 .btn{ text-align: center; background: #333; color: #fff; font-size: 1.2rem; position: absolute; bottom: 0; left: 0; width: 100%; padding: 3%;}
#voice .system-list02 .btn::after { content: ' >';}

#voice .system-pic{ width: 100%; height: 120px; overflow: hidden; text-align: center; margin-bottom: 8%; }
#voice .system-pic img{ width: 100%; height: 120px; }
#voice .system-date{ font-size: 1.2rem; margin-bottom: 5%; }
#voice .system-date::before{ content: "■"; }
#voice .system-name{ font-size: 1.2rem; margin-bottom: 5%; }
#voice .system-ttl-01{ font-size: 1.4rem; margin-bottom: 5%; line-height: 1.6; }
#voice .system-category-set { margin-bottom: 8%;margin-top: -8%;}
#voice .system-category{ margin-bottom: 1px; font-size: 1.2rem; font-weight: bold; color: #fff; text-align: center; padding: 8px; background-color: #ccc;}
#voice .serchcategory{ margin: 0 3% 10%;}
#voice .serchcategory .icon { display: inline-block;margin-right: 1%;margin-bottom: 3%;font-size: 1.2rem;color: #fff;text-align: center;padding: 4.5% 3%; }
#voice .icon01{ background: #000; }
#voice .icon02{ background: #111; }
#voice .icon03{ background: #222; }
#voice .icon04{ background: #333; }
#voice .icon05{ background: #444; }
#voice .icon06{ background: #555; }
#voice .system-coment{ margin-bottom: 5%; }
#voice .system-contents{ background: #eeefef; padding: 4% 2%; margin-bottom: 10%; }
#voice .system-contents-inner { background: #fff; padding: 5% 3%;}
#voice .system-contents .system-date{ font-size: 1.2rem; margin-bottom: 5%; display: block; line-height: 1.4;}
#voice .system-contents .system-category{ margin-bottom: 1px; font-size: 1.2rem; color: #fff; text-align: center; padding: 4% 3%; width: 100%;}
#voice .system-contents .system-category-set { margin-bottom: 5%; margin-top: 0;}
#voice .system-contents .system-ttl{ font-size: 1.6rem; font-weight: bold;  margin-bottom: 8%; padding-bottom: 8%; border-bottom: 1px #ccc solid; line-height: 1.6; }
#voice .system-contents .system-i-pic{ text-align: center; margin-bottom: 8%; }
#voice .system-contents .system-i-pic img{ max-width: 100%; }
#voice .system-gallery { background: #eeefef; padding: 5% 3%;}
#voice .system-gallery h2 { text-transform: uppercase; }
#voice .gallery-list{ display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; -webkit-box-lines: multiple; -moz-box-lines: multiple; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
#voice .gallery-list li{ width: 32%; position: relative; margin:0 2% 6% 0; font-size: 1.2rem; line-height: 1.4;}
#voice .gallery-list li:nth-of-type(3n) { margin-right: 0;}
#voice .gallery-list li a:hover{ text-decoration: none; }
#voice .gallery-list li .system-Frame{ display: block; width: 100%; height: 90px; overflow: hidden; text-align: center; margin-bottom: 5%;}
#voice .gallery-list li .system-Frame::after{ content: none;}
#voice .gallery-list li .system-Frame img{ width: 100%; height: 90px; }

/* real_estate -------------------------------------*/
#real_estate .system-list{ background: #eeefef; padding: 4% 2%; margin-bottom: 10%; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; -webkit-box-lines: multiple; -moz-box-lines: multiple; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
#real_estate .system-list li{ position: relative; line-height: 1.4; width: 49%; margin-right: 2%; background: #fff; position: relative; margin-bottom: 20px; padding: 2% 2% 14%;}
#real_estate .system-list li:nth-child(2n){ margin-right: 0}
#real_estate .system-list li a:hover{ text-decoration: none; }
#real_estate .system-list .btn{ text-align: center; background: #333; color: #fff; font-size: 1.2rem; position: absolute; bottom: 0; left: 0; width: 100%; padding:4% 3%;}
#real_estate .system-list .btn::after { content: ' >';}
#real_estate .system-pic{ width: 100%; height: 120px; overflow: hidden; text-align: center; margin-bottom: 8%; }
#real_estate .system-pic img{ max-width: 100%; max-height: 120px; width: auto; height: auto; }
#real_estate .system-date{ font-size: 1.2rem; margin-bottom: 5%; line-height: 1.4;}
#real_estate .system-date::before{ content: "■"; }
#real_estate .system-information { border-bottom: 1px solid #eee; padding-bottom: 3%; margin-bottom: 3%;}
#real_estate .system-txt{ font-size:  1.4rem; margin-bottom: 5%; line-height: 1.4; }
#real_estate .system-coment{ font-size: 1.2rem; margin-bottom: 5%; line-height: 1.4; word-break : break-all; }
#real_estate .system-coment span{ font-size: 1.8rem; font-weight: bold;display: inline-block; margin-top: 2%;}
#real_estate .system-ttl-01{ font-size: 1.2rem; line-height: 1.4; border-bottom: 1px solid #eee; padding-bottom: 10px; margin-bottom: 20px; }
#real_estate .system-category-set { margin-bottom: 8%;margin-top: -8%;}
#real_estate .system-category{ margin-bottom: 1px; font-size: 1.2rem; font-weight: bold; color: #fff; text-align: center; padding: 8px; background-color: #ccc;}
#real_estate .serchcategory{ margin: 0 3% 10%;}
#real_estate .serchcategory .icon { display: inline-block;margin-right: 1%;margin-bottom: 3%;font-size: 1.2rem;color: #fff;text-align: center;padding: 4.5% 3%; }
#real_estate .icon01{ background: #000; }
#real_estate .icon02{ background: #111; }
#real_estate .icon03{ background: #222; }
#real_estate .icon04{ background: #333; }
#real_estate .icon05{ background: #444; }
#real_estate .icon06{ background: #555; }
#real_estate .system-icon02 span { display: block; padding: 3%; background: #ccc; font-size: 1.4rem; margin-bottom: 5%; }
#real_estate .system-icon02 span.icon02-01 { background: #999; }
#real_estate .system-icon02 span.icon02-02 { background: #ccc; }
#real_estate .system-icon02 span.icon02-03 { background: #eee; }
#real_estate .system-contents{ background: #eeefef; padding: 4% 2%; margin-bottom: 30px; }
#real_estate .system-contents-inner { background: #fff; padding: 5% 3%;}
#real_estate .system-contents .system-date{ font-size: 1.2rem; line-height: 1.4; text-align: right;}
#real_estate .system-contents .system-date::before{ content: none; }
#real_estate .system-contents .titleArea{ margin-bottom: 30px; padding-bottom: 25px; border-bottom: 1px #ccc solid;}
#real_estate .system-contents .system-category{ margin-bottom: 1px; font-size: 1.2rem; color: #fff; text-align: center; padding: 4% 3%; width: 100%;}
#real_estate .system-contents .system-category-set { margin-bottom: 5%; margin-top: 0;}
#real_estate .system-contents .system-ttl{ font-size: 1.6rem; font-weight: bold; margin-bottom: 5%; line-height: 1.6;}
#real_estate .system-contents .system-price{ font-size: 1.2rem; line-height: 1.4; word-break : break-all; }
#real_estate .system-contents .system-price span{ font-size: 2.4rem; font-weight: bold; line-height: 1.4; }
#real_estate .system-contents .system-icon02 { width: 100%;}
#real_estate .system-contents .system-i-pic{ text-align: center; margin-bottom: 20px; }
#real_estate .system-contents .system-i-pic img{ max-width: 100%; height: auto; }
#real_estate .system-gallery { background: #eeefef; padding: 5% 3%;}
#real_estate .system-gallery h2 { text-transform: uppercase; }
#real_estate .gallery-list{ display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; -webkit-box-lines: multiple; -moz-box-lines: multiple; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
#real_estate .gallery-list li{ width: 32%; position: relative; margin:0 2% 6% 0; font-size: 1.2rem; line-height: 1.4;}
#real_estate .gallery-list li:nth-of-type(3n) { margin-right: 0;}
#real_estate .gallery-list li a:hover{ text-decoration: none; }
#real_estate .gallery-list li .system-Frame{ display: block; width: 100%; height: 90px; overflow: hidden; text-align: center; margin-bottom: 5%;}
#real_estate .gallery-list li .system-Frame::after{ content: none;}
#real_estate .gallery-list li .system-Frame img{ width: 100%; height: 90px; }
#real_estate table.system-details { border-bottom: 1px solid #dcdddd; margin-bottom: 10%; font-size: 1.2rem; line-height: 1.6;}
#real_estate table.system-details th { display: block; border: 1px solid #dcdddd; text-align: left; width: 100%; background-color: #eeefef; padding: 3%; vertical-align: top;}
#real_estate table.system-details td { display: block; border: 1px solid #dcdddd; border-bottom: 0; text-align: left; width: 100%; padding: 3%; vertical-align: top; }
#real_estate table.system-details td img { max-width: 100%; height: auto;}
#real_estate .system-contents #googlemaps{ height: 300px; border: 1px solid #dcdddd;}

#real_estate .estate-list { font-size: 1.2rem; line-height: 1.6;}
#real_estate .estate-list li{ width: 100%; border: #ccc 1px solid; margin-bottom: -1px;border-bottom: none; }
#real_estate .estate-list li:last-child{ border-bottom: 1px solid #ccc;}
#real_estate .estate-list li .estate-list-ttl{ border-bottom: #ccc dotted 1px;  width: 100%; padding: 3%; background: #f8f8f8; }
#real_estate .estate-list li p{ width: 100%; padding: 3%; background: #fff;}


/* blog -------------------------------------*/
/*patern1*/
#blog .mainContents .system-list{ background: #eeefef; padding: 4% 2%; margin-bottom: 10%; }
#blog .mainContents .system-list-inner{ background: #fff; padding: 5% 3%;}
#blog .mainContents .system-list li{ overflow: hidden; line-height: 1.4; margin-bottom: 5%; border-bottom: 1px dotted #b2b2b2; padding: 0 0 5%;}
#blog .mainContents .system-list li a:hover{ text-decoration: none; }
#blog .mainContents .system-list .system-date{ font-size: 1.2rem; line-height: 1.4; margin-bottom: 2%}
#blog .mainContents .system-list .system-date::before{ content: "■"; }
#blog .mainContents .system-list .system-ttl-01{ font-size: 1.4rem; line-height: 1.6; }
#blog .mainContents .system-list .system-category-set { margin-bottom: 2%; overflow: hidden;}
#blog .mainContents .system-list .system-category{ float: left; width: 49%; margin-bottom: 1px; margin-right: 1px; font-size: 1.2rem;  color: #fff; text-align: center; padding: 5px; background: #111; line-height: 1.5;}
/*patern2*/ 
#blog .mainContents .system-list2{ background: #eeefef; padding: 4% 2%; margin-bottom: 10%; }
#blog .mainContents .system-list-inner2{ background: #fff; padding: 5% 3%;}
#blog .mainContents .system-list2 li{ overflow: hidden; line-height: 1.4; margin-bottom: 5%; border-bottom: 1px dotted #b2b2b2; padding: 0 0 5%;}
#blog .mainContents .system-list2 li a:hover{ text-decoration: none; }
#blog .mainContents .system-list2 .system-pic{ width: 20%; float: left; }
#blog .mainContents .system-list2 .system-pic img{ max-width: 100%; height: auto; }
#blog .mainContents .system-list2 .system-date{ width: 78%; float: right; font-size: 1.2rem; line-height: 1.4; margin-bottom: 2%}
#blog .mainContents .system-list2 .system-date::before{ content: "■"; }
#blog .mainContents .system-list2 .system-ttl-01{ width: 78%; float: right; font-size: 1.4rem; line-height: 1.6; margin-bottom: 2%; }
#blog .mainContents .system-list2 .system-category-set { width: 78%; float: right; margin-bottom: 3%; overflow: hidden;}
#blog .mainContents .system-list2 .system-category{ float: left; width: 49%; margin-bottom: 1px; margin-right: 1px; font-size: 1.2rem; color: #fff; text-align: center; padding: 5px; background: #111; line-height: 1.5;}
#blog .mainContents .system-list2 .system-contributor { width: 78%; float: right; color: #bbb; font-size: 1.2rem; text-align: right; }
/**/
#blog .mainContents .blog-icon01{ background: #000 !important; }
#blog .mainContents .blog-icon02{ background: #111 !important; }
#blog .mainContents .blog-icon03{ background: #222 !important; }
#blog .mainContents .blog-icon04{ background: #333 !important; }
#blog .mainContents .blog-icon05{ background: #444 !important; }
#blog .mainContents .blog-icon06{ background: #555 !important; }
#blog .mainContents .system-contents{ background: #eeefef; padding: 4% 2%; margin-bottom: 10%; }
#blog .mainContents .system-contents-inner { background: #fff; padding: 5% 3%;}
#blog .mainContents .system-contents .system-date{ font-size: 1.4rem; margin-bottom: 5%; display: block; }
#blog .mainContents .system-contents .system-date::before{ content: "■"; }
#blog .mainContents .system-contents .system-category-set { width: 100%; margin-bottom: 5%; overflow: hidden;}
#blog .mainContents .system-contents .system-category{ float: left; font-size: 1.2rem; color: #fff; text-align: center; padding: 3% 2%; width: 49%; margin-bottom: 1px; margin-right: 1px; background: #111;}
#blog .mainContents .system-contents .system-ttl{ font-size: 1.6rem; font-weight: bold; margin-bottom: 5%; padding-bottom: 5%; border-bottom: 1px #ccc solid; line-height: 1.4; }
#blog .mainContents .system-contents .footInfo { margin-top: 10%; padding-top: 5%; border-top: 1px dotted #ccc;}
#blog .mainContents .system-contents .system-contributor { font-size: 1.2rem; margin-bottom: 5%; text-align: right;}

/*blogサイドバー*/
aside.sidebar { width: 94% !important; margin: 0 auto;}
aside.sidebar .aside-blog-ttl { border-bottom: 1px solid #ccc; padding-bottom: 5%; margin-bottom: 5%; text-align: center;}
aside.sidebar .aside-blog-ttl span.en { font-size: 1.2rem; display: block; margin-bottom: 3%; letter-spacing: 1px; color: #ccc;}
aside.sidebar .aside-blog-ttl span.jp { font-size: 1.6rem; font-weight: bold; }
aside.sidebar .list-block { margin: 10% 0 15%;}
aside.sidebar a { line-height: 1.6; font-size: 1.2rem; border-bottom: 1px dotted #ddd; padding-bottom: 5%; margin-bottom: 5% !important;}

/* topics -------------------------------------*/
#topics .system-list{ background: #eeefef; padding: 4% 2%; margin-bottom: 10%; }
#topics .system-list-inner{ background: #fff; padding: 5% 3%;}
#topics .system-list li{ overflow: hidden; line-height: 1.4; margin-bottom: 5%; border-bottom: 1px dotted #b2b2b2; padding: 0 0 5%;}
#topics .system-list li a:hover{ text-decoration: none; }
#topics .system-list .system-date{ font-size: 1.2rem; line-height: 1.4; margin-bottom: 2%}
#topics .system-date::before{ content: "■"; }
#topics .system-list .system-ttl-01{ font-size: 1.4rem; line-height: 1.6; }
#topics .system-list .system-category-set { margin-bottom: 2%;}
#topics .system-list .system-category{ width: 49%; margin-bottom: 1px; font-size: 1.2rem; color: #fff; text-align: center; padding: 5px; background: #111;}
#topics .icon01{ background: #000 !important; }
#topics .icon02{ background: #111 !important; }
#topics .icon03{ background: #222 !important; }
#topics .icon04{ background: #333 !important; }
#topics .icon05{ background: #444 !important; }
#topics .icon06{ background: #555 !important; }
#topics .system-contents{ background: #eeefef; padding: 4% 2%; margin-bottom: 10%; }
#topics .system-contents-inner { background: #fff; padding: 5% 3%;}
#topics .system-contents .system-date{ font-size: 1.4rem; margin-bottom: 5%; display: block; }
#topics .system-contents .system-category-set { width: 100%; margin-bottom: 5%;}
#topics .system-contents .system-category{ font-size: 1.2rem; color: #fff; text-align: center; padding: 8px; width: 50%; margin-bottom: 1px; background: #111;}
#topics .system-contents .system-ttl{ font-size: 1.6rem; font-weight: bold; margin-bottom: 5%; padding-bottom: 5%; border-bottom: 1px #ccc solid; line-height: 1.4; }

/* staff -------------------------------------*/
#staff .system-list{ background: #eeefef; padding: 4% 2%; margin-bottom: 10%; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; -webkit-box-lines: multiple; -moz-box-lines: multiple; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
#staff .system-list li{ position: relative; line-height: 1.4; width: 49%; margin-right: 2%; background: #fff; position: relative; margin-bottom: 5%; padding: 2% 2% 14%;}
#staff .system-list li:nth-child(2n){ margin-right: 0}
#staff .system-list li a:hover{ text-decoration: none; }
#staff .system-list .btn{ text-align: center; background: #333; color: #fff; font-size: 1.2rem; position: absolute; bottom: 0; left: 0; width: 100%; padding:4% 3%;}
#staff .system-list .btn::after { content: ' >';}
#staff .system-pic{ width: 100%; height: 180px; overflow: hidden; text-align: center; margin-bottom: 5%;}
#staff .system-pic img{ width: 100%; height: 180px; }
#staff .system-name{ font-size: 1.4rem; font-weight: bold; margin-bottom: 5%; line-height: 1.6; }
#staff .system-kana{ font-size: 1.2rem; margin-bottom: 5%; line-height: 1.6; }
#staff .system-job{ font-size: 1.2rem; margin-bottom: 5%; line-height: 1.6; }
#staff .system-contents{ background: #eeefef; padding: 4% 2%; margin-bottom: 10%; }
#staff .system-contents-inner { background: #fff; padding: 5% 3%;}
#staff .system-contents .system-ttl{ font-size: 1.6rem; font-weight: bold;  margin-bottom: 8%; padding-bottom: 8%; border-bottom: 1px #ccc solid; line-height: 1.4; }
#staff .system-contents .system-info-box{ display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; -webkit-box-lines: multiple; -moz-box-lines: multiple; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap;}
#staff .system-contents .system-info{ width: 100%; }
#staff .system-contents .system-name{ font-size: 1.6rem; margin-bottom: 2%; line-height: 1.6;}
#staff .system-contents .system-kana{ font-size: 1.2rem; margin-bottom: 3%; line-height: 1.6; }
#staff .system-contents .system-job{ font-size: 1.2rem; margin-bottom: 5%; padding-bottom: 5%; border-bottom: 1px solid #ccc; line-height: 1.6;}
#staff .system-contents .system-comment{ font-size: 1.4rem; margin-bottom: 5%; line-height: 1.6;}
#staff .system-contents .system-i-pic{ width: 100%; text-align: center; margin: 0 auto 8%; -webkit-box-ordinal-group: -1; -moz-box-ordinal-group: -1; -webkit-flex-order: -1; -moz-flex-order: -1; -webkit-order: -1; -moz-order: -1; order: -1; }
#staff .system-contents .system-i-pic img{ max-width: 100%; max-height: 250px; width: auto; height: auto; }
#staff .system-gallery { background: #eeefef; padding: 5% 3%;}
#staff .system-gallery h2 { text-transform: uppercase; }
#staff .gallery-list{ display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; -webkit-box-lines: multiple; -moz-box-lines: multiple; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
#staff .gallery-list li{ width: 32%; position: relative; margin:0 2% 6% 0; font-size: 1.2rem; line-height: 1.4;}
#staff .gallery-list li:nth-of-type(3n) { margin-right: 0;}
#staff .gallery-list li a:hover{ text-decoration: none; }
#staff .gallery-list li .system-Frame{ display: block; width: 100%; height: 90px; overflow: hidden; text-align: center; margin-bottom: 5%;}
#staff .gallery-list li .system-Frame::after{ content: none;}
#staff .gallery-list li .system-Frame img{ width: 100%; height: 90px; }

/* form -------------------------------------*/
.form-Box{ background: #eeefef; padding: 4% 2%; margin-bottom: 30px; line-height: 1.6;}
.form-Box .form-Box-inner{ background: #fff; padding: 5% 3%;}
.form-Box .form-list { font-size: 1.2rem; margin-bottom: 10%;}
.form-Box .error { margin-bottom: 1rem;}
.form-Box .attention-color { color: #f00;}
.form-Box .form-list li { padding-left: 1rem; text-indent: -1rem; margin-bottom: 3px; }
.form-Box table { border-bottom: 1px solid #dcdddd; margin-bottom: 10%; font-size: 1.4rem; line-height: 1.6;}
.form-Box tr { margin-bottom: 0 !important}
.form-Box th { border: 1px solid #dcdddd; text-align: left; width: 100%; background-color: #eeefef; padding: 3%; vertical-align: top;}
.form-Box td { border: 1px solid #dcdddd; border-bottom: 0; text-align: left; width: 100%; padding: 7% 3%; vertical-align: top;}
.form-Box .from-btn-01 { text-align: center; }
.form-Box .from-btn-02 { margin-top: 10%;}
.form-Box .button { border: 0; padding: 0; margin: 0; background: none;}
.form-Box .from-btn-02 p { margin-bottom: 3%;}
.form-Box input[type="text"],
.form-Box input[type="email"],
.form-Box input[type="tel"],
.form-Box input[type="date"],
.form-Box select,
.form-Box textarea {width: 99%; margin-bottom: 2%; font-size: 16px; padding: 2%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;}
.form-Box input.input-txt1 {width: 30%; }
.form-Box textarea {font-size: 16px; line-height: 1.6; min-height: 120px;}
.form-Box select{font-size: 1.4rem; padding: 3% 2% 4%; width: 60%;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;}


.priv-title{ text-align: center; margin-bottom: 4%; }
.priv-text{ padding: 3%; overflow-y:scroll; height: 250px; border:#ccc solid 1px; margin-bottom: 5%; background: #eff0f2; }
.priv-text .priv-ttl{ margin-bottom: 2%; font-size: 1.5rem; font-weight: bold; }
.priv-text p{ margin-bottom: 4%; font-size: 1.3rem; margin-bottom: 4%; padding-bottom: 4%; border-bottom: #ccc solid 1px; }
.priv{ text-align: center; margin-bottom: 5%; }
.priv-text .tt{ margin-bottom: 3%;  font-size: 1.8rem; color: #9a8c52; font-weight: bold; }

}


@media screen and (max-width: 380px) {
  #case_newly .system-pic { height: 120px; }
  #case_newly .system-pic img { height: 120px; }
}
@media screen and (max-width: 321px) {
  #case_newly .system-pic { height: 100px; }
  #case_newly .system-pic img { height: 100px; }
}
