/*flex*/
.flex-box { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; }
.flex-box-wrap { -webkit-box-lines: multiple; -moz-box-lines: multiple; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.flex-box-justify-space-between { -webkit-box-pack: justify; -ms-flex-pack: justify; -webkit-justify-content: space-between; justify-content: space-between; }
.flex-box-justify-end { -webkit-box-pack: end; -ms-flex-pack: end; -webkit-justify-content: flex-end; justify-content: flex-end; }
.flex-box-justify-center { -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; }

.flex-box-alignitems-center { -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; }
.flex-box-alignitems-end { -webkit-box-align: end; -moz-box-align: end; -ms-flex-align: end; -webkit-align-items: flex-end; -moz-align-items: flex-end; align-items: flex-end; }
.flex-box-alignitems-start { -webkit-box-align: start; -moz-box-align: start; -ms-flex-align: start; -webkit-align-items: flex-start; -moz-align-items: flex-start; align-items: flex-start; }
.flex-box-alignitems-stretch { -webkit-box-align: stretch; -moz-box-align: stretch; -ms-flex-align: stretch; -webkit-align-items: stretch; -moz-align-items: stretch; align-items: stretch; }

.flex-box-direction-column { -webkit-box-direction: normal; -moz-box-direction: normal; -webkit-box-orient: vertical; -moz-box-orient: vertical; -webkit-flex-direction: column; -moz-flex-direction: column; flex-direction: column; }
.flex-box-direction-column-reverse { -webkit-box-direction: reverse; -moz-box-direction: reverse; -webkit-box-orient: vertical; -moz-box-orient: vertical; -webkit-flex-direction: column-reverse; -moz-flex-direction: column-reverse; flex-direction: column-reverse; }

.flex-box-order { -webkit-box-ordinal-group: -1; -moz-box-ordinal-group: -1; -webkit-flex-order: -1; -moz-flex-order: -1; -webkit-order: -1; -moz-order: -1; order: -1; }

.flex-box-basis { -ms-flex-preferred-size: auto; flex-basis: auto; }


/*font-size*/
.fs10 { font-size: 0.625em;}
.fs11 { font-size: 0.688em;}
.fs12 { font-size: 0.75em;}
.fs13 { font-size: 0.813em;}
.fs14 { font-size: 0.875em;}
.fs15 { font-size: 0.938em;}
.fs16 { font-size: 1em;}
.fs17 { font-size: 1.063em;}
.fs18 { font-size: 1.125em;}
.fs19 { font-size: 1.188em;}
.fs20 { font-size: 1.25em;}
.fs21 { font-size: 1.313em;}
.fs22 { font-size: 1.375em;}
.fs23 { font-size: 1.438em;}
.fs24 { font-size: 1.5em;}
.fs25 { font-size: 1.563em;}
.fs26 { font-size: 1.625em;}
.fs27 { font-size: 1.688em;}
.fs28 { font-size: 1.75em;}
.fs29 { font-size: 1.813em;}
.fs30 { font-size: 1.875em;}
.fs31 { font-size: 1.938em;}
.fs32 { font-size: 2em;}
.fs33 { font-size: 2.063em;}
.fs34 { font-size: 2.125em;}
.fs35 { font-size: 2.188em;}
.fs36 { font-size: 2.25em;}
.fs37 { font-size: 2.313em;}
.fs38 { font-size: 2.375em;}
.fs39 { font-size: 2.438em;}
.fs40 { font-size: 2.5em;}
