{% extends 'layout/_01_lower.twig' %}

{# ページタイトル設定 #}
{% set pageTitle = 'お問合わせありがとうございます' %}
{% set description = '' %}
{% set keywords = '' %}

{% set h1text = '資料請求' %}

{# ページID設定 #}
{% set pageId = 'request' %}

{# ページ個別　CSS等 #}
{% block headArea %}
<meta property="og:type" content="article">
<link rel="stylesheet" type="text/css" href="{{ asset('css/page-system.css', 'theme') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/page/form.css', 'theme') }}">
{% endblock %}

{# コンテンツをここに記載(main) #}
{% block main %}
<h1 class="main-title"><span class="en">{{pageId}}</span><span class="jp f-gothic">{{ h1text }}</span></h1>
{% include ('include/_gnavi.twig') %}

<div id="one-cl" class="clearfix"><!-- one-cl -->
<!--<div id="tow-cl" class="clearfix"> tow-cl -->
{#  {% include ('include/_sidebarcommon.twig') %} 2カラムの場合追加 #}

<main>

<nav class="seo_bread_list clearfix">
<ul class="clearfix" itemscope itemtype="https://schema.org/BreadcrumbList">
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
<a itemprop="item" href="{{ path('homepage') }}"><span itemprop="name">HOME</span></a>
<meta itemprop="position" content="1" />
</li>
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"> <a itemprop="item" href="{{siteurl}}/{{pageId}}"><span itemprop="name">{{ h1text }}</span></a>
<meta itemprop="position" content="2" /> </li>
{% set request_param = app.request.get('_route_params') %}
{% if request_param.slug is defined and request_param.slug is not empty %}
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
<link itemprop="item" href="{{ canonical() }}"><span itemprop="name">{{ pageTitle }}</span>
<meta itemprop="position" content="3" /> </li>
{% endif %}
</ul>
</nav>
<h2 class="sub-title">{{ h1text }}</h2>

<section class="borderwrap">
<h3>お問い合わせありがとうございます</h3>
<p>この度はお問い合わせいただき、誠にありがとうございます。<br>
お問い合わせ内容へのご返答は、3営業日以内に担当の者よりご連絡差し上げます。</p>
<p>尚、内容確認のメールを自動返信メールにて送信いたしましたので、ご確認下さい。</p>
</section>
<section class="borderwrap">
<h3>自動返信メールが届いてない場合</h3>
<p>弊社からの返信が迷惑メールフォルダに自動的に移動される場合があります。10分以上経っても自動返信メールが届かない場合には、迷惑メールフォルダをご確認ください。<br>
また、受信できるように設定の変更をお願いします。迷惑フォルダにも返信が見当たらないようであれば、お手数ですが再度お問い合わせ下さいますようお願いいたします。</p>
</section>
<div class="btnArea-s">
<a href="{{ path('homepage') }}" class="btn back">トップページへ戻る</a>
</div>

</main>
</div><!-- one-cl or tow-cl -->

{% include ('include/_end-bnr.twig') %}

{% endblock %}

{# ページ個別　JS等 #}
{% block jsArea %}
{% endblock %}
