{% extends 'layout/_01_lower.twig' %}

{# ページタイトル設定 #}
{% set pageTitle = '' %}
{% set description = '' %}
{% set keywords = '' %}

{% set h1text = '資料請求' %}

{# ページID設定 #}
{% set pageId = 'request' %}

{# ページ個別　CSS等 #}
{% block headArea %}
<meta property="og:type" content="article">
<link rel="stylesheet" type="text/css" href="{{ asset('css/page-system.css', 'theme') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/page/form.css', 'theme') }}">
{% endblock %}

{# コンテンツをここに記載(main) #}
{% block main %}
<h1 class="main-title"><span class="en">{{pageId}}</span><span class="jp f-gothic">{{ h1text }}</span></h1>
{% include ('include/_gnavi.twig') %}

<div id="one-cl" class="clearfix"><!-- one-cl -->
<!--<div id="tow-cl" class="clearfix"> tow-cl -->
{#  {% include ('include/_sidebarcommon.twig') %} 2カラムの場合追加 #}

<main>
{# パンくずリスト #}
<nav class="seo_bread_list clearfix">
<ul class="clearfix" itemscope itemtype="https://schema.org/BreadcrumbList">
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"> <a itemprop="item" href="{{ path('homepage') }}"><span itemprop="name">HOME</span></a>
<meta itemprop="position" content="1" /> </li>
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
<link itemprop="item" href="{{ canonical() }}"><span itemprop="name">{{ h1text }}</span>
<meta itemprop="position" content="2" /> </li>
</ul>
</nav>

<h2 class="sub-title">{{ h1text }}</h2>

{# ▼ このタグで囲むと確認画面時に非表示 #}
<section data-pfwform-hide-if-confirm>
ここにフォーム上のコードを記入してください。
</section>
{# ▲ このタグで囲むと確認画面時に非表示 #}

<section>

<div id="form" class="form-Box">
<div class="form-Box-inner">

{# フォーム #}
<h2 class="sub-title">{{ h1text }}フォーム</h2>
<ul class="form-list" data-pfwform-hide-if-confirm>
<li>・お問い合わせフォームに必要事項のご入力をして送信ボタンをクリックしてください。</li>
<li>・メールアドレスは正しくご入力下さい（弊社より返信メールが届きません。）</li>
<li>・半角カナ入力は文字化けの原因になりますので、全角カナでご入力頂きますようお願いします。</li>
<li>・<span class="attention-color">【必須】</span>項目は必ず入力してください。</li>
<li>・お使いのメールサービス、メールソフト、ウィルス対策ソフト等の設定により「迷惑メール」と認識され、メールが届かない場合があります。<br>以下のドメインを受信できるように設定をお願い致します。<br>
受信設定ドメイン：{{companymail}}</li>
</ul>
<p class="form-list" data-pfwform-show-if-confirm>ご入力内容をご確認ください。</p>

<div class="error" data-pfwform-show-if-error><p>入力不備の項目がございます。<br>お手数ですが、もう一度入力内容をご確認ください。</p></div>
<form class="pfwform h-adr" action="#" data-pfwform-action="{{ asset('request/pfwform.php', 'theme') }}" data-pfwform-token-generator="{{ asset('request/pfwform-token.php', 'theme') }}" method="post" enctype="multipart/form-data" data-pfwform-confirm>
<table>
<tbody>
<tr data-pfwform-class-if-success="has-success" data-pfwform-class-if-error="form_error" data-pfwform-target="お名前">
<th class="required">お名前</th>
<td data-pfwform-hide-if-confirm>
<input type="text" size="15" placeholder="姓" value="" name="姓" data-pfwform-required>
<input type="text" size="15" placeholder="名" value="" name="名" data-pfwform-required>
<div class="form_error_wrap" data-pfwform-show-if-error="姓">お名前(姓)を正しく入力して下さい。</div>
<div class="form_error_wrap" data-pfwform-show-if-error="名">お名前(名)を正しく入力して下さい。</div>
</td>
<td data-pfwform-show-if-confirm>
<p><span data-pfwform-confirm-value="姓"></span>
<span data-pfwform-confirm-value="名"></span></p>
</td>
</tr>

<tr data-pfwform-target="ふりがな">
<th class="required">ふりがな</th>
<td data-pfwform-hide-if-confirm>
<input type="text" size="15" placeholder="せい" value="" name="せい" data-pfwform-required>
<input type="text" size="15" placeholder="めい" value="" name="めい" data-pfwform-required>
<div class="form_error_wrap" data-pfwform-show-if-error="せい">ふりがな(せい)を正しく入力して下さい。</div>
<div class="form_error_wrap" data-pfwform-show-if-error="めい">ふりがな(めい)を正しく入力して下さい。</div>
</td>
<td data-pfwform-show-if-confirm>
<p><span data-pfwform-confirm-value="せい"></span>
<span data-pfwform-confirm-value="めい"></span></p>
</td>
</tr>

<tr>
<th class="required">電話番号</th>
<td data-pfwform-hide-if-confirm>
<input class="input-txt1" type="tel" size="15" maxlength="5" placeholder="000" name="電話番号_1" data-pfwform-type="regex" data-pfwform-regex="^\d{1,5}$" data-pfwform-required>
<input class="input-txt1" type="tel" size="15" maxlength="5" placeholder="000" name="電話番号_2" data-pfwform-type="regex" data-pfwform-regex="^\d{1,5}$" data-pfwform-required>
<input class="input-txt1" type="tel" size="15" maxlength="5" placeholder="0000" name="電話番号_3" data-pfwform-type="regex" data-pfwform-regex="^\d{1,5}$" data-pfwform-required>
<div class="form_error_wrap valid_tel" data-pfwform-show-if-error="電話番号_1">電話番号を正しく入力してください。</div>
<div class="form_error_wrap valid_tel" data-pfwform-show-if-error="電話番号_2">電話番号を正しく入力してください。</div>
<div class="form_error_wrap valid_tel" data-pfwform-show-if-error="電話番号_3">電話番号を正しく入力してください。</div>
</td>
<td data-pfwform-show-if-confirm>
<p>
<span data-pfwform-confirm-value="電話番号_1"></span>
<span data-pfwform-confirm-value="電話番号_2"></span>
<span data-pfwform-confirm-value="電話番号_3"></span>
</p>
</td>
</tr>

<tr data-pfwform-target="郵便番号">
<th>郵便番号</th>
<td data-pfwform-hide-if-confirm>
<span class="p-country-name" style="display:none;">Japan</span>
<input class="p-postal-code input-txt1" type="tel" size="15" minlength="2" maxlength="3" placeholder="000" name="郵便番号_1" value="" data-pfwform-type="regex" data-pfwform-regex="^\d{3}$">
<input class="p-postal-code input-txt1" type="tel" size="15" minlength="3" maxlength="4" placeholder="0000" name="郵便番号_2" value="" data-pfwform-type="regex" data-pfwform-regex="^\d{4}$">
<div class="form_error_wrap" data-pfwform-show-if-error="郵便番号_1">郵便番号(上3桁)を正しく入力してください。</div>
<div class="form_error_wrap" data-pfwform-show-if-error="郵便番号_2">郵便番号(下4桁)を正しく入力してください。</div>
</td>
<td data-pfwform-show-if-confirm>
<p>
<span data-pfwform-confirm-value="郵便番号_1"></span><span>-</span>
<span data-pfwform-confirm-value="郵便番号_2"></span>
</p>
</td>
</tr>

<tr data-pfwform-class-if-success="has-success" data-pfwform-class-if-error="form_error" data-pfwform-target="ご住所">
<th class="required">ご住所</th>
<td data-pfwform-hide-if-confirm>
<input class="p-region p-locality p-street-address p-extended-address" type="text" size="40" name="ご住所" value="" placehold="ご住所をここに記入してください。" data-pfwform-required>
<div class="form_error_wrap" data-pfwform-show-if-error="ご住所">ご住所を正しく入力して下さい。</div>
</td>
<td data-pfwform-show-if-confirm >
<p data-pfwform-confirm-value="ご住所"></p>
</td>
</tr>

<tr data-pfwform-class-if-success="has-success" data-pfwform-class-if-error="form_error" data-pfwform-target="メールアドレス">
<th class="required">メールアドレス</th>
<td data-pfwform-hide-if-confirm>
<input type="text" size="40" name="メールアドレス" value="" placeholder="yourmail@sample.co.jp" data-pfwform-type="email" data-pfwform-required>
<div class="form_error_wrap" data-pfwform-show-if-error="メールアドレス">メールアドレスを正しく入力して下さい。</div>
</td>
<td data-pfwform-show-if-confirm>
<p data-pfwform-confirm-value="メールアドレス"></p>
</td>
</tr>

<tr data-pfwform-class-if-success="has-success" data-pfwform-class-if-error="form_error" data-pfwform-target="ご予約の有無">
<th class="required">ご予約の有無</th>
<td data-pfwform-hide-if-confirm>
<label><input class="form-check-input" type="radio" name="ご予約の有無" value="相談会予約" data-pfwform-required>相談会予約</label>
<label><input class="form-check-input" type="radio" name="ご予約の有無" value="お問合せします" data-pfwform-required>お問合わせします</label>
<div class="form_error_wrap" data-pfwform-show-if-error="ご予約の有無">ご予約の有無を選択してください</div>
</td>
<td data-pfwform-show-if-confirm>
<p data-pfwform-confirm-value="ご予約の有無"></p>
</td>
</tr>

<tr data-pfwform-class-if-success="has-success" data-pfwform-class-if-error="form_error" data-pfwform-target="ご希望の連絡方法">
<th>ご希望の連絡方法</th>
<td data-pfwform-hide-if-confirm>
<label><input class="form-check-input" type="radio" name="ご希望の連絡方法" value="電話">電話</label>
<label><input class="form-check-input" type="radio" name="ご希望の連絡方法" value="メール">メール</label>
<label><input class="form-check-input" type="radio" name="ご希望の連絡方法" value="どちらでも">どちらでも</label>
<div class="form_error_wrap" data-pfwform-show-if-error="ご希望の連絡方法">ご希望の連絡方法を選択してください</div>
</td>
<td data-pfwform-show-if-confirm>
<p data-pfwform-confirm-value="ご希望の連絡方法"></p>
</td>
</tr>

<tr data-pfwform-class-if-success="has-success" data-pfwform-class-if-error="form_error"  data-pfwform-target="ご予約種別">
<th class="required">ご予約種別</th>
<td data-pfwform-hide-if-confirm data-pfwform-required>
<label class="form-check-label"><input class="form-check-input" type="checkbox" name="ご予約種別[]" value="家づくり相談会" data-pfwform-required >家づくり相談会</label><br>
<label class="form-check-label"><input class="form-check-input" type="checkbox" name="ご予約種別[]" value="資金計画相談" data-pfwform-required >資金計画相談</label><br>
<label class="form-check-label"><input class="form-check-input" type="checkbox" name="ご予約種別[]" value="土地探し相談会" data-pfwform-required >土地探し相談会</label>
<div class="form_error_wrap" data-pfwform-show-if-error="ご予約種別">ご予約種別を正しく入力してください</div>
</td>
<td data-pfwform-show-if-confirm>
<p data-pfwform-confirm-value="ご予約種別"></p>
</td>
</tr>

<tr data-pfwform-target="予約希望日1">
<th>予約希望日1</th>
<td data-pfwform-hide-if-confirm>
<input type="date" size="40" name="予約希望日1" placeholder="mm月dd日">
</td>
<td data-pfwform-show-if-confirm>
<p data-pfwform-confirm-value="予約希望日1"></p>
</td>
</tr>

<tr data-pfwform-class-if-success="has-success" data-pfwform-class-if-error="has-danger" data-pfwform-target="予約希望日2">
<th>予約希望日2</th>
<td data-pfwform-hide-if-confirm>
<select name="予約希望日2">
<option value="" selected>選択してください</option>
<option value="10/02">10/02</option>
<option value="10/03">10/03</option>
</select>
</td>
<td data-pfwform-show-if-confirm>
<p data-pfwform-confirm-value="予約希望日2"></p>
</td>
</tr>

<tr data-pfwform-target="ご希望時間1">
<th>ご希望時間1</th>
<td data-pfwform-hide-if-confirm><input type="tel" size="40" name="ご希望時間1" placehold="10:00-"></td>
<td data-pfwform-show-if-confirm>
<p data-pfwform-confirm-value="ご希望時間1"></p>
</td>
</tr>

<tr data-pfwform-target="ご希望時間2">
<th>ご希望時間2</th>
<td data-pfwform-hide-if-confirm>
<select name="ご希望時間2">
<option value="" selected>選択してください</option>
<option value="10:00">10:00</option>
<option value="11:00">11:00</option>
</select>
</td>
<td data-pfwform-show-if-confirm>
<p data-pfwform-confirm-value="ご希望時間2"></p>
</td>
</tr>

<tr data-pfwform-target="ファイルアップロード1">
<th class="required">ファイルアップロード1</th>
<td data-pfwform-hide-if-confirm>
<input type="file" name="ファイルアップロード1" data-pfwform-required>
</td>
<td data-pfwform-show-if-confirm>
<p data-pfwform-confirm-file-preview="ファイルアップロード1"></p>

</td>
</tr>

<tr data-pfwform-target="ファイルアップロード2">
<th>ファイルアップロード2</th>
<td data-pfwform-hide-if-confirm>
<input type="file" name="ファイルアップロード2">
<div class="form_error_wrap" data-pfwform-show-if-error="ファイルアップロード2">ファイルを選択してください</div>
</td>
<td data-pfwform-show-if-confirm>
<p data-pfwform-confirm-file-preview="ファイルアップロード2"></p>
</td>
</tr>

<tr data-pfwform-target="お問合わせ・伝言等">
<th>お問合わせ・伝言等</th>
<td data-pfwform-hide-if-confirm>
<textarea name="お問合わせ・伝言等" size="40"></textarea>
</td>
<td data-pfwform-show-if-confirm>
<p data-pfwform-confirm-value="お問合わせ・伝言等"></p>
</td>
</tr>

</tbody>
</table>

{% include ('include/_privacy.twig') %}

<div class="priv" data-pfwform-class-if-success="has-success" data-pfwform-class-if-error="form_error"  data-pfwform-target="プライバシー">
<div data-pfwform-hide-if-confirm data-pfwform-required>
<label class="form-check-label"><input class="form-check-input" type="checkbox" name="プライバシー[]" value="上記、プライバシーポリシーに同意する" data-pfwform-required >上記、プライバシーポリシーに同意する</label><br>
<div class="form_error_wrap" data-pfwform-show-if-error="プライバシー">プライバシーポリシーに同意した上でお問い合わせください。</div>
</div>
</div>


<div class="btnArea">
{# 会員IDを指定 #}
<input type="hidden" name="username" value="">
<div class="from-btn-01"><p><button class="button" type="submit" data-pfwform-hide-if-confirm><img src="{{ theme }}/images/common/con-btn-01.jpg" alt="確認画面へ"/></button></p></div>
<div class="from-btn-02">
<p><button class="button back" type="button" data-pfwform-show-if-confirm data-pfwform-back-button><img src="{{ theme }}/images/common/con-btn-02.jpg" alt="入力画面に戻る" class="pc2"/><img src="{{ theme }}/images/common/sp-con-btn-02.jpg" alt="入力画面に戻る" class="sp2"/></button></p>
<p><button type="submit" name="button" data-pfwform-show-if-confirm><img src="{{ theme }}/images/common/con-btn-03.jpg" alt="上記内容にて送信"/></button></p>
</div>
</div>

</form>

</div>
</div>
</section>

</main>
</div><!-- one-cl or tow-cl -->

{% include ('include/_end-bnr.twig') %}

{% endblock %}

{# ページ個別　JS等 #}
{% block jsArea %}
<script type="text/javascript" src="{{ asset('js/pfwform.js', 'theme') }}"></script>

{# 確認画面でのプレビュー表示 #}
<script>
$(function(){
$('input[type="file"]').on('change', function(){

// 対応する確認画面の項目が存在する場合のみ続行
if( ! $('[data-pfwform-confirm-file-preview=' + $(this).attr('name') + ']').length ) {
return;
}
attrName = $(this).attr('name');

// FileAPIが有効、かつ、ファイルが画像、の場合、確認画面にプレビューを表示
// それ以外はファイル名を表示
if (window.File && window.FileReader) {
if ( ! this.files[0]) {
$('[data-pfwform-confirm-file-preview=' + attrName + ']').empty();
return;
}
file = this.files[0];
var reader = new FileReader();
reader.readAsDataURL(file);

reader.onload = function() {
if (file.type.match(/image/)) {
imgTag = '<img src=' + reader.result + ' />';
$('[data-pfwform-confirm-file-preview=' + attrName + ']').empty().append(imgTag);
} else {
$('[data-pfwform-confirm-file-preview=' + attrName + ']').text(file.name);
}
}
} else {
// Chrome, IE はファイルパスが fakepath に置き換わるので、ファイル名のみ抽出して表示
if ( ! $(this)[0]) {
return;
}
fileName = $(this)[0].value.match(/[^\\]+$/i)[0];
$('[data-pfwform-confirm-file-preview=' + attrName + ']').text(fileName);
}
});
});
</script>
{% endblock %}
