.c-btn {
  display: block;
  width: 100%;
  height: 100%;

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__icon {
    
  }

  &__icon__inner {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__arrow {

  }

  &__arrow__inner {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

.btn-normal {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  position: relative;
  background: $COLOR_WH;
  color: $FONT_COLOR;
  border: 2px solid $FONT_COLOR;
  text-align: center;
  font-weight: $FONT_W_B;
  font-size: 1.6rem;
  transition: all $HOVER_ANIME_SPEED $HOVER_ANIME_EASING;

  @include MEDIA_SP {
    font-size-adjust: 1.3rem;
  }

  &.hover {
    opacity: $HOVER_ANIME_OPACITY;
  }

  &__arrow {
    position: absolute;
    right: 30px;
    top: 50%;
    width: 26px;
    height: 6px;
    transform: translate(0, -50%);

    @include MEDIA_SP {
      right: 15px;
      transform: scale(0.6) translate(0, -50%);
    }
  }
}

.btn-company {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 80px;
  border: 1px solid $BORDER_BTN_GRAY;
  transition: all $HOVER_ANIME_SPEED $HOVER_ANIME_EASING;

  &.hover {
    opacity: $HOVER_ANIME_OPACITY;
  }
}

.btn-footer-mail {
  height: 80px;
  background: url($IMG_PATH + 'common/bg_btn_contact.png') no-repeat center center;
  background-size: cover;
  padding: 30px 20px 30px 65px;
  font-size: 1.8rem;
  font-weight: $FONT_W_B;
  letter-spacing: 100/1000+em;
  line-height: percentage(18/18);
  transition: all $HOVER_ANIME_SPEED $HOVER_ANIME_EASING;

  &.hover {
    opacity: $HOVER_ANIME_OPACITY;
  }

  @include MEDIA_SP {
    height: 90px;
    padding: 35px 10px 30px 10px;
    background: url($IMG_PATH + 'common/bg_btn_contact_sp.png') no-repeat center center;
    background-size: cover;
  }
}

.btn-icon-footer-mail {
  width: 22px;
  height: 16px;
  margin-right: 13px;

  @include MEDIA_SP {
    transform: scale(0.8);
  }
}

.btn-arrow-footer-mail {
  width: 26px;
  height: 6px;
  margin-left: 15px;

  @include MEDIA_SP {
    transform: scale(0.8);
  }
}

.btn-confirm, .btn-back {
  height: 100%;
  background: $BG_BTN_BLACK;
  color: $COLOR_WH;
  border: 1px solid $BG_BTN_BLACK;
  font-weight: $FONT_W_B;
  font-size: 1.8rem;
  text-align: center;
  transition: all $HOVER_ANIME_SPEED $HOVER_ANIME_EASING;

  &.hover {
    opacity: $HOVER_ANIME_OPACITY;
    background: $COLOR_WH;
    color: $BG_BTN_BLACK;
  }

  @include MEDIA_SP {
    font-size: 1.6rem;
  }
}

.btn-submit {
  height: 100%;
  background: url($IMG_PATH + 'common/bg_btn_contact.png') no-repeat center center;
  background-size: cover;
  color: $COLOR_WH;
  font-size: 1.8rem;
  font-weight: $FONT_W_B;
  text-align: center;

  @include MEDIA_SP {
    font-size: 1.6rem;
  }
}


/**
* 添付ファイルボタン
*/

.btn-attachment {
  color: $BG_BTN_BLACK;
  border: 1px solid $BG_BTN_BLACK;
  background: $COLOR_WH;
  height: 60px;
  line-height: 60px;
  font-size: 1.6rem;
  font-weight: $FONT_W_B;
  text-align: center;
}
