.c-common-bnr {
  padding: 0 20px 120px 20px;

  @include MEDIA_TAB {
    padding-bottom: percentage(240 / $MEDIA_TAB);
  }

  &__group {
    display: flex;
    justify-content: space-between;
    max-width: $MAIN_WIDTH;
    margin: 0 auto;

    @include MEDIA_SP {
      display: block;
    }
  }

  &__child {
    width: percentage(340px / $MAIN_WIDTH);

    @include MEDIA_SP {
      width: 100%;
      max-width: 680px;
      margin: 0 auto percentage(80 / $MEDIA_SP) auto;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    display: block;
    transition: all $HOVER_ANIME_SPEED $HOVER_ANIME_EASING;

    &.hover {
      opacity: $HOVER_ANIME_OPACITY;
    }
  }

  &__thumb {
    margin-bottom: 20px;

    @include MEDIA_SP {
      margin-bottom: 10px;
    }
  }

  &__text {
    text-align: center;
  }
}
