.c-menu-list {
  max-width: $MAIN_WIDTH + 100px;
  margin: 0 auto;
  padding: 50px;
  background: url($IMG_PATH + 'index/bg_menu.jpg') no-repeat center top;
  background-size: cover;

  @include MEDIA_TAB {
    padding: 50px percentage(50 / $MEDIA_TAB);
  }

  @include MEDIA_SP {
    padding: percentage(100 / $MEDIA_SP) 20px;
    background: url($IMG_PATH + 'index/bg_menu_sp.jpg') no-repeat center top;
  }

  &__group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include MEDIA_SP {
      display: block;
    }
  }

  &__child {
    flex-shrink: 0;
    width: 300px;
    margin-bottom: 130 - 70px;

    @include MEDIA_TAB {
      width: percentage(400 / $MEDIA_TAB);
    }

    @include MEDIA_SP {
      width: auto;
      margin-bottom: percentage(130 / $MEDIA_SP);
    }

    &.child-3 {
      margin-right: 50px;

      @include MEDIA_TAB {
        margin-right: 0;
      }
    }

    &.child-4, &.child-5, &.child-6 {
      margin: 0 0 0 20px;
      transform: translate(0, 70px);

      @include MEDIA_TAB {
        margin-left: 0;
        transform: translate(0, 0);
      }

      @include MEDIA_SP {
        margin-bottom: percentage(130 / $MEDIA_SP);
      }
    }
  }

  &__link {
    display: block;
    transition: all $HOVER_ANIME_SPEED $HOVER_ANIME_EASING;

    &.hover {
      opacity: $HOVER_ANIME_OPACITY;
    }
    
    @include MEDIA_SP {
      display: flex;
      justify-content: center;
      margin-right: -20px;
    }
  }

  &__head {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @include MEDIA_SP {
      flex-shrink: 0;
      display: block;
      width: percentage(300 / ($SP_DESIGN_WIDTH - 40));
    }

    &.head-4, &.head-5, &.head-6 {
      flex-direction: row-reverse;
      transform: translate(20px, 20px);

      @include MEDIA_TAB {
        flex-direction: row;
        transform: translate(0, 0);
      }
    }
  }

  &__head__thumb {
    width: 240px;

    @include MEDIA_TAB {
      width: percentage(240/300);
    }

    @include MEDIA_SP {
      width: 100%;
    }
  }

  &__head__num {
    width: 60px;
    position: relative;
    font-size: 3rem;
    font-family: $FONT_CINZEL;
    text-align: center;

    @include MEDIA_SP {
      position: absolute;
      left: 100%;
      top: 0;
      transform: translate(0, -50%);
      font-size: 2.8rem;
    }

    &:before {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background: $FONT_COLOR;
      content: '';
    }
  }

  &__main {
    position: relative;
    height: 130px;
    background: rgba(0, 0, 0, 0.95);

    @include MEDIA_TAB {
      height: auto;
      min-height: 130px;
      transform: translate(20px, -20px); 
    }

    @include MEDIA_SP {
      width: percentage(468 / ($SP_DESIGN_WIDTH - 40));
      transform: translate(percentage(-20/468), percentage(70/300));
    }

    &.main-1, &.main-2, &.main-3 {
      transform: translate(20px, -20px);

      @include MEDIA_SP {
        transform: translate(percentage(-20/468), percentage(70/300));
      }
    }
  }

  &__main__title {
    padding: 15px 15px 10px 15px;
    font-size: 2rem;
    font-weight: $FONT_W_B;
    color: $COLOR_OCHER;
    border-bottom: 1px solid $BG_BLACK;

    @include MEDIA_SP {
      font-size: 1.8rem;
      padding: 15px;
    }
  }

  &__main__text {
    padding: 10px 15px 15px 15px;
    color: $COLOR_WH;
    border-top: 1px solid $LINE_DG;
    line-height: percentage(28/14);

    @include MEDIA_SP {
      padding: 20px 60px 15px 15px;
    }
  }

  &__main__icon {
    position: absolute;
    right: 15px;
    bottom: 15px;
    color: $COLOR_WH;
    width: 26px;
    height: 6px;
  }
}
