.c-sticky-btn {
  position: fixed;
  z-index: 5;
  right: 0;
  top: 0;
  width: 60px;

  @include MEDIA_SP {
    display: none;
  }

  &.is-hidden {
    display: none;
  }

  &__link {
    transition: all $HOVER_ANIME_SPEED $HOVER_ANIME_EASING;

    &.hover {
      opacity: $HOVER_ANIME_OPACITY;
    }
  }

  &__contact {
    margin-bottom: 100px;
  }

  &__menu {
    width: 60px;
    height: 100px;
    background: $BG_LG;
    border: 1px solid $LINE_GRAY;
    padding: 42px 15px;
  }

  &__menu__inner {
    position: relative;
    height: 100%;
  }

  &__menu__border {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background: $COLOR_BLACK;

    &.border-1 {
      top: 0;
    }

    &.border-2 {
      top: 50%;
      transform: translate(0, -50%);
    }

    &.border-3 {
      bottom: 0;
    }
  }
}
