.c-sp-sticky {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  bottom: 0;

  @include MEDIA_SP {
    display: block;
    width: 100%;
  }

  &.is-hidden {
    display: none;
  }

  &__contnet {
    width: 100%;
  }

  &__inner {
    display: flex;
  }

  &__tel {
    &.is-no-event {
      pointer-events: none;
    }
  }
}
