.c-spmenu-btn {
  display: none;

  @include MEDIA_SP {
    display: block;
  }

  &.is-hidden {
    display: none;
  }
  
  &__content {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 3;
    width: 60px;
    height: 60px;
    padding: 22px 20px;
    background: $BG_BTN_GRAY;
  }

  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__border {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background: $COLOR_BLACK;

    &.border-1 {
      top: 0;
    }

    &.border-2 {
      top: 50%;
      transform: translate(0, -50%);
    }

    &.border-3 {
      bottom: 0;
    }
  }
}
