/**
* checkbox
*/
.c-check-label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
  margin: 0 auto;

  &__content {
    position: relative;
    width: 16px;
    height: 16px;
    display: block;
    border: 1px solid $LINE_DG;
    margin-right: 10px;

    &:before {
      position: absolute;
      left: 2px;
      top: 0;
      width: 10px;
      height: 6px;
      border-right: 2px solid $COLOR_OCHER;
      border-top: 2px solid $COLOR_OCHER;
      content: '';
      transform: rotate(130deg) scale(0.5);
      opacity: 0;
      transition: all $HOVER_ANIME_SPEED $HOVER_ANIME_EASING;
    }
  }

  &__text {
    @include MEDIA_SP {
      font-size: 1.2rem;
    }
  }
}

.c-check {
  width: 0;
  opacity: 0;

  &:checked + .c-check-label__content {  
    &:before {
      transform: rotate(130deg) scale(1);
      opacity: 1;
    }
  }
}

/**
* radio
*/
.c-radio-wrap {
  display: flex;
  flex-wrap: wrap;
}

.c-radio-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 20px;

  &:last-of-type {
    margin-right: 0;
  }

  &__content {
    position: relative;
    width: 16px;
    height: 16px;
    border: 1px solid $LINE_DG;
    border-radius: 50%;
    background: $COLOR_WH;
    margin-right: 5px;

    &:before {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 10px;
      height: 10px;
      background: $COLOR_OCHER;
      border-radius: 50%;
      content: '';
      transition: all $HOVER_ANIME_SPEED $HOVER_ANIME_EASING;
      transform: translate(-50%, -50%) scale(0.5);
      opacity: 0;
    }
  }
}

.c-radio {
  width: 0;
  opacity: 0;

  &:checked + .c-radio-label__content:before {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  
}


/**
* input
*/
.c-input {
  background: $COLOR_WH;
  border: 1px solid $LINE_GRAY;
  height: 30px;
  border-radius: 0;
  padding: 5px;
  -webkit-appearance : none;
  -webkit-tap-highlight-color : rgba(0,0,0,0);

  @include MEDIA_SP {
    margin-bottom: 5px;
  }

  &.has_success {
    background: hsla(160, 50, 80, 0.4);
  }

  &.has_error {
    border: 1px solid $COLOR_RED;
    background: hsla(10, 90, 80, 0.4);
  }

  &.input-ss {
    width: 80px;
    margin-right: 5px;
  }

  &.input-s {
    width: 100px;
    margin-right: 5px;
  }

  &.input-l {
    width: 100%;
  }

  &::placeholder {
    color: $FONT_PLACEHOLDER;
  }
}

.c-textarea {
  width: 100%;
  background: $COLOR_WH;
  border: 1px solid $LINE_GRAY;
  padding: 10px;
  resize: none;
  min-height: 140px;
  -webkit-appearance : none;
  -webkit-tap-highlight-color : rgba(0,0,0,0);
  border-radius: 0;

  &.has_success {
    background: hsla(160, 50, 80, 0.4);
  }

  &.has_error {
    border: 1px solid $COLOR_RED;
    background: hsla(10, 90, 80, 0.4);
  }
}


/**
* complete
*/
.l-form-complete {
  padding: 30px 20px 100px 20px;

  &__section {
    padding-bottom: 40px;
    max-width: $MAIN_WIDTH - 200px;
    margin: 0 auto 40px auto;
    border-bottom: 1px solid $LINE_GRAY;
  }

  &__title {
    margin-bottom: 40px;
    text-align: center;
    font-size: 2.4rem;
    font-weight: $FONT_W_M;
  }

  &__subtitle {
    margin-bottom: 20px;
    text-align: center;
    font-size: 2rem;
    font-weight: $FONT_W_M;
  }

  &__btn {
    width: 400px;
    height: 80px;
    margin: 0 auto;
    line-height: 80px;

    @include MEDIA_SP {
      width: auto;
    }
  }
}

.l-section {
  max-width: $MAIN_WIDTH;
  margin: 0 auto;
  padding-bottom: 150px;

  @include MEDIA_SP {
    padding-bottom: 90px;
  }

  &-wrap {
    padding: 0 20px;
  }

  &__head {
    margin-bottom: 50px;
    padding: 15px;
    background: url($IMG_PATH + 'common/bg_lines.png') repeat;
  }

  &__head__title {
    text-align: center;
    font-weight: $FONT_W_B;
    font-size: 2.2rem;
  }

  &__main {
    padding: 70px;
    border: 8px solid $BG_BEIGE;

    @include MEDIA_TAB {
      padding: 30px;
    }

    @include MEDIA_SP {
      padding: 20px;
    }

    &.section-recruit {
      border: 30px solid $BG_EARTH_COLOR;
      padding: 50px;

      @include MEDIA_SP {
        border: 10px solid $BG_EARTH_COLOR;
        padding: 20px 20px 40px 20px;
      }
    }
  }

  &__main__desc {
    margin-bottom: 50px;

    @include MEDIA_SP {
      margin-bottom: 30px;
    }
  }

  &__main__desc__child {
    position: relative;
    margin-bottom: 5px;
    padding-left: 0.8em;

    &:last-of-type {
      margin-bottom: 0;
    }

    &:before {
      position: absolute;
      left: 0;
      top: 8px;
      width: 4px;
      height: 4px;
      background: $FONT_COLOR;
      border-radius: 50%;
      content: '';
    }
  }

  &__form {
    width: 100%;
    margin-bottom: 80px;
    border-collapse: collapse;
    table-layout: fixed;

    @include MEDIA_SP {
      margin-bottom: 60px;
    }
  }

  &__form__name {
    width: 290px;
    padding: 20px 30px 10px 30px;
    background: $BG_BEIGE;
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid $BORDER_FORM_GRAY;
    border-top: 1px solid $COLOR_WH;

    @include MEDIA_TAB {
      width: 240px;
    }

    @include MEDIA_SP {
      display: block;
      width: 100%;
      padding: 15px;
    }
  }

  &__form__input {
    padding: 15px 30px;
    background: $BG_TABLE_GRAY;
    border-bottom: 1px solid $BORDER_FORM_GRAY;
    border-top: 1px solid $COLOR_WH;

    @include MEDIA_SP {
      display: block;
      width: 100%;
      padding: 15px;
    }
  }

  &__form__btn__single {
    width: 500px;
    height: 80px;
    margin: 0 auto;

    @include MEDIA_SP {
      width: auto;
    }
  }

  &__form__btn__double {
    display: flex;
    justify-content: center;
    align-items: center;

    @include MEDIA_SP {
      display: block;
    }
  }

  &__form__btn__back {
    width: 300px;
    height: 80px;
    line-height: 80px;
    margin-right: 20px;

    @include MEDIA_SP {
      margin-bottom: 30px;
      width: 100%;
    }
  }

  &__form__btn__submit {
    width: 500px;
    height: 80px;
    line-height: 80px;

    @include MEDIA_SP {
      width: 100%;
    }
  }
}

.l-section__form__privacy {
  margin-bottom: 50px;

  &__content {
    margin-bottom: 40px;
    border: 5px solid $BORDER_FORM_GRAY;
    min-height: 120px;
  }

  &__inner {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: 300px;
    padding: 20px;

    @include MEDIA_SP {
      padding: 15px;
    }
  }

  &__agree {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }

  .priv-ttl {
    margin: 0.5em 0;
    font-weight: $FONT_W_B;
    font-size: 2rem;

    @include MEDIA_SP {
      font-size: 1.8rem;
    }
  }
  
}

.l-error {
  padding: 50px 20px 100px 20px;

  @include MEDIA_SP {
    padding: 30px 20px 60px 20px;
  }

  &__head {
    margin-bottom: 60px;

    @include MEDIA_SP {
      margin-bottom: 40px;
    }
  }

  &__desc {
    margin-bottom: 30px;
    text-align: center;
    font-weight: $FONT_W_M;
    font-size: 2rem;

    @include MEDIA_SP {
      font-size: 1.6rem;
    }
  }

  &__text {
    text-align: center;
  }

  &__back {
    max-width: 400px;
    margin: 0 auto;
    height: 80px;
    line-height: 80px;

    @include MEDIA_SP {
      width: auto;
    }
  }
}
