.l-breadcrumb {
  max-width: $MAIN_WIDTH+40px;
  margin: 0 auto;
  padding: 30px 20px;

  &__group {
    display: flex;
    flex-wrap: wrap;
  }

  &__child {
    position: relative;
    padding-right: 1.5em;
    line-height: percentage(22/14);
    font-weight: $FONT_W_M;

    @include MEDIA_SP {
      font-size: 1.2rem;
    }

    &:before {
      position: absolute;
      right: 0.3em;
      top: 0;
      content: '>';
    }

    &:last-of-type:before {
      content: none;
    }
  }

  &__link {
    transition: all $HOVER_ANIME_SPEED $HOVER_ANIME_EASING;

    &.hover {
      opacity: $HOVER_ANIME_OPACITY;
      text-decoration: underline;
    }
  }
}
