.l-companyinfo {
  @include MEDIA_TAB {
    margin-bottom: 60px;
  }

  @include MEDIA_SP {
    margin: 0;
  }

  &__head__logo {
    width: 260px;
    height: 50px;
    margin-bottom: 60px;

    @include MEDIA_SP {
      width: percentage(375 / $SP_DESIGN_WIDTH);
      max-width: 375/2+px;
      height: 0;
      padding: percentage(80 / $SP_DESIGN_WIDTH / 2) 0;
      background: url($IMG_PATH + 'common/logo_sp.png') no-repeat center center;
      background-size: 100% auto;
    }
  }

  .icon {
    @include MEDIA_SP {
      display: none;
    }
  }
  
  &__access__text {
    font-weight: $FONT_W_M;
    line-height: percentage(26/14);

    @include MEDIA_SP {
      font-size: 1.2rem;
    }
  }
}
