.l-companyContact {
  display: flex;
  justify-content: space-between;

  @include MEDIA_TAB {
    display: block;
  }
  
  &__head {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 240px;
    padding: 0 14px;

    @include MEDIA_TAB {
      margin: 0 auto 30+15px auto; 
    }

    &:before {
      position: absolute;
      left: 0;
      bottom: 10px;
      width: 100%;
      height: 2px;
      background: $COLOR_BLACK;
      content: '';

      @include MEDIA_TAB {
        bottom: -15px;
      }
    }
  }

  &__head__icon {
    flex-shrink: 0;
    width: 23px;
    height: 26px;
    margin-right: 10px;
  }

  &__head__icon__inner {
    position: relative;
    color: $FONT_COLOR;
    width: 100%;
    height: 100%;
  }

  &__head__text {
    font-size: 1.8rem;
    font-weight: $FONT_W_B;
    letter-spacing: 100/1000+em;
    line-height: percentage(20/18);
  }

  &__tel {
    text-align: center;
    font-size: 2rem;
    letter-spacing: 100/1000+em;
    line-height: percentage(80/20);

    @include MEDIA_TAB {
      margin-bottom: 40px;
      font-size: 1.6rem;
      line-height: percentage(40/20);
    }
  }

  &__tel__num {
    font-size: 4.8rem;
    font-weight: $FONT_W_M;
    letter-spacing: 50/1000+em;
    line-height: percentage(90/48);

    @include MEDIA_TAB {
      font-size: 3.2rem;
      line-height: percentage(40/32);
    }
  }

  &__mail {
    width: 400px;

    @include MEDIA_TAB {
      width: auto;
      max-width: 400px;
      margin: 0 auto;
    }
  }
}
