.l-footer {  
  position: relative;
  z-index: 1;
}

.l-footer-contact {
  position: relative;
  background: $BG_BEIGE;
  padding: 45px 20px 20px 20px;
  border-bottom: 1px solid $LINE_BEIGE;

  @include MEDIA_TAB {
    padding: 50px 20px 60px 20px; 
  }

  &:before {
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    height: 40px;
    background: url($IMG_PATH + 'common/img_foot_contact_line_sp.png') no-repeat center top;
    content: '';
    transform: translate(-50%, -50%);
  }

  &__inner {
    position: relative;
    max-width: $MAIN_WIDTH - 40px;
    margin: 0 auto;

    &:before {
      position: absolute;
      left: 0;
      bottom: -20px;
      width: 273px;
      height: 212px;
      background: url($IMG_PATH + 'common/img_foot_contact.png') no-repeat center center;
      background-size: 100% auto;
      content: '';
      transform: translate(-140px, 0);

      @include MEDIA_TAB {
        left: 50%;
        top: -50px;
        bottom: auto;
        width: percentage(470 / $SP_DESIGN_WIDTH);
        max-width: 470px;
        height: 0;
        padding: percentage(172/ $SP_DESIGN_WIDTH / 2) 0;
        background: url($IMG_PATH + 'common/img_foot_contact_sp.png') no-repeat center center;
        background-size: 100% auto;
        transform: translate(-50%, -100%);
      }
    }
  }

  &__content {
    margin-bottom: 20px;
  }

  &__access {
    display: flex;
    justify-content: center;

    @include MEDIA_TAB {
      display: block;
    }
  }

  &__access__text {
    margin: 0 0.5em;
    font-size: 1.4rem;
    font-weight: $FONT_W_M;
    letter-spacing: 100/1000+em;
    line-height: percentage(36/14);

    @include MEDIA_TAB {
      text-align: center;
      margin: 0;
      line-height: percentage(48/28);
    }

    @include MEDIA_SP {
      font-size: 1.2rem;
    }
  }
  
}

.l-footer-navi {
  position: relative;
  padding: 180px 20px 70px 20px;
  background: $COLOR_WH;

  @include MEDIA_TAB {
    padding: 40px 20px 130px 20px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    max-width: $MAIN_WIDTH - 40px;
    margin: 0 auto;

    @include MEDIA_TAB {
      display: block;
    }
  }

  &__head {
    flex-shrink: 0;
  }

  &__main {
    flex-shrink: 0;
    width: 560px;
    font-weight: $FONT_W_M;
    line-height: percentage(30/14);

    @include MEDIA_SP {
      display: none;
    }
  }
}

.l-footer-copy {
  position: relative;
  padding: 74px 20px 72px 20px;

  @include MEDIA_TAB {
    padding: 65px 20px 110px 20px;
  }
  
  &__text {
    display: block;
    color: $COLOR_WH;
    font-weight: $FONT_W_M;
    font-size: 1.2rem;
    letter-spacing: 100/1000+em;
    line-height: percentage(30/12);
    text-align: center;

    @include MEDIA_TAB {
      line-height: percentage(44/24);
    }
  }
}

.l-footer-pagetop {
  position: absolute;
  right: 50px;
  bottom: 50px;
  width: 42+10px;
  height: 52+10px;

  &.is-fixed {
    position: fixed;
  }

  @include MEDIA_SP {
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translate(-50%, 0);
  }

  &__inner {
    transition: all 0.3s ease;
    position: relative;
    width: 42px;
    height: 52px;
    margin: 0 auto;
  }

  &.hover {
    .l-footer-pagetop__inner {
      transform: translate(0, 10px);

      @include MEDIA_SP {
        transform: translate(0, 0);
      }
    }  
  }
}
