.l-heading {
  position: relative;
  z-index: 1;
  padding: 60px 20px;
  background: $BG_BEIGE;
  border-bottom: 1px solid $LINE_BEIGE;

  @include MEDIA_TAB {
    padding: 40px 20px;
  }

  &__title {
    text-align: center;
    font-size: 2.2rem;
    font-weight: $FONT_W_B;

    @include MEDIA_TAB {
      font-size: 2rem;
    }
  }
}
