.l-header {
  position: relative;
  z-index: 1;
  background: $COLOR_WH;
  
  &__inner {
    padding: 35px 20px;

    @include MEDIA_SP {
      padding: 15px 20px 35px 20px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: $MAIN_WIDTH - 40px;
    margin: 0 auto;

    @include MEDIA_TAB {
      display: block;
    }
  }

  &__logo {
    width: 260px;
    height: 50px;

    @include MEDIA_TAB {
      margin-bottom: 20px;
    }

    @include MEDIA_SP {
      width: percentage(490 / $SP_DESIGN_WIDTH);
      max-width: 250px;
      margin: 0;
    }
  }

  &__logo__link {
    display: block;
    height: 100%;
    transition: all $HOVER_ANIME_SPEED $HOVER_ANIME_EASING;

    &.hover {
      opacity: $HOVER_ANIME_OPACITY;
    }

    @include MEDIA_SP {
      .icon-wrap {
        height: 0;
        padding: percentage(160 / 750 / 2) 0;
        background: url($IMG_PATH + 'common/logo_sp.png') no-repeat center center;
        background-size: cover;
      }

      .icon {
        display: none;
      }
    }
  }

  &__navi {
    flex-shrink: 0;
    width: 690px;

    @include MEDIA_SP {
      display: none;
    }
  }

  &__navi__group {
    display: flex;
    justify-content: space-between;
  }

  &__navi__child {
    font-size: 1.6rem;
    font-weight: $FONT_W_M;
  }

  &__navi__link {
    transition: all $HOVER_ANIME_SPEED $HOVER_ANIME_EASING;

    &.hover {
      opacity: $HOVER_ANIME_OPACITY;
    }
  }
}
