.l-navilist {
  
  &__home {
    margin-bottom: 30px;
  }

  &__main {
    display: flex;
    justify-content: space-between;

    @include MEDIA_SP {
      display: block;
    }
  }

  &__group {

  }

  &__def {

    &:first-of-type {
      margin-bottom: 30px;

      @include MEDIA_SP {
        margin: 0;
        border-top: 1px solid $BORDER_GRAY;
      }
    }
  }

  &__heading {
    @include MEDIA_SP {
      border-bottom: 1px solid $BORDER_GRAY;
    }
  }

  &__heading__link {
    position: relative;
    text-decoration: underline;

    @include MEDIA_SP {
      display: block;
      padding: 15px 20px;
      font-size: 1.6rem;
      font-weight: $FONT_W_M;
      text-decoration: none;

      &:after {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translate(0, -50%);
        content: '>';
      }
    }
  }

  &__child {
    position: relative;
    padding: 0 0 0 1.5em;

    &:before {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      content: '└';
    }

    @include MEDIA_SP {
      border-bottom: 1px solid $BORDER_GRAY;
      padding: 0;

      &:before {
        left: 20px;
        top: 50%;
        transform: translate(0, -50%);
      }

      &:after {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translate(0, -50%);
        content: '>';
      }
    }
  }

  &__child__link {
    text-decoration: underline;
    position: relative;

    @include MEDIA_SP {
      display: block;
      padding: 15px 20px 15px 40px;
      background: $BG_NAVI_GRAY;
      font-size: 1.6rem;
      font-weight: $FONT_W_M;
      text-decoration: none;
    }
  }

  &__list {
    @include MEDIA_SP {
      border-bottom: 1px solid $BORDER_GRAY;
    }
  }

  &__list__link {
    position: relative;

    @include MEDIA_SP {
      display: block;
      padding: 15px 20px;
      font-size: 1.6rem;
      font-weight: $FONT_W_M;
      text-decoration: none;

      &:after {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translate(0, -50%);
        content: '>';
      }
    }
  }
}
