html.is-hide-scroll,
body.is-hide-scroll {
  overflow: hidden;
}

.l-navi {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 11;
  width: 100%;
  height: 100%;
  background: $COLOR_WH;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  opacity: 0;

  &.is-show {
    display: block;
    animation: menuAnimation 0.2s ease 0s forwards;
  }

  &__wrapper {
    position: relative;
    z-index: 2;
    padding: 70px 20px;
    min-width: $MAIN_WIDTH;

    @include MEDIA_TAB {
      min-width: auto;
    }

    @include MEDIA_SP {
      padding: 15px 0 50px 0;
    }
  }

  &__inner {
    position: relative;
    width: 100%;
    max-width: $MAIN_WIDTH - 40px;
    margin: 0 auto;
  }

  &__close {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    width: 60px;
    height: 60px;
    padding: 23px 22px;
    background: $COLOR_BLACK;
    cursor: pointer;
  }

  &__close__inner {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__close__border {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 1px;
    background: $COLOR_WH;

    &.border-1 {
      transform: translate(-50%, -50%) rotateZ(45deg);
    }

    &.border-2 {
      transform: translate(-50%, -50%) rotateZ(-45deg);
    }
  }

  &__logo {
    display: none;

    @include MEDIA_SP {
      display: block;
      margin-bottom: 35px;
    }
  }

  &__logo__link {
    @include hideaway;
    width: 491/2+px;
    height: 93/2+px;
    background: url($IMG_PATH + 'common/logo_sp.png') no-repeat center center;
    background-size: contain;
  }

  &__contact {
    position: relative;
    margin-bottom: 60px;

    @include MEDIA_SP {
      background: $BG_BEIGE;
      margin-bottom: 40px;
      padding: 40px 20px;

      &:before {
        position: absolute;
        left: 50%;
        top: 0;
        width: 1px;
        height: 40px;
        background: url($IMG_PATH + 'common/img_foot_contact_line_sp.png') no-repeat center top;
        background-size: 100% auto;
        content: '';
        transform: translate(-50%, -50%);
      }
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;

    @include MEDIA_TAB {
      display: block;
    }

    @include MEDIA_SP {

    }
  }

  &__info {
    @include MEDIA_SP {
      display: none;
    }
  }

  &__list {
    .l-navilist__home {
      @include MEDIA_SP {
        display: none;
      }
    }
  }

  &__access {
    display: none;

    @include MEDIA_SP {
      display: block;
      padding: 65px 20px 0 20px;
    }
  }

  &__access__text {
    text-align: center;
    font-weight: $FONT_W_M;
    line-height: percentage(48/28);

    @include MEDIA_SP {
      font-size: 1.2rem;
    }
  }
}
