.l-single-wrap {
  padding: 50px 20px 100px 20px;
  max-width: $MAIN_WIDTH + 40px;
  margin: 0 auto;

  @include MEDIA_TAB {
    padding-bottom: percentage(280 / $MEDIA_TAB);
  }

  @include MEDIA_SP {
    padding-bottom: percentage(250 / $MEDIA_SP);
  }
}

/**
* wysiwyg内
*/
.l-wysi {
  h1 {
    margin: 1em 0;
    font-weight: $FONT_W_B;
    font-size: 2.4rem;
    border-bottom: 4px solid $BORDER_GRAY;

    @include MEDIA_SP {
      font-size: 2rem;
    }
  }

  h2 {
    margin: 1em 0;
    font-weight: $FONT_W_B;
    font-size: 2.2rem;
    position: relative;
    padding-left: 15px;

    &:before {
      position: absolute;
      left: 0;
      top: 0;
      width: 6px;
      height: 100%;
      background: $BORDER_GRAY;
      content: '';
    }

    @include MEDIA_SP {
      font-size: 1.8rem;
    }
  }

  h3 {
    margin: 1em 0;
    font-weight: $FONT_W_B;
    font-size: 2rem;
    border-bottom: 1px dashed $BORDER_GRAY;

    @include MEDIA_SP {
      font-size: 1.6rem;
    }
  }

  h4 {
    margin: 1em 0;
    font-weight: $FONT_W_B;
    font-size: 1.8rem;

    @include MEDIA_SP {
      font-size: 1.4rem;
    }
  }

  p {
    margin: 1em 0;
  }

  li {
    margin: 1em 0;
  }

  blockquote {
    position: relative;
    margin: 15px 0;
    padding: 10px 0 0 15px;
    font-style: italic;
    color: $LINE_DG;

    &:before {
      position: absolute;
      left: 0;
      top: 8px;
      content: '"';
    }
  }

  a {
    color: $COLOR_OCHER;
    text-decoration: underline;
  }

  img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
  }
}

/**
* pager entry
*/
.c-entry-pager {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  @include MEDIA_SP {
    margin-bottom: 30px;
  }

  &__entry {

  }

  &__entry__child {
    display: inline-block;
    position: relative;
    font-size: 1.6rem;

    @include MEDIA_SP {
      font-size: 1.4rem;
    }
    
    &:nth-of-type(2) {
      padding-left: 15px;
      margin-left: 5px;
      &:before {
        position: absolute;
        left: 0;
        top: 0;
        content: '|';
      }
    }
  }

  &__link {
    transition: all $HOVER_ANIME_SPEED $HOVER_ANIME_EASING;

    &.hover {
      opacity: $HOVER_ANIME_OPACITY;
      text-decoration: underline;
    }
  }

  &__archive {
    width: 180px;
    flex-shrink: 0;

    @include MEDIA_SP {
      width: 150px;
    }
  }

  &__archive__link {
    display: block;
    background: $BG_BTN_BLACK;
    color: $COLOR_WH;
    text-align: center;
    font-weight: $FONT_W_M;
    padding: 5px;
    font-size: 1.6rem;
    transition: all $HOVER_ANIME_SPEED $HOVER_ANIME_EASING;

    &.hover {
      opacity: $HOVER_ANIME_OPACITY;
    }

    @include MEDIA_SP {
      font-size: 1.4rem;
    }
  }
}

/**
* pager archive
*/
.c-archive-pager {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  &__child {
    text-align: center;
    font-size: 1.6rem;
    display: block;
    margin: 0 4px;

    @include MEDIA_SP {
      font-size: 1.2rem;
    }

    &.child-link {
      padding: 10px 15px;
      border: 1px solid $LINE_DG;
      color: $LINE_DG;
      background: $BG_LG;
      transition: all $HOVER_ANIME_SPEED $HOVER_ANIME_EASING;

      @include MEDIA_SP {
        padding: 8px 10px;
      }

      &.hover {
        background: $BG_EARTH_COLOR;
      }
    }

    &.child-current {
      padding: 10px 15px;
      border: 1px solid $LINE_DG;
      background: $COLOR_OCHER;
      color: $COLOR_WH;

      @include MEDIA_SP {
        padding: 8px 10px;
      }
    }

    &.child-dot {
      @include MEDIA_SP {
        font-size: 1rem;
      }
    }
  }
}
