.icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.icon-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.fill-color-current {
  fill: currentColor;
}

.storke-color-current {
  stroke: currentColor;
}
