.font-f-cinzel {
  font-family: $FONT_CINZEL;
}

.font-w-m {
  font-weight: $FONT_W_M;
}

.font-w-b {
  font-weight: $FONT_W_B;
}

.f-min {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3","Sawarabi Mincho","Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

.o-text-link {
  text-decoration: underline;
  transition: all $HOVER_ANIME_SPEED $HOVER_ANIME_EASING;

  &.hover {
    text-decoration: none;
    opacity: $HOVER_ANIME_OPACITY;
  }
}

.f-color-red {
  color: $COLOR_RED;
}

.o-text-error {
  margin-top: 5px;
  font-size: 1.2rem;
}
