{% extends 'layout/_01_lower.twig' %}

{# メタタグ設定 #}
{% set pageTitle = 'ご相談から完成までの流れ' %}
{% set description = '知多市、半田市、常滑市、東海市を中心に知多半島で優雅なお庭、コンクリートガレージ、外構エクステリアにこだわりたい方は高橋造園にお任せください。' %}
{% set keywords = '外構,エクステリア,造園,知多市,半田市' %}

{# ページID設定 #}
{% set pageId = 'flow' %}
{% set title = 'flow' %}
{% set h1Text = 'ご相談から完成までの流れ' %}

{# ページ個別　CSS等 #}
{% block headArea %}
<meta property="og:type" content="article" />
<link href="{{ theme }}/assets/css/page-{{ pageId }}.css" rel="stylesheet">
{% endblock %}

{# コンテンツをここに記載(main) #}
{% block main %}
<div class="l-main">
  {% include ('include/_heading.twig') %}
  {% include ('include/_breadcrumb.twig') %}
  <div class="l-section-wrap">
    <section class="l-section section-1">
      <div class="l-section__inner">
        <div class="l-section__head">
          <h2 class="l-section__head__title">お問い合わせ</h2>
          <p class="l-section__head__text">「大きな仕事から小さな仕事まで大歓迎です!」</p>
        </div>
        <div class="l-section__main">
          <p class="l-section__main__text u-mb-70">まずはどんなことでもお気軽に、お電話かメールフォームにてお問合せください。</p>
          <div class="l-section__contact">
            <div class="l-section__contact__tel">
              <div class="l-section__contact__tel__head">
                <div class="l-section__contact__tel__icon">
                  <div class="icon-wrap">
                    <svg class="icon fill-color-current">
                        <use xlink:href="{{ theme }}/assets/svg/icons.svg#icon_tel"></use>
                      </svg>
                  </div>
                </div>
                <p class="l-section__contact__tel__text">お電話でのお問い合わせ</p>
              </div>
              <p class="l-section__contact__tel__num f-min">TEL.<span class="l-section__contact__tel__num-l f-min">{{ companyTel }}</span></p>
            </div>
            <div class="l-section__contact__mail">
              <a class="c-btn btn-footer-mail js-hover" href="{{ siteurl }}{{ siteMap.contact.url }}">
                <div class="c-btn__inner">
                  <div class="c-btn__icon btn-icon-footer-mail">
                    <div class="c-btn__icon__inner">
                      <svg class="icon fill-color-current">
                        <use xlink:href="{{ theme }}/assets/svg/icons.svg#icon_mail"></use>
                      </svg>
                    </div>
                  </div>
                  <p class="c-btn__text">無料見積り／お問い合わせ</p>
                  <div class="c-btn__arrow btn-arrow-footer-mail">
                    <div class="c-btn__arrow__inner">
                      <svg class="icon fill-color-current">
                        <use xlink:href="{{ theme }}/assets/svg/icons.svg#icon_arrow_r"></use>
                      </svg>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="l-section section-2">
      <div class="l-section__inner">
        <div class="l-section__head">
          <h2 class="l-section__head__title">現地調査・ヒアリング</h2>
          <p class="l-section__head__text">「お客様の、お庭への想いを伺います」</p>
        </div>
        <div class="l-section__main">
          <p class="l-section__main__text u-mb-40">フットワークの軽さが高橋造園のウリです！出来るだけ早めにお客様の元にお伺いし、まずは高橋が直接この目で状態を確認致します！</p>
          <p class="l-section__main__text">ヒアリング・お打ち合わせの際は、ご要望やご予算、ご趣味、家族構成、将来のこと、どんなことでもいいのでお客様の想いをお聞かせください！</p>
        </div>
      </div>
    </section>

    <div class="l-flow-wrap">
      <section class="l-section-col col-branch">
        <div class="l-section-col__inner">
          <div class="l-section-col__branch">
            <div class="l-section-col__branch__thumb">
              <img src="{{ theme }}/assets/images/flow/img_necessary.png" alt="図面を必要とする大きな工事 サムネイル" class="img-rsp">
            </div>
            <div class="l-section-col__branch__detail">
              <p class="l-section-col__branch__text">図面を必要とする</p>
              <p class="l-section-col__branch__title">大きな工事は…</p>
            </div>
          </div>
        </div>
      </section>

      <section class="l-section-col col-branch">
        <div class="l-section-col__inner">
          <div class="l-section-col__branch">
            <div class="l-section-col__branch__thumb">
              <img src="{{ theme }}/assets/images/flow/img_unnecessary.png" alt="図面を必要としないその他の工事 サムネイル" class="img-rsp">
            </div>
            <div class="l-section-col__branch__detail">
              <p class="l-section-col__branch__text">図面を必要としない</p>
              <p class="l-section-col__branch__title">その他の工事は…</p>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="l-flow-wrap">
      <section class="l-section-col section-3">
        <div class="l-section-col__inner">
          <div class="l-section-col__head">
            <h2 class="l-section__head__title">図面・プランの作成</h2>
            <p class="l-section__head__text">「大きな工事は図面を作成します」</p>
          </div>
          <div class="l-section-col__main">
            <p class="l-section__main__text">お客様からお伺いした内容や、現在の周辺環境を考慮した上で、図面やプランを作成します。<br>参考になるものがありましたらお見せいただけるとより具体的にお話ができます。</p>
          </div>
        </div>
      </section>

      <section class="l-section-col section-3">
        <div class="l-section-col__inner">
          <div class="l-section-col__head">
            <h2 class="l-section__head__title">お見積り作成</h2>
            <p class="l-section__head__text">「適正価格のお見積りをすぐ作成」</p>
          </div>
          <div class="l-section-col__main">
            <p class="l-section__main__text">ご要望やご予算を元にお見積りを作成いたします。</p>
          </div>
        </div>
      </section>
    </div>

    <section class="l-section section-4">
      <div class="l-section__inner">
        <div class="l-section__head">
          <h2 class="l-section__head__title">プラン・お見積り提出</h2>
          <p class="l-section__head__text">「ご納得いただけるプラン・お見積り」</p>
        </div>
        <div class="l-section__main">
          <p class="l-section__main__text u-mb-40">お客様の笑顔を思い浮かべながら作成したプランをご提出いたします。ご不明な点や、ご不満ございましたら何でもご相談ください！</p>
          <p class="l-section__main__text">お客様にご納得頂けるまでとことん話し合い、よりよいプランに練り直していきます！</p>
        </div>
      </div>
    </section>

    <section class="l-section section-5">
      <div class="l-section__inner">
        <div class="l-section__head">
          <h2 class="l-section__head__title">ご契約・施工開始</h2>
          <p class="l-section__head__text">「夢のお庭づくり、大切に施工いたします」</p>
        </div>
        <div class="l-section__main">
          <p class="l-section__main__text u-mb-40">プランやお見積りにご納得いただけましたらやっとご契約です！いよいよ高橋造園とお客様で夢のお庭づくりの開始です！</p>
          <p class="l-section__main__text">お客様だけでなく、近所の方にも細心の注意を払い、大切に大切に施工いたします！</p>
        </div>
      </div>
    </section>

    <div class="l-section-bnr">
      <img src="{{ theme }}/assets/images/flow/img_present.jpg" alt="工事中、高橋が心を込めた「+α」なお庭をサプライズプレゼントします！" class="img-rsp">
    </div>

    <section class="l-section section-6">
      <div class="l-section__inner">
        <div class="l-section__head">
          <h2 class="l-section__head__title">完成</h2>
          <p class="l-section__head__text">「キレイに後片付けをして、完成です」</p>
        </div>
        <div class="l-section__main">
          <p class="l-section__main__text">しっかりと最後の点検をした後、いよいよ完成です。気になる点などがありましたらお気軽にお申し付けください！<br>片づけまでしっかりします！<br>「整理整頓・後片付けまでしっかり」の高橋造園です！！！</p>
        </div>
      </div>
    </section>

    <section class="l-section section-7">
      <div class="l-section__inner">
        <div class="l-section__head">
          <h2 class="l-section__head__title">それから・・・</h2>
          <p class="l-section__head__text">「お庭のアフターケアも万全です」</p>
        </div>
        <div class="l-section__main">
          <p class="l-section__main__text u-mb-40">高橋造園はお客様のお庭のかかりつけの医師のようになり、いつでも調子の悪いときは駆けつけ対応させていただきます。</p>
          <p class="l-section__main__text">もちろん日々のメンテナンスの仕方やアドバイスもしております。お客様と一緒になって大切なお庭を守り続けていきたいと思っています。</p>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %}
