<section id="end-contact">
<p class="end-contact-ttl">Contact</p>
<p>ロゴ 社名</p>
<p>〒　県市</p>
<p class="tel"><img src="{{ theme }}/images/common/end-bnr-tel.png" alt="tel.0120-000-0000" class="tel-cmp sp-tel-link" /></p>
<p>営業時間／　定休日／</p>
<p class="btn f-gothic"><a href="{{ siteurl }}/form">お問い合わせはこちら</a></p>
</section>
