<p class="sp-page-top sp"><a href="#"><img src="{{ theme }}/images/common/sp-pagetop.png" alt="ページの先頭へ戻る" /></a></p>
<footer>
<div class="footer-Box clearfix">
<div class="f-link-Box">
<p class="f-home-link"><a href="{{ path('homepage') }}">HOME ｜ フッタSEOテキストが入ります</a></p>
<ul class="f-link-l">
<li><a href="{{siteurl}}/">ホーム</a></li>
<li><a href="{{siteurl}}/staff">スタッフ紹介</a></li>
<li><a href="{{siteurl}}/case_newly">施工事例</a></li>
<li><a href="{{siteurl}}/case_reform">リフォーム施工事例</a></li>
<li><a href="{{siteurl}}/real_estate">土地情報</a></li>
</ul>
<ul class="f-link-c">
<li><a href="{{siteurl}}/voice">お客様の声</a></li>
<li><a href="{{siteurl}}/event">イベント情報</a></li>
<li><a href="{{siteurl}}/topics">新着情報</a></li>
<li><a href="{{siteurl}}/company">会社案内</a></li>
<li><a href="{{siteurl}}/blog">ブログ</a></li>
</ul>
<ul class="f-link-r">
<li><a href="{{siteurl}}/form">お問い合わせ</a></li>
<li><a href="{{siteurl}}/request">資料請求</a></li>
</ul>
</div>

<div class="f-con-Box">
<p class="f-logo"><img src="{{ theme }}/images/common/open-logo.png" alt="{{companyname}}" /></p>
<p>社名</p>
<p>〒　県市</p>
<p class="tel-cmp"><span class="sp-tel-link">Tel.0000-000-000</span></p>
<p>営業時間／　定休日／</p>
<p><a href="{{siteurl}}/form">お問い合わせ</a></p>
<p><a href="{{siteurl}}/request">資料請求</a></p>
<ul class="sns-list">
<li><a href="https://www.facebook.com/" target="_blank">Facebook</a></li>
<li><a href="https://www.instagram.com/" target="_blank">Insta</a></li>
</ul><!-- sns-list -->
</div><!-- f-con-Box -->
</div><!-- footer-Box -->
</footer>
<small class="copyright"> Copyright© 2020 {{companyname}}. All Rights Reserved.</small>

<!--　fix関連 SPのみ　-->
<ul class="sp-fix-list">
<li class="tel"><img src="{{ theme }}/images/common/sp-fix-tel.jpg" alt="Tel.0000-000-000" class="tel-cmp sp-tel-link" /></li>
<li class="icon"><a href="{{siteurl}}/form"><img src="{{ theme }}/images/common/sp-fix-icon-01.jpg" alt="お問い合わせ リンクボタン"/></a></li>
</ul>
