  <h3>お問い合わせフォーム</h3>
  <p>お問い合わせフォームに必要事項のご入力をして送信ボタンをクリックしてください。<br>メールアドレスは正しくご入力ください。弊社より返信メールが届かない可能性があります。<br>文字化けの原因となりますので、全角カナでご入力頂きますようお願いします。<br><span>※</span>の項目は必ず入力してください。</p>
    <form class="" action="index.html" method="post">
      
      {# CRM連携 #}
      <input type="hidden" name="cms_relation_code" value="{{ record.event_form | escape }}">
      
      <table>
        <tbody>
          <tr>
            <th class="required">お名前</th>
            <td><input type="text" size="40" maxlength="20" placeholder="お名前"></td>
          </tr>
          <tr>
            <th>ふりがな</th>
            <td><input type="text" size="40" maxlength="20" placeholder="ふりがな"></td>
          </tr>
          <tr>
            <th>電話番号</th>
            <td><input type="tel" size="40" maxlength="20" placeholder="電話番号"></td>
          </tr>
          <tr>
            <th>郵便番号</th>
            <td><input type="text" size="40" maxlength="20" placeholder="郵便番号"></td>
          </tr>
          <tr>
            <th class="required">ご住所</th>
            <td><input type="text" size="40" maxlength="20" placeholder="ご住所"></td>
          </tr>
          <tr>
            <th class="required">メールアドレス</th>
            <td><input type="email" size="40" maxlength="20" placeholder="メールアドレス"></td>
          </tr>
          <tr>
            <th class="required">ご予約の有無</th>
            <td><label><input type="radio" name="" id="" value="1">相談会予約</label><label><input type="radio" name="" id="" value="1">お問合わせします</label></td>
          </tr>
          <tr>
            <th class="required">ご予約種別</th>
            <td><label><input type="checkbox" name="" id="" value="1">家づくり相談会</label><br><label><input type="checkbox" name="" id="" value="1">資金計画相談</label><br><label><input type="checkbox" name="" id="" value="1">土地探し相談会</label></td>
          </tr>
          <tr>
            <th>予約希望日</th>
            <td><input type="tel" size="40" maxlength="20"></td>
          </tr>
          <tr>
            <th>予約希望日</th>
            <td>
                <select name="">
                  <option value="" selected>選択してください
                    <option value="1">10/02</option>
                    <option value="2">10/03</option>
                  </select>
              </td>
          </tr>
          <tr>
            <th>ご希望時間</th>
            <td><input type="tel" size="40" maxlength="20"></td>
          </tr>
          <tr>
            <th>ご希望時間</th>
            <td>
              <select name="">
                <option value="" selected>選択してください
                  <option value="1">10:00</option>
                  <option value="2">11:00</option>
                </select>
            </td>
          </tr>
          <tr>
            <th>お問合わせ・伝言等</th>
            <td><textarea name="" size="40" maxlength="200" id=""></textarea></td>
          </tr>
        </tbody>
      </table>
      <div class="btnArea">
        <button type="submit" name="button">確認画面へ</button>
        <button type="submit" name="button">上記内容にて送信</button>
        <button onclick="history.back()" name="button">入力画面に戻る</button>
      </div>
    </form>
