<!--　グローバルナビ PCのみ　-->
<nav id="g-nav" class="f-gothic clearfix"  ontouchstart="">
<ul class="navi-inner dropmenu">
<li class="list"><a href="{{siteurl}}/">ホーム</a></li>
<li class="list"><span>施工事例</span>
<ul class="sub">
<li><a href="{{siteurl}}/case_newly">新築施工事例</a></li>
<li><a href="{{siteurl}}/case_reform">リフォーム施工事例</a></li>
</ul>
</li>
<li class="list"><a href="{{siteurl}}/real_estate">土地情報</a></li>
<li class="list"><a href="{{siteurl}}/voice">お客様の声</a></li>
<li class="list"><a href="{{siteurl}}/event">イベント情報</a></li>
<li class="list"><a href="{{siteurl}}/topics">新着情報</a></li>
<li class="list"><a href="{{siteurl}}/company">会社案内</a></li>
<li class="list"><a href="{{siteurl}}/staff">スタッフ紹介</a></li>
<li class="list"><a href="{{siteurl}}/blog">ブログ</a></li>
</ul><!-- navi-inner -->
</nav><!-- g-nav -->


<!-- SP header -->

<nav id="sp-global-nav">
<p class="open-close-01 closebtn"><img src="{{ theme }}/images/common/sp-open-close.jpg" alt="メニューを閉じる"/></p>
<div class="open-color-Box">

<ul class="list">
<li><a href="{{siteurl}}/">ホーム</a></li>
<li><a href="{{siteurl}}/staff">スタッフ紹介</a></li>
<li><a href="{{siteurl}}/case_newly">施工事例</a></li>
<li><a href="{{siteurl}}/case_reform">リフォーム施工事例</a></li>
<li><a href="{{siteurl}}/real_estate">土地情報</a></li>
<li><a href="{{siteurl}}/voice">お客様の声</a></li>
<li><a href="{{siteurl}}/event">イベント情報</a></li>
<li><a href="{{siteurl}}/topics">新着情報</a></li>
<li><a href="{{siteurl}}/company">会社案内</a></li>
<li><a href="{{siteurl}}/blog">ブログ</a></li>
<li><a href="{{siteurl}}/form">お問い合わせ</a></li>
<li><a href="{{siteurl}}/request">資料請求</a></li>
</ul>

<ul class="two-list">
<li><a href="{{siteurl}}/">ホーム</a></li>
<li><a href="{{siteurl}}/staff">スタッフ紹介</a></li>
<li><a href="{{siteurl}}/case_newly">施工事例</a></li>
<li><a href="{{siteurl}}/case_reform">リフォーム施工事例</a></li>
<li><a href="{{siteurl}}/real_estate">土地情報</a></li>
<li><a href="{{siteurl}}/voice">お客様の声</a></li>
<li><a href="{{siteurl}}/event">イベント情報</a></li>
<li><a href="{{siteurl}}/topics">新着情報</a></li>
<li><a href="{{siteurl}}/company">会社案内</a></li>
<li><a href="{{siteurl}}/blog">ブログ</a></li>
<li><a href="{{siteurl}}/form">お問い合わせ</a></li>
<li><a href="{{siteurl}}/request">資料請求</a></li>
<li><a href="">奇数で下線、半分</a></li>
</ul>
<br><br>
<ul class="two-list-02">
<li><a href="{{siteurl}}/">ホーム</a></li>
<li><a href="{{siteurl}}/staff">スタッフ紹介</a></li>
<li><a href="{{siteurl}}/case_newly">施工事例</a></li>
<li><a href="{{siteurl}}/case_reform">リフォーム施工事例</a></li>
<li><a href="{{siteurl}}/real_estate">土地情報</a></li>
<li><a href="{{siteurl}}/voice">お客様の声</a></li>
<li><a href="{{siteurl}}/event">イベント情報</a></li>
<li><a href="{{siteurl}}/topics">新着情報</a></li>
<li><a href="{{siteurl}}/company">会社案内</a></li>
<li><a href="{{siteurl}}/blog">ブログ</a></li>
<li><a href="{{siteurl}}/form">お問い合わせ</a></li>
<li><a href="{{siteurl}}/request">資料請求</a></li>
<li><a href="">奇数で下線、100%</a></li>
</ul>

<p class="closebtn open-close-02">× Close</p>
</div>
</nav>
<!-- /SP header -->


<!--　fix関連 PCのみ　-->
<p class="pc-menu"><img src="{{theme}}/images/common/fix-top-menu.jpg" alt="メガメニュー を開く"/></p>
<aside class="side-fix fix-list">
<ul>
<li class="list-01"><a href="{{siteurl}}/form"><img src="{{theme}}/images/common/fix-side-01.jpg" alt="お問い合わせ リンクバナー"/></a></li>
<li class="list-02"><a href="{{siteurl}}/request"><img src="{{theme}}/images/common/fix-side-02.jpg" alt="イベント情報 リンクバナー"/></a></li>
</ul>
<p class="fix-pagetop"><a href="#"><img src="{{theme}}/images/common/pagetop.jpg" alt="このページの先頭にもどる"/></a></p>
</aside>

<div id="pc-menu-open">
<p class="open-close-01 closebtn"><img src="{{theme}}/images/common/open-close.jpg" alt="メガメニュー を閉じる"/></p>

<div class="open-main-Box">
<p class="ttl"><a href="{{ path('homepage') }}"><img src="{{theme}}/images/common/open-logo.png" alt=""/></a></p>

<div class="list-Box clearfix">
<ul class="list-01">
<li><a href="{{siteurl}}/">ホーム</a></li>
<li><a href="{{siteurl}}/staff">スタッフ紹介</a></li>
<li><a href="{{siteurl}}/case_newly">施工事例</a></li>
<li><a href="{{siteurl}}/case_reform">リフォーム施工事例</a></li>
<li><a href="{{siteurl}}/real_estate">土地情報</a></li>
<li><a href="{{siteurl}}/voice">お客様の声</a></li>
<li><a href="{{siteurl}}/event">イベント情報</a></li>
<li><a href="{{siteurl}}/topics">新着情報</a></li>
<li><a href="{{siteurl}}/company">会社案内</a></li>
<li><a href="{{siteurl}}/blog">ブログ</a></li>
<li><a href="{{siteurl}}/form">お問い合わせ</a></li>
<li><a href="{{siteurl}}/request">資料請求</a></li>
</ul><!-- list-03 -->
</div><!-- list-Box -->

<div class="con-Box">
<p>会社名</p>
<p>〒　県市</p>
<p>お電話受付時間／　定休日／</p>
<ul class="sns-list">
<li><a href="https://www.facebook.com/" target="_blank">Facebook</a></li>
<li><a href="https://www.instagram.com/" target="_blank">Instagram</a></li>
</ul>
</div><!-- con-Box -->

<p class="open-close-02 closebtn">× Close</p>

</div><!-- open-main-Box -->
</div><!-- pc-menu-open -->