<header>


<!-- 下層共通 top if文 -->

{% if title != 'toppage' %}
<!-- 下層共通 -->
{% else %}
<!-- TOPのみ -->
{% endif %}

<!-- PC header -->
<div class="pc">

<p class="h-logo"><a href="{{ path('homepage') }}"><img src="{{ theme }}/images/common/open-logo.png" alt="{{companyname}}" /></a></p>
<ul class="h-link-list">
<li><a href="{{ siteurl }}/company#map">アクセス</a></li>
<li><a href="{{ siteurl }}/company">会社案内</a></li>
</ul><!-- h-link-list -->
<p class="h-add-Box">〒　県市</p>
<ul class="sns-list">
<li><a href="https://www.facebook.com/" target="_blank"><img src="{{ theme }}/images/common/h-fb.jpg" alt="Facebook"/></a></li>
<li><a href="https://www.instagram.com/" target="_blank"><img src="{{ theme }}/images/common/h-insta.jpg" alt="Instagram 外部リンク"/></a></li>
</ul><!-- sns-list -->
<p class="btn01"><a href="{{ siteurl }}/form">お問い合わせ</a></p>
<p class="btn02"><a href="{{ siteurl }}/request">資料請求</a></p>
</div>
<!-- /PC header -->

<div class="sp-header">
<p class="h-logo"><a href="{{ path('homepage') }}"><img src="{{ theme }}/images/common/open-logo.png" alt="{{companyname}}"/></a></p>
<p class="h-menu"><img src="{{ theme }}/images/common/sp-fix-top-menu.jpg" alt="メニューを開く"/></p>
</div>

</header>



