<div class="serchcategory">
  <a href="case_reform_cate01.html"><span class="icon01">カテゴリ1</span></a>
  <a href="case_reform_cate01.html"><span class="icon02">カテゴリ2</span></a>
  <a href="case_reform_cate01.html"><span class="icon03">カテゴリ3</span></a>
  <a href="case_reform_cate01.html"><span class="icon04">カテゴリ4</span></a>
  <a href="case_reform_cate01.html"><span class="icon05">カテゴリ5</span></a>
  <a href="case_reform_cate01.html"><span class="icon06">カテゴリ6</span></a>
</div>
