<!-- ブログページで使用しているサイドバー -->
<aside class="sidebar">
<div class="list-block">
<p class="aside-blog-ttl"><span class="en f-gothic">Calender</span><span class="jp f-gothic">カレンダー</span></p>
<div id="blog-calendar"></div>
</div>
<div class="list-block">
<p class="aside-blog-ttl"><span class="en f-gothic">New</span><span class="jp f-gothic">最新の記事</span></p>
{% setcontent side_latest_searchrecords = 'blog/latest/4' %}
{% if side_latest_searchrecords is defined and side_latest_searchrecords is not empty %}
<ul>
{% for side_latest_searchrecord in side_latest_searchrecords %}
<li><a href="{{ side_latest_searchrecord.link }}">{{ side_latest_searchrecord.blog_title }}</a></li>
{% endfor %}
</ul>
{% endif %}
</div>
<div class="list-block">
<p class="aside-blog-ttl"><span class="en f-gothic">Category</span><span class="jp f-gothic">カテゴリー</span></p>
{% set blog_categories = app.config.get('taxonomy/blog_categories/options') %}
<ul>
{% for key, value in blog_categories %}
<li><a href="{{ path('taxonomylink', { taxonomytype: 'blog_categories', slug: key }) }}"><span class="{{key}}">{{value}}</span></a></li>
{% endfor %}
</ul>
</div>
<div class="list-block" style="display: none;">
<p class="aside-blog-ttl">TAG<br><span>タグ</span></p>
{% set blog_tags = taxonomylist('blog_tags', { 'contenttype': 'blog' }) %}
<ul>
{% for item in blog_tags %}
{% set _value_parts = item.name|split(':') %}
{% if _value_parts|length <= 1 %}
<li><a href="{{ item.link }}">{{ item.name }} ({{ item.count }})</a></li>
{% else %}
<li><a href="{{ item.link }}">{{ _value_parts[1] }} ({{ item.count }})</a></li>
{% endif %}
{% endfor %}
</ul>
</div>
<div class="list-block">
<p class="aside-blog-ttl"><span class="en f-gothic">Contributor</span><span class="jp f-gothic">投稿者</span></p>
<ul>
{% for key, value in users %}

{# root権限以外のユーザー情報を表示 #}
{% set root_flg = false %}
{% if "root" in value.roles %}
{% set root_flg = true %}
{% endif %}
{% if root_flg == false %}
{% setcontent side_contributor_searchrecords = 'blog' where { status: 'published', ownerid: getuserid(value.username) } %}
{# セキュリティ観点から、直接GETでusernameを渡さない #}
<li><a href="{{ path('blogsearchcontentlisting') }}?contributor={{value.displayname}}">{{value.displayname}} ({{side_contributor_searchrecords|length}})</a></li>
{% endif %}
{% endfor %}
</ul>
</div>
<div class="list-block">
<p class="aside-blog-ttl"><span class="en f-gothic">Archive</span><span class="jp f-gothic">アーカイブ</span></p>
<ul>
{% set now = date().date %}
{% for i in 0..4 %}
{% set side_search_start_date = now|date_modify('-' ~ i ~ ' month')|date('Y-m') ~ '-01 00:00:00' %}
{% set side_search_end_date = now|date_modify('-' ~ i ~ ' month')|date_modify('+1 month')|date('Y-m') ~ '-01 00:00:00' %}
{% setcontent side_date_searchrecords = 'blog' where { status: 'published', datepublish: '>=' ~ side_search_start_date ~ ' && < ' ~ side_search_end_date } %}
<li><a href="{{ path('blogsearchcontentlisting') }}?yearmonth={{side_search_start_date|date('Y-m')}}">{{side_search_start_date|date('Y年m月')}} ({{side_date_searchrecords|length}})</a></li>
{% endfor %}
</ul>
</div>

</aside>
