/**
* @file _reset.scss
**/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  vertical-align: bottom;
  font-weight: normal;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
  &:before, &:after {
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
  background: none;
}

img {
  vertical-align: bottom;
  border: none;
}

a {
  outline: none;
  text-decoration: none;
  color: $FONT_COLOR;
}
