{% extends 'layout/_01_lower.twig' %}

{#  ページタイトル設定 #}
{% set pageTitle = '' %}
{% set description = '' %}
{% set keywords = '' %}

{% set h1text = '会社案内' %}

{#  ページID設定 #}
{% set pageId = 'company' %}

{#  ページ個別　CSS等 #}
{% block headArea %}
<meta property="og:type" content="article">
<link href="{{ theme }}/css/page-common.css" rel="stylesheet">
<link href="{{ theme }}/css/page-{{pageId}}.css" rel="stylesheet">
{% endblock %}


{#  コンテンツをここに記載(main) #}
{% block main %}
<h1 class="main-title"><span class="en">{{pageId}}</span><span class="jp f-gothic">{{ h1text }}</span></h1>
{% include ('include/_gnavi.twig') %}

<!-- <div id="one-cl" class="clearfix">one-cl -->
<div id="tow-cl" class="clearfix"><!-- tow-cl -->
{% include ('include/_sidebarcommon.twig') %} {#  2カラムの場合追加 #}

<main>
{# パンくずリスト #}
<nav class="seo_bread_list clearfix">
<ul class="clearfix" itemscope itemtype="https://schema.org/BreadcrumbList">
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
<a itemprop="item" href="{{ path('homepage') }}"><span itemprop="name">HOME</span></a>
<meta itemprop="position" content="1" />
</li>
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
<link itemprop="item" href="{{ canonical() }}"><span itemprop="name">{{ h1text }}</span>
<meta itemprop="position" content="2" />
</li>
</ul>
</nav>

<article>

<h2 class="sub-title">{{ h1text }}</h2>
<p>
2カラムサイトの場合は、<br>
<br><br>
【1】<br>
common.cssの以下の記述のコメントアウトを外す<br>
<br><br>/* 2カラムサイト----------------<br>
#tow-cl{ width: 1100px; margin: 0 auto; padding: 20px 0;}<br>
#tow-cl main{ width: 800px!important; float: left;  }<br>
#tow-cl #side{ width: 280px; float: left; margin-right: 19px; background: #333; height: 800px; }<br>
 */<br>
 <br><br>
【2】<br>
ソースの以下の記述を<br>
<br>
&lt;div id=&quot;one-cl&quot; class=&quot;clearfix&quot;&gt;&lt;!-- one-cl --&gt;<br>
&lt;!--&lt;div id=&quot;tow-cl&quot; class=&quot;clearfix&quot;&gt; tow-cl --&gt;<br>
{ #  { % include (&#039;include/_sidebarcommon.twig&#039;) %} 2カラムの場合追加 #}<br>
<br>
以下の記述に変更する<br>
&lt;!-- &lt;div id=&quot;one-cl&quot; class=&quot;clearfix&quot;&gt;one-cl --&gt;<br>
&lt;div id=&quot;tow-cl&quot; class=&quot;clearfix&quot;&gt;&lt;!-- tow-cl --&gt;<br>
{ % include (&#039;include/_sidebarcommon.twig&#039;) %} { #  2カラムの場合追加 #}<br>
<br><br>
※上記をコピーしない。ソースでコメントアウトの調整のみ行うこと。<br>
このページは説明のため無理やり2カラムにしているだけです。
</p>
<style type="text/css">
@media screen and (min-width: 768px),print {
#tow-cl{ width: 1100px; margin: 0 auto; padding: 20px 0;}
#tow-cl main{ width: 800px!important; float: left;  }
#tow-cl #side{ width: 280px; float: left; margin-right: 19px; background: #333; height: 800px; }
}
</style>

</article>

</main>
</div><!-- one-cl or tow-cl -->

{% include ('include/_end-bnr.twig') %}

{% endblock %}

{#   ページ個別　JS等 #}
{% block jsArea %}
{% endblock %}
