{% extends 'layout/_01_lower.twig' %}

{# ページタイトル設定 #}
{% set pageTitle = record.real_estate_property_area_name %}
{% set pageTitle02 = '' %}
{% set description = '' %}
{% set keywords = '' %}

{% set h1text = '土地・物件情報' %}

{# SNS設定用 #}
{% set seo_pageTitle = record.seo_pagetitle %}
{% set seo_description = record.seo_description %}
{% set sns_img = record.sns_img %}

{# ページID設定 #}
{% set pageId = 'real_estate' %}

{# ページ個別 CSS等 #}
{% block headArea %}
<meta property="og:type" content="article">
<link rel="stylesheet" type="text/css" href="{{ asset('css/page-system.css', 'theme') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/page/detail.css', 'theme') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/page/form.css', 'theme') }}">
{# detail.css #}
{% endblock %}

{#  コンテンツをここに記載(main) #}
{% block main %}
<h1 class="main-title"><span class="en">{{pageId}}</span><span class="jp f-gothic">{{ h1text }}</span></h1>
{% include ('include/_gnavi.twig') %}

<div id="one-cl" class="clearfix"><!-- one-cl -->
<!--<div id="tow-cl" class="clearfix"> tow-cl -->
{#  {% include ('include/_sidebarcommon.twig') %} 2カラムの場合追加 #}

<main>

{# パンくずリスト #}
<nav class="seo_bread_list clearfix">
<ul class="clearfix" itemscope itemtype="https://schema.org/BreadcrumbList">
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"> <a itemprop="item" href="{{ path('homepage') }}"><span itemprop="name">HOME</span></a>
<meta itemprop="position" content="1" /> </li>
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"> <a itemprop="item" href="{{siteurl}}/{{pageId}}"><span itemprop="name">{{ h1text }}</span></a>
<meta itemprop="position" content="2" /> </li>
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
<link itemprop="item" href="{{ canonical() }}"><span itemprop="name">{{ record.real_estate_property_area_name }} {{ record.real_estate_archive_area }}</span>
<meta itemprop="position" content="3" /> </li>
</ul>
</nav>

<article>

<a id="system-contents" name="system-contents"></a>
<h2 class="sub-title">{{ h1text }}</h2>

{# ▼ このタグで囲むと確認画面時に非表示 #}
<section data-pfwform-hide-if-confirm>
ここにフォーム上のコードを記入してください。
</section>
{# ▲ このタグで囲むと確認画面時に非表示 #}


<div data-pfwform-hide-if-confirm>

{# 詳細ページ毎ページャー #}
{% include 'layout/_entry_pager.twig' %}

<div class="system-contents">
<div class="system-contents-inner">
<div class="titleArea">

{% if record.taxonomy.real_estate_categories is defined and record.taxonomy.real_estate_categories is not empty %}
<div class="system-category-set clearfix">
{% for key, value in record.taxonomy.real_estate_categories %}
<p class="system-category {{ key | replace({'/real_estate_categories/': ''})}}">{{ value }}</p>
{% endfor %}
</div>
{% endif %}

{% if record.real_estate_property_area_name is defined and record.real_estate_property_area_name is not empty %}
<h3 class="system-ttl">{{ record.real_estate_property_area_name }}</h3>
{% endif %}

{% if record.real_estate_address is defined and record.real_estate_address is not empty %}
<p class="system-txt">所在地・住所：{{ record.real_estate_address }}</p>
{% endif %}

{% if record.real_estate_cost is defined and record.real_estate_cost is not empty %}
<p class="system-price">土地価格：<span>{{ record.real_estate_cost }}</span></p>
{% endif %}

</div>

<p class="system-icon02">
{# アイコンラベル #}
{% set icon_state = record.real_estate_icon %}
{% if icon_state is defined and icon_state is not empty %}
{% switch icon_state %}
　{% case "ご成約" %}
<span class="icon02-01">ご成約</span>
{% case "検討" %}
<span class="icon02-02">検討</span>
{% case "商談" %}
<span class="icon02-03">商談</span>
{% endswitch  %}
{% endif %}
</p>

{# TOP表示用画像が未登録時は、共通のNoImage画像 #}
{% if record.real_estate_thumb_img is defined and record.real_estate_thumb_img is not empty %}
{% set _real_estate_thumb_img = record.real_estate_thumb_img | image %}
{% else %}
{% set _real_estate_thumb_img = asset('images/common/img_noimage.png', 'theme') %}
{% endif %}
<p class="system-i-pic"><img src="{{ _real_estate_thumb_img }}" class="eyecatchImg" alt="{{ pageTitle }}"></p>

{% if record.real_estate_gallery is defined and record.real_estate_gallery is not empty %}
<div class="system-gallery">
<h2 class="sub-title">Gallery</h2>
<ul class="clearfix gallery-list popupgallery">
{% for _gallery in record.real_estate_gallery %}
<li>
<a
href = "{{ _gallery | image }}"
data-tracking-content-type = "real_estate"
data-tracking-content-id = "{{ record.id }}"
data-tracking-content-name = "{{ record.real_estate_title }}"
data-tracking-img-src = "{{ _gallery | image }}"
data-tracking-img-label = "{{ _gallery.title }}"
data-tracking-field-type = "ギャラリー"
>
<span class="system-Frame fit">
<img src="{{ _gallery | image }}" alt="{{ _gallery.title }}">
</span>
</a>
{% set _filename = _gallery.filename|split('.') %}
{% if _filename[0] not in _gallery.title %}{# imgListに画像を登録した際、ファイル名が出力されるため処理 #}
<span>{{ _gallery.title }}</span>
{% endif %}
</li>
{% endfor %}
</ul><!-- gallery-list -->
</div><!-- gallery-list -->
{% endif %}

<div class="wysiwyg">
{{ record.real_estate_body_text }}
</div>

<ul class="estate-list">
{% if record.real_estate_address is defined and record.real_estate_address is not empty %}
<li><p class="estate-list-ttl">所在地・住所</p>
<p>{{ record.real_estate_address }}</p>
</li>
{% endif %}

{% if record.real_estate_railway is defined and record.real_estate_railway is not empty %}
<li><p class="estate-list-ttl">交通・沿線</p>
<p>{{ record.real_estate_railway }}</p>
</li>
{% endif %}

{% if record.real_estate_floor_plan is defined and record.real_estate_floor_plan is not empty %}
<li><p class="estate-list-ttl">間取り</p>
<p>{{ record.real_estate_floor_plan }}</p>
</li>
{% endif %}

{% if record.real_estate_structure is defined and record.real_estate_structure is not empty %}
<li><p class="estate-list-ttl">構造</p>
<p>{{ record.real_estate_structure }}</p>
</li>
{% endif %}

{% if record.real_estate_floor_space is defined and record.real_estate_floor_space is not empty %}
<li><p class="estate-list-ttl">建物面積</p>
<p>{{ record.real_estate_floor_space }}</p>
</li>
{% endif %}

{% if record.real_estate_age is defined and record.real_estate_age is not empty %}
<li><p class="estate-list-ttl">築年数</p>
<p>{{ record.real_estate_age }}</p>
</li>
{% endif %}

{% if record.real_estate_present_state is defined and record.real_estate_present_state is not empty %}
<li><p class="estate-list-ttl">現況</p>
<p>{{ record.real_estate_present_state }}</p>
</li>
{% endif %}

{% if record.real_estate_shared_area is defined and record.real_estate_shared_area is not empty %}
<li><p class="estate-list-ttl">私道面積・面積・共有部分</p>
<p>{{ record.real_estate_shared_area }}</p>
</li>
{% endif %}

{% if record.real_estate_notices is defined and record.real_estate_notices is not empty %}
<li><p class="estate-list-ttl">その他・特記事項</p>
<p>{{ record.real_estate_notices }}</p>
</li>
{% endif %}
{% if record.real_estate_parking_lot is defined and record.real_estate_parking_lot is not empty %}
<li>
<p class="estate-list-ttl">駐車場</p>
<p>{{ record.real_estate_parking_lot }}</p>
</li>
{% endif %}

{% if record.real_estate_land_area is defined and record.real_estate_land_area is not empty %}
<li><p class="estate-list-ttl">土地面積</p>
<p>{{ record.real_estate_land_area }}</p>
</li>
{% endif %}

{% if record.real_estate_privilege is defined and record.real_estate_privilege is not empty %}
<li><p class="estate-list-ttl">権利</p>
<p>{{ record.real_estate_privilege }}</p>
</li>
{% endif %}

{% if record.real_estate_land_category is defined and record.real_estate_land_category is not empty %}
<li><p class="estate-list-ttl">地目</p>
<p>{{ record.real_estate_land_category }}</p>
</li>
{% endif %}

{% if record.real_estate_topography is defined and record.real_estate_topography is not empty %}
<li><p class="estate-list-ttl">地勢</p>
<p>{{ record.real_estate_topography }}</p>
</li>
{% endif %}

{% if record.real_estate_urban_planning is defined and record.real_estate_urban_planning is not empty %}
<li><p class="estate-list-ttl">都市計画</p>
<p>{{ record.real_estate_urban_planning }}</p>
</li>
{% endif %}

{% if record.real_estate_zoning is defined and record.real_estate_zoning is not empty %}
<li><p class="estate-list-ttl">用途地域</p>
<p>{{ record.real_estate_zoning }}</p>
</li>
{% endif %}

{% if record.real_estate_floor_area_ration is defined and record.real_estate_floor_area_ration is not empty %}
<li><p class="estate-list-ttl">容積率</p>
<p>{{ record.real_estate_floor_area_ration }}</p>
</li>
{% endif %}

{% if record.real_estate_building_coverage is defined and record.real_estate_building_coverage is not empty %}
<li><p class="estate-list-ttl">建ぺい率</p>
<p>{{ record.real_estate_building_coverage }}</p>
</li>
{% endif %}

{% if record.real_estate_residential_land is defined and record.real_estate_residential_land is not empty %}
<li><p class="estate-list-ttl">宅地</p>
<p>{{ record.real_estate_residential_land }}</p>
</li>
{% endif %}

{% if record.real_estate_ownership is defined and record.real_estate_ownership is not empty %}
<li><p class="estate-list-ttl">所有権</p>
<p>{{ record.real_estate_ownership }}</p>
</li>
{% endif %}

{% if record.real_estate_limitation_of_legal is defined and record.real_estate_limitation_of_legal is not empty %}
<li><p class="estate-list-ttl">法令上の制限</p>
<p>{{ record.real_estate_limitation_of_legal }}</p>
</li>
{% endif %}

{% if record.real_estate_electrical is defined and record.real_estate_electrical is not empty %}
<li><p class="estate-list-ttl">電気</p>
<p>{{ record.real_estate_electrical }}</p>
</li>
{% endif %}

{% if record.real_estate_gas is defined and record.real_estate_gas is not empty %}
<li><p class="estate-list-ttl">ガス</p>
<p>{{ record.real_estate_gas }}</p>
</li>
{% endif %}

{% if record.real_estate_water_supply is defined and record.real_estate_water_supply is not empty %}
<li><p class="estate-list-ttl">水道</p>
<p>{{ record.real_estate_water_supply }}</p>
</li>
{% endif %}

{% if record.real_estate_facility is defined and record.real_estate_facility is not empty %}
<li><p class="estate-list-ttl">設備</p>
<p>{{ record.real_estate_facility }}</p>
</li>
{% endif %}

{% if record.real_estate_primary_school is defined and record.real_estate_primary_school is not empty %}
<li><p class="estate-list-ttl">小学校(小学区)</p>
<p>{{ record.real_estate_primary_school }}</p>
</li>
{% endif %}

{% if record.real_estate_junior_high_school is defined and record.real_estate_junior_high_school is not empty %}
<li><p class="estate-list-ttl">中学校(中学区)</p>
<p>{{ record.real_estate_junior_high_school }}</p>
</li>
{% endif %}

{% if record.real_estate_building_confirmation_number is defined and record.real_estate_building_confirmation_number is not empty %}
<li><p class="estate-list-ttl">建築確認番号</p>
<p>{{ record.real_estate_building_confirmation_number }}</p>
</li>
{% endif %}

{% if record.real_estate_delivery_date is defined and record.real_estate_delivery_date is not empty %}
<li><p class="estate-list-ttl">引渡日</p>
<p>{{ record.real_estate_delivery_date }}</p>
</li>
{% endif %}
</ul>

{% if record.real_estate_remarks is defined and record.real_estate_remarks is not empty %}
<div class="wysiwyg">
{{ record.real_estate_remarks }}
</div>
{% endif %}

{% if record.real_estate_google_map is defined and record.real_estate_google_map is not empty %}
<div id="gm_wrap">
<div id="googlemaps" ></div>
</div>
{% endif %}

</div><!-- system-contents-inner -->
</div><!-- system-contents -->

{# 詳細ページ毎ページャー #}
{% include 'layout/_entry_pager.twig' %}

</div>


<div id="form" class="form-Box">
<div class="form-Box-inner">

{# フォーム #}
<h2 class="sub-title">お問い合わせフォーム</h2>
<ul class="form-list" data-pfwform-hide-if-confirm>
<li>・お問い合わせフォームに必要事項のご入力をして送信ボタンをクリックしてください。</li>
<li>・メールアドレスは正しくご入力下さい（弊社より返信メールが届きません。）</li>
<li>・半角カナ入力は文字化けの原因になりますので、全角カナでご入力頂きますようお願いします。</li>
<li>・<span class="attention-color">【必須】</span>項目は必ず入力してください。</li>
<li>・お使いのメールサービス、メールソフト、ウィルス対策ソフト等の設定により「迷惑メール」と認識され、メールが届かない場合があります。<br>以下のドメインを受信できるように設定をお願い致します。<br>
受信設定ドメイン：{{companymail}}</li>
</ul>
<p class="form-list" data-pfwform-show-if-confirm>ご入力内容をご確認ください。</p>


<div class="error" data-pfwform-show-if-error><p>入力不備の項目がございます。<br>お手数ですが、もう一度入力内容をご確認ください。</p></div>
<form class="pfwform h-adr" action="#" data-pfwform-action="{{ asset('real_estate/pfwform.php', 'theme') }}" data-pfwform-token-generator="{{ asset('real_estate/pfwform-token.php', 'theme') }}" method="post" data-pfwform-confirm>
<input type="hidden" value="{{ record.real_estate_title }}"　placeholder="イベント名" name="イベント名">
<table>
<tbody>
<tr data-pfwform-class-if-success="has-success" data-pfwform-class-if-error="form_error" data-pfwform-target="お名前">
<th class="required">お名前</th>
<td data-pfwform-hide-if-confirm>
<input type="text" size="15" placeholder="姓" value="" name="姓" data-pfwform-required>
<input type="text" size="15" placeholder="名" value="" name="名" data-pfwform-required>
<div class="form_error_wrap" data-pfwform-show-if-error="姓">お名前(姓)を正しく入力して下さい。</div>
<div class="form_error_wrap" data-pfwform-show-if-error="名">お名前(名)を正しく入力して下さい。</div>
</td>
<td data-pfwform-show-if-confirm>
<p><span data-pfwform-confirm-value="姓"></span>
<span data-pfwform-confirm-value="名"></span></p>
</td>
</tr>

<tr data-pfwform-target="ふりがな">
<th class="required">ふりがな</th>
<td data-pfwform-hide-if-confirm>
<input type="text" size="15" placeholder="せい" value="" name="せい" data-pfwform-required>
<input type="text" size="15" placeholder="めい" value="" name="めい" data-pfwform-required>
<div class="form_error_wrap" data-pfwform-show-if-error="せい">ふりがな(せい)を正しく入力して下さい。</div>
<div class="form_error_wrap" data-pfwform-show-if-error="めい">ふりがな(めい)を正しく入力して下さい。</div>
</td>
<td data-pfwform-show-if-confirm>
<p><span data-pfwform-confirm-value="せい"></span>
<span data-pfwform-confirm-value="めい"></span></p>
</td>
</tr>

<tr>
<th class="required">電話番号</th>
<td data-pfwform-hide-if-confirm>
<input class="input-txt1" type="tel" size="15" maxlength="5" placeholder="000" name="電話番号_1" data-pfwform-type="regex" data-pfwform-regex="^\d{1,5}$" data-pfwform-required>
<input class="input-txt1" type="tel" size="15" maxlength="5" placeholder="000" name="電話番号_2" data-pfwform-type="regex" data-pfwform-regex="^\d{1,5}$" data-pfwform-required>
<input class="input-txt1" type="tel" size="15" maxlength="5" placeholder="0000" name="電話番号_3" data-pfwform-type="regex" data-pfwform-regex="^\d{1,5}$" data-pfwform-required>
<div class="form_error_wrap valid_tel" data-pfwform-show-if-error="電話番号_1">電話番号を正しく入力してください。</div>
<div class="form_error_wrap valid_tel" data-pfwform-show-if-error="電話番号_2">電話番号を正しく入力してください。</div>
<div class="form_error_wrap valid_tel" data-pfwform-show-if-error="電話番号_3">電話番号を正しく入力してください。</div>
</td>
<td data-pfwform-show-if-confirm>
<p>
<span data-pfwform-confirm-value="電話番号_1"></span>
<span data-pfwform-confirm-value="電話番号_2"></span>
<span data-pfwform-confirm-value="電話番号_3"></span>
</p>
</td>
</tr>

<tr data-pfwform-target="郵便番号">
<th>郵便番号</th>
<td data-pfwform-hide-if-confirm>
<span class="p-country-name" style="display:none;">Japan</span>
<input class="p-postal-code input-txt1" type="tel" size="15" minlength="2" maxlength="3" placeholder="000" name="郵便番号_1" value="" data-pfwform-type="regex" data-pfwform-regex="^\d{3}$">
<input class="p-postal-code input-txt1" type="tel" size="15" minlength="3" maxlength="4" placeholder="0000" name="郵便番号_2" value="" data-pfwform-type="regex" data-pfwform-regex="^\d{4}$">
<div class="form_error_wrap" data-pfwform-show-if-error="郵便番号_1">郵便番号(上3桁)を正しく入力してください。</div>
<div class="form_error_wrap" data-pfwform-show-if-error="郵便番号_2">郵便番号(下4桁)を正しく入力してください。</div>
</td>
<td data-pfwform-show-if-confirm>
<p>
<span data-pfwform-confirm-value="郵便番号_1"></span><span>-</span>
<span data-pfwform-confirm-value="郵便番号_2"></span>
</p>
</td>
</tr>

<tr data-pfwform-class-if-success="has-success" data-pfwform-class-if-error="form_error" data-pfwform-target="ご住所">
<th class="required">ご住所</th>
<td data-pfwform-hide-if-confirm>
<input class="p-region p-locality p-street-address p-extended-address" type="text" size="40" name="ご住所" value="" placehold="ご住所をここに記入してください。" data-pfwform-required>
<div class="form_error_wrap" data-pfwform-show-if-error="ご住所">ご住所を正しく入力して下さい。</div>
</td>
<td data-pfwform-show-if-confirm >
<p data-pfwform-confirm-value="ご住所"></p>
</td>
</tr>

<tr data-pfwform-class-if-success="has-success" data-pfwform-class-if-error="form_error" data-pfwform-target="メールアドレス">
<th class="required">メールアドレス</th>
<td data-pfwform-hide-if-confirm>
<input type="text" size="40" name="メールアドレス" value="" placeholder="yourmail@sample.co.jp" data-pfwform-type="email" data-pfwform-required>
<div class="form_error_wrap" data-pfwform-show-if-error="メールアドレス">メールアドレスを正しく入力して下さい。</div>
</td>
<td data-pfwform-show-if-confirm>
<p data-pfwform-confirm-value="メールアドレス"></p>
</td>
</tr>

<tr data-pfwform-class-if-success="has-success" data-pfwform-class-if-error="form_error" data-pfwform-target="ご予約の有無">
<th class="required">ご予約の有無</th>
<td data-pfwform-hide-if-confirm>
<label><input class="form-check-input" type="radio" name="ご予約の有無" value="相談会予約" data-pfwform-required>相談会予約</label>
<label><input class="form-check-input" type="radio" name="ご予約の有無" value="お問合せします" data-pfwform-required>お問合わせします</label>
<div class="form_error_wrap" data-pfwform-show-if-error="ご予約の有無">ご予約の有無を選択してください</div>
</td>
<td data-pfwform-show-if-confirm>
<p data-pfwform-confirm-value="ご予約の有無"></p>
</td>
</tr>

<tr data-pfwform-class-if-success="has-success" data-pfwform-class-if-error="form_error" data-pfwform-target="ご希望の連絡方法">
<th>ご希望の連絡方法</th>
<td data-pfwform-hide-if-confirm>
<label><input class="form-check-input" type="radio" name="ご希望の連絡方法" value="電話">電話</label>
<label><input class="form-check-input" type="radio" name="ご希望の連絡方法" value="メール">メール</label>
<label><input class="form-check-input" type="radio" name="ご希望の連絡方法" value="どちらでも">どちらでも</label>
<div class="form_error_wrap" data-pfwform-show-if-error="ご希望の連絡方法">ご希望の連絡方法を選択してください</div>
</td>
<td data-pfwform-show-if-confirm>
<p data-pfwform-confirm-value="ご希望の連絡方法"></p>
</td>
</tr>

<tr data-pfwform-class-if-success="has-success" data-pfwform-class-if-error="form_error"  data-pfwform-target="ご予約種別">
<th class="required">ご予約種別</th>
<td data-pfwform-hide-if-confirm data-pfwform-required>
<label class="form-check-label"><input class="form-check-input" type="checkbox" name="ご予約種別[]" value="家づくり相談会" data-pfwform-required >家づくり相談会</label><br>
<label class="form-check-label"><input class="form-check-input" type="checkbox" name="ご予約種別[]" value="資金計画相談" data-pfwform-required >資金計画相談</label><br>
<label class="form-check-label"><input class="form-check-input" type="checkbox" name="ご予約種別[]" value="土地探し相談会" data-pfwform-required >土地探し相談会</label>
<div class="form_error_wrap" data-pfwform-show-if-error="ご予約種別">ご予約種別を正しく入力してください</div>
</td>
<td data-pfwform-show-if-confirm>
<p data-pfwform-confirm-value="ご予約種別"></p>
</td>
</tr>

<tr data-pfwform-target="予約希望日1">
<th>予約希望日1</th>
<td data-pfwform-hide-if-confirm>
<input type="date" size="40" name="予約希望日1" placeholder="mm月dd日">
</td>
<td data-pfwform-show-if-confirm>
<p data-pfwform-confirm-value="予約希望日1"></p>
</td>
</tr>

<tr data-pfwform-class-if-success="has-success" data-pfwform-class-if-error="has-danger" data-pfwform-target="予約希望日2">
<th>予約希望日2</th>
<td data-pfwform-hide-if-confirm>
<select name="予約希望日2">
<option value="" selected>選択してください</option>
<option value="10/02">10/02</option>
<option value="10/03">10/03</option>
</select>
</td>
<td data-pfwform-show-if-confirm>
<p data-pfwform-confirm-value="予約希望日2"></p>
</td>
</tr>

<tr data-pfwform-target="ご希望時間1">
<th>ご希望時間1</th>
<td data-pfwform-hide-if-confirm><input type="tel" size="40" name="ご希望時間1" placehold="10:00-"></td>
<td data-pfwform-show-if-confirm>
<p data-pfwform-confirm-value="ご希望時間1"></p>
</td>
</tr>

<tr data-pfwform-target="ご希望時間2">
<th>ご希望時間2</th>
<td data-pfwform-hide-if-confirm>
<select name="ご希望時間2">
<option value="" selected>選択してください</option>
<option value="10:00">10:00</option>
<option value="11:00">11:00</option>
</select>
</td>
<td data-pfwform-show-if-confirm>
<p data-pfwform-confirm-value="ご希望時間2"></p>
</td>
</tr>

<tr data-pfwform-target="お問合わせ・伝言等">
<th>お問合わせ・伝言等</th>
<td data-pfwform-hide-if-confirm>
<textarea name="お問合わせ・伝言等" size="40"></textarea>
</td>
<td data-pfwform-show-if-confirm>
<p data-pfwform-confirm-value="お問合わせ・伝言等"></p>
</td>
</tr>

</tbody>
</table>

{% include ('include/_privacy.twig') %}

<div class="priv" data-pfwform-class-if-success="has-success" data-pfwform-class-if-error="form_error"  data-pfwform-target="プライバシー">
<div data-pfwform-hide-if-confirm data-pfwform-required>
<label class="form-check-label"><input class="form-check-input" type="checkbox" name="プライバシー[]" value="上記、プライバシーポリシーに同意する" data-pfwform-required >上記、プライバシーポリシーに同意する</label><br>
<div class="form_error_wrap" data-pfwform-show-if-error="プライバシー">プライバシーポリシーに同意した上でお問い合わせください。</div>
</div>
</div>


<div class="btnArea">
<input type="hidden" name="cms_relation_code" value="{% if record.event_form is defined and record.event_form is not empty %}{{ record.event_form }}{% else %}NULL{% endif %}">
{# 会員IDを指定 #}
<input type="hidden" name="username" value="">
<div class="from-btn-01"><p><button class="button" type="submit" data-pfwform-hide-if-confirm><img src="{{ theme }}/images/common/con-btn-01.jpg" alt="確認画面へ"/></button></p></div>
<div class="from-btn-02">
<p><button class="button back" type="button" data-pfwform-show-if-confirm data-pfwform-back-button><img src="{{ theme }}/images/common/con-btn-02.jpg" alt="入力画面に戻る" class="pc2"/><img src="{{ theme }}/images/common/sp-con-btn-02.jpg" alt="入力画面に戻る" class="sp2"/></button></p>
<p><button type="submit" name="button" data-pfwform-show-if-confirm><img src="{{ theme }}/images/common/con-btn-03.jpg" alt="上記内容にて送信"/></button></p>
</div>

</div>
</form>

</div>
</div>




<h2 class="sub-title">{{ h1text }}カテゴリ一覧</h2>
{# カテゴリ別リンク #}
  {% set real_estate_categories = app.config.get('taxonomy/real_estate_categories/options') %}
<div class="serchcategory">
{% for key, value in real_estate_categories %}
<a href="{{ path('taxonomylink', { taxonomytype: 'real_estate_categories', slug: key }) }}"><span class="icon {{ key }}">{{ value }}</span></a>
{% endfor %}
</div><!-- serchcategory -->

</article>

</main>
</div><!-- one-cl or tow-cl -->

{% include ('include/_end-bnr.twig') %}

{% endblock %}

{# ページ個別　JS等 #}
{% block jsArea %}
<script type="text/javascript" src="{{ asset('js/pfwform.js', 'theme') }}"></script>

{% if record.real_estate_google_map is defined and record.real_estate_google_map is not empty %}
{# TODO : googleMapのkeyを変更する #}
<script src="//maps.google.com/maps/api/js?key=AIzaSyDt3stXNmit_x2WbJN6RbW4w4Tzp7jImI8"></script>
{% endif %}
<script>
{% if record.real_estate_google_map is defined and record.real_estate_google_map is not empty %}
function initialize() {

var latlng = new google.maps.LatLng({{ record.real_estate_google_map['latitude'] }},{{ record.real_estate_google_map['longitude'] }});
var myOptions = {
zoom: 18,
center: latlng,
mapTypeId: google.maps.MapTypeId.LOADMAP,
scrollwheel: true
//disableDefaultUI: false
};
var map = new google.maps.Map(document.getElementById('googlemaps'), myOptions);
var lopanMarker = new google.maps.Marker({
position: latlng,
map: map
});

google.maps.event.addDomListener(window, "resize", function() {

var center = map.getCenter();
google.maps.event.trigger(map, "resize");
map.setCenter(center);
});

var styledMapOptions = { name: '{{ record.real_estate_google_map['formatted_address'] }}' }
}
google.maps.event.addDomListener(window, 'load', initialize);
{% endif %}
$(function() {
//slick
$(".gallery .slider-for").slick({
slidesToShow: 1,
slidesToScroll: 1,
dots: false,
arrows: false,
fade: true,
adaptiveHeight: true,
asNavFor: '.slider-nav'
});
$(".gallery .slider-nav").slick({
slidesToShow:6,
slidesToScroll: 1,
asNavFor: '.slider-for',
focusOnSelect: true,
responsive: [{
breakpoint: 800,
settings: {
slidesToShow: 3
}
}, {
breakpoint: 600,
settings: {
slidesToShow: 2
}
}]

});
//枚数がカルーセルに満たない場合
$(function(){
$(".gallery").each(function() {
var slidepak =$(this);
var num=$(slidepak).find(".gallery_img img").length;
var dots=$(slidepak).find(".slick-dots li");
var navimglast = $(slidepak).find("div.gallery_nav div.slick-track>div.slick-slide:last-child");
var prevbtn=$(slidepak).find("button.slick-prev");
var nextbtn=$(slidepak).find("button.slick-next");
var slidernav=$(slidepak).find(".gallery_nav .slick-track>div");
//
if(num<8){
$(dots).click(function(){
$(slidernav).removeClass("slick-current");
var indexnum = $(dots).index(this)+1;
var checkimg = $(slidepak).find(".gallery_nav .slick-track>div:nth-child("+indexnum+")");
$(checkimg).addClass("slick-current");
});

function currmove(){
$(slidernav).removeClass("slick-current");
var curr = $(slidepak).find(".slick-dots li.slick-active");
var currIndex = $(dots).index(curr)+1;
var btncheckimg = $(slidepak).find(".gallery_nav .slick-track>div:nth-child("+currIndex+")");
$(btncheckimg).addClass("slick-current");
}
$(prevbtn).click(function(){
currmove();
});
$(nextbtn).click(function(){
currmove();
});
}
});
});
});

$(function() {
// ポップアップギャラリー
$('.popupgallery').magnificPopup({
delegate: 'a',
type: 'image',
gallery: { //ギャラリー表示にする
enabled: true
},
image: {
titleSrc: function (item) {
return item.el.find('img').attr('alt');
}
}
});
});
</script>
{% endblock %}
