{% extends 'layout/_01_lower.twig' %}

{% set title = 'listing.twig' %}
{# ページタイトル設定 #}
{% set pageTitle = '' %}
{% set description = '' %}
{% set keywords = '' %}

{% set h1text = '土地・物件情報' %}

{# ページID設定 #}
{% set pageId = 'real-estate' %}

{# ページ個別　CSS等 #}
{% block headArea %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/page-system.css', 'theme') }}">
{% endblock %}

{#  コンテンツをここに記載(main) #}
{% block main %}
<h1 class="main-title"><span class="en">{{pageId}}</span><span class="jp f-gothic">{{ h1text }}</span></h1>
{% include ('include/_gnavi.twig') %}

<div id="one-cl" class="clearfix"><!-- one-cl -->
<!--<div id="tow-cl" class="clearfix"> tow-cl -->
{#  {% include ('include/_sidebarcommon.twig') %} 2カラムの場合追加 #}

<main>

{# パンくずリスト #}
<nav class="seo_bread_list clearfix">
<ul class="clearfix" itemscope itemtype="https://schema.org/BreadcrumbList">
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"> <a itemprop="item" href="{{ path('homepage') }}"><span itemprop="name">HOME</span></a>
<meta itemprop="position" content="1" /> </li>
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"> <a itemprop="item" href="{{siteurl}}/{{pageId}}"><span itemprop="name">{{ h1text }}</span></a>
<meta itemprop="position" content="2" /> </li>
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
{% set request_param = app.request.get('_route_params') %}
{% if request_param.slug is defined and request_param.slug is not empty %}
<link itemprop="item" href="{{ canonical() }}"><span itemprop="name">{{ taxonomy.options[request_param.slug] }}</span>
<meta itemprop="position" content="3" /> </li>
{% endif %}
</ul>
</nav>

<h2 class="sub-title">{{ h1text }} : {{ taxonomy.options[request_param.slug] }}</h2>

{% if records is defined and records is not empty %}
<ul class="system-list">
{% for record in records|order('-datepublish') %}
<li>
<p class="system-pic"><a href="{{ record.link }}">
{# TOP表示用画像が未登録時は、共通のNoImage画像 #}
{% if record.real_estate_thumb_img is defined and record.real_estate_thumb_img is not empty %}
{% set _real_estate_thumb_img = record.real_estate_thumb_img | image %}
{% else %}
{% set _real_estate_thumb_img = asset('images/common/img_noimage.png', 'theme') %}
{% endif %}
<img src="{{ _real_estate_thumb_img }}" class="eyecatchImg" alt="{{ record.campaign_title }}"></p>

{% if record.taxonomy.real_estate_categories is defined and record.taxonomy.real_estate_categories is not empty %}
<div class="system-category-set">
{% for key, value in record.taxonomy.real_estate_categories %}
<p class="system-category {{ key | replace({'/real_estate_categories/': ''})}}">{{ value }}</p>
{% endfor %}
</div>
{% endif %}
<p class="system-date">{{ record.datepublish | date('Y/m/d') }}</p>
<h3 class="system-ttl-01">{{ record.real_estate_property_area_name }} {{ record.real_estate_archive_area }}</h3>
<p class="system-coment">土地価格：<span>{{ record.real_estate_cost }}</span></p>

<p class="system-icon02">
{# アイコンラベル #}
{% set icon_state = record.real_estate_icon %}
{% if icon_state is defined and icon_state is not empty %}
{% switch icon_state %}
 {% case "ご成約" %}
<span class="icon02-01">ご成約</span>
{% case "検討" %}
<span class="icon02-02">検討</span>
{% case "商談" %}
<span class="icon02-03">商談</span>
{% endswitch  %}
{% endif %}
</p>

<p class="btn">more</p>
</a>
</li>
{% endfor %}
</ul><!-- system-list -->
{% endif %}





<h2 class="sub-title">{{ h1text }}カテゴリ一覧</h2>
{# カテゴリ別リンク #}
  {% set real_estate_categories = app.config.get('taxonomy/real_estate_categories/options') %}
<div class="serchcategory">
{% for key, value in real_estate_categories %}
<a href="{{ path('taxonomylink', { taxonomytype: 'real_estate_categories', slug: key }) }}"><span class="icon {{ key }}">{{ value }}</span></a>
{% endfor %}
</div><!-- serchcategory -->

</main>
</div><!-- one-cl or tow-cl -->

{% include ('include/_end-bnr.twig') %}

{% endblock %}

{#   ページ個別　JS等 #}
{% block jsArea %}
{% endblock %}
