{% extends 'layout/_01_lower.twig' %}

{# ページタイトル設定 #}
{% set pageTitle = record.topics_title %}
{% set pageTitle02 = '' %}
{% set description = '' %}
{% set keywords = '' %}
{% set h1text = '新着情報' %}

{# SNS設定用 #}
{% set seo_pageTitle = record.seo_pagetitle %}
{% set seo_description = record.seo_description %}
{% set sns_img = record.sns_img %}

{# ページID設定 #}
{% set pageId = 'topics' %}

{# ページ個別　CSS等 #}
{% block headArea %}
<meta property="og:type" content="article">
<link rel="stylesheet" type="text/css" href="{{ asset('css/page-system.css', 'theme') }}">
{% endblock %}

{#  コンテンツをここに記載(main) #}
{% block main %}
<h1 class="main-title"><span class="en">{{pageId}}</span><span class="jp f-gothic">{{ h1text }}</span></h1>
{% include ('include/_gnavi.twig') %}

<div id="one-cl" class="clearfix"><!-- one-cl -->
<!--<div id="tow-cl" class="clearfix"> tow-cl -->
{#  {% include ('include/_sidebarcommon.twig') %} 2カラムの場合追加 #}

<main>
{# パンくずリスト #}
<nav class="seo_bread_list clearfix">
<ul class="clearfix" itemscope itemtype="https://schema.org/BreadcrumbList">
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"> <a itemprop="item" href="{{ path('homepage') }}"><span itemprop="name">HOME</span></a>
<meta itemprop="position" content="1" /> </li>
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"> <a itemprop="item" href="{{siteurl}}/{{pageId}}"><span itemprop="name">{{ h1text }}</span></a>
<meta itemprop="position" content="2" /> </li>
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
<link itemprop="item" href="{{ canonical() }}"><span itemprop="name">{{ record.topics_title }}</span>
<meta itemprop="position" content="3" /> </li>
</ul>
</nav>

<a id="system-contents" name="system-contents"></a>
<h2 class="sub-title">{{ h1text }}</h2>

{# 詳細ページ毎ページャー #}
{% include 'layout/_entry_pager.twig' %}

<div class="system-contents">
<div class="system-contents-inner">

{% if record.taxonomy.topics_categories is defined and record.taxonomy.topics_categories is not empty %}
<div class="system-category-set clearfix">
{% for key, value in record.taxonomy.topics_categories %}
<p class="system-category {{ key | replace({'/topics_categories/': ''})}}">{{ value }}</p>
{% endfor %}
</div>
{% endif %}
<p class="system-date">{{ record.datepublish | date('Y/m/d') }}</p>
<h3 class="system-ttl">{{ pageTitle }}</h3>

<div class="wysiwyg">{{ record.topics_body_text }}</div>

{% if record.topics_related_pdf is defined and record.topics_related_pdf is not empty %}
<div class="btnArea clearfix">
<a href="{{ asset(record.topics_related_pdf, 'files') }}" target="_blank">関連資料</a>
</div><!-- btnArea -->
{% endif %}

</div><!-- system-contents-inner -->
</div><!-- system-contents -->


{# 詳細ページ毎ページャー #}
{% include 'layout/_entry_pager.twig' %}

</main>
</div><!-- one-cl or tow-cl -->

{% include ('include/_end-bnr.twig') %}

{% endblock %}

{#   ページ個別　JS等 #}
{% block jsArea %}
{% endblock %}
