{% extends 'layout/_01_lower.twig' %}

{# ページタイトル設定 #}
{% set pageTitle = '' %}
{% set description = '' %}
{% set keywords = '' %}

{% set h1text = '新着情報' %}

{# ページID設定 #}
{% set pageId = 'topics' %}

{# ページ個別　CSS等 #}
{% block headArea %}
<meta property="og:type" content="article">
<link rel="stylesheet" type="text/css" href="{{ asset('css/page-system.css', 'theme') }}">
{% endblock %}

{#  コンテンツをここに記載(main) #}
{% block main %}
<h1 class="main-title"><span class="en">{{pageId}}</span><span class="jp f-gothic">{{ h1text }}</span></h1>
{% include ('include/_gnavi.twig') %}

<div id="one-cl" class="clearfix"><!-- one-cl -->
<!--<div id="tow-cl" class="clearfix"> tow-cl -->
{#  {% include ('include/_sidebarcommon.twig') %} 2カラムの場合追加 #}

<main>
{# パンくずリスト #}
<nav class="seo_bread_list clearfix">
<ul class="clearfix" itemscope itemtype="https://schema.org/BreadcrumbList">
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
<a itemprop="item" href="{{ path('homepage') }}"><span itemprop="name">HOME</span></a>
<meta itemprop="position" content="1" />
</li>
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
<link itemprop="item" href="{{ canonical() }}"><span itemprop="name">{{ h1text }}</span>
<meta itemprop="position" content="2" />
</li>
</ul>
</nav>

<h2 class="sub-title">{{ h1text }}</h2>

{% if records is defined and records is not empty %}
<div class="system-list">
<ul class="system-list-inner">
{% for record in records %}
<li><a href="{{ record.link }}">
<p class="system-date">{{ record.datepublish | date('Y/m/d') }}</p>
{% if record.taxonomy.topics_categories is defined and record.taxonomy.topics_categories is not empty %}
<div class="system-category-set">
{% for key, value in record.taxonomy.topics_categories %}
<p class="system-category {{ key | replace({'/topics_categories/': ''}) }}">{{ value }}</p>
{% endfor %}
</div>
{% endif %}
<h3 class="system-ttl-01">{{ record.topics_title }}</h3>
</a></li>
{% endfor %}
</ul>
</div>
{% endif %}

{# ページャー #}
{{ pager(template = 'layout/_sub_pager.twig') }}

</main>
</div><!-- one-cl or tow-cl -->

{% include ('include/_end-bnr.twig') %}

{% endblock %}

{#   ページ個別　JS等 #}
{% block jsArea %}
{% endblock %}
