{% extends 'layout/_01_lower.twig' %}

{# メタタグ設定 #}
{% set pageTitle = record.news_title %}
{% set description = '知多市、半田市、常滑市、東海市を中心に知多半島で優雅なお庭、コンクリートガレージ、外構エクステリアにこだわりたい方は高橋造園にお任せください。' %}
{% set keywords = '外構,エクステリア,造園,知多市,半田市' %}

{% set seo_pageTitle = record.seo_pagetitle %}
{% set seo_description = record.seo_description %}
{% set sns_img = record.sns_img %}

{# ページID設定 #}
{% set pageId = 'news-single' %}
{% set title = '新着情報' %}
{% set h1Text = '新着情報' %}
{% set pageArchiveId = 'news' %}

{# ページ個別　CSS等 #}
{% block headArea %}
<meta property="og:type" content="article" />
<link href="{{ theme }}/assets/css/page-{{ pageId }}.css" rel="stylesheet">
{% endblock %}

{# コンテンツをここに記載(main) #}
{% block main %}
<div class="l-main">
  {% include ('include/_heading.twig') %}
  {% include ('include/_breadcrumb.twig') %}
  <div class="l-single-wrap">
    {% include 'layout/_entryPagerComponent.twig' %}

    <article class="l-news-single">
      <div class="l-news-single__head">
        <p class="l-news-single__date">{{ record.datepublish | date('Y/m/d') }}</p>
        <h2 class="l-news-single__title">{{ record.news_title }}</h2>
      </div>
      <div class="l-news-single__content l-wysi">
        {{ record.news_body_text }}
      </div>

      {% if record.topics_related_pdf is defined and record.news_related_pdf is not empty %}
      <div class="l-news-single__attachment">
        <a class="c-btn btn-attachment" href="{{ asset(record.news_related_pdf, 'files') }}" target="_blank">関連資料はこちら</a>
      </div>
      {% endif %}
    </article>

    {% include 'layout/_entryPagerComponent.twig' %}
  </div>
</div>
{% endblock %}
