{% extends 'layout/_01_lower.twig' %}

{# メタタグ設定 #}
{% set pageTitle = '新着情報' %}
{% set description = '知多市、半田市、常滑市、東海市を中心に知多半島で優雅なお庭、コンクリートガレージ、外構エクステリアにこだわりたい方は高橋造園にお任せください。' %}
{% set keywords = '外構,エクステリア,造園,知多市,半田市' %}

{# ページID設定 #}
{% set pageId = 'news-archive' %}
{% set title = 'news' %}
{% set h1Text = '新着情報' %}

{# ページ個別　CSS等 #}
{% block headArea %}
<meta property="og:type" content="article" />
<link href="{{ theme }}/assets/css/page-{{ pageId }}.css" rel="stylesheet">
{% endblock %}

{# コンテンツをここに記載(main) #}
{% block main %}
<div class="l-main">
  {% include ('include/_heading.twig') %}
  {% include ('include/_breadcrumb.twig') %}
  <div class="l-news-archive">
    <div class="l-news-archive__inner">
      {% if records is defined and records is not empty %}
      <ul class="l-news-archive__group">
        {% for record in records %}
        <li class="l-news-archive__child">
          <a href="{{ record.link }}" class="l-news-archive__link js-hover">
            <p class="l-news-archive__date">{{ record.datepublish | date('Y/m/d') }}</p>
            <p class="l-news-archive__title">{{ record.news_title }}</p>
          </a>
        </li>
      {% endfor %}
      </ul>
      {% endif %}
      {{ pager(template = 'layout/_archivePagerComponent.twig') }}
    </div>
  </div>
</div>
{% endblock %}
