{% extends 'layout/_01_lower.twig' %}

{# メタタグ設定 #}
{% set pageTitle = 'おすすめ庭スタイル1.暮らしを豊かにするガレージ' %}
{% set description = '知多市、半田市、常滑市、東海市を中心に知多半島で優雅なお庭、コンクリートガレージ、外構エクステリアにこだわりたい方は高橋造園にお任せください。' %}
{% set keywords = '外構,エクステリア,造園,知多市,半田市' %}

{# ページID設定 #}
{% set pageId = 'garage' %}
{% set title = 'garage' %}
{% set h1Text = 'おすすめ庭スタイル1.暮らしを豊かにするガレージ' %}

{# ページ個別　CSS等 #}
{% block headArea %}
<meta property="og:type" content="article" />
<link href="{{ theme }}/assets/css/page-{{ pageId }}.css" rel="stylesheet">
{% endblock %}

{# コンテンツをここに記載(main) #}
{% block main %}
<div class="l-main">
  {% include ('include/_heading.twig') %}
  {% include ('include/_breadcrumb.twig') %}
  <div class="l-mv">
    <div class="l-mv__inner">
      <div class="l-mv__content">
        <h2 class="l-mv__title">暮らしを豊かにするガレージ</h2>
        <p class="l-mv__text">カーポート、車庫、ガレージをつくって、<br class="is-pc">大切な車を守りませんか？</p>
      </div>
    </div>
  </div>

  <section class="l-section section-1">
    <div class="c-section-heading heading-1">
      <p class="c-section-heading__num"><img src="{{ theme }}/assets/images/garage/text_pickup_01.png" alt="PICK UP! 01"></p>
      <h2 class="c-section-heading__title">ガレージのある暮らし</h2>
    </div>
    <p class="l-section__thumb"><img src="{{ theme }}/assets/images/garage/img_garage_main.jpg" alt="{{pageCompanyName}} ガレージのある暮らし" class="img-rsp"></p>
    <div class="l-section__content">
      <ul class="l-section__content__group">
      {% for i in 1..2 %}
        <li class="l-section__content__child">
          <img src="{{ theme }}/assets/images/garage/img_garage_0{{ i }}.jpg" alt="{{pageCompanyName}} ガレージのある暮らし{{i}}" class="img-rsp">
        </li>
      {% endfor %}
      </ul>
      <div class="l-section__detail">
        <p class="l-section__detail__text u-mb-30">ガレージがあれば、雨風がしのげるので車の劣化を防ぎ守ってくれます。その他にもメリットはたくさんあります。</p>
        <ul class="l-section__detail__group">
          <li class="l-section__detail__child"><span>乗り降りや荷物の出し入れが楽になる。</span></li>
          <li class="l-section__detail__child"><span>天気が悪い日の車の乗り降りが便利。</span></li>
          <li class="l-section__detail__child"><span>アウトドアグッズ等を保管出来る。</li>
          <li class="l-section__detail__child"><span>車にいたずらをされる心配が減る。</span></li>
          <li class="l-section__detail__child"><span>好きな時間に車をいじれる。</span></li>
        </ul>
        <p class="l-section__detail__text">他にもたくさんのメリットがあります。空間の使い方によっては、家族や友人を呼んでバーベキューが出来たり、小さなお子さまのプールで遊べるスペースとしても使用が可能です。</p>
      </div>
    </div>
  </section>

  <section class="l-section section-2">
    <div class="c-section-heading heading-2">
      <p class="c-section-heading__num"><img src="{{ theme }}/assets/images/garage/text_pickup_02.png" alt="PICK UP! 02"></p>
      <h2 class="c-section-heading__title">カーポートのある暮らし</h2>
    </div>
    <p class="l-section__thumb"><img src="{{ theme }}/assets/images/garage/img_carport_main.jpg" alt="{{pageCompanyName}} カーポートのある暮らし" class="img-rsp"></p>
    <div class="l-section__content">
      <ul class="l-section__content__group">
      {% for i in 1..2 %}
        <li class="l-section__content__child">
          <img src="{{ theme }}/assets/images/garage/img_carport_0{{ i }}.jpg" alt="{{pageCompanyName}} カーポートのある暮らし{{i}}" class="img-rsp">
        </li>
      {% endfor %}
      </ul>
      <div class="l-section__detail">
        <p class="l-section__detail__text u-mb-30">カーポートも屋根付きの駐車場になりますが、ガレージとの違いは屋根と柱のみで構成されたものになっています。ガレージに比べコストが安いことが最大のメリットです。</p>
        <p class="l-section__detail__text u-mb-30">ガレージと同様に、雨の日に濡れずに車の乗り降りが可能だったり、鳥の糞など上空からの落下物を防げたり、夏場の直射日光が避けられるので、車の劣化防止にも繋がります。</p>
        <p class="l-section__detail__text">近年、カーポートは種類や値段も様々になってきているので、比較的選びやすく設置がしやすいです。</p>
      </div>
    </div>
  </section>

  <section class="l-point">
    <div class="l-point__inner">
      <h2 class="l-point__title">ガレージの門扉はいくつか種類があります！</h2>
      <ul class="l-point__group">
        <li class="l-point__child">
          <p class="l-point__thumb"><img src="{{ theme }}/assets/images/garage/img_shatter.jpg" alt="シャッタータイプ" class="img-rsp"></p>
          <p class="l-point__name">シャッタータイプ</p>
          <p class="l-point__text">巻き上げて上部のボックスに収納できる門扉タイプです。リモコン等の遠隔操作により巻くものもあり、車庫入れの際はとても楽です。</p>
        </li>
        <li class="l-point__child">
          <p class="l-point__thumb"><img src="{{ theme }}/assets/images/garage/img_accordion.jpg" alt="アコーディオンタイプ" class="img-rsp"></p>
          <p class="l-point__name">アコーディオンタイプ</p>
          <p class="l-point__text">門扉を横に折り畳むことで収納できるタイプです。間口の幅に合わせて柔軟な設置が可能です。価格も比較的安いものが多いのがこのタイプのものです。</p>
        </li>
      </ul>
    </div>
  </section>

  <div class="l-summary">
    <div class="l-summary__inner">
      <div class="l-summary__bg"></div>
      <div class="l-summary__content">
        <p class="l-summary__desc">愛知は車社会だからこそ、<br>しっかり保管したいですよね。</p>
        <p class="l-summary__text">ガレージ、カーポートは車を守り、カーライフがさらに快適なものにしてくれます。ご予算、デザインなど、お客様のご要望に応じたガレージ、カーポートをご提案致しますので、いつでもお気軽にご相談ください。</p>
      </div>
    </div>
  </div>
  
{%
  set commonBnrList = [
    {
      id: 'garden',
      url: siteMap.garden.url,
      name: 'GARDEN',
      text: siteMap.garden.name,
    },
    {
      id: 'japanese_modern',
      url: siteMap.japaneseModern.url,
      name: 'JAPANESE MODERN',
      text: siteMap.japaneseModern.name
    },
    {
      id: 'works',
      url: siteMap.case.url,
      name: 'WORKS',
      text: siteMap.case.name
    }
  ]
%}
{% include 'include/_commonBnrComponent.twig' %}
</div>
{% endblock %}
