{% extends 'layout/_01_lower.twig' %}

{# ページタイトル設定 #}
{% set pageTitle = 'お問合わせありがとうございます' %}
{% set description = '知多市、半田市、常滑市、東海市を中心に知多半島で優雅なお庭、コンクリートガレージ、外構エクステリアにこだわりたい方は高橋造園にお任せください。' %}
{% set keywords = '外構,エクステリア,造園,知多市,半田市' %}

{% set h1text = 'お問い合わせ' %}

{# ページID設定 #}
{% set pageId = 'recruit' %}
{% set title = 'お問い合わせ' %}
{% set h1Text = '求人募集' %}

{# ページ個別　CSS等 #}
{% block headArea %}
<meta property="og:type" content="article">
<link href="{{ theme }}/assets/css/page-{{ pageId }}.css" rel="stylesheet">
{% endblock %}

{# コンテンツをここに記載(main) #}
{% block main %}
<div class="l-main">
  {% include ('include/_heading.twig') %}
  {% include ('include/_breadcrumb.twig') %}
  <div class="l-form-complete">
    <section class="l-form-complete__section">
      <h2 class="l-form-complete__title">お問合せありがとうございます。</h2>
      <p>この度はお問い合わせいただき、誠にありがとうございます。</p>
      <p>お問い合わせ内容へのご返答は、3営業日以内に担当の者よりご連絡差し上げます。</p>
      <p>尚、内容確認のメールを自動返信メールにて送信いたしましたので、ご確認下さい。</p>
    </section>
    <section class="l-form-complete__section">
      <h3 class="l-form-complete__subtitle">自動返信メールが届いていない場合</h3>
      <p>弊社からの返信が迷惑メールフォルダに自動的に移動される場合があります。10分以上経っても自動返信メールが届かない場合には、迷惑メールフォルダをご確認ください。<br>また、受信できるように設定の変更をお願いします。迷惑フォルダにも返信が見当たらないようであれば、お手数ですが再度お問い合わせ下さいますようお願いいたします。</p>
    </section>
    <div class="l-form-complete__btn">
      <a class="c-btn btn-back js-hover" href="{{ siteurl }}">トップページに戻る</a>
    </div>
  </div>
</div>
{% endblock %}

{# ページ個別　JS等 #}
{% block jsArea %}
{% endblock %}
