{% extends 'layout/_01_lower.twig' %}

{# ページタイトル設定 #}
{% set pageTitle = 'エラーが発生しました' %}
{% set description = '知多市、半田市、常滑市、東海市を中心に知多半島で優雅なお庭、コンクリートガレージ、外構エクステリアにこだわりたい方は高橋造園にお任せください。' %}
{% set keywords = '外構,エクステリア,造園,知多市,半田市' %}

{# ページID設定 #}
{% set pageId = 'recruit' %}
{% set title = 'お問い合わせ' %}
{% set h1Text = '求人募集' %}

{# ページ個別　CSS等 #}
{% block headArea %}
<meta property="og:type" content="article">
<link href="{{ theme }}/assets/css/page-{{ pageId }}.css" rel="stylesheet">
{% endblock %}

{# コンテンツをここに記載(main) #}
{% block main %}
<div class="l-main">
  {% include ('include/_heading.twig') %}
  {% include ('include/_breadcrumb.twig') %}
  <div class="l-error">
    <div class="l-error__head">
      <p class="l-error__desc">大変申し訳ございません。<br class="is-sp">エラーが発生しました。</p>
      <p class="l-error__text">お手数ですが、時間をあけて再度お申込みください。</p>
    </div>
    <div class="l-error__back">
      <a class="c-btn btn-back js-hover" href="{{ siteurl }}">トップページに戻る</a>
    </div>
  </div>
</div>
{% endblock %}

{# ページ個別　JS等 #}
{% block jsArea %}
{% endblock %}
