{% extends 'layout/_01_lower.twig' %}

{# メタタグ設定 #}
{% set pageTitle = '求人募集' %}
{% set description = '知多市、半田市、常滑市、東海市を中心に知多半島で優雅なお庭、コンクリートガレージ、外構エクステリアにこだわりたい方は高橋造園にお任せください。' %}
{% set keywords = '外構,エクステリア,造園,知多市,半田市' %}

{# ページID設定 #}
{% set pageId = 'recruit' %}
{% set title = 'recruit' %}
{% set h1Text = '求人募集' %}

{# ページ個別　CSS等 #}
{% block headArea %}
<meta property="og:type" content="article" />
<link href="{{ theme }}/assets/css/page-{{ pageId }}.css" rel="stylesheet">
{% endblock %}

{# コンテンツをここに記載(main) #}
{% block main %}
<div class="l-main">
  {% include ('include/_heading.twig') %}
  {% include ('include/_breadcrumb.twig') %}
  <div class="l-mv" data-pfwform-hide-if-confirm>
    <div class="l-mv__inner">
      <h2 class="l-mv__title">未来の知多半島の景色を一緒につくりませんか？</h2>
      <p class="l-mv__thumb"><img src="{{ theme }}/assets/images/recruit/img_main.jpg" alt="RECRUIT" class="img-rsp"></p>
    </div>
  </div>

{%
  set businessArray = [
    {
      id: 1,
      name: '庭づくり',
      text: '新築、リフォームのお庭づくりを行っています。お客様のお好みの植物選びから、お庭デザインまでしっかりご提案を致します。'
    },
    {
      id: 2,
      name: '外構・エクステリア',
      text: 'お客様のニーズに合わせて、駐車場、カーポート、ウッドデッキや塀などをご提案し工事をしていきます。'
    },
    {
      id: 3,
      name: '剪定',
      text: '街路樹やお庭の植栽管理など、地域に暮らす皆様がより快適で気持ちよく過ごして頂く剪定作業となります。'
    }
  ]
%}

  <section class="l-business" data-pfwform-hide-if-confirm>
    <div class="l-business__head">
      <h3 class="l-business__title">高橋造園の事業内容</h3>
    </div>
    <div class="l-business__main">
      <ul class="l-business__main__group">
      {% for item in businessArray %}
        <li class="l-business__main__child">
          <p class="l-business__main__child__thumb"><img src="{{ theme }}/assets/images/recruit/img_business_0{{item.id}}.jpg" alt="{{item.name}}" class="img-rsp"></p>
          <p class="l-business__main__child__text">{{item.text}}</p>
        </li>
      {% endfor %}
      </ul>
    </div>
  </section>

  <section class="l-wanted" data-pfwform-hide-if-confirm>
    <div class="l-wanted__inner">
      <h3 class="l-wanted__title f-min">こんな方を求めています！</h3>
      <ul class="l-wanted__group">
        <li class="l-wanted__child">・草、木、花、石、庭づくりに興味がある方！！</li>
        <li class="l-wanted__child">・やる気と元気をモットーに根気よく作業が出来る方！！</li>
      </ul>
      <ul class="l-wanted__photo">
      {% for i in 1..5 %}
        <li class="l-wanted__photo__child"><img src="{{ theme }}/assets/images/recruit/img_wanted_0{{i}}.jpg" alt="{{ pageTitle }} 画像{{i}}" class="img-rsp"></li>
      {% endfor %}
      </ul>
    </div>
  </section>

  <section class="l-recruit" data-pfwform-hide-if-confirm>
    <div class="l-section__head">
      <h3 class="l-section__head__title">募集要項</h3>
    </div>
    <div class="l-recruit__content">
      <table class="l-recruit__table">  
        <tbody>
          <tr>
            <th class="l-recruit__table__name">この仕事で磨ける経験・能力</th>
            <td class="l-recruit__table__detail">
              <p>自分が設計したものがカタチになる喜びを経験することが出来ます。</p>
            </td>
          </tr>
          <tr>
            <th class="l-recruit__table__name">雇用形態</th>
            <td class="l-recruit__table__detail">
              <p>正社員</p>
            </td>
          </tr>
          <tr>
            <th class="l-recruit__table__name">雇用期間</th>
            <td class="l-recruit__table__detail">
              <p>常用</p>
            </td>
          </tr>
          <tr>
            <th class="l-recruit__table__name">勤務地域</th>
            <td class="l-recruit__table__detail">
              <p>知多市</p>
              <p>（〒{{companyZipcode}} {{companyAddress}}( 事務所へ出社後現場へ移動）</p>
            </td>
          </tr>
          <tr>
            <th class="l-recruit__table__name">主な現場</th>
            <td class="l-recruit__table__detail">
              <p>知多市～名古屋市周辺</p>
              <p>(東は豊田・岡崎市、西は桑名市、北は小牧・春日井市周辺）</p>
            </td>
          </tr>
          <tr>
            <th class="l-recruit__table__name">給与</th>
            <td class="l-recruit__table__detail">
              <p>月給20万円～40万円（経験者優遇）</p>
            </td>
          </tr>
          <tr>
            <th class="l-recruit__table__name">年収例</th>
            <td class="l-recruit__table__detail">
              <p>経験年数5年　360万円～400万円</p>
            </td>
          </tr>
          <tr>
            <th class="l-recruit__table__name">勤務時間</th>
            <td class="l-recruit__table__detail">
              <p>8：00～17：00残業有（天候により左右されます）</p>
              <p>繁忙期、年末・年度末</p>
            </td>
          </tr>
          <tr>
            <th class="l-recruit__table__name">休日、休暇</th>
            <td class="l-recruit__table__detail">
              <p>毎週日曜 年末年始 GW 盆休み</p>
            </td>
          </tr>
          <tr>
            <th class="l-recruit__table__name">必要な資格・経験</th>
            <td class="l-recruit__table__detail">
              <p>要普通自動車免許</p>
            </td>
          </tr>
          <tr>
            <th class="l-recruit__table__name">あると望ましい能力・資格・経験</th>
            <td class="l-recruit__table__detail">
              <p>施工管理技師</p>
              <p>造園技能士</p>
              <p>小型移動式クレーン</p>
              <p>車両系建設機械</p>
            </td>
          </tr>
          <tr>
            <th class="l-recruit__table__name">待遇・福利厚生</th>
            <td class="l-recruit__table__detail">
              <p>年1回昇給</p>
              <p>特別賞与有</p>
              <p>年1回旅行有</p>
              <p>社会保険完備</p>
            </td>
          </tr>
          <tr>
            <th class="l-recruit__table__name">職場の環境・雰囲気</th>
            <td class="l-recruit__table__detail">
              <p>現場は笑顔の絶えない環境です。<br>お天道さまの下で気持ちよく働けます。<br>庭造りが大好きで!熱いハート!の親方のもとで経験を積んでいって下さい。</p>
            </td>
          </tr>
          <tr>
            <th class="l-recruit__table__name">社員のコメント</th>
            <td class="l-recruit__table__detail">
              <p>アットホームな職場です。個人、人のつながりを大切にしてくれますよ。</p>
            </td>
          </tr>
          <tr>
            <th class="l-recruit__table__name">会社の特徴</th>
            <td class="l-recruit__table__detail">
              <p>大手ハウスメーカーとの直接取引をしており一年を通して仕事量は安定してます。</p>
            </td>
          </tr>
          <tr>
            <th class="l-recruit__table__name">アピール</th>
            <td class="l-recruit__table__detail">
              <p>技能・資格取得を支援します。<br>真夏・真冬の現場は辛い事も多々ありますが、それを含めて真剣に仕事を楽しめる方！<br>是非とも一緒に働きましょう。</p>
            </td>
          </tr>
          <tr>
            <th class="l-recruit__table__name">応募・選考について</th>
            <td class="l-recruit__table__detail">
              <p>メールもしくはお電話下さい。</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <div class="l-section-wrap">
    <section class="l-section">
      <div class="l-section__head">
        <h3 class="l-section__head__title">メールからのエントリーはこちら</h3>
      </div>
      <div class="l-section__main section-recruit">
        <ul class="l-section__main__desc" data-pfwform-hide-if-confirm>
          <li class="l-section__main__desc__child">お問い合わせフォームに必要事項のご入力をして送信ボタンをクリックしてください。</li>
          <li class="l-section__main__desc__child">メールアドレスは正しくご入力ください。弊社より返信メールが届かない可能性があります。</li>
          <li class="l-section__main__desc__child">文字化けの原因となりますので、全角カナでご入力頂きますようお願いします。</li>
          <li class="l-section__main__desc__child"><span class="f-color-red">【必須】</span>の項目は必ず入力してください。</li>
        </ul>
        <p class="u-mb-30" data-pfwform-show-if-confirm>ご入力内容をご確認ください。</p>
        <div class="error u-mb-40" data-pfwform-show-if-error>
          <p class="f-color-red">入力不備の項目がございます。<br>お手数ですが、もう一度入力内容をご確認ください。</p>
          </div>
        <form class="pfwform h-adr" action="#" data-pfwform-action="{{ asset('recruit/pfwform.php', 'theme') }}" data-pfwform-token-generator="{{ asset('recruit/pfwform-token.php', 'theme') }}" method="post" enctype="multipart/form-data" data-pfwform-confirm>
          <table class="l-section__form">
            <tbody>
              <tr data-pfwform-class-if-success="has-success" data-pfwform-class-if-error="form_error" data-pfwform-target="お名前">
                <th class="l-section__form__name required">お名前<span class="f-color-red">【必須】</span></th>
                <td class="l-section__form__input">
                  <div data-pfwform-hide-if-confirm>
                    <input type="text" class="c-input input-s" placeholder="姓" value="" name="姓"  data-pfwform-required>
                    <input type="text" class="c-input input-s" placeholder="名" value="" name="名" data-pfwform-required>
                    <p class="f-color-red o-text-error" data-pfwform-show-if-error="姓">お名前(姓)を正しく入力して下さい。</p>
                    <p class="f-color-red o-text-error" data-pfwform-show-if-error="名">お名前(名)を正しく入力して下さい。</p>
                  </div>
                  <div data-pfwform-show-if-confirm>
                    <p><span data-pfwform-confirm-value="姓"></span><span data-pfwform-confirm-value="名"></span></p>
                  </div>
                </td>
              </tr>
              <tr data-pfwform-target="ふりがな">
                <th class="l-section__form__name">ふりがな</th>
                <td class="l-section__form__input">
                  <div data-pfwform-hide-if-confirm>
                    <input type="text" class="c-input input-s" placeholder="せい" value="" name="せい">
                    <input type="text" class="c-input input-s" placeholder="めい" value="" name="めい">
                  </div>
                  <div data-pfwform-show-if-confirm>
                    <p><span data-pfwform-confirm-value="せい"></span><span data-pfwform-confirm-value="めい"></span></p>
                  </div>
                </td>
              </tr>
              <tr data-pfwform-class-if-success="has-success" data-pfwform-class-if-error="form_error" data-pfwform-target="メールアドレス">
                <th class="l-section__form__name">メールアドレス<span class="f-color-red">【必須】</span></th>
                <td class="l-section__form__input">
                  <div data-pfwform-hide-if-confirm>
                    <input type="email" class="c-input input-l" name="メールアドレス" data-pfwform-type="email" data-pfwform-required>
                    <p class="f-color-red o-text-error" data-pfwform-show-if-error="メールアドレス">メールアドレスを正しく入力して下さい。</p>
                  </div>
                  <div data-pfwform-show-if-confirm>
                    <p data-pfwform-confirm-value="メールアドレス"></p>
                  </div>
                </td>
              </tr>
              <tr>
                <th class="l-section__form__name">電話番号（携帯可）<span class="f-color-red">【必須】</span></th>
                <td class="l-section__form__input">
                  <div data-pfwform-hide-if-confirm>
                    <input type="tel" class="c-input input-s" placeholder="000" maxlength="5" placeholder="000" name="電話番号_1" data-pfwform-type="regex" data-pfwform-regex="^\d{1,5}$" data-pfwform-required>
                    <input type="tel" class="c-input input-s" placeholder="000" maxlength="5" placeholder="000" name="電話番号_2" data-pfwform-type="regex" data-pfwform-regex="^\d{1,5}$" data-pfwform-required>
                    <input type="tel" class="c-input input-s" placeholder="000" maxlength="5" placeholder="0000" name="電話番号_3" data-pfwform-type="regex" data-pfwform-regex="^\d{1,5}$" data-pfwform-required>
                    <p class="form_error_wrap valid_tel o-text-error f-color-red" data-pfwform-show-if-error="電話番号_1">電話番号を正しく入力してください。</p>
                    <p class="form_error_wrap valid_tel o-text-error f-color-red" data-pfwform-show-if-error="電話番号_2">電話番号を正しく入力してください。</p>
                    <p class="form_error_wrap valid_tel o-text-error f-color-red" data-pfwform-show-if-error="電話番号_3">電話番号を正しく入力してください。</p>
                  </div>
                  <div data-pfwform-show-if-confirm>
                    <p><span data-pfwform-confirm-value="電話番号_1"></span>
                    <span data-pfwform-confirm-value="電話番号_2"></span>
                    <span data-pfwform-confirm-value="電話番号_3"></span></p>
                  </div>
                </td>
              </tr>
              <tr data-pfwform-target="郵便番号">
                <th class="l-section__form__name">郵便番号<span class="f-color-red">【必須】</span></th>
                <td class="l-section__form__input">
                  <div data-pfwform-hide-if-confirm>
                    <span class="p-country-name" style="display:none;">Japan</span>
                    <input type="tel" class="c-input input-ss p-postal-code input-txt1" minlength="2" maxlength="3" placeholder="000" name="郵便番号_1" value="" data-pfwform-type="regex" data-pfwform-regex="^\d{3}$" data-pfwform-required>
                    <input type="tel" class="c-input input-s p-postal-code input-txt2" minlength="3" maxlength="4" placeholder="0000" name="郵便番号_2" value="" data-pfwform-type="regex" data-pfwform-regex="^\d{4}$" data-pfwform-required>
                    <p class="form_error_wrap o-text-error f-color-red" data-pfwform-show-if-error="郵便番号_1">郵便番号(上3桁)を正しく入力してください。</p>
                    <p class="form_error_wrap o-text-error f-color-red" data-pfwform-show-if-error="郵便番号_2">郵便番号(下4桁)を正しく入力してください。</p>
                  </div>
                  <div data-pfwform-show-if-confirm>
                    <span data-pfwform-confirm-value="郵便番号_1"></span>
                    <span>-</span>
                    <span data-pfwform-confirm-value="郵便番号_2"></span>
                  </div>
                </td>
              </tr>
              <tr data-pfwform-class-if-success="has-success" data-pfwform-class-if-error="form_error" data-pfwform-target="ご住所">
                <th class="l-section__form__name">ご住所<span class="f-color-red">【必須】</span></th>
                <td class="l-section__form__input">
                  <div data-pfwform-hide-if-confirm>
                    <input type="text" class="c-input input-l p-region p-locality p-street-address p-extended-address" name="ご住所" value="" placehold="ご住所をここに記入してください。" data-pfwform-required>
                    <p class="form_error_wrap f-color-red o-text-error" data-pfwform-show-if-error="ご住所">ご住所を正しく入力して下さい。</p>
                  </div>
                  <div data-pfwform-show-if-confirm>
                    <p data-pfwform-confirm-value="ご住所"></p>
                  </div>
                </td>
              </tr>
              <tr>
                <th class="l-section__form__name">年齢</th>
                <td class="l-section__form__input">
                  <div data-pfwform-hide-if-confirm>
                    <input type="number" class="c-input input-s" name="年齢" value="" step="1" min="1">
                  </div>
                  <div data-pfwform-show-if-confirm>
                    <p data-pfwform-confirm-value="年齢"></p>
                  </div>
                </td>
              </tr>
              <tr>
                <th class="l-section__form__name">業界経験歴</th>
                <td class="l-section__form__input">
                  <div data-pfwform-hide-if-confirm>
                    <input type="number" class="c-input input-s" name="業界経験歴" value="" step="1" min="1">
                  </div>
                  <div data-pfwform-show-if-confirm>
                    <p data-pfwform-confirm-value="業界経験歴"></p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

          <input type="hidden" name="username" value="takahashizoen">
          <div class="l-section__form__btn__single" data-pfwform-hide-if-confirm>
            <button class="c-btn btn-confirm js-hover">送信内容を確認する</button>
          </div>
          <div class="l-section__form__btn__double" data-pfwform-show-if-confirm>
            <button type="button" class="c-btn btn-back l-section__form__btn__back back js-hover" data-pfwform-back-button>入力画面に戻る</button>
            <div class="l-section__form__btn__submit">
              <button name="button" type="submit" class="c-btn btn-submit js-hover">この内容で送信する</button>
            </div>
          </div>
        </form>

      </div>
    </section>
  </div>

</div>
{% endblock %}
{% block jsArea %}
<script type="text/javascript" src="{{ asset('assets/js/pfwform.js', 'theme') }}"></script>
{% endblock %}