{% extends 'layout/_01_lower.twig' %}

{# メタタグ設定 #}
{% set pageTitle = 'お問い合わせ' %}
{% set description = '知多市、半田市、常滑市、東海市を中心に知多半島で優雅なお庭、コンクリートガレージ、外構エクステリアにこだわりたい方は高橋造園にお任せください。' %}
{% set keywords = '外構,エクステリア,造園,知多市,半田市' %}

{# ページID設定 #}
{% set pageId = 'contact' %}
{% set title = 'お問い合わせ' %}
{% set h1Text = 'お問い合わせ' %}

{# ページ個別　CSS等 #}
{% block headArea %}
<meta property="og:type" content="article" />
<link href="{{ theme }}/assets/css/page-{{ pageId }}.css" rel="stylesheet">
{% endblock %}

{# コンテンツをここに記載(main) #}
{% block main %}
<div class="l-main">
  {% include ('include/_heading.twig') %}
  {% include ('include/_breadcrumb.twig') %}
  <div class="l-mv" data-pfwform-hide-if-confirm>
    <div class="l-mv__inner">
      <h2 class="l-mv__title f-min">外構・エクステリア・お庭をご検討されている方へ</h2>
      <p class="l-mv__text">ご依頼・お見積・ご相談・ご質問など、お気軽にお問合せください。</p>
      <ul class="l-mv__photo">  
      {% for i in 1..4 %}
        <li class="l-mv__photo__child">
          <img src="{{ theme }}/assets/images/contact/img_main_0{{i}}.jpg" alt="{{pageCompanyName}} お問い合わせメインビジュアル{{i}}" class="img-rsp">
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>

  <div class="l-tel" data-pfwform-hide-if-confirm>
    <div class="l-tel__inner">
      <div class="l-tel__main">
        <div class="l-tel__main__head">
          <div class="l-tel__main__head__icon">
            <div class="icon-wrap">
              <svg class="icon full-color-current">
                <use xlink:href="{{ theme }}/assets/svg/icons.svg#icon_tel"></use>
              </svg>
            </div>
          </div>
          <p class="l-tel__main__head__text">お電話でのお問い合わせ</p>
        </div>
        <p class="l-tel__main__num f-min">TEL.<span class="l-tel__main__num__text">{{ companyTel }}</span></p>
      </div>
      <p class="l-tel__text">※お打合せ中や現場工事中は、電話が繋がらない場合がございます。その際はご容赦ください。</p>
    </div>
  </div>

  <div id="info" class="l-info" data-pfwform-hide-if-confirm>
    <div class="l-info__inner">
      <h3 class="l-info__title f-min">外構・エクステリア・お庭リフォームをご検討されている方へ</h3>
      <div class="l-info__content">
        <div class="l-info__main">
          <p class="l-info__main__title"><span>現地調査は無料</span>となっています。</p>
          <p class="l-info__main__subtitle">実際の現場を見ることで、より正確なお見積をご提出できます。ぜひお気軽にお問合せをして下さい。</p>
          <p class="l-info__main__text">【 現地調査対応エリア 】<br>知多市、常滑市、半田市、東海市、大府市、東浦町、阿久比町、<br class="is-pc">武豊町、美浜町、南知多町。※それ以外のエリアでもご相談下さい。</p>
          <p class="l-info__main__tel f-min">TEL.<span class="l-info__main__tel-l">{{ companyTel }}</span></p>
        </div>
        <div class="l-info__thumb">
          <img src="{{ theme }}/assets/images/contact/img_contact.jpg" alt="{{ pageCompanyName }}代表写真" class="img-rsp">
        </div>
      </div>
    </div>
  </div>

  <div class="l-section-wrap">
    <section class="l-section">
      <div class="l-section__head">
        <h3 class="l-section__head__title">メールでのお問い合わせ</h3>
      </div>
      <div class="l-section__main">
        <ul class="l-section__main__desc" data-pfwform-hide-if-confirm>
          <li class="l-section__main__desc__child">お問い合わせフォームに必要事項のご入力をして送信ボタンをクリックしてください。</li>
          <li class="l-section__main__desc__child">メールアドレスは正しくご入力ください。弊社より返信メールが届かない可能性があります。</li>
          <li class="l-section__main__desc__child">文字化けの原因となりますので、全角カナでご入力頂きますようお願いします。</li>
          <li class="l-section__main__desc__child"><span class="f-color-red">【必須】</span>の項目は必ず入力してください。</li>
        </ul>
        <p class="u-mb-30" data-pfwform-show-if-confirm>ご入力内容をご確認ください。</p>
        <div class="error u-mb-40" data-pfwform-show-if-error>
          <p class="f-color-red">入力不備の項目がございます。<br>お手数ですが、もう一度入力内容をご確認ください。</p>
          </div>
        <form class="pfwform" action="#" data-pfwform-action="{{ asset('contact/pfwform.php', 'theme') }}" data-pfwform-token-generator="{{ asset('contact/pfwform-token.php', 'theme') }}" method="post" enctype="multipart/form-data" data-pfwform-confirm>
          <table class="l-section__form">
            <tbody>
              <tr data-pfwform-class-if-success="has-success" data-pfwform-class-if-error="form_error" data-pfwform-target="お名前">
                <th class="l-section__form__name required">お名前<span class="f-color-red">【必須】</span></th>
                <td class="l-section__form__input">
                  <div data-pfwform-hide-if-confirm>
                    <input type="text" class="c-input input-s" placeholder="姓" value="" name="姓"  data-pfwform-required>
                    <input type="text" class="c-input input-s" placeholder="名" value="" name="名" data-pfwform-required>
                    <p class="f-color-red o-text-error" data-pfwform-show-if-error="姓">お名前(姓)を正しく入力して下さい。</p>
                    <p class="f-color-red o-text-error" data-pfwform-show-if-error="名">お名前(名)を正しく入力して下さい。</p>
                  </div>
                  <div data-pfwform-show-if-confirm>
                    <p><span data-pfwform-confirm-value="姓"></span><span data-pfwform-confirm-value="名"></span></p>
                  </div>
                </td>
              </tr>
              <tr data-pfwform-target="ふりがな">
                <th class="l-section__form__name">ふりがな</th>
                <td class="l-section__form__input">
                  <div data-pfwform-hide-if-confirm>
                    <input type="text" class="c-input input-s" placeholder="せい" value="" name="せい">
                    <input type="text" class="c-input input-s" placeholder="めい" value="" name="めい">
                  </div>
                  <div data-pfwform-show-if-confirm>
                    <p><span data-pfwform-confirm-value="せい"></span><span data-pfwform-confirm-value="めい"></span></p>
                  </div>
                </td>
              </tr>
              <tr data-pfwform-class-if-success="has-success" data-pfwform-class-if-error="form_error" data-pfwform-target="メールアドレス">
                <th class="l-section__form__name">メールアドレス<span class="f-color-red">【必須】</span></th>
                <td class="l-section__form__input">
                  <div data-pfwform-hide-if-confirm>
                    <input type="email" class="c-input input-l" name="メールアドレス" data-pfwform-type="email" data-pfwform-required>
                    <p class="f-color-red o-text-error" data-pfwform-show-if-error="メールアドレス">メールアドレスを正しく入力して下さい。</p>
                  </div>
                  <div data-pfwform-show-if-confirm>
                    <p data-pfwform-confirm-value="メールアドレス"></p>
                  </div>
                </td>
              </tr>
              <tr>
                <th class="l-section__form__name">ご住所</th>
                <td class="l-section__form__input">
                  <div data-pfwform-hide-if-confirm>
                    <input type="text" class="c-input input-l" name="ご住所">
                  </div>
                  <div data-pfwform-show-if-confirm>
                    <p data-pfwform-confirm-value="ご住所"></p>
                  </div>
                </td>
              </tr>
              <tr>
                <th class="l-section__form__name">電話番号（携帯可）</th>
                <td class="l-section__form__input">
                  <div data-pfwform-hide-if-confirm>
                    <input type="tel" class="c-input input-s" placeholder="000" maxlength="5" placeholder="000" name="電話番号_1" data-pfwform-type="regex" data-pfwform-regex="^\d{1,5}$">
                    <input type="tel" class="c-input input-s" placeholder="000" maxlength="5" placeholder="000" name="電話番号_2" data-pfwform-type="regex" data-pfwform-regex="^\d{1,5}$">
                    <input type="tel" class="c-input input-s" placeholder="000" maxlength="5" placeholder="0000" name="電話番号_3" data-pfwform-type="regex" data-pfwform-regex="^\d{1,5}$">
                    <p class="form_error_wrap valid_tel o-text-error f-color-red" data-pfwform-show-if-error="電話番号_1">電話番号を正しく入力してください。</p>
                    <p class="form_error_wrap valid_tel o-text-error f-color-red" data-pfwform-show-if-error="電話番号_2">電話番号を正しく入力してください。</p>
                    <p class="form_error_wrap valid_tel o-text-error f-color-red" data-pfwform-show-if-error="電話番号_3">電話番号を正しく入力してください。</p>
                  </div>
                  <div data-pfwform-show-if-confirm>
                    <p><span data-pfwform-confirm-value="電話番号_1"></span>
                    <span data-pfwform-confirm-value="電話番号_2"></span>
                    <span data-pfwform-confirm-value="電話番号_3"></span></p>
                  </div>
                </td>
              </tr>
              <tr data-pfwform-class-if-success="has-success" data-pfwform-class-if-error="form_error"  data-pfwform-target="ご希望の連絡方法">
                <th class="l-section__form__name">ご希望の連絡方法</th>
                <td class="l-section__form__input">
                  <div class="c-radio-wrap" data-pfwform-hide-if-confirm>
                    <label class="c-radio-label" for="js-means-tel">
                      <input id="js-means-tel" type="radio" class="c-radio" name="ご希望の連絡方法" value="電話">
                      <div class="c-radio-label__content"></div>
                      <p class="c-radio-label__text">お電話</p>
                    </label>
                    <label class="c-radio-label" for="js-means-mail">
                      <input id="js-means-mail" type="radio" class="c-radio" name="ご希望の連絡方法" value="メール">
                      <div class="c-radio-label__content"></div>
                      <p class="c-radio-label__text">メール</p>
                    </label>
                    <label class="c-radio-label" for="js-means-either">
                      <input id="js-means-either" type="radio" class="c-radio" name="ご希望の連絡方法" value="どちらでも">
                      <div class="c-radio-label__content"></div>
                      <p class="c-radio-label__text">どちらでも</p>
                    </label>
                  </div>
                  <div data-pfwform-show-if-confirm>
                    <p data-pfwform-confirm-value="ご希望の連絡方法"></p>
                  </div>
                </td>
              </tr>
              <tr data-pfwform-target="お問合わせ・伝言等">
                <th class="l-section__form__name">お問合わせ・伝言等<span class="f-color-red">【必須】</span></th>
                <td class="l-section__form__input">
                  <div data-pfwform-hide-if-confirm>
                    <textarea class="c-textarea" name="お問合わせ・伝言等" data-pfwform-required></textarea>
                    <p class="f-color-red o-text-error" data-pfwform-show-if-error="お問合わせ・伝言等">お問合せ内容を入力して下さい。</p>
                  </div>
                  <div data-pfwform-show-if-confirm>
                    <p data-pfwform-confirm-value="お問合わせ・伝言等"></p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="l-section__form__privacy" data-pfwform-hide-if-confirm>
            <div class="l-section__form__privacy__content">
              <div class="l-section__form__privacy__inner">
                {% include 'include/_privacy.twig' %}
              </div>
            </div>
            <div class="l-section__form__privacy__agree" data-pfwform-class-if-success="has-success" data-pfwform-class-if-error="form_error" data-pfwform-target="プライバシー">
              <label class="c-check-label" for="js-check-privacy">
                <input id="js-check-privacy" type="checkbox" class="c-check" name="プライバシー[]" value="上記、プライバシーポリシーに同意する" data-pfwform-required>
                <div class="c-check-label__content"></div>
                <p class="c-check-label__text">上記、プライバシーポリシーに同意する</p>
              </label>
              <p class="o-text-error f-color-red" data-pfwform-show-if-error="プライバシー">プライバシーポリシーに同意した上でお問合せ下さい。</p>
            </div>
          </div>

          <input type="hidden" name="username" value="takahashizoen">
          <div class="l-section__form__btn__single" data-pfwform-hide-if-confirm>
            <button class="c-btn btn-confirm js-hover">送信内容を確認する</button>
          </div>
          <div class="l-section__form__btn__double" data-pfwform-show-if-confirm>
            <button type="button" class="c-btn btn-back l-section__form__btn__back back js-hover" data-pfwform-back-button>入力画面に戻る</button>
            <div class="l-section__form__btn__submit">
              <button name="button" type="submit" class="c-btn btn-submit js-hover">この内容で送信する</button>
            </div>
          </div>
        </form>

      </div>
    </section>
  </div>
</div>
{% endblock %}
{% block jsArea %}
<script type="text/javascript" src="{{ asset('assets/js/pfwform.js', 'theme') }}"></script>
{% endblock %}
