{% extends 'layout/_01_lower.twig' %}

{# メタタグ設定 #}
{% set pageTitle = 'おすすめ庭スタイル2.住宅を引き立たせるお庭' %}
{% set description = '知多市、半田市、常滑市、東海市を中心に知多半島で優雅なお庭、コンクリートガレージ、外構エクステリアにこだわりたい方は高橋造園にお任せください。' %}
{% set keywords = '外構,エクステリア,造園,知多市,半田市' %}

{# ページID設定 #}
{% set pageId = 'garden' %}
{% set title = 'garden' %}
{% set h1Text = 'おすすめ庭スタイル2.住宅を引き立たせるお庭' %}

{# ページ個別　CSS等 #}
{% block headArea %}
<meta property="og:type" content="article" />
<link href="{{ theme }}/assets/css/page-{{ pageId }}.css" rel="stylesheet">
{% endblock %}

{# コンテンツをここに記載(main) #}
{% block main %}
<div class="l-main">
  {% include ('include/_heading.twig') %}
  {% include ('include/_breadcrumb.twig') %}
  <div class="l-mv">
    <div class="l-mv__inner">
      <div class="l-mv__content">
        <h2 class="l-mv__desc">住宅を<br>引き立たせるお庭</h2>
        <p class="l-mv__text">高橋造園の外構エクステリア庭工事は、<br class="is-pc">住宅とのバランスを大切にしています。</p>
      </div>
    </div>
  </div>

  <section class="l-section section-point01">
    <div class="c-section-heading">
      <p class="c-section-heading__num"><img src="{{ theme }}/assets/images/garden/text_point_01.png" alt="POINT01"></p>
      <h2 class="c-section-heading__title">住宅のテイストを理解し、<br class="is-pc">家と外構・エクステリア・庭の調和を目指す</h2>
    </div>
    <div class="l-section__inner">
      <p class="l-section__thumb"><img src="{{ theme }}/assets/images/garden/img_point01_main.jpg" alt="{{pageCompanyName}} 住宅のテイストを理解し、家と外構・エクステリア・庭の調和を目指す" class="img-rsp"></p>
      <div class="l-section-content content-point01">
        <div class="l-section-content__top content-top-01">
          <div class="l-section-content__top__detail">
            <p class="l-section-content__text u-mb-30">高橋造園が大切にしていることは、住宅と外構・エクステリア・お庭の調和です。外構・エクステリア・お庭が住宅とバランスの取れたものであれば、家がより引き立ち、住まい全体をより美しく、より価値のあるものとなります。</p>
            <p class="l-section-content__text">私たちはこの考え方を意識しながら、お客様と会話し、<br class="is-pc">お客様の気持ちを汲み取りながら、自ら設計します。<br>工事においても高い技術力・責任感をもつ職人と一緒に、<br class="is-pc">完成までベストを尽くしてコーディネートしていきます。</p>
          </div>
        </div>
        <div class="l-section-content__bottom row-reverse content-bottom-01">
          <div class="l-section-content__bottom__detail">
            <p class="l-section-content__text u-mb-30">そして外観だけではなく、お客様がこれから快適で至福な生活を送って頂くことを考え、自ら設計・コーディネートをすることで、お客様の暮らしをより豊かなものにできるのではないかと考えます。</p>
            <p class="l-section-content__text">外構・エクステリア・お庭は見た目はもちろんのこと、<br class="is-pc">実用性、快適性が加わると、更に新たな価値が生まれます。</p>
          </div>
          <div class="l-section-content__bottom__thumb thumb-position-l">
            <img src="{{ theme }}/assets/images/garden/img_point01_02.jpg" alt="{{pageCompanyName}} おすすめ庭スタイル2 Point1の画像" class="img-rsp">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="l-section section-point02">
    <div class="c-section-heading">
      <p class="c-section-heading__num"><img src="{{ theme }}/assets/images/garden/text_point_02.png" alt="POINT02"></p>
      <h2 class="c-section-heading__title">お客様のライフスタイルや<br class="is-pc">好みに合わせた心地のイイお庭</h2>
    </div>
    <div class="l-section__inner">
      <p class="l-section__thumb"><img src="{{ theme }}/assets/images/garden/img_point02_main.jpg" alt="{{pageCompanyName}} お客様のライフスタイルや好みに合わせた心地のイイお庭" class="img-rsp"></p>
      <div class="l-section-content content-point02">
        <div class="l-section-content__top row-reverse content-top-02">
          <div class="l-section-content__top__detail">
            <p class="l-section-content__text u-mb-30">お客様によってライフスタイル、好みはさまざまです。</p>
            <p class="l-section-content__text u-mb-30">例えば、</p>
            <p class="l-section-content__text u-mb-30">「ペットと開放的な空間で一緒に遊べるスペースがほしい」<br>「自分の庭で、週末は家族や友人とバーベキューがしたい」<br>「毎日の暮らしで、四季を感じるお庭がほしい」<br>「重厚感のある外構を取り入れたい」<br>「大切な車のスペースを確保したい」</p>
            <p class="l-section-content__text">などなど・・・。</p>
          </div>
        </div>
        <div class="l-section-content__bottom content-bottom-02">
          <div class="l-section-content__bottom__detail">
            <p class="l-section-content__text u-mb-30">このようなお客様のご要望を汲み取り、ご提案することはもちろんのこと、<br class="is-pc">暮らしのイメージはついても、それを外構・エクステリア・お庭に置き換えるとなかなかイメージが湧かない・・・という方のためにも、ご納得のいく提案を分かりやすくさせて頂きます。</p>
            <p class="l-section-content__text">まずは、どんなことでも思いつくまま、想いやライフスタイルを聞かせてください。</p>
          </div>
          <div class="l-section-content__bottom__thumb thumb-position-r">
            <img src="{{ theme }}/assets/images/garden/img_point02_02.jpg" alt="{{pageCompanyName}} おすすめ庭スタイル2 Point2の画像" class="img-rsp">
          </div>
        </div>
      </div>
    </div>
  </section>

  {%
  set commonBnrList = [
    {
      id: 'garage',
      url: siteMap.garage.url,
      name: 'GARAGE',
      text: siteMap.garage.name
    },
    {
      id: 'japanese_modern',
      url: siteMap.japaneseModern.url,
      name: 'JAPANESE MODERN',
      text: siteMap.japaneseModern.name
    },
    {
      id: 'works',
      url: siteMap.case.url,
      name: 'WORKS',
      text: siteMap.case.name
    }
  ]
%}
{% include 'include/_commonBnrComponent.twig' %}

</div>
{% endblock %}
