{% extends 'layout/_01_lower.twig' %}

{# ページタイトル設定 #}
{% set pageTitle = record.voice_area_name %}
{% set pageTitle02 = record.voice_title %}
{% set description = '' %}
{% set keywords = '' %}
{% set h1text = 'お客様の声' %}

{# SNS設定用 #}
{% set seo_pageTitle = record.seo_pagetitle %}
{% set seo_description = record.seo_description %}
{% set sns_img = record.sns_img %}

{# ページID設定 #}
{% set pageId = 'voice' %}

{# ページ個別 CSS等 #}
{% block headArea %}
<meta property="og:type" content="article">
<link rel="stylesheet" type="text/css" href="{{ asset('css/page-system.css', 'theme') }}">
{# detail.css #}
{% endblock %}

{#  コンテンツをここに記載(main) #}
{% block main %}
<h1 class="main-title"><span class="en">{{pageId}}</span><span class="jp f-gothic">{{ h1text }}</span></h1>
{% include ('include/_gnavi.twig') %}

<div id="one-cl" class="clearfix"><!-- one-cl -->
<!--<div id="tow-cl" class="clearfix"> tow-cl -->
{#  {% include ('include/_sidebarcommon.twig') %} 2カラムの場合追加 #}

<main>
{# パンくずリスト #}
<nav class="seo_bread_list clearfix">
<ul class="clearfix" itemscope itemtype="https://schema.org/BreadcrumbList">
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"> <a itemprop="item" href="{{ path('homepage') }}"><span itemprop="name">HOME</span></a>
<meta itemprop="position" content="1" /> </li>
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"> <a itemprop="item" href="{{siteurl}}/{{pageId}}"><span itemprop="name">{{ h1text }}</span></a>
<meta itemprop="position" content="2" /> </li>
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
<link itemprop="item" href="{{ canonical() }}"><span itemprop="name">{{ pageTitle }}</span>
<meta itemprop="position" content="3" /> </li>
</ul>
</nav>

<article>

<a id="system-contents" name="system-contents"></a>
<h2 class="sub-title">{{ h1text }}</h2>

{# 詳細ページ毎ページャー #}
{% include 'layout/_entry_pager.twig' %}

<div class="system-contents">
<div class="system-contents-inner">
<p class="system-date">{{ record.voice_area_name }} {{ record.voice_name }}</p>
{# カテゴリのラベルを表示させる #}
{% if record.taxonomy.voice_categories is defined and record.taxonomy.voice_categories is not empty %}
<div class="system-category-set clearfix">
{% for key, value in record.taxonomy.voice_categories %}
<p class="system-category {{key | replace({'/voice_categories/': ''}) }}">{{value}}</p>
{% endfor %}
</div>
{% endif %}
{% if record.voice_title is defined and record.voice_title is not empty %}
<h3 class="system-ttl">{{ record.voice_title }}</h3>
{% endif %}

{# TOP表示用画像が未登録時は、共通のNoImage画像 #}
{% if record.voice_thumb_img is defined and record.voice_thumb_img is not empty %}
{% set _thumbnail_Path = record.voice_thumb_img | image %}
{% else %}
{% set _thumbnail_Path = asset('images/common/img_noimage.png', 'theme') %}
{% endif %}
<p class="system-i-pic"><img src="{{ _thumbnail_Path }}" class="eyecatchImg" alt="{{ record.voice_customer_name }}"></p>

<div class="wysiwyg">{{ record.voice_body_text }}</div>

{% if  record.voice_gallery is defined and record.voice_gallery is not empty %}
<div class="system-gallery">
<h2 class="sub-title">Gallery</h2>
<ul class="clearfix gallery-list popupgallery">
{% for _gallery in record.voice_gallery %}
<li>
<a
href = "{{ _gallery | image }}"
data-tracking-content-type = "voice"
data-tracking-content-id = "{{ record.id }}"
data-tracking-content-name = "{{ record.voice_title }}"
data-tracking-img-src = "{{ _gallery | image }}"
data-tracking-img-label = "{{ _gallery.title }}"
data-tracking-field-type = "ギャラリー"
>
<span class="system-Frame fit">
<img src="{{ _gallery | image }}" alt="{{ _gallery.title }}">
</span>
</a>
{% set _filename = _gallery.filename|split('.') %}
{% if _filename[0] not in _gallery.title %}{# imgListに画像を登録した際、ファイル名が出力されるため処理 #}
<span>{{ _gallery.title }}</span>
{% endif %}
</li>
{% endfor %}
</ul><!-- gallery-list -->
</div><!-- gallery-list -->
{% endif %}

{% if record.voice_video is defined and record.voice_video is not empty %}
<div class="video">
{{ record.voice_video.responsive }}
</div><!-- video -->
{% endif %}

{% if record.voice_quastionnaire is defined and record.voice_quastionnaire is not empty %}
<div class="btnArea">
<a href="{{ asset(record.voice_quastionnaire, 'files') }}" target="_blank">お客様アンケートを見る(PDF)</a>
{% endif %}
{% set relatedrecords = record.related() %}
{% if relatedrecords is not empty %}
{% for related in relatedrecords %}
<a href="{{ related.link }}">このお客様の施工事例を見る</a>
{% endfor %}
</div><!-- btnArea -->
{% endif %}
</div><!-- system-contents-inner -->
</div><!-- system-contents -->

{# 詳細ページ毎ページャー #}
{% include 'layout/_entry_pager.twig' %}

<h2 class="sub-title">{{ h1text }}カテゴリ一覧</h2>
{# カテゴリ別リンク #}
{% set voice_categories = app.config.get('taxonomy/voice_categories/options') %}
<div class="serchcategory">
{% for key, value in voice_categories %}
<a href="{{ path('taxonomylink', { taxonomytype: 'voice_categories', slug: key }) }}"><span class="icon {{ key }}">{{ value }}</span></a>
{% endfor %}
</div><!-- serchcategory -->


</article>
{% include ('include/_common_voice.twig') %}

</main>
</div><!-- one-cl or tow-cl -->

{% include ('include/_end-bnr.twig') %}

{% endblock %}

{# ページ個別 JS等 #}
{% block jsArea %}
<script type="text/javascript">
$(function() {
// ポップアップギャラリー
$('.popupgallery').magnificPopup({
delegate: 'a',
type: 'image',
gallery: { //ギャラリー表示にする
enabled: true
},
image: {
titleSrc: function (item) {
return item.el.find('img').attr('alt');
}
}
});
});
</script>
{% endblock %}
