{% extends 'layout/_01_lower.twig' %}

{# メタタグ設定 #}
{% set pageTitle = '和モダンのお庭' %}
{% set description = '知多市、半田市、常滑市、東海市を中心に知多半島で優雅なお庭、コンクリートガレージ、外構エクステリアにこだわりたい方は高橋造園にお任せください。' %}
{% set keywords = '外構,エクステリア,造園,知多市,半田市' %}

{# ページID設定 #}
{% set pageId = 'japanese-modern' %}
{% set title = 'japanese-modern' %}
{% set h1Text = '和モダンのお庭' %}

{# ページ個別　CSS等 #}
{% block headArea %}
<meta property="og:type" content="article" />
<link href="{{ theme }}/assets/css/page-{{ pageId }}.css" rel="stylesheet">
{% endblock %}

{# コンテンツをここに記載(main) #}
{% block main %}
<div class="l-main">
  {% include ('include/_heading.twig') %}
  {% include ('include/_breadcrumb.twig') %}
  <div class="l-mv">
    <h2 class="l-mv__title"><img src="{{ theme }}/assets/images/japanese-modern/img_main.jpg" alt="{{ pageTitle }}" class="img-rsp"></h2>
  </div>

  <div class="l-intro">
    <div class="l-intro__inner">
      <div class="l-intro__head js-scrollIn">
        <h3 class="l-intro__title f-min">忘れていませんか？<br><span class="l-intro__title-l">日本の庭の素晴らしさ</span></h3>
      </div>
      <div class="l-intro__main">
        <p class="l-intro__text">四季を感じ、心が落ち着く、穏やかになれる…。<br>日本人の原点に戻る和風庭園に現代のテイストを掛け合わせる。古きよき時代と新しい時代の融合された和風モダンな庭</p>
      </div>
    </div>
  </div>

  <section class="l-section section-1">
    <div class="l-section__inner">
      <div class="l-section__main">
        <div class="l-section__head num-1">
          <h2 class="l-section__title f-min">和モダンの庭とは<span class="l-section__title-s">~和風庭園×現代テイスト～</span></h2>
        </div>
        <div class="l-section__content">
          <p class="l-section__text u-mb-20">昔ながらの石垣、そして四季折々の草木花の顔。<br>年月が経つにつれてより一層深い味わいのでる和風庭園。<br>そこに現代のテイストを掛け合わせると和モダンな庭の完成。</p>
          <p class="l-section__text">この和風モダンな庭は、植物を知り尽くし、庭を知り尽くした職人による小さな手仕事の積み重なりでしか完成しません。</p>
        </div>
      </div>
      <div class="l-section__thumb thumb-1 js-scrollIn">
        <img src="{{ theme }}/assets/images/japanese-modern/img_point01.jpg" alt="和モダンの庭とは" class="img-rsp">
      </div>
    </div>
  </section>

  <section class="l-section section-2">
    <div class="l-section__inner row-reverse">
      <div class="l-section__main">
        <div class="l-section__head num-2">
          <h2 class="l-section__title f-min">和モダンの庭の<br class="is-pc">いいところ<span class="l-section__title-s">~心が豊かになれるような庭～</span></h2>
        </div>
        <div class="l-section__content">
          <p class="l-section__text u-mb-20">一時の流行に流されず、長年住む事を考えた上でのデザインに加え、<br class="is-pc">見た目だけでなく“心が豊かになれるような”…<br>そんな庭こそ、和風モダンな庭なのです。</p>
          <ul class="l-section__content__list u-mb-20">
            <li class="l-section__content__child"> 庭の「空間」を楽しむ</li>
            <li class="l-section__content__child">「安らぎ」を楽しむ</li>
            <li class="l-section__content__child">「家族の絆」を大切にする</li>
            <li class="l-section__content__child"> 雨でさえ美しい音色に変える</li>
          </ul>
          <p class="l-section__text">日本人が好む和のテイストを残し、現代のテイストを融合させた、新しい庭のカタチです。</p>
        </div>
      </div>
      <div class="l-section__thumb thumb-2 js-scrollIn">
        <img src="{{ theme }}/assets/images/japanese-modern/img_point02.png" alt="和モダンの庭のいいところ" class="img-rsp">
      </div>
    </div>
  </section>

  <section class="l-section section-3">
    <div class="l-section__inner">
      <div class="l-section__main">
        <div class="l-section__head num-3">
          <h2 class="l-section__title f-min">高橋造園の和モダン<span class="l-section__title-s">~和風だから…という<br class="is-pc">概念は捨てる！～</span></h2>
        </div>
        <div class="l-section__content">
          <p class="l-section__text u-mb-20">「和風だからこうでなければならない」という固定概念は一切持ちません。 なぜならお客様の暮らし方は一家族一家族、一人ひとり違うからです。</p>
          <p class="l-section__text">お客様一人ひとりに合った庭のご提案をするだけでなく、そのお客様の個性を伸ばすようなお庭のご提案をすることが高橋造園の信念です。</p>
        </div>
      </div>
      <div class="l-section__thumb thumb-3 js-scrollIn">
        <img src="{{ theme }}/assets/images/japanese-modern/img_point03.jpg" alt="高橋造園の和モダン" class="img-rsp">
      </div>
    </div>
  </section>

{%
  set commonBnrList = [
    {
      id: 'stone',
      url: siteMap.stone.url,
      name: '庭石',
      text: siteMap.stone.name
    },
    {
      id: '10articles',
      url: siteMap.tenArticles.url,
      name: '失敗しない家づくり',
      text: siteMap.tenArticles.name
    },
    {
      id: 'works',
      url: siteMap.case.url,
      name: 'WORKS',
      text: siteMap.case.name
    }
  ]
%}
{% include 'include/_commonBnrComponent.twig' %}
</div>
{% endblock %}
