{% extends 'layout/_01_lower.twig' %}

{# メタタグ設定 #}
{% set pageTitle = record.staff_name %}
{% set description = '知多市、半田市、常滑市、東海市を中心に知多半島で優雅なお庭、コンクリートガレージ、外構エクステリアにこだわりたい方は高橋造園にお任せください。' %}
{% set keywords = '外構,エクステリア,造園,知多市,半田市' %}

{% set seo_pageTitle = record.seo_pagetitle %}
{% set seo_description = record.seo_description %}
{% set sns_img = record.sns_img %}

{# ページID設定 #}
{% set pageId = 'staff-single' %}
{% set title = 'スタッフ紹介' %}
{% set h1Text = 'スタッフ紹介' %}
{% set pageArchiveId = 'staff' %}

{# ページ個別　CSS等 #}
{% block headArea %}
<meta property="og:type" content="article" />
<link href="{{ theme }}/assets/css/page-{{ pageId }}.css" rel="stylesheet">
{% endblock %}

{# コンテンツをここに記載(main) #}
{% block main %}
<div class="l-main">
  {% include ('include/_heading.twig') %}
  {% include ('include/_breadcrumb.twig') %}
  <div class="l-single-wrap">
    {% include 'layout/_entryPagerComponent.twig' %}
    <article class="l-staff-single">
      <div class="l-staff-single__inner">
        <div class="l-staff-single__head">
        {% if record.staff_thumb_img is defined and record.staff_thumb_img is not empty %}
        {% set _thumbnail_Path = record.staff_thumb_img | image %}
          <p class="l-staff-single__thumb"><img src="{{ _thumbnail_Path }}" alt="{{ record.staff_name }}" class="img-fit l-staff-single__img"></p>
        {% endif %}
          <div class="l-staff-single__detail">
            <p class="l-staff-single__role">{{ record.staff_job }}</p>
            <h2 class="l-staff-single__name">{{ record.staff_name }}</h2>
            <p class="l-staff-single__kana">{{ record.staff_kana }}</p>
          </div>
        </div>
        <div class="l-staff-single__main l-wysi">
          {{ record.staff_body_text }}
        </div>
      </div>
    </article>
    {% include 'layout/_entryPagerComponent.twig' %}
  </div>
</div>
{% endblock %}
