{% extends 'layout/_01_lower.twig' %}

{# メタタグ設定 #}
{% set pageTitle = 'スタッフ紹介' %}
{% set description = '知多市、半田市、常滑市、東海市を中心に知多半島で優雅なお庭、コンクリートガレージ、外構エクステリアにこだわりたい方は高橋造園にお任せください。' %}
{% set keywords = '外構,エクステリア,造園,知多市,半田市' %}

{# ページID設定 #}
{% set pageId = 'staff-archive' %}
{% set title = 'スタッフ紹介' %}
{% set h1Text = 'スタッフ紹介' %}

{# ページ個別　CSS等 #}
{% block headArea %}
<meta property="og:type" content="article" />
<link href="{{ theme }}/assets/css/page-{{ pageId }}.css" rel="stylesheet">
{% endblock %}

{# コンテンツをここに記載(main) #}
{% block main %}
<div class="l-main">
  {% include ('include/_heading.twig') %}
  {% include ('include/_breadcrumb.twig') %}
  <div class="l-staff-archive">
    <div class="l-staff-archive__inner">
    {% if records is defined and records is not empty %}
      <ul class="l-staff-archive__group">
      {% for record in records %}
        {% if record.staff_thumb_img is defined and record.staff_thumb_img is not empty %}
        {% set _thumbnail_Path = record.staff_thumb_img | image %}
        {% else %}
        {% set _thumbnail_Path = asset('assets/images/common/noimage.png', 'theme') %}
        {% endif %}
        <li class="l-staff-archive__child">
          <a href="{{ record.link }}" class="l-staff-archive__link js-hover" data-tracking-content-type = "staff" data-tracking-content-id = "{{ record.id }}" data-tracking-content-name ="{{ record.staff_customer_name }}" data-tracking-img-src = "{{ _thumbnail_Path }}" data-tracking-img-label = "" data-tracking-field-type = "アイキャッチ">
            <p class="l-staff-archive__thumb"><img src="{{ _thumbnail_Path }}" alt="{{record.staff_name}}" class="l-staff-archive__img img-fit"></p>
            <p class="l-staff-archive__role">{{ record.staff_job }}</p>
            <p class="l-staff-archive__name">{{ record.staff_name }}</p>
            <div class="l-staff-archive__more">
              <div class="l-staff-archive__more__btn">MORE</div>
            </div>
          </a>
        </li>
      {% endfor %}
      </ul>
    {% endif %}

      {{ pager(template = 'layout/_archivePagerComponent.twig') }}
    </div>
  </div>
</div>
{% endblock %}
