{% extends 'layout/_01_lower.twig' %}

{# メタタグ設定 #}
{% set top_pageTitle = 'test' %}
{% set description = '' %}
{% set keywords = '' %}


{# ページID設定 #}
{% set pageId = 'top' %}
{% set title = 'toppage' %}

{# ページ個別　CSS等 #}
{% block headArea %}
<meta property="og:type" content="website" />
<link href="{{ theme }}/css/page-top.css" rel="stylesheet">
{% endblock %}

{# コンテンツをここに記載(main) #}
{% block main %}

<!--　PC スライダー　-->
<div class="pc">
<div class="slider-3mai-Box">
<div class="slider-3mai">
<ul>
<li><img src="{{theme}}/images/index/sra-03.jpg" alt="" /></li>
<li><img src="{{theme}}/images/index/sra-01.jpg" alt="" /></li>
<li><img src="{{theme}}/images/index/sra-02.jpg" alt="" /></li>
</ul>
</div>
</div>
</div>
<!--　SP スライダー　-->
<div class="sp">
<div id="bx-sra">
<ul>
<li><img src="{{theme}}/images/index/sp-sra-01.jpg" alt="" /></li>
<li><img src="{{theme}}/images/index/sp-sra-02.jpg" alt="" /></li>
<li><img src="{{theme}}/images/index/sp-sra-03.jpg" alt="" /></li>
</ul>
</div>
</div>
<!-- top-sra END -->

{% include ('include/_gnavi.twig') %}

<section id="event">
<div class="inner-Box">
<h2 class="f-gothic">Event</h2>

{% setcontent eventrecords = 'event/latest/4' where { status: 'published' } %}
{% if eventrecords is defined and eventrecords is not empty %}
<ul class="system-list">
{% for record in eventrecords | order('sortorder') %}
<li>
{% if record.taxonomy.event_categories is defined and record.taxonomy.event_categories is not empty %}
{% for key, value in record.taxonomy.event_categories %}
<a href="{{siteurl}}/event_categories/{{ key | replace({'/event_categories/': ''})}}">
<p class="system-icon f-gothic {{ key | replace({'/event_categories/': ''})}}">{{ value }}</p>
</a>
{% endfor %}
{% endif %}
<div class="system-pic"><a href="{{ record.link }}">
{% if record.event_titleimg is defined and record.event_titleimg is not empty %}
{% set _event_titleimg = record.event_titleimg | image %}
{% else %}
{% set _event_titleimg = asset('images/common/img_noimage.png', 'theme') %}
{% endif %}
<img src="{{ _event_titleimg }}" class="eyecatchImg" alt="{{ record.event_title }} 写真">
</a>
</div><!-- system-pic -->
<a href="{{ record.link }}">
<p class="system-icon02">
{# ラベル実装のswitch文 #}
{% set event_val = record.event_icon %}
{% set now_val = 'now' | date('Y/m/d') %}
{% set a_week_passed = record.datepublish | date_modify('+8 day') | date('Y/m/d') %}
{% set start_date = start_date_sort_first | date('Y/m/d') %}
{% set end_date = record.event_end_date | date('Y/m/d') %}
{% switch event_val %}
　{% case "受付中" %}
  <span class="icon02-01">受付中</span>
  {% case "開催中" %}
  <span class="icon02-03">開催中</span>
  {% case "終了" %}
  <span class="icon02-02">終了しました</span>
  {% default %}
  {% if now_val < start_date %}{# "受付中"表示 #}
  <span class="icon02-01">受付中</span>
  {% elseif start_date <= now_val and now_val <= end_date %}{# "開催中"表示 #}
  <span class="icon02-03">開催中</span>
  {% elseif now_val > end_date %}{# "終了しました"表示 #}
  <span class="icon02-02">終了しました</span>
  {% endif %}
{% endswitch %}
</p>
<p class="system-date">
{# リピーターの'開始日'を配列に格納 #}
<span class="date">{{ record.event_start_date | date('Y/m/d') }}</span>～<span>{{ record.event_end_date | date('Y/m/d') }}</span>
</p>
<h2 class="system-ttl-01">{{ record.event_title }}</h2>
</a>
</li>
{% endfor %}
</ul>
{% endif %}
<p class="btn f-gothic"><a href="{{ siteurl }}/event">EVENT 一覧へ</a></p>
</div><!-- inner-Box -->
</section><!-- event END -->



<section id="case">
<div class="inner-Box">
<h2 class="f-gothic">新築施工事例</h2>
{% setcontent case_newlyrecords = 'case_newly/latest/5' where { status: 'published' } %}
{% if case_newlyrecords is defined and case_newlyrecords is not empty %}
<ul class="system-list">
{% for record in case_newlyrecords | order('sortorder') %}
<li>
<a href="{{ record.link }}">
<div class="system-pic fit">
{% if record.case_newly_thumb_img is defined and record.case_newly_thumb_img is not empty %}
{% set _thumbnail_Path = record.case_newly_thumb_img | image %}
{% else %}
{% set _thumbnail_Path = asset('images/common/img_noimage.png', 'theme') %}
{% endif %}
<img src="{{ _thumbnail_Path }}" class="eyecatchImg" alt="{{ record.case_newly_title }} 写真">
</div>
{% if record.taxonomy.case_newly_categories is defined and record.taxonomy.case_newly_categories is not empty %}
<div class="system-category-set">
{% for key, value in record.taxonomy.case_newly_categories %}
<p class="system-category {{ key | replace({'/case_newly_categories/': ''})}}">{{ value }}</p>
{% endfor %}
</div>
{% endif %}
<p class="system-date">{{ record.case_newly_customer_area }} {{ record.case_newly_customer_name }}</p>
<h2 class="system-ttl-01">{{ record.case_newly_title }}</h2>
</a>
</li>
{% endfor %}
</ul><!-- system-list -->
{% endif %}
<p class="btn f-gothic"><a href="{{ siteurl }}/case_newly">新築施工事例 一覧</a></p>
</div><!-- inner-Box -->
</section><!-- case -->



<!--　カテゴリー分けでの吐出し方法　-->
<div id="casetax-catego">
<div class="inner-Box">
<h2 class="f-gothic">特定のカテゴリの一覧吐き出し</h2>
{% setcontent case_newlyrecords = 'case_newly/latest/5' where { status: 'published', case_newly_categories: 'カテゴリ６' } %}<!-- カテゴリ名の指定 -->
{% if case_newlyrecords is defined and case_newlyrecords is not empty %}
<ul class="system-list">
{% for record in case_newlyrecords %}
{% if record.taxonomy.case_newly_categories is defined and record.taxonomy.case_newly_categories is not empty %}
{% for key, value in record.taxonomy.case_newly_categories %}
{% if value == 'カテゴリ６' %}<!-- カテゴリ名の指定 -->
<li>
<a href="{{ record.link }}">
<div class="system-pic fit">
{% if record.case_newly_thumb_img is defined and record.case_newly_thumb_img is not empty %}
{% set _thumbnail_Path = record.case_newly_thumb_img | image %}
{% else %}
{% set _thumbnail_Path = asset('images/common/img_noimage.png', 'theme') %}
{% endif %}
<img src="{{ _thumbnail_Path }}" class="eyecatchImg" alt=" 写真">
</div><!-- system-img -->
<p class="system-date">{{ record.case_newly_customer_area }} {{ record.case_newly_customer_name }}</p>
<h2 class="system-ttl-01">{{ record.case_newly_title }}</h2>
</a>
</li>
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
</ul>
{% endif %}
<p class="btn f-gothic"><a href="{{siteurl}}/case_newly_categories/icon01">特定のカテゴリの一覧</a></p>
</div><!-- inner-Box -->
</div><!-- catego-block -->



<section id="case-reform">
<div class="inner-Box">
<h2 class="f-gothic">リフォーム施工事例</h2>
{% setcontent case_reformrecords = 'case_reform/latest/3' where { status: 'published' } %}
{% if case_reformrecords is defined and case_reformrecords is not empty %}
<ul class="system-list">
{% for record in case_reformrecords | order('sortorder') %}
<li>
<a href="{{ record.link }}">
<div class="system-pic fit">
{% if record.case_reform_thumb_img is defined and record.case_reform_thumb_img is not empty %}
{% set _thumbnail_Path = record.case_reform_thumb_img | image %}
{% else %}
{% set _thumbnail_Path = asset('images/common/img_noimage.png', 'theme') %}
{% endif %}
<img src="{{ _thumbnail_Path }}" class="eyecatchImg" alt="{{ record.case_reform_title }} 写真">
</div>
{% if record.taxonomy.case_reform_categories is defined and record.taxonomy.case_reform_categories is not empty %}
<div class="system-category-set">
{% for key, value in record.taxonomy.case_reform_categories %}
<p class="system-category {{ key | replace({'/case_reform_categories/': ''})}}">{{ value }}</p>
{% endfor %}
</div>
{% endif %}
<p class="system-date">{{ record.case_reform_customer_area_name }} {{ record.case_reform_customer_name }}</p>
<h2 class="system-ttl-01">{{ record.case_reform_title }}</h2>
</a>
</li>
{% endfor %}
</ul><!-- system-list -->
{% endif %}
<p class="btn f-gothic"><a href="{{ siteurl }}/case_reform">リフォーム施工事例 一覧</a></p>
</div><!-- inner-Box -->
</section><!-- case -->



<section id="voice">
<div class="inner-Box">
<h2 class="f-gothic">VOICE</h2>
{% setcontent voicerecords = 'voice/latest/3' where { status: 'published' } %}
{% if voicerecords is defined and voicerecords is not empty %}
<ul class="system-list">
{% for record in voicerecords | order('sortorder') %}
<li>
<a href="{{ record.link }}">
<div class="system-pic fit">
{% if record.voice_thumb_img is defined and record.voice_thumb_img is not empty %}
{% set _thumbnail_Path = record.voice_thumb_img | image %}
{% else %}
{% set _thumbnail_Path = asset('images/common/img_noimage.png', 'theme') %}
{% endif %}
<img src="{{ _thumbnail_Path }}" class="eyecatchImg" alt="{{ record.voice_title }} 写真">
</div>
<div class="system-customer"><span>{{ record.voice_area_name }}</span>{{ record.voice_name }}</div>
<h2 class="system-ttl-01">{{ record.voice_title }}</h2>
</a>
</li>
{% endfor %}
</ul>
{% endif %}
<p class="btn f-gothic"><a href="{{ siteurl }}/voice">お客様の声 一覧</a></p>
</div><!-- Box -->
</section><!-- voice -->



<div id="blog-news" class="clearfix">


<section id="blog">
<div class="inner-Box">
<h2 class="f-gothic">Blogブログ</h2>
{% setcontent blogrecords = 'blog/latest/8' where { status: 'published' } %}
{% if blogrecords is defined and blogrecords is not empty %}
<ul class="system-list">
{% for record in blogrecords | order('sortorder') %}
<li>
<a href="{{ record.link }}">
<div class="system-pic">
{% if record.blog_thumb_img is defined and record.blog_thumb_img is not empty %}
{% set _thumbnail_Path = record.blog_thumb_img | image %}
{% else %}
{% set _thumbnail_Path = asset('images/common/img_noimage.png', 'theme') %}
{% endif %}
<img src="{{ _thumbnail_Path }}" class="eyecatchImg" alt=" 写真">
</div>
<div class="system-txt">
<p class="system-date">{{ record.datepublish | date('Y/m/d') }}</p>
{% if record.taxonomy.blog_categories is defined and record.taxonomy.blog_categories is not empty %}
{% for key, value in record.taxonomy.blog_categories %}
<p class="system-category {{ key | replace({'/blog_categories/': ''})}}">{{ value }}</p>
{% endfor %}
{% endif %}
<h2 class="system-ttl">{{ record.blog_title }}</h2>
</div>
</a>
</li>
{% endfor %}
</ul><!-- system-list -->
{% endif %}
</div><!-- inner-Box -->
<p class="btn f-gothic"><a href="{{ siteurl }}/blog">ブログ一覧</a></p>
</section><!-- blog -->




<section id="topics">
<div class="inner-Box">
<h2 class="f-gothic"><span>NEWS</span>お知らせ</h2>
{% setcontent topicsrecords = 'topics/latest/6' where { status: 'published' } %}
{% if topicsrecords is defined and topicsrecords is not empty %}
<ul class="system-list">
{% for record in topicsrecords | order('sortorder')%}
<li>
<a href="{{ record.link }}">
<p class="system-date">{{ record.datepublish | date('Y/m/d') }}</p>
{% if record.taxonomy.topics_categories is defined and record.taxonomy.topics_categories is not empty %}
{% for key, value in record.taxonomy.topics_categories %}
<p class="system-category {{ key | replace({'/topics_categories/': ''})}}">{{ value }}</p>
{% endfor %}
{% endif %}
<h2 class="system-ttl">{{ record.topics_title }}</h2>
</a>
</li>
{% endfor %}
</ul>
{% endif %}
</div>
<p class="btn f-gothic"><a href="{{ siteurl }}/topics">NEWS　一覧リンクボタン</a></p>
</section><!-- topics -->

</div><!-- sns -->

{% include ('include/_end-bnr.twig') %}


{% endblock %}

{# ページ個別　JS等 #}
{% block jsArea %}
<!-- <script type="text/javascript" src="{{ theme }}/js/insta_feed.js"></script> -->

<script type="text/javascript">
$(function(){
var slide = $('.slider-3mai-Box ul').bxSlider({
slideWidth  : 1000,//スライダーする画像の幅
slideMargin : 10,//スライダーする画像の幅の横マージン
controls    : true,
pager: false,
auto        : true,
minSlides   : 3,
maxSlides   : 3,
moveSlides  : 1,
speed       : 1000,
pause       : 5000,
});
});
</script>

<script>
$(function() {
$('#bx-sra ul').bxSlider({
mode: 'fade',
controls: false,
pager: false,
auto        : true,
speed       : 1000,
pause       : 5000,
});
});
</script>

<script type="text/javascript">
if(!navigator.userAgent.match(/(iPhone|iPad|iPod|Android)/)){
//スマホの場合無効になる処理
$(function() {
$(window).scroll(function () {
var $gnavs = $(".fix-list");
if($(window).scrollTop() > 700){
$('.fix-list').fadeIn(600);
}else{
$('.fix-list').fadeOut(600);
}
});
});
}
</script>
{% endblock %}
