{% extends 'layout/_01_lower.twig' %}

{# ページタイトル設定 #}
{% set pageTitle = 'ページが存在しません' %}
{% set description = '' %}
{% set keywords = '' %}


{% set title = 'notfound.twig' %}

{# ページID設定 #}
{% set pageId = 'n404' %}

{# ページ個別　CSS等 #}
{% block headArea %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/page-system.css', 'theme') }}">

    <script type="text/javascript">
      document.location.href = "{{ path('homepage') }}";
    </script>

{% endblock %}

{# コンテンツをここに記載(main) #}
{% block main %}
<h1 class="main-title"><span class="en">Not Found</span><span class="jp f-gothic">404エラー</span></h1>
{% include ('include/_gnavi.twig') %}

<div id="one-cl" class="clearfix"><!-- one-cl -->
<!--<div id="tow-cl" class="clearfix"> tow-cl -->
{#  {% include ('include/_sidebarcommon.twig') %} 2カラムの場合追加 #}

<main>

<nav class="seo_bread_list clearfix">
<ul class="clearfix" itemscope itemtype="https://schema.org/BreadcrumbList">
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
<a itemprop="item" href="{{ path('homepage') }}"><span itemprop="name">HOME</span></a>
<meta itemprop="position" content="1" />
</li>
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
<link itemprop="item" href="{{ canonical }}"><span itemprop="name">404エラー</span>
<meta itemprop="position" content="2" /> </li>
</ul>
</nav>
<h2 class="sub-title">お探しのページは見つかりませんでした。</h2>

<section class="borderwrap">
  <p>大変申し訳ございません。<br> お探しのページは一時的にアクセスできない状況にあるか、移動もしくは削除された可能性がございます。</p>
</section>

<div class="btnArea-s">
  <a href="{{ path('homepage') }}" class="btn back">トップページへ戻る</a>
</div>
</main>
</div><!-- one-cl or tow-cl -->

{% include ('include/_end-bnr.twig') %}

{% endblock %}

{# ページ個別　JS等 #}
{% block jsArea %}
{% endblock %}
