{% extends 'layout/_01_lower.twig' %}

{# メタタグ設定 #}
{% set pageTitle = record.case_title %}
{% set description = '知多市、半田市、常滑市、東海市を中心に知多半島で優雅なお庭、コンクリートガレージ、外構エクステリアにこだわりたい方は高橋造園にお任せください。' %}
{% set keywords = '外構,エクステリア,造園,知多市,半田市' %}

{% set seo_pageTitle = record.seo_pagetitle %}
{% set seo_description = record.seo_description %}
{% set sns_img = record.sns_img %}

{# ページID設定 #}
{% set pageId = 'case-single' %}
{% set title = '施工事例' %}
{% set h1Text = '施工事例' %}
{% set pageArchiveId = 'case' %}

{# ページ個別　CSS等 #}
{% block headArea %}
<meta property="og:type" content="article" />
<link href="{{ theme }}/assets/css/page-{{ pageId }}.css" rel="stylesheet">
{% endblock %}

{# コンテンツをここに記載(main) #}
{% block main %}
<div class="l-main">
  {% include ('include/_heading.twig') %}
  {% include ('include/_breadcrumb.twig') %}
  <div class="l-single-wrap">
    {% include 'layout/_entryPagerComponent.twig' %}
    {% set _thumbnail_Path = record.case_thumb_img | image %}
    <article class="l-case-single">
      <div class="l-case-single__inner">
        <div class="l-case-single__head">
          <p class="l-case-single__head__area">{{ record.case_customer_area }}</p>
          <h2 class="l-case-single__head__title">{{ record.case_title }}</h2>
        </div>
        {% if record.case_thumb_img is defined and record.case_thumb_img is not empty %}
        <div class="l-case-single__thumb">
          <img src="{{ _thumbnail_Path }}" alt="{{ record.case_title }}" class="img-rsp">
        </div>
        {% endif %}
        <div class="l-case-single__body l-wysi">
          {{ record.case_body_text }}
        </div>
      </div>
      {% if  record.case_gallery is defined and record.case_gallery is not empty %}
      <div class="l-case-single__gallery">
        <h2 class="l-case-single__gallery__title">GALLERY</h2>
        <ul class="l-case-single__gallery__group" id="js-gallery">
        {% for _gallery in record.case_gallery %}
          <li class="l-case-single__gallery__child">
            <a href="{{ _gallery | image }}" class="l-case-single__gallery__link js-hover"
              data-tracking-content-type = "case"
              data-tracking-content-id = "{{ record.id }}"
              data-tracking-content-name = "{{ record.case_title }}"
              data-tracking-img-src = "{{ _gallery | image }}"
              data-tracking-img-label = "{{ _gallery.title }}"
              data-tracking-field-type = "ギャラリー">
              <div class="l-case-single__gallery__thumb">
                <img src="{{ _gallery | image }}" class="img-fit l-case-single__gallery__img" alt="{{ _gallery.title }}">
              </div>
              {% set _filename = _gallery.filename|split('.') %}
              {% if _filename[0] not in _gallery.title %}
              <p class="l-case-single__gallery__caption">{{ _gallery.title }}</p>
              {% endif %}
            </a>
          </li>
        {% endfor %}
        </ul>
      </div>
      {% endif %}
    </article>
    {% include 'layout/_entryPagerComponent.twig' %}

    {% setcontent caserecords = 'case/latest/12' where { status: 'published' } %}
    {% if caserecords is defined and caserecords is not empty %}
    <section class="l-case-other">
      <div class="l-case-other__head">
        <h3 class="l-case-other__title">その他の施工事例</h3>
      </div>
      <div class="l-case-other__main">
        <div class="l-case-other__main__inner">
          <ul class="l-case-other__group">
          {% for record in caserecords | order('sortorder') %}
          {% if record.case_thumb_img is defined and record.case_thumb_img is not empty %}
          {% set _thumbnail_Path = record.case_thumb_img | image %}
          {% else %}
          {% set _thumbnail_Path = asset('assets/images/common/noimage.png', 'theme') %}
          {% endif %}
            <li class="l-case-other__child">
              <a href="{{ record.link }}" class="l-case-other__child__link js-hover">
                <p class="l-case-other__child__thumb"><img src="{{ _thumbnail_Path }}" alt="{{ record.case_title }} 写真" class="img-fit l-case-other__child__img"></p>
                <p class="l-case-other__child__title">{{ record.case_title }}</p>
              </a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </section>
    {% endif %}
  </div>
</div>
{% endblock %}
{% block jsArea %}
<script type="text/javascript">
  $(function() {
  // ポップアップギャラリー
    $('#js-gallery').magnificPopup({
      delegate: 'a',
      type: 'image',
      gallery: { //ギャラリー表示にする
        enabled: true
      },
      image: {
        titleSrc: function (item) {
          return item.el.find('img').attr('alt');
        }
      }
    });
  });
</script>
{% endblock %}
