{% extends 'layout/_01_lower.twig' %}

{# メタタグ設定 #}
{% set pageTitle = '施工事例' %}
{% set description = '知多市、半田市、常滑市、東海市を中心に知多半島で優雅なお庭、コンクリートガレージ、外構エクステリアにこだわりたい方は高橋造園にお任せください。' %}
{% set keywords = '外構,エクステリア,造園,知多市,半田市' %}

{# ページID設定 #}
{% set pageId = 'case-archive' %}
{% set title = '施工事例' %}
{% set h1Text = '施工事例' %}

{# ページ個別　CSS等 #}
{% block headArea %}
<meta property="og:type" content="article" />
<link href="{{ theme }}/assets/css/page-{{ pageId }}.css" rel="stylesheet">
{% endblock %}

{# コンテンツをここに記載(main) #}
{% block main %}
<div class="l-main">
  {% include ('include/_heading.twig') %}
  {% include ('include/_breadcrumb.twig') %}
  <div class="l-case-archive">
    <div class="l-case-archive__inner">
    {% if records is defined and records is not empty %}
      <ul class="l-case-archive__group">
      {% for record in records %}
        {% if record.case_thumb_img is defined and record.case_thumb_img is not empty %}
        {% set _thumbnail_Path = record.case_thumb_img | image %}
        {% else %}
        {% set _thumbnail_Path = asset('assets/images/common/noimage.png', 'theme') %}
        {% endif %}
        <li class="l-case-archive__child">
          <a href="{{ record.link }}" class="l-case-archive__link js-hover">
            <p class="l-case-archive__thumb"><img src="{{ _thumbnail_Path }}" alt="{{ record.case_title }}" class="img-fit l-case-archive__img"></p>
            <p class="l-case-archive__area">{{ record.case_customer_area }}</p>
            <p class="l-case-archive__title">{{ record.case_title }}</p>
            <div class="l-case-archive__more">
              <p class="l-case-archive__more__btn">MORE</p>
            </div>
          </a>
        </li>
      {% endfor %}
      </ul>
    {% endif %}

    {{ pager(template = 'layout/_archivePagerComponent.twig') }}
    </div>
  </div>
</div>
{% endblock %}
