.l-main {
  position: relative;
  border-bottom: 1px solid $LINE_BEIGE;
}

.l-mv {
  margin-bottom: 100px;
  padding: 50px 20px 0 20px;

  @include MEDIA_SP {
    margin-bottom: 80px;
    padding-top: 30px;
  }

  &__inner {
    max-width: $MAIN_WIDTH;
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 2.8rem;

    @include MEDIA_SP {
      font-size: 2rem;
    }
  }

  &__text {
    margin-bottom: 70px;
    text-align: center;

    @include MEDIA_SP {
      margin-bottom: 40px;
    }
  }

  &__photo {
    display: flex;
    justify-content: space-between;

    @include MEDIA_SP {
      flex-wrap: wrap;
    }
  }

  &__photo__child {
    flex-shrink: 0;
    width: 25%;

    @include MEDIA_SP {
      width: 50%;
    }
  }
}

.l-tel {
  position: relative;
  margin-bottom: 100px;
  padding: 60px 20px;
  background: $BG_BEIGE;

  @include MEDIA_SP {
    padding: 40px 20px;
  }

  &__inner {
    max-width: $MAIN_WIDTH;
    margin: 0 auto;
  }

  &__main {
    display: flex;
    justify-content: center;
    margin: 0 auto 30px auto;

    @include MEDIA_SP {
      display: block;
    }
  }

  &__main__head {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    padding-bottom: 10px;

    @include MEDIA_SP {
      width: 240px;
      margin: 0 auto 20px auto;
    }

    &:before {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background: $FONT_COLOR;
      content: '';
    }
  }

  &__main__head__icon {
    width: 23px;
    height: 26px;
    margin-right: 10px;
  }

  &__main__head__text {
    font-weight: $FONT_W_B;
    font-size: 1.8rem;

    @include MEDIA_SP {
      font-size: 1.6rem;
    }
  }

  &__main__num {
    font-weight: $FONT_W_M;
    font-size: 2rem;

    @include MEDIA_SP {
      text-align: center;
      font-size: 1.6rem;
    }
  }

  &__main__num__text {
    font-weight: $FONT_W_B;
    font-size: 4.8rem;
    line-height: 1;

    @include MEDIA_SP {
      font-size: 3.2rem;
    }
  }

  &__text {
    text-align: center;

    @include MEDIA_SP {
      text-align: left;
    }
  }
}

.l-info {
  margin-bottom: 110px;
  padding: 0 20px;

  &__inner {
    max-width: $MAIN_WIDTH;
    margin: 0 auto;
    padding: 70px 50px 50px 50px;
    background: url($IMG_PATH + 'contact/bg_contact.jpg') no-repeat center center;
    background-size: cover;

    @include MEDIA_TAB {
      padding: 60px 40px 40px 40px;
    }

    @include MEDIA_SP {
      padding: 30px 20px 20px 20px;
    }
  }

  &__title {
    margin-bottom: 50px;
    color: $COLOR_WH;
    text-align: center;
    font-size: 2.8rem;

    @include MEDIA_TAB {
      font-size: 2.4rem;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    padding: 50px;
    background: $COLOR_WH;

    @include MEDIA_TAB {
      padding: 30px;
    }

    @include MEDIA_SP {
      display: block;
      padding: 20px;
    }
  }

  &__main {
    width: 570px;

    @include MEDIA_TAB {
      max-width: 570px;
      width: percentage(570 / ($MEDIA_TAB - 80));
    }

    @include MEDIA_SP {
      width: auto;
      margin-bottom: 30px;
    }
  }

  &__main__title {
    margin-bottom: 30px;
    font-weight: $FONT_W_B;
    font-size: 2.8rem;

    @include MEDIA_TAB {
      font-size: 2.2rem;
    }

    & > span {
      font-weight: $FONT_W_B;
      background: linear-gradient(to bottom,  transparent 50%, $COLOR_YEL 51%);
      padding-bottom: 6px;
      background-position: left bottom;
    }
  }

  &__main__subtitle {
    margin-bottom: 20px;
    font-size: 1.8rem;

    @include MEDIA_TAB {
      font-size: 1.6rem;
    }
  }

  &__main__text {
    margin-bottom: 30px;
    line-height: percentage(26/14);
  }

  &__main__tel {
    font-size: 2rem;

    @include MEDIA_SP {
      font-size: 1.4rem;
    }

    &-l {
      font-size: 4.8rem;
      line-height: 1;

      @include MEDIA_TAB {
        font-size: 4rem;
      }

      @include MEDIA_SP {
        font-size: 2.4rem;
      }
    }
  }

  &__thumb {
    flex-shrink: 0;
    width: 283px;

    @include MEDIA_TAB {
      width: percentage(283 / ($MEDIA_TAB - 80));
    }

    @include MEDIA_SP {
      width: auto;
    }
  }
}
