/**
* for case archive page
*/

.l-case-archive {
  padding: 50px 20px 100px 20px;

  @include MEDIA_TAB {
    padding-bottom: percentage(200 / $MEDIA_TAB);
  }

  @include MEDIA_SP {
    padding-bottom: percentage(200 / $MEDIA_SP);
  }

  &__inner {
    max-width: $MAIN_WIDTH;
    margin: 0 auto;
  }

  &__group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px;

    @include MEDIA_TAB {
      justify-content: space-between;
    }

    @include MEDIA_SP {
      display: block;
    }
  }

  &__child {
    flex-shrink: 0;
    position: relative;
    width: percentage(260 / 1100);
    margin: 0 percentage(20 / 1100) 50px 0;
    border: 1px solid $LINE_DG;
    background: $BORDER_FORM_GRAY;

    &:nth-of-type(4n) {
      margin-right: 0;
    }

    @include MEDIA_TAB {
      width: percentage(460 / $MEDIA_TAB);
      margin-right: 0;
    }

    @include MEDIA_SP {
      width: auto;
    }
  }

  &__link {
    display: block;
    padding: 20px 20px 120px 20px;
    transition: all $HOVER_ANIME_SPEED $HOVER_ANIME_EASING;

    &.hover {
      opacity: $HOVER_ANIME_OPACITY;
      
      .l-case-archive__more__btn {
        background: $FONT_COLOR;
        color: $COLOR_WH;
      }
    }
  }

  &__thumb {
    height: 160px;
    overflow: hidden;
    margin-bottom: 20px;

    @include MEDIA_TAB {
      height: 220px;
    }

    @include MEDIA_SP {
      position: relative;
      height: 0;
      padding: percentage(9/16/2) 0;
    }
  }

  &__img {
    width: 100%;
    height: 100%;

    @include MEDIA_SP {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__area {
    margin-bottom: 10px;
  }

  &__title {
    font-weight: $FONT_W_B;
    font-size: 2rem;

    @include MEDIA_SP {
      font-size: 1.8rem;
    }
  }

  &__more {
    position: absolute;
    padding: 0 20px;
    width: 100%;
    left: 0;
    bottom: 30px;
  }

  &__more__btn {
    color: $FONT_COLOR;
    border: 1px solid $BG_BTN_BLACK;
    background: $COLOR_WH;
    text-align: center;
    font-weight: $FONT_W_B;
    padding: 15px;
    transition: all $HOVER_ANIME_SPEED $HOVER_ANIME_EASING;
  }

}
