.c-section-heading {
  margin-bottom: 50px;
  padding: 20px;
  background: url($IMG_PATH + 'common/bg_lines.png') repeat;

  &__text {
    font-size: 2.2rem;
    font-weight: $FONT_W_B;
    text-align: center;
  }
}

.l-mv {
  height: 600px;
  margin-bottom: 180px;
  background: url($IMG_PATH + 'company/img_main.jpg') no-repeat center top;
  background-size: cover;

  @include MEDIA_TAB {
    height: 500px;
    padding: 0 20px;
  }

  @include MEDIA_SP {
    height: 400px;
  }

  &__inner {
    position: relative;
    max-width: $MAIN_WIDTH;
    margin: 0 auto;
    height: 100%;    
  }

  &__text {
    @include hideaway;
    position: absolute;
    left: 0;
    top: 75px;
    width: 204px;
    height: 261px;
    background: url($IMG_PATH + 'company/text_main.png') no-repeat center top;
    background-size: contain;

    @include MEDIA_SP {
      top: 40px;
      transform: scale(0.8);
    }
  }

  &__desc {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 720px;
    height: 200px;
    padding: 50px 20px 30px 45px;
    background: $COLOR_WH;
    transform: translate(0, 50%);

    @include MEDIA_SP {
      width: auto;
      padding: 30px;
    }
  }

  &__desc__title {
    margin-bottom: 20px;
    font-size: 3.6rem;
    font-weight: $FONT_W_B;
    letter-spacing: 500/1000+em;
    line-height: percentage(66/36);

    @include MEDIA_SP {
      font-size: 2.8rem;
    }
  }

  &__desc__icon {
    width: 225px;
    height: 44px;
  }
}

.l-company {
  max-width: $MAIN_WIDTH;
  margin: 0 auto 90px auto;

  @include MEDIA_TAB {
    padding: 0 20px;
  }

  &-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

    @include MEDIA_SP {
      display: block;
      width: 100%;
    }
  }

  &-table tr {
    @include MEDIA_SP {
      display: block;
      width: 100%;
    }
  }

  &-table__title {
    width: 250px;
    background: $BG_BEIGE;
    border-bottom: 1px solid $COLOR_WH;
    border-left: 1px solid $BORDER_TABLE_GRAY;
    padding: 30px 40px;
    font-weight: $FONT_W_B;
    vertical-align: top;
    text-align: left;

    @include MEDIA_SP {
      display: block;
      width: 100%;
      padding: 20px;
      border-right: 1px solid $BORDER_TABLE_GRAY;
    }
  }

  &-table__detail {
    border-top: 1px solid $BORDER_TABLE_GRAY;
    border-right: 1px solid $BORDER_TABLE_GRAY;
    border-bottom: 1px solid $BORDER_TABLE_GRAY;
    padding: 30px 40px;
    font-weight: $FONT_W_M;

    @include MEDIA_SP {
      display: block;
      width: 100%;
      padding: 20px;
      border-left: 1px solid $BORDER_TABLE_GRAY;
      border-top: none;
    }
  }

  &-table__business__detail {
    padding-left: 0.5em;
  }


  tr:first-of-type {
    .l-company-table__title {
      border-top: 1px solid $BORDER_TABLE_GRAY;
    }
  }

  tr:last-of-type {
    .l-company-table__title {
      border-bottom: 1px solid $BORDER_TABLE_GRAY;
    }
  }
}

.l-access {
  max-width: $MAIN_WIDTH;
  margin: 0 auto 90px auto;

  @include MEDIA_TAB {
    padding: 0 20px;
  }

  &-map {
    position: relative;
    width: 100%;
    height: 0;
    padding: percentage(450px / $MAIN_WIDTH / 2) 0;

    @include MEDIA_SP {
      padding: percentage(450 / $MEDIA_SP / 2) 0;
    }
  }

  &-map__frame {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

}

.l-area {
  max-width: $MAIN_WIDTH;
  margin: 0 auto;
  padding-bottom: 130px;

  @include MEDIA_TAB {
    padding: 0 20px 280px 20px;
  }

  @include MEDIA_SP {
    padding-bottom: percentage(200 / $MEDIA_SP);
  }

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include MEDIA_SP {
      display: block;
    }
  }

  &-content__detail {
    width: 550px;
    padding: 100px 100px 100px 60px;
    background: $BG_BEIGE;

    @include MEDIA_TAB {
      width: percentage(500 / $MEDIA_TAB);
      max-width: 450px;
      padding: 40px 20px 40px 30px;
    }

    @include MEDIA_SP {
      margin-bottom: 40px;
      max-width: none;
      width: 100%;
    }
  }

  &-content__text {
    margin-bottom: 40px;
  }

  &-content__attention {
    font-size: 1.8rem;
    font-weight: $FONT_W_B;
  }

  &-content__img {
    width: 422px;

    @include MEDIA_TAB {
      width: percentage(422 / $MEDIA_TAB);
    }

    @include MEDIA_SP {
      width: auto;
      max-width: 280px;
      margin: 0 auto;
    }
  }
}
