html {
  font-size: $FONT_ROOT;
  -webkit-font-smoothing: antialiased;
  word-break: break-word;
  font-family: $FONT_NOTO;
}

body {
  font-size: $FONT_SIZE_NORMAL;
  color: $COLOR_BLACK;
  letter-spacing: 100/1000+em;
  min-width: $MAIN_WIDTH;

  @include MEDIA_TAB {
    min-width: auto;
  }
}

.l-bg {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background: url($IMG_PATH + 'common/bg.jpg') no-repeat center bottom;
  background-size: cover;

  @include MEDIA_SP {
    background: none;
    &:before {
      position: absolute;
      left: 0;
      top: 45vh;
      width: 100%;
      height: 100%;
      background: url($IMG_PATH + 'common/bg.jpg') no-repeat center bottom;
      content: '';
    }
  }
}

.is-pc {
  @include MEDIA_SP {
    display: none;
  }
}

.is-sp {
  display: none;

  @include MEDIA_SP {
    display: block;
  }
}

.img-rsp {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.img-fit {
  object-fit: cover;
  font-family: "object-fit: cover;";
}

.l-wrapper {
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.l-main {
  background: $COLOR_WH;
}


/**---------------------------------
* margin bottom
*---------------------------------**/ 

@for $i from 1 through 10 {
  .u-mb-#{$i}0 {
    $marginBottom: round($i * 10 / 2);
    margin-bottom: $marginBottom+px;
    
    @include MEDIA_TAB {
      margin-bottom: $i * 10px;
    }
  }
}
