.l-section-wrap {
  padding: 50px 20px 150px 20px;
  max-width: $MAIN_WIDTH + 40px;
  margin: 0 auto;

  @include MEDIA_TAB {
    padding-bottom: percentage(300 / $MEDIA_TAB);
  }
}

.l-section {
  position: relative;
  background: url($IMG_PATH + 'japanese-modern/bg_main.jpg') repeat;
  margin-bottom: 100px;
  padding: 30px 0;

  &.section-1 {
    &:after {
      position: absolute;
      z-index: 0;
      left: 65px;
      top: 55px;
      width: 1px;
      height: calc(100% + 55px);
      background: url($IMG_PATH + 'common/img_foot_contact_line.png') repeat-y center top;
      content: '';

      @include MEDIA_TAB {
        top: 35px;
        height: calc(100% + 30px);
      }

      @include MEDIA_SP {
        top: 25px;
        left: 8px;
        height: calc(100% + 50px);
      }
    }
  }

  &.section-4, &.section-5, &.section-6 {
    &:after {
      position: absolute;
      z-index: 0;
      left: 50%;
      bottom: 0;
      width: 1px;
      height: 100px;
      background: url($IMG_PATH + 'common/img_foot_contact_line.png') repeat-y center top;
      content: '';
      transform: translate(-50%, 100%);
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &__inner {
    padding: 0 40px 0 140px;

    @include MEDIA_TAB {
      padding: 0 30px 0 120px;
    }

    @include MEDIA_SP {
      padding: 0 20px;
    }
  }

  &__head {
    display: flex;
    align-items: baseline;
    position: relative;
    margin-bottom: 30px;
    padding: 0 0 15px 20px;
    border-bottom: 2px solid $COLOR_WH;

    @include MEDIA_TAB {
      display: block;
    }

    @include MEDIA_SP {
      padding: 0 0 15px 0;
    }

    &:before {
      position: absolute;
      left: 0;
      bottom: -3px;
      width: 100%;
      height: 1px;
      background: $BORDER_TABLE_GRAY;
      content: '';
    }
  }

  &__head__title {
    margin-right: 1em;
    font-size: 3rem;
    font-weight: $FONT_W_B;

    @include MEDIA_TAB {
      font-size: 2.6rem;
    }

    @include MEDIA_SP {
      font-size: 2rem;
    }
  }

  &__head__text {
    font-size: 2rem;
    font-weight: $FONT_W_B;
    color: $COLOR_OCHER;
    line-height: percentage(36/20);
    letter-spacing: 60/1000+em;

    @include MEDIA_TAB {
      font-size: 1.8rem;
    }

    @include MEDIA_SP {
      font-size: 1.3rem;
    }
  }

  &__main {
    padding: 0 20px;

    @include MEDIA_SP {
      padding: 0;
    }
  }

  &__main__text {
    
  }

  &__contact {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include MEDIA_TAB {
      display: block;
    }
  }

  &__contact__tel {
    flex-shrink: 0;
  }

  &__contact__tel__head {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  &__contact__tel__icon {
    width: 23px;
    height: 26px;
    margin-right: 10px;
  }

  &__contact__tel__text {
    font-size: 1.8rem;
    font-weight: $FONT_W_B;
  }

  &__contact__tel__num {
    font-size: 2rem;
    line-height: percentage(30/20);

    @include MEDIA_TAB {
      margin-bottom: 20px;
      text-align: center;
    }

    @include MEDIA_SP {
      font-size: 1.6rem;
    }

    &-l {
      font-size: 4.8rem;
      line-height: percentage(48/48);

      @include MEDIA_SP {
        font-size: 3rem;
      }
    }
  }

  &__contact__mail {
    width: 400px;
    flex-shrink: 0;

    @include MEDIA_TAB {
      margin: 0 auto;
      width: auto;
      max-width: 400px;
    }

    @include MEDIA_SP {
      width: auto;
    }
  }

  .c-btn__inner {
    @include MEDIA_SP {
      font-size: 1.2rem;
    }
  }
  
}

.l-flow-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.l-section-col {
  width: 500px;
  position: relative;
  background: url($IMG_PATH + 'japanese-modern/bg_main.jpg') repeat;
  padding: 30px 0;

  @include MEDIA_TAB {
    max-width: 500px;
    width: percentage(470 / $MEDIA_TAB);
  }

  &.col-branch {
    &:before {
      position: absolute;
      z-index: 0;
      left: 50%;
      top: 0;
      width: 1px;
      height: 100px;
      background: url($IMG_PATH + 'common/img_foot_contact_line.png') repeat-y center top;
      content: '';
      transform: translate(-50%, -100%);
    }
  }

  &:after {
    position: absolute;
    z-index: 0;
    left: 50%;
    bottom: 0;
    width: 1px;
    height: 100px;
    background: url($IMG_PATH + 'common/img_foot_contact_line.png') repeat-y center top;
    content: '';
    transform: translate(-50%, 100%);
  }

  &__inner {
    padding: 0 30px;

    @include MEDIA_SP {
      padding: 0 15px;
    }
  }

  &__head {
    position: relative;
    border-bottom: 2px solid $COLOR_WH;
    margin-bottom: 30px;
    padding: 0 0 15px 100px;

    @include MEDIA_TAB {
      padding: 15px;
    }

    @include MEDIA_SP {
      padding: 15px 0;
    }

    &:before {
      position: absolute;
      left: 0;
      bottom: -3px;
      width: 100%;
      height: 1px;
      background: $BORDER_TABLE_GRAY;
      content: '';
    }
  }

  &__branch {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 0 20px 0;

    @include MEDIA_SP {
      display: block;
    }

    &:before {
      position: absolute;
      left: 0;
      bottom: -3px;
      width: 100%;
      height: 1px;
      background: $BORDER_TABLE_GRAY;
      content: '';
    }
  }

  &__branch__thumb {
    width: 100px;
    margin-right: 30px;

    @include MEDIA_TAB {
      margin-right: 15px;
    }

    @include MEDIA_SP {
      margin: 0 auto 20px auto;
    }
  }

  &__branch__text {
    margin-bottom: 5px;
    font-weight: $FONT_W_B;
    font-size: 2.4rem;

    @include MEDIA_TAB {
      font-size: 2rem;
    }

    @include MEDIA_SP {
      font-size: 1.4rem;
    }
  }

  &__branch__title {
    font-weight: $FONT_W_B;
    font-size: 3.6rem;

    @include MEDIA_TAB {
      font-size: 2.8rem;
    }

    @include MEDIA_SP {
      font-size: 1.6rem;
    }
  }

}

.l-section-bnr {
  position: relative;
  margin-bottom: 100px;

  &:after {
    position: absolute;
    z-index: 0;
    left: 50%;
    bottom: 0;
    width: 1px;
    height: 100px;
    background: url($IMG_PATH + 'common/img_foot_contact_line.png') repeat-y center top;
    content: '';
    transform: translate(-50%, 100%);
  }
}


@for $i from 1 through 7 {
  .section-#{$i} {
    position: relative;

    &:before {
      position: absolute;
      left: 0;
      top: 0;
      width: 85px;
      height: 85px;
      background: url($IMG_PATH + 'flow/icon_no_0#{$i}.png') no-repeat center center;
      background-size: 100% auto;
      content: '';
      transform: translate(25px, -30px);

      @include MEDIA_TAB {
        transform: translate(25px, -50px);
      }

      @include MEDIA_SP {
        width: 40px;
        height: 40px;
        transform: translate(-10px, -20px);
      }
    }
  }
}
