.l-mv {
  margin-bottom: 200px;
  padding: 0 20px;

  @include MEDIA_SP {
    margin-bottom: 160px;
    padding: 0;
  }
  
  &__inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    z-index: 1;
    max-width: $MAIN_WIDTH;
    margin: 0 auto;
    height: 650px;

    @include MEDIA_TAB {
      height: 550px;
    }

    @include MEDIA_SP {
      height: 400px;
      align-items: flex-end;
      padding: 0 20px;
    }

    &:before {
      position: absolute;
      z-index: 1;
      right: 920px - $MAIN_WIDTH;
      bottom: -90px;
      width: 920px;
      height: 530px;
      background: url($IMG_PATH + 'garage/bg_lines.png') repeat;
      content: '';
      transform: translate(percentage(180/1300), 0);

      @include MEDIA_SP {
        right: 0;
        bottom: 0;
        width: percentage(400 / $MEDIA_SP);
        height: 0;
        padding: percentage(130 / 400 / 2) 0;
        transform: translate(0, 25%);
      }
    }

    &:after {
      position: absolute;
      z-index: 2;
      left: -200px;
      top: 0;
      width: 1300px;
      height: 100%;
      background: url($IMG_PATH + 'garden/img_main.jpg') no-repeat left top;
      background-size: 100% auto;
      content: '';
      transform: translate(percentage(-200/1300), 0);

      @include MEDIA_SP {
        left: 0;
        width: 100%;
        height: 400px;
        background-size: cover;
        background-position: right bottom;
        transform: translate(0, 0);
      }
    }
    
  }

  &__content {
    position: relative;
    z-index: 3;
    width: 470px;
    height: 295px;
    padding: 60px 70px 50px 40px;
    background: $COLOR_WH;

    @include MEDIA_SP {
      width: percentage(400 / $MEDIA_SP);
      min-width: 300px;
      max-width: 470px;
      height: auto;
      padding: 20px;
      transform: translate(0, -20px);
    }
  }

  &__desc {
    margin-bottom: 20px;
    font-size: 3.6rem;
    font-weight: $FONT_W_B;
  }

  &__text {

  }
}

.c-section-heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px; 
  padding: 0 20px;

  @include MEDIA_SP {
    margin-bottom: 40px;
  }

  &__num {
    margin-bottom: 40px;
  }

  &__title {
    font-size: 3.6rem;
    line-height: percentage(75/36);
    font-weight: $FONT_W_B;
    text-align: center;

    @include MEDIA_SP {
      font-size: 2.8rem;
      text-align: left;
      line-height: percentage(45/28);
    }
  }
}

.l-section {
  position: relative;
  padding: 0 20px;

  &:before, &:after {
    position: absolute;
    z-index: 1;
    content: '';
  }

  &.section-point01 {
    margin-bottom: 250px;

    @include MEDIA_SP {
      margin-bottom: percentage(300 / $MEDIA_SP);
    }

    &:before {
      left: 0;
      top: 0;
      width: 930px;
      height: 532px;
      background: url($IMG_PATH + 'garage/bg_lines.png') repeat;
      transform: translate(-400px, (percentage(360/532)));

      @include MEDIA_SP {
        top: percentage(300 / $MEDIA_SP);
        width: percentage(450 / $MEDIA_SP);
        height: 0;
        padding: percentage(420 / 930 / 2) 0;
        transform: translate(percentage(-100/450), percentage(-300 / $MEDIA_SP));
      }
    }

    &:after {
      right: 0;
      bottom: 0;
      width: 660px;
      height: 532px;
      background: url($IMG_PATH + 'garage/bg_lines.png') repeat;
      transform: translate(220px, percentage(90/530));

      @include MEDIA_SP {
        width: percentage(450 / $MEDIA_SP);
        height: 0;
        padding: percentage(420 / 930 / 2) 0;
        transform: translate(percentage(100/450), percentage(-300 / $MEDIA_SP));
      }
    }
  }

  &.section-point02 {
    margin-bottom: 300px;

    @include MEDIA_SP {
      margin-bottom: percentage(350 / $MEDIA_SP);
    }

    &:before {
      right: 0;
      top: 0;
      width: 930px;
      height: 532px;
      background: url($IMG_PATH + 'garage/bg_lines.png') repeat;
      transform: translate(210px, (percentage(360/532)));

      @include MEDIA_SP {
        top: percentage(300 / $MEDIA_SP);
        width: percentage(450 / $MEDIA_SP);
        height: 0;
        padding: percentage(420 / 930 / 2) 0;
        transform: translate(percentage(100/450), percentage(-300 / $MEDIA_SP));
      }
    }

    &:after {
      left: 0;
      bottom: 0;
      width: 660px;
      height: 532px;
      background: url($IMG_PATH + 'garage/bg_lines.png') repeat;
      transform: translate(-190px, percentage(30/530));

      @include MEDIA_SP {
        width: percentage(600 / $MEDIA_SP);
        height: 0;
        padding: percentage(420 / 930 / 2) 0;
        transform: translate(percentage(0/450), percentage(-300 / $MEDIA_SP));
      }
    }
  }

  &__inner {
    position: relative;
    z-index: 2;
    max-width: $MAIN_WIDTH;
    margin: 0 auto;
  }

  &__thumb {
    margin-bottom: 170px;

    @include MEDIA_TAB {
      margin-bottom: percentage(170 / $MEDIA_TAB);
    }

    @include MEDIA_SP {
      margin-bottom: percentage(50 / $MEDIA_SP);
    }
  }

  &-content {
  }

  &-content__text {
    font-weight: $FONT_W_M;
  }

  &-content__top {
    position: relative;
    display: flex;
    margin-bottom: 80px;
    padding: 0 50px;

    @include MEDIA_TAB {
      padding: 0;
    }

    @include MEDIA_SP {
      display: block;
    }

    &.row-reverse {
      flex-direction: row-reverse;
    }

    &:before {
      position: absolute;
      z-index: 1;
    }

    &.content-top-01 {
      @include MEDIA_SP {
        margin-bottom: percentage(380 / $MEDIA_SP);
      }
      &:before {
        right: -450px;
        top: -90px;
        width: 907px;
        height: 429px;
        background: url($IMG_PATH + 'garden/img_point01_01.jpg') no-repeat center center;
        background-size: 100% auto;
        content: '';

        @include MEDIA_TAB {
          right: 0;
          top: 50%;
          width: percentage(900 / $MEDIA_TAB);
          height: 0;
          padding: percentage(430 / $MEDIA_TAB / 2) 0;
          max-width: 900px;
          transform: translate(percentage(500/$MEDIA_TAB), -50%);

          @include MEDIA_SP {
            top: auto;
            bottom: 0;
            width: 100%;
            transform: translate(0, 100%);
          }
        }
      }
    }

    &.content-top-02 {
      @include MEDIA_SP {
        margin-bottom: percentage(380 / $MEDIA_SP);
      }

      &:before {
        left: -450px;
        top: -90px;
        width: 907px;
        height: 429px;
        background: url($IMG_PATH + 'garden/img_point02_01.jpg') no-repeat center center;
        background-size: 100% auto;
        content: '';

        @include MEDIA_TAB {
          left: 0;
          top: 50%;
          width: percentage(900 / $MEDIA_TAB);
          height: 0;
          padding: percentage(430 / $MEDIA_TAB / 2) 0;
          max-width: 900px;
          transform: translate(percentage(-520/$MEDIA_TAB), -50%);
        }

        @include MEDIA_SP {
          top: auto;
          bottom: 0;
          width: 100%;
          transform: translate(0, 100%);
        }
      }
    }
  }

  &-content__top__detail {
    width: 520px;
    position: relative;
    z-index: 2;

    @include MEDIA_TAB {
      width: percentage(520 / $MEDIA_TAB);
      max-width: 520px;
    }

    @include MEDIA_SP {
      width: auto;
      max-width: initial;
      background: $COLOR_WH;
      padding: 20px;
    }
  }

  &-content__bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;

    @include MEDIA_TAB {
      padding: 0;
    }

    @include MEDIA_SP {
      display: block;
    }

    &.row-reverse {
      flex-direction: row-reverse;
    }

    &:before {
      position: absolute;
      z-index: 1;
    }

    &.content-bottom-01 {
      &:before {
        right: 50px;
        bottom: 0;
        width: 282px;
        height: 220px;
        background: url($IMG_PATH + 'garden/img_point01_03.jpg') no-repeat center center;
        background-size: 100% auto;
        content: '';
        transform: translate(0, (percentage(165/220)));

        @include MEDIA_TAB {
          right: 0;
          width: percentage(282 / $MEDIA_TAB);
          height: 0;
          padding: percentage(220 / $MEDIA_TAB / 2) 0;
          transform: translate(0, 100%);
        }

        @include MEDIA_SP {
          transform: translate(0, 50%);
        }
      }
    }

    &.content-bottom-02 {
      &:before {
        left: 50px;
        bottom: 0;
        width: 282px;
        height: 220px;
        background: url($IMG_PATH + 'garden/img_point02_03.jpg') no-repeat center center;
        background-size: 100% auto;
        content: '';
        transform: translate(0, (percentage(165/220)));

        @include MEDIA_TAB {
          left: 0;
          width: percentage(282 / $MEDIA_TAB);
          height: 0;
          padding: percentage(220 / $MEDIA_TAB / 2) 0;
          transform: translate(0, 100%);
        }

        @include MEDIA_SP {
          left: auto;
          right: 0;
          transform: translate(0, 50%);
        }
      }
    }
  }

  &-content__bottom__detail {
    width: 520px;

    @include MEDIA_TAB {
      width: percentage(520 / $MEDIA_TAB);
      max-width: 520px;
    }
  
    @include MEDIA_SP {
      width: auto;
      max-width: initial;
      background: $COLOR_WH;
      padding: 20px 10px;
    }
  
  }

  &-content__bottom__thumb {
    position: relative;
    max-width: 468px;
    width: percentage(468px / $MAIN_WIDTH);

    &.thumb-position-l {
      transform: translate(percentage(-50/468), 0);

      @include MEDIA_SP {
        width: percentage(468 / $MEDIA_SP);
        transform: translate(0, 0);
      }
    }

    &.thumb-position-r {
      transform: translate(percentage(50/468), 0);

      @include MEDIA_SP {
        width: percentage(468 / $MEDIA_SP);
        transform: translate(0, 0);
      }
    }
  }
}
