.l-mv {
  margin-bottom: 240px;
  padding: 0 20px;

  @include MEDIA_SP {
    margin-bottom: 160px;
    padding: 0;
  }

  &__inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    z-index: 1;
    max-width: $MAIN_WIDTH;
    margin: 0 auto;
    height: 650px;

    @include MEDIA_TAB {
      height: 550px;
    }

    @include MEDIA_SP {
      height: 400px;
      align-items: flex-end;
      padding: 0 20px;
    }

    &:before {
      position: absolute;
      z-index: 1;
      right: 920px - $MAIN_WIDTH;
      bottom: -90px;
      width: 920px;
      height: 530px;
      background: url($IMG_PATH + 'garage/bg_lines.png') repeat;
      content: '';
      transform: translate(percentage(180/1300), 0);

      @include MEDIA_SP {
        right: 0;
        bottom: 0;
        width: percentage(400 / $MEDIA_SP);
        height: 0;
        padding: percentage(130 / 400 / 2) 0;
        transform: translate(0, 25%);
      }
    }

    &:after {
      position: absolute;
      z-index: 2;
      left: -200px;
      top: 0;
      width: 1300px;
      height: 100%;
      background: url($IMG_PATH + 'garage/img_main.jpg') no-repeat left top;
      background-size: 100% auto;
      content: '';
      transform: translate(percentage(-200/1300), 0);

      @include MEDIA_SP {
        left: 0;
        width: 100%;
        height: 400px;
        background-size: cover;
        background-position: right bottom;
        transform: translate(0, 0);
      }
    }
  }

  &__content {
    position: relative;
    z-index: 3;
    width: 470px;
    height: 295px;
    padding: 60px 70px 50px 40px;
    background: $COLOR_WH;

    @include MEDIA_SP {
      width: percentage(400 / $MEDIA_SP);
      min-width: 300px;
      max-width: 470px;
      height: auto;
      padding: 20px;
      transform: translate(0, -30%);
    }
  }

  &__title {
    margin-bottom: 20px;
    font-size: 3.6rem;
    font-weight: $FONT_W_B;

    @include MEDIA_SP {
      font-size: 2.8rem;
    }
  }

  &__text {

  }
}

.c-section-heading {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;

  &__num {
    margin-bottom: 30px;
  }

  &__title {
    text-align: center;
    font-size: 3.6rem;
    font-weight: $FONT_W_B;

    @include MEDIA_SP {
      font-size: 2.8rem;
    }
  }

  &:before {
    position: absolute;
  }

  &.heading-1 {

    &:before {
      left: 240px;
      top: 15px;
      width: 108px;
      height: 37px;
      background: url($IMG_PATH + 'garage/text_garage.png') no-repeat center center;
      background-size: contain;
      content: '';

      @include MEDIA_SP {
        left: 0;
        transform: scale(0.8);
      }
    }
  }

  &.heading-2 {

    &:before {
      left: 260px;
      top: -34px;
      width: 126px;
      height: 55px;
      background: url($IMG_PATH + 'garage/text_carport.png') no-repeat center center;
      content: '';

      @include MEDIA_SP {
        left: 0;
        top: -15px;
        transform: scale(0.8);
      }
    }
  }
}

.l-section {
  position: relative;
  max-width: $MAIN_WIDTH+40px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;

  &:before, &:after {
    position: absolute;
  }

  &.section-1 {
    margin-bottom: 80px;

    @include MEDIA_SP {
      margin-bottom: 100px;
    }

    &:before {
      left: 0;
      top: 300px;
      width: 920px;
      height: 610px;
      background: url($IMG_PATH + 'garage/bg_lines.png') repeat;
      content: '';
      transform: translate(-50%, 0);

      @include MEDIA_SP {
        top: percentage(100 / $MEDIA_SP);
        width: percentage(400 / $MEDIA_SP);
        height: 0;
        padding: percentage(340 / 400 / 2) 0;
        transform: translate(0, 25%);
      }
    }
  }

  &.section-2 {
    margin-bottom: 240px;

    @include MEDIA_SP {
      margin-bottom: 120px;
    }

    &:before {
      left: 0;
      bottom: -100px;
      width: 650px;
      height: 530px;
      background: url($IMG_PATH + 'garage/bg_lines.png') repeat;
      content: '';
      transform: translate(-450px, 0);

      @include MEDIA_SP {
        top: percentage(300 / $MEDIA_SP);
        bottom: auto;
        width: percentage(500 / $MEDIA_SP);
        height: 0;
        padding: percentage(230 / 500 / 2) 0;
        transform: translate(0, 0);
      }
    }

    &:after {
      right: 0;
      top: 20px;
      width: 650px;
      height: 610px;
      background: url($IMG_PATH + 'garage/bg_lines.png') repeat;
      content: '';
      transform: translate(450px, 0);

      @include MEDIA_SP {
        top: percentage(130 / $MEDIA_SP);
        width: percentage(240 / $MEDIA_SP);
        height: 0;
        padding: percentage(90 / 240 / 2) 0;
        transform: translate(0, 0);
      }
    }
  }

  &__thumb {
    position: relative;
    z-index: 2;
    margin-bottom: 65px;

    @include MEDIA_SP {
      margin-bottom: 40px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;

    @include MEDIA_SP {
      display: block;
    }
  }

  &__content__group {
    flex-shrink: 0;
    max-width: 520px;
    width: percentage(520px / $MAIN_WIDTH);
    display: flex;
    justify-content: space-between;

    @include MEDIA_SP {
      max-width: initial;
      width: 100%;
      margin-bottom: 40px;
    }
  }

  &__content__child {
    flex-shrink: 0;
    width: percentage(250 / 520);
  }

  &__detail {
    max-width: 520px;
    width: percentage(520px / $MAIN_WIDTH);

    @include MEDIA_SP {
      width: 100%;
      max-width: initial;
    }
  }

  &__detail__text {
    font-weight: $FONT_W_M;
  }

  &__detail__group {
    margin-bottom: 40px;
  }

  &__detail__child {
    margin-bottom: 10px;

    span {
      position: relative;
      padding: 5px 5px 5px 25px;
      font-weight: $FONT_W_B;
      background: $BG_LIST_BEIGE;

      &:before {
        position: absolute;
        left: 10px;
        top: 10px;
        width: 4px;
        height: 4px;
        background: $FONT_COLOR;
        border-radius: 50%;
        content: '';
      }
    }
    
  }
}

.l-point {
  margin-bottom: 190px;
  padding: 0 20px;
  background: url($IMG_PATH + 'garage/bg_point.jpg') repeat;

  @include MEDIA_SP {
    margin-bottom: percentage(260 / $MEDIA_SP);
  }

  &__inner {
    position: relative;
    max-width: $MAIN_WIDTH;
    margin: 0 auto;
    padding: 60px 50px;

    @include MEDIA_SP {
      padding: 50px 0;
    }

    &:before {
      position: absolute;
      left: 0;
      top: 0;
      width: 116px;
      height: 116px;
      background: url($IMG_PATH + 'garage/icon_point.png') no-repeat center center;
      content: '';
      background-size: 100% auto;
      transform: translate(0, -50%);

      @include MEDIA_SP {
        width: 60px;
        height: 60px;
      }
    }
  }

  &__title {
    margin-bottom: 50px;
    text-align: center;
    font-size: 3.6rem;
    font-weight: $FONT_W_B;

    @include MEDIA_SP {
      margin-bottom: 40px;
      font-size: 2.8rem;
    }
  }

  &__group {
    display: flex;
    justify-content: space-between;

    @include MEDIA_SP {
      display: block;
    }
  }

  &__child {
    flex-shrink: 0;
    width: percentage(460 / (1100 - 100));

    @include MEDIA_SP {
      width: 100%;
      margin-bottom: 40px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__thumb {
    margin-bottom: 20px;
  }

  &__name {
    margin-bottom: 15px;
    text-align: center;
    font-size: 2.2rem;
    font-weight: $FONT_W_B;
  }

  &__text {

  }
}

.l-summary {
  margin-bottom: 160px;
  padding: 0 20px;

  @include MEDIA_SP {
    margin-bottom: 80px;
    padding: 0;
  }
  
  &__inner {
    display: flex;
    justify-content: flex-end;
    position: relative;
    max-width: $MAIN_WIDTH;
    margin: 0 auto;

    @include MEDIA_SP {
      display: block;
    }

    &:before {
      position: absolute;
      left: 0;
      top: 50%;
      width: 571px;
      height: 396px;
      background: url($IMG_PATH + 'garage/img_garage.jpg') no-repeat center center;
      background-size: 100% auto;
      content: '';
      transform: translate(0, -50%);

      @include MEDIA_SP {
        content: none;
      }
    }
  }

  &__bg {
    position: relative;

    @include MEDIA_SP {
      width: 100%;
      height: 0;
      padding: percentage(396 / 571 / 2) 0;
      background: url($IMG_PATH + 'garage/img_garage.jpg') no-repeat center center;
      background-size: 100% auto;
    }
  }

  &__content {
    position: relative;
    z-index: 2;
    width: 590px;
    height: 300px;
    background: $COLOR_WH;
    padding: 60px 50px 50px 30px;

    @include MEDIA_SP {
      width: auto;
      height: auto;
      padding: 30px 20px;
    }
  }

  &__desc {
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: $FONT_W_B;

    @include MEDIA_SP {
      font-size: 2rem;
    }
  }

  &__text {
    font-weight: $FONT_W_M; 
  }

  &__thumb {

  }
}
