.l-index {
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.l-mv {
  position: relative;
  padding-bottom: 70px;
  background: $COLOR_WH;

  @include MEDIA_SP {
    padding-bottom: 40px;
  }

  &:before {
    position: absolute;
    left: 50%;
    bottom: 70 - 20px;
    z-index: 3;
    width: 1px;
    height: 40px;
    background: url($IMG_PATH + 'common/img_foot_contact_line_sp.png') repeat-y center top;
    content: '';
    transform: translate(-50%, 0);

    @include MEDIA_SP {
      content: none;
    }
  }

  &__inner {
    position: relative;
    max-width: 2000px;
    left: 50%;
    transform: translate(-50%, 0);

    @include MEDIA_SP {
      left: 0;
      transform: translate(0, 0);
    }
  }

  &__title {
    position: absolute;
    left: 60px;
    top: 90px;

    @include MEDIA_SP {
      left: percentage(33 / $SP_DESIGN_WIDTH);
      top: percentage(77 / $SP_DESIGN_WIDTH);
      width: percentage(603 / $SP_DESIGN_WIDTH);
      height: 0;
      padding: percentage(107 / $SP_DESIGN_WIDTH / 2) 0;
      background: url($IMG_PATH + 'index/text_main_sp.png') no-repeat center center;
      background-size: 100% auto;
      
      img {
        display: none;
      }
    }
  }
}

.l-mv-slide {
  max-height: 700px;
  overflow: hidden;

  &__content {
    
  }

  &__group {

  }

  &__child {

  }

  &__img {
    width: 100%;
    height: auto;

    @include MEDIA_SP {
      min-height: initial;
    }
  }

  &__pager {
    display: flex !important;
    justify-content: center;
    position: relative;
    z-index: 2;
    transform: translate(0, -50px);

    @include MEDIA_SP {
      margin-top: 20px;
      transform: translate(0, 0);
    }
  }

  &__pager__child {
    display: block;
    margin: 0 10px;
    width: 20px;
    height: 20px;
    background: $BG_PAGER_GRAY;

    @include MEDIA_SP {
      width: 16px;
      height: 16px;
    }

    & > button {
      width: 100%;
      height: 100%;
      @include hideaway;
    }

    &.slick-active {
      background: $COLOR_BLACK;
      pointer-events: none;
    }
  }
}

.l-access {
  background: $COLOR_WH;
  padding: 0 20px 140px 20px;

  @include MEDIA_SP {
    padding-bottom: 60px;
  }

  &__inner {
    max-width: $MAIN_WIDTH;
    margin: 0 auto;
  }

  &__text {
    text-align: center;

    @include MEDIA_SP {
      font-size: 1.2rem;
    }
  }
}

.l-pickup {
  background: $COLOR_WH;
  padding: 0 20px 180px 20px;

  @include MEDIA_TAB {
    padding: 0 0 percentage(200 / $MEDIA_TAB) 0;
  }

  @include MEDIA_SP {
    padding: 0 0 percentage(180 / $MEDIA_SP) 0;
  }

  &__inner {
    max-width: 1450px;
    margin: 0 auto;
  }

  &__group {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 100px 100px 100px;

    @include MEDIA_TAB {
      padding: percentage(150 / $MEDIA_TAB) 20px percentage(100 / $MEDIA_TAB) 20px;
      display: block;
    }

    &:before {
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      width: 308px;
      height: 200px;
      background: url($IMG_PATH + 'index/bg_garden.png') no-repeat center center;
      content: '';

      @include MEDIA_TAB {
        width: percentage(300 / $MEDIA_TAB);
        height: 0;
        padding: percentage(300 / $MEDIA_TAB / 2) 0;
        background: url($IMG_PATH + 'index/bg_garden_sp.png') no-repeat center center;
        background-size: 100% auto;
      }
    }

    &:after {
      position: absolute;
      z-index: 1;
      right: 0;
      bottom: 0;
      width: 300px;
      height: 300px;
      background: url($IMG_PATH + 'index/bg_garage.png') no-repeat center center;
      content: '';

      @include MEDIA_TAB {
        width: percentage(298 / $MEDIA_TAB);
        height: 0;
        padding: percentage(450 / $MEDIA_TAB / 2) 0;
        background: url($IMG_PATH + 'index/bg_garage_sp.png') no-repeat center center;
        background-size: 100% auto;
      }
    }
  }

  &__child {
    position: relative;
    flex-shrink: 0;
    width: percentage(570 / (1450 - 200) );

    @include MEDIA_TAB {
      width: percentage(684 / $MEDIA_SP);
      margin: 0 auto percentage(60 / $MEDIA_TAB) auto;

      @include MEDIA_SP {
        margin-bottom: percentage(100 / $MEDIA_SP);
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
    
    &.pickup-garden {
      transform: translate(0, 100px);

      @include MEDIA_TAB {
        transform: translate(0, 0);
      }
    }

  }

  &__child__link {
    display: block;
    position: relative;
    z-index: 2;
    transition: all $HOVER_ANIME_SPEED $HOVER_ANIME_EASING;

    &.hover {
      opacity: $HOVER_ANIME_OPACITY;
    }

    @include MEDIA_SP {
      padding-bottom: 20px;
    }
  }

  &__child__title {
    margin-bottom: 10px;
    font-weight: $FONT_W_B;
    text-align: right;
    font-size: 2.4rem;

    @include MEDIA_SP {
      font-size: 1.8rem;
    }
  }

  &__child__thumb {
    margin-bottom: 15px;
  }

  &__child__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @include MEDIA_SP {
      display: block;
    }
  }

  &__child__text {
    font-size: 1.6rem;

    @include MEDIA_SP {
      font-size-adjust: 1.5rem;
    }
  }

  &__child__icon {
    width: 26px;
    height: 6px;

    @include MEDIA_SP {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}

.l-staff {
  padding-bottom: 80px;
  background: $COLOR_WH;

  @include MEDIA_TAB {
    padding-bottom: percentage(100 / $MEDIA_TAB);
  }

  &__head {
    position: relative;
    z-index: 1;
    padding: 150px 20px 60px 20px;
    background: url($IMG_PATH + 'index/bg_greeting.png') no-repeat center top;

    @include MEDIA_TAB {
      background-size: cover;
      padding: percentage(150 / $MEDIA_TAB) 20px percentage(100 / $MEDIA_TAB) 20px;
    }

    @include MEDIA_SP {
      background: url($IMG_PATH + 'index/bg_greeting_sp.jpg') no-repeat center top;
      background-size: cover;
      padding: percentage(80 / $MEDIA_SP) 20px percentage(120 / $MEDIA_SP) 20px;
    }
  }

  &__main {
    max-width: $MAIN_WIDTH;
    margin: 0 auto;
    color: $COLOR_WH;
  }

  &__title {
    margin-bottom: 30px;
    font-size: 4.2rem;
    line-height: percentage(56/42);
    font-weight: $FONT_W_M;

    @include MEDIA_TAB {
      font-size: 3.6rem;
    }

    @include MEDIA_SP {
      margin-bottom: 20px;
      font-size: 2.8rem;
    }
  }

  &__text {
    line-height: percentage(24/14);
    font-weight: $FONT_W_M;
    width: 660px;

    @include MEDIA_TAB {
      width: auto;
      padding-right: percentage(300 / $MEDIA_TAB);
    }

    @include MEDIA_SP {
      padding-right: percentage(290 / $MEDIA_SP);
    }
  }

  &__bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    max-width: $MAIN_WIDTH+40px;
    margin: 0 auto;
    transform: translate(0, -30px);
    padding: 0 20px;

    @include MEDIA_SP {
      flex-direction: column-reverse;
      width: auto;
      padding: 0;
    }
  }

  &__btn {
    width: 530px;

    @include MEDIA_TAB {
      width: percentage(500 / $MEDIA_TAB);
    }

    @include MEDIA_SP {
      max-width: 640px;
      width: percentage(640 / $MEDIA_SP);
      margin-top: percentage(60 / $MEDIA_SP);
    }
  }

  &__photo {
    width: 490px;

    @include MEDIA_TAB {
      width: percentage(440 / $MEDIA_TAB);
    }

    @include MEDIA_SP {
      width: 100%;
      height: 0;
      padding: percentage(270 / 828 / 2) 0;
      background: url($IMG_PATH + 'index/img_greeting_sp.jpg') no-repeat center center;
      background-size: 100% auto;

      img {
        display: none;
      }
    }
  }
}

.l-site-content {
  padding: 0 20px 90px 20px;
  background: $COLOR_WH;

  @include MEDIA_SP {
    padding-bottom: percentage(200 / $MEDIA_SP);
  }

  &__inner {
    position: relative;
    max-width: $MAIN_WIDTH;
    margin: 0 auto;
    padding: 130px 0 100px 0;
    background: url($IMG_PATH + 'index/bg_topick.png') no-repeat center top;

    @include MEDIA_TAB {
      background: none;
      padding: percentage(160 / $MEDIA_SP) 0 percentage(100 / $MEDIA_SP) 0;

      &:before {
        position: absolute;
        left: 50%;
        top: 0;
        width: percentage(600 / $MEDIA_SP);
        height: 0;
        padding: percentage(600/$MEDIA_SP/2) 0;
        background: url($IMG_PATH + 'common/bg_lines.png') repeat;
        content: '';
        transform: translate(-50%, 0);
      }
    }
    
  }

  &__group {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;

    @include MEDIA_TAB {
      display: block;
      max-width: 638px;
      width: percentage(638 / $MEDIA_SP);
      margin: 0 auto;
    }
  }

  &__child {
    flex-shrink: 0;
    width: 340px;

    @include MEDIA_TAB {
      width: auto;
      margin-bottom: 60px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__child__link {
    display: block;
    transition: all $HOVER_ANIME_SPEED $HOVER_ANIME_EASING;

    &.hover {
      opacity: $HOVER_ANIME_OPACITY;
    }
  }

  &__child__title {
    margin-bottom: 15px;
    text-align: center;
    font-weight: $FONT_W_B;
    font-size: 2rem;

    @include MEDIA_SP {
      font-size: 1.8rem;
    }
  }

  &__child__thumb {
    margin-bottom: 10px;
  }

  &__child__text {
    font-weight: $FONT_W_M;
    line-height: percentage(22/14);
  }
}

.l-menu {
  background: $COLOR_WH;
  padding: 0 0 120px 0;

  @include MEDIA_SP {
    padding-bottom: percentage(200 / $MEDIA_SP);
  }

  &__head {
    margin-bottom: 30px;
  }

  &__head__title {
    text-align: center;
    width: 90px;
    margin: 0 auto 20px auto;
  }

  &__head__subtitle {
    text-align: center;
    font-weight: $FONT_W_B;
    font-size: 2rem;
  }

  &__main {
    margin-bottom: 70px;

    @include MEDIA_SP {
      margin-bottom: percentage(50 / $MEDIA_SP);
    }
  }

  .c-menu-list {
    max-width: 1600px;
    background: url($IMG_PATH + 'index/bg_menu.jpg') no-repeat center center;
    background-size: cover;
    padding: 50px;

    @include MEDIA_TAB {
      padding: 40px;
    }

    @include MEDIA_SP {
      padding: percentage(100 / $MEDIA_SP) 20px percentage(130 / $MEDIA_SP) 20px;
      background: url($IMG_PATH + 'index/bg_menu_sp.jpg') no-repeat center top;
      background-size: cover;
    }

    &__group {
      max-width: $MAIN_WIDTH;
      margin: 0 auto;
    }

    &__child {
      margin-bottom: 30 - 70px;

      @include MEDIA_TAB {
        margin-bottom: 50px;
      }

      @include MEDIA_SP {
        margin-bottom: percentage(220 / $MEDIA_SP);
      }

      &.child-4, &.child-5, &.child-6 {
        transform: translate(0, 40px);
        @include MEDIA_TAB {
          transform: translate(0, 0);
        }
      }

      &.child-5 {
        @include MEDIA_TAB {
          margin-bottom: 0;
        }

        @include MEDIA_SP {
          margin-bottom: percentage(220 / $MEDIA_SP);
        }
      }

      &.child-6 {
        @include MEDIA_TAB {
          margin-bottom: 0;
        }
      }
    }
  }

  &__btn {
    width: 530px;
    margin: 0 auto;

    @include MEDIA_SP {
      width: percentage(640 / $MEDIA_SP);
    }
  }
}

.l-works {
  background: $COLOR_WH;
  padding: 0 20px 130px 20px;

  @include MEDIA_SP {
    padding-bottom: percentage(120 / $MEDIA_SP);
  }

  &__inner {
    width: 1150px;
    margin: 0 auto;

    @include MEDIA_TAB {
      width: auto;
    }
  }

  &__title {
    width: 220px;
    margin: 0 auto 40px auto;

    @include MEDIA_SP {
      width: percentage(292 / $MEDIA_SP);
      height: 0;
      margin-bottom: percentage(70 / $MEDIA_SP);
      padding: percentage(49 / $MEDIA_SP / 2) 0;
      background: url($IMG_PATH + 'index/text_works_sp.png') no-repeat center center;
      background-size: 100% auto;
      
      img {
        display: none;
      }
    }
  }

  &__group {
    display: flex;
    flex-wrap: wrap;

    @include MEDIA_SP {
      justify-content: space-between;
    }
  }

  &__child {
    flex-shrink: 0;
    width: 280px;
    margin: 0 10px 30px 0;

    @include MEDIA_TAB {
      width: percentage(310 / $MEDIA_TAB);
      margin: 0 percentage(15 / $MEDIA_TAB) 30px 0;
    }

    @include MEDIA_SP {
      width: percentage(350 / ($MEDIA_SP - 40));
      margin: 0 0 percentage(60 / $MEDIA_SP) 0;
    }

    &:nth-of-type(4n) {
      margin-right: 0;
      @include MEDIA_TAB {
        margin-right: percentage(15 / $MEDIA_TAB);
      }
      @include MEDIA_SP {
        margin-right: 0;
      }
    }

    &:nth-of-type(3n) {
      @include MEDIA_TAB {
        margin-right: 0;
      }
    }
  }

  &__child__thumb {
    position: relative;
    margin-bottom: 10px;
    height: 200px;
    overflow: hidden;

    @include MEDIA_SP {
      height: 0;
      padding: percentage(250 / 350 / 2) 0;
    }
  }

  &__child__img {
    width: 100%;
    height: 100%;

    @include MEDIA_SP {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__child__area {
    margin-bottom: 5px;
    position: relative;
    padding-left: 30px;
    font-size: 1.2rem;
    font-weight: $FONT_W_M;

    &:before {
      position: absolute;
      left: 0;
      top: 50%;
      width: 20px;
      height: 1px;
      background: $FONT_COLOR;
      content: '';
      transform: translate(0, -50%);
    }
  }

  &__child__title {
    font-size: 1.6rem;
    font-weight: $FONT_W_M;

    @include MEDIA_SP {
      font-size: 1.4rem;
    }
  }

  &__btn {
    width: 530px;
    margin: 15px auto 0 auto;

    @include MEDIA_SP {
      margin-top: percentage(80 / $MEDIA_SP);
      width: percentage(640 / ($MEDIA_SP - 40));
    }
  }
}

.l-banner {
  padding: 0 20px 40px 20px;
  background: $COLOR_WH;

  @include MEDIA_TAB {
    padding-bottom: percentage(80 / $MEDIA_TAB);
  }

  @include MEDIA_SP {
    padding: 0 0 percentage(115 / $MEDIA_SP) 0;
  }

  &__inner {
    max-width: 1600px;
    margin: 0 auto;
    padding: 40px 20px;
    background: url($IMG_PATH + 'common/bg_lines.png') repeat;

    @include MEDIA_TAB {
      padding: 30px 20px;
    }

    @include MEDIA_SP {
      padding: percentage(80 / $MEDIA_SP) percentage(84 / $MEDIA_SP);
    }
  }

  &__group {
    display: flex;
    justify-content: space-between;
    max-width: 930px;
    margin: 0 auto;

    @include MEDIA_SP {
      display: block;
    }
  }

  &__child {
    flex-shrink: 0;
    width: 440px;
    background: $COLOR_WH;

    @include MEDIA_TAB {
      width: percentage(470 / $MEDIA_TAB);
    }

    @include MEDIA_SP {
      width: auto;
      margin-bottom: percentage(60 / $MEDIA_SP);

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__child__link {
    display: block;
    transition: all $HOVER_ANIME_SPEED $HOVER_ANIME_EASING;

    &.hover {
      opacity: $HOVER_ANIME_OPACITY;
    }
  }

  &__child__detail {
    position: relative;
    padding: 15px 55px 15px 20px;
  }

  &__child__icon {
    position: absolute;
    right: 15px;
    bottom: 0;
    width: 26px;
    height: 26px;
  }
}

.l-info {
  background: $COLOR_WH;
  padding: 0 20px 140px 20px;

  @include MEDIA_TAB {
    padding-bottom: 100px;
  }

  @include MEDIA_SP {
    padding-bottom: percentage(220 / $MEDIA_SP);
  }

  &__inner {
    max-width: 930px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    @include MEDIA_SP {
      display: block;
    }
  }

  &-news {
    flex-shrink: 0;
    width: 560px;

    @include MEDIA_TAB {
      width: percentage(550 / $MEDIA_TAB);
    }

    @include MEDIA_SP {
      width: auto;
      margin-bottom: 70px;
    }
  }

  &-news__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $COLOR_BLACK;
    padding: 5px 10px 20px 20px;

    @include MEDIA_SP {
      padding: 0 0 15px 0;
    }
  }

  &-news__head__title {
    width: 89px;
    line-height: 1;

    @include MEDIA_SP {
      width: percentage(133 / $MEDIA_SP);
      height: 0;
      padding: percentage(28 / $MEDIA_SP / 2) 0;
      background: url($IMG_PATH + 'index/text_news_sp.png') no-repeat center center;
      background-size: 100% auto;

      img {
        display: none;
      }
    }
  }

  &-news__head__list {

  }

  &-news__head__link {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all $HOVER_ANIME_SPEED $HOVER_ANIME_EASING;

    &.hover {
      opacity: $HOVER_ANIME_OPACITY;
    }
  }

  &-news__head__link__text {
    margin-right: 15px;
  }

  &-news__head__link__icon {
    width: 26px;
    height: 6px;
  }

  &-news__main {
    padding: 20px 0 0 0;
  }

  &-news__main__inner {
    padding: 10px 30px 20px 20px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: 200px;

    @include MEDIA_SP {
      padding: 10px 15px 20px 0;
    }
  }

  &-news__main__child {
    margin-bottom: 30px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &-news__main__child__link {
    display: flex;
    transition: all $HOVER_ANIME_SPEED $HOVER_ANIME_EASING;

    &.hover {
      opacity: $HOVER_ANIME_OPACITY;
    }
  }

  &-news__main__child__date {
    color: $COLOR_OCHER;
    margin-right: 10px;
  }

  &-news__main__child__title {
    position: relative;
    padding-left: 40px;
    font-weight: $FONT_W_M;
    font-size: 1.4rem;

    &:before {
      position: absolute;
      left: 0;
      top: 8px;
      width: 30px;
      height: 1px;
      background: $FONT_COLOR;
      content: '';
    }
  }

  &-banner {
    flex-shrink: 0;
    width: 320px;

    @include MEDIA_TAB {
      width: percentage(380 / $MEDIA_TAB);
    }

    @include MEDIA_SP {
      width: auto;
    }
  }

  &-banner__recruit {
    margin-bottom: 20px;
  }

  &-banner__recruit__link {
    display: block;
    transition: all $HOVER_ANIME_SPEED $HOVER_ANIME_EASING;

    &.hover {
      opacity: $HOVER_ANIME_OPACITY;
    }

    @include MEDIA_SP {
      width: 100%;
      height: 0;
      padding: percentage(260 / 740 / 2) 0;
      background: url($IMG_PATH + 'index/bnr_reqruit_sp.jpg') no-repeat center center;
      background-size: 100% auto;

      img {
        display: none;
      }
    }
  }

  &-banner__company__text {
    @include MEDIA_SP {
      width: percentage(330 / $MEDIA_SP);
      height: 0;
      padding: percentage(37 / 330 / 2) 0;
      background: url($IMG_PATH + 'index/text_btn_company_sp.png') no-repeat center center;
      background-size: 100% auto;

      img {
        display: none;
      }
    }
  }

  &-banner__company__icon {
    position: absolute;
    right: 20px;
    bottom: 10px;
    width: 26px;
    height: 6px;
  }
}

.l-contact {

  &__head {
    display: flex;
    justify-content: center;
    padding: 0 20px 40px 20px;
    background: $COLOR_WH;

    @include MEDIA_SP {
      padding: 0 20px 30px 20px;
    }
  }

  &__head__title {
    @include MEDIA_SP {
      width: percentage(364 / $MEDIA_SP);
      height: 0;
      padding: percentage(49 / $MEDIA_SP / 2) 0;
      background: url($IMG_PATH + 'index/text_contact_sp.png') no-repeat center center;
      background-size: 100% auto;

      img {
        display: none;
      }
    }
  }

  &__main {
    padding: 60px 20px 0 20px;
    background: rgba(0, 0, 0, 0.4);

    @include MEDIA_TAB {
      overflow: hidden;
      padding: percentage(50 / $MEDIA_SP) 0 0 0;
    }
  }

  &__main__inner {
   
  }

  &__main__title {
    position: relative;
    z-index: 2;
    margin-bottom: 30 - 80px;
    font-weight: $FONT_W_B;
    color: $COLOR_WH;
    text-align: center;
    font-size: 2rem;

    @include MEDIA_TAB {
      font-size: 1.6rem;
      margin-bottom: 120px;
    }
  }

  &__main__group {
    display: flex;
    justify-content: space-around;
    width: 1180px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    transform: translate(0, 80px);

    @include MEDIA_TAB {
      width: auto;
      display: block;
      background: $COLOR_WH;
      transform: translate(0, 0);
      padding: 0 40px;
    }

    @include MEDIA_SP {
      padding: 0 10px;
    }
  }

  &__main__child {
    flex-shrink: 0;
    width: 570px;
    background: $COLOR_WH;

    @include MEDIA_TAB {
      width: auto;
      margin-bottom: 30px;
      transform: translate(0, -90px);

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__main__child__head {
    background: $BG_BLACK;
    padding: 30px 15px;

    @include MEDIA_TAB {
      padding: 20px 10px;
    }
  }

  &__main__child__title {
    color: $COLOR_WH;
    text-align: center;
    font-weight: $FONT_W_B;
    font-size: 3rem;

    @include MEDIA_TAB {
      font-size: 2.3rem;
    }

    span {
      color: $COLOR_ORANGE;
      font-weight: $FONT_W_B;
    }
  }

  &__main__child__row {
    display: flex;
    justify-content: space-between;
    padding: 30px;

    @include MEDIA_SP {      
      padding: 15px;
    }
  }

  &__main__child__thumb {
    flex-shrink: 0;
    width: 180px;

    @include MEDIA_TAB {
      width: percentage(250 / $MEDIA_SP);
    }
  }

  &__main__child__detail {
    flex-shrink: 0;
    width: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include MEDIA_TAB {
      width: percentage(480 / $MEDIA_SP);
    }
  }

  &__main__child__desc {
    margin-bottom: 10px;
    font-weight: $FONT_W_B;
    font-size: 2.4rem;
    line-height: percentage(36/24);

    @include MEDIA_SP {
      font-size: 1.8rem;
    }

    & > span {
      background: linear-gradient(to bottom,  transparent 50%, $COLOR_YEL 51%);
      padding-bottom: 6px;
      background-position: left bottom;
      font-weight: $FONT_W_B;
    }
  }

  &__main__child__text {
    font-size: 1.2rem;

    @include MEDIA_TAB {
      margin-bottom: 15px;
    }
  }

  &__main__child__bottom__btn {
    @include MEDIA_SP {
      padding: 15px 0;
      width: percentage(640 / ($MEDIA_SP - 30));
      margin: 0 auto;
    }
  }

  &__bottom {
    background: $COLOR_WH;
    padding: 50px 20px 80px 20px;

    @include MEDIA_TAB {
      padding: percentage(100 / $MEDIA_TAB) 20px percentage(120 / $MEDIA_TAB) 20px;
    }
  }
}

.l-message {
  background: $BG_MESSAGE_LG;
  padding: 40px 20px;
  border-top: 1px solid $COLOR_WH;

  &__inner {
    max-width: $MAIN_WIDTH;
    margin: 0 auto;
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    @include MEDIA_SP {
      width: percentage(211 / $MEDIA_SP);
      max-width: 211px;
      height: 0;
      margin: 0 auto percentage(30 / $MEDIA_SP) auto;
      padding: percentage(28 / $MEDIA_SP / 2) 0;
      background: url($IMG_PATH + 'index/text_message_sp.png') no-repeat center center;
      background-size: 100% auto;

      img {
       display: none;
      }
      
    }
  }

  &__text {
    color: $COLOR_GRAY;
    font-size: 1.2rem;
    line-height: percentage(22/12);
  }
}
