$PAGE_IMG_PATH: $IMG_PATH + 'japanese-modern/';

.l-mv {
  position: relative;
  z-index: 2;
  padding: 0 20px;

  &__title {
    max-width: $MAIN_WIDTH;
    margin: 0 auto;
  }
}

.l-intro {
  position: relative;
  z-index: 1;
  margin-bottom: 150-170px;
  padding: 250px 20px 70px 20px;
  background: url($PAGE_IMG_PATH + 'bg_main.jpg') repeat;
  transform: translate(0, -170px);

  @include MEDIA_SP {
    margin-bottom: 100-70px;
    padding: 140px 20px 50px 20px;
    transform: translate(0, -70px);
  }

  &__inner {
    position: relative;
    z-index: 1;
    max-width: $MAIN_WIDTH;
    margin: 0 auto;

    &:before {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 1198px;
      height: 335px;
      background: url($PAGE_IMG_PATH + 'bg_main_deco.png') no-repeat center center;
      background-size: 100% auto;
      content: '';
      transform: translate(-83px, 0);
    }
  }

  &__head {
    margin-bottom: 60px;

    @include MEDIA_SP {
      margin-bottom: 40px;
    }
  }

  &__title {
    text-align: center;
    font-size: 3.2rem;
    line-height: percentage(60/32);
    font-weight: $FONT_W_M;

    @include MEDIA_SP {
      font-size: 2.8rem;
    }

    &-l {
      font-size: 4.2rem;
      line-height: percentage(60/42);

      @include MEDIA_SP {
        font-size: 3.2rem;
      }
    }

  }

  &__text {
    text-align: center;
    line-height: percentage(28/14);
  }

}

.l-section {
  position: relative;
  z-index: 1;
  padding: 0 20px;

  &:before {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
    background: url($PAGE_IMG_PATH + 'bg_main.jpg') repeat;
    content: '';

    @include MEDIA_TAB {
      content: none;
    }
  }

  @include MEDIA_TAB {
    background: url($PAGE_IMG_PATH + 'bg_main.jpg') repeat;
    padding: 70px 20px;
  }

  &.section-1 {
    margin-bottom: 200px;

    @include MEDIA_SP {
      margin-bottom: 100px;
    }

    &:before {
      bottom: -70px;
      height: 310px;
    }

    &:after {
      position: absolute;
      z-index: 2;
      left: 50%;
      bottom: -70px;
      width: 1px;
      height: 80px;
      background: url($IMG_PATH + 'common/img_foot_contact_line_sp.png') repeat-y center top;
      content: '';
      transform: translate(-50%, 50%);

      @include MEDIA_TAB {
        bottom: 0;
      }
    }
  }

  &.section-2 {
    margin-bottom: 170+70px;

    @include MEDIA_SP {
      margin-bottom: 100px;
    }

    &:before {
      bottom: -70px;
      height: 430px;
    }

    &:after {
      position: absolute;
      z-index: 2;
      left: 50%;
      bottom: -70px;
      width: 1px;
      height: 80px;
      background: url($IMG_PATH + 'common/img_foot_contact_line_sp.png') repeat-y center top;
      content: '';
      transform: translate(-50%, 50%);

      @include MEDIA_TAB {
        bottom: 0;
      }
    }
  }

  &.section-3 {
    margin-bottom: 110+100px;

    @include MEDIA_SP {
      margin-bottom: 130px;
    }

    &:before {
      bottom: -100px;
      height: 300px;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    max-width: $MAIN_WIDTH+100px;
    margin: 0 auto;

    @include MEDIA_TAB {
      display: block;
    }

    &.row-reverse {
      flex-direction: row-reverse;
    }
  }

  &__main {
    flex-shrink: 0;
    width: 630px;
    position: relative;
    z-index: 2;

    @include MEDIA_TAB {
      width: auto;
      max-width: initial;
    }
  }

  &__head {
    position: relative;
    margin-bottom: 70px;
    padding: 0 0 0 110px;

    @include MEDIA_TAB {
      margin-bottom: 50px;
    }

    @include MEDIA_SP {
      padding-left: 60px;
    }

    &:before {
      position: absolute;
      left: 0;
      top: 0;
      width: 90px;
      height: 104px;
      content: '';

      @include MEDIA_SP {
        width: 45px;
        height: 52px;
      }
    }

    &.num-1 {
      &:before {
        background: url($PAGE_IMG_PATH + 'icon_num_01.png') no-repeat center center;
        background-size: 100% auto;
      }
    }

    &.num-2 {
      transform: translate(90px, 0);

      @include MEDIA_TAB {
        transform: translate(0, 0);
      }

      &:before {
        background: url($PAGE_IMG_PATH + 'icon_num_02.png') no-repeat center center;
        background-size: 100% auto;
      }
    }

    &.num-3 {
      &:before {
        background: url($PAGE_IMG_PATH + 'icon_num_03.png') no-repeat center center;
        background-size: 100% auto;
      }
    }
  }

  &__title {
    font-size: 4.2rem;
    line-height: percentage(60/42);
    font-weight: $FONT_W_M;

    @include MEDIA_TAB {
      font-size: 3.6rem;
    }

    @include MEDIA_SP {
      font-size: 2.8rem;
    }

    &-s {
      display: block;
      margin-top: 15px;
      font-size: 2.6rem;
      line-height: percentage(50/26);

      @include MEDIA_TAB {
        font-size: 2.4rem;
      }
      
      @include MEDIA_SP {
        font-size: 1.8rem;
      }
    }
  }

  &__content {
    padding: 50px 40px;
    background: $COLOR_WH;

    @include MEDIA_TAB {
      padding: 40px 30px;
    }

    @include MEDIA_SP {
      margin-bottom: 30px;
      padding: 20px;
    }
  }

  &__text {
    line-height: percentage(28/14);
  }

  &__content__child {
    position: relative;
    padding: 0 0 0 1.2em;
    line-height: percentage(28/14);

    &:before {
      position: absolute;
      left: 0;
      top: 0.5em;
      width: 12px;
      height: 12px;
      background: $FONT_COLOR;
      content: '';
    }
  }

  &__thumb {
    position: absolute;
    z-index: 1;

    &.thumb-1, &.thumb-3 {
      max-width: 624px;
      right: 0;
      top: 0;
      width: percentage(624 / 1200);

      @include MEDIA_TAB {
        position: relative;
        width: auto;
        max-width: initial;
      }
    }

    &.thumb-2 {
      max-width: 1212/2+px;
      left: 0;
      top: 0;
      width: percentage(1212/2 / 1200);

      @include MEDIA_TAB {
        position: relative;
        width: auto;
        max-width: initial;
      }
    }

  }

}
