.l-page-heading {
  margin-bottom: 70px;
  padding: 30px 20px 0 20px;

  &__title {
    margin: 0 auto 20px auto;
    text-align: center;
  }

  &__subtitle {
    text-align: center;
    font-weight: $FONT_W_B;
  }

  &__text {
    text-align: center;
  }
}

.l-menu {
  margin-bottom: 150px;

  @include MEDIA_SP {
    margin-bottom: percentage(150 / $MEDIA_SP);
  }
}

.l-section {
  padding: 0 20px;
  margin-bottom: 80px;

  &:last-of-type {
    margin-bottom: 160px;
  }

  &__inner {
    max-width: $MAIN_WIDTH+100px;
    margin: 0 auto;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 50px;

    &.row-reverse {
      flex-direction: row-reverse;
    }

    @include MEDIA_SP {
      display: block;
    }
  }

  &__top__head {
    flex-shrink: 0;
    width: percentage(600/1200);
    max-width: 600px;

    @include MEDIA_SP {
      width: auto;
      max-width: initial;
      margin-bottom: 20px;
    }

    &.head-l {
      padding: 0 40px 0 0;
      text-align: right;

      @include MEDIA_TAB {
        padding-right: 30px;
      }

      @include MEDIA_SP {
        padding-left: 0;
        text-align: left;
      }
    }

    &.head-r {
      padding: 0 0 0 40px; 

      @include MEDIA_TAB {
        padding-left: 30px;
      }

      @include MEDIA_SP {
        padding-left: 0;
      }
    }

  }

  &__top__num {
    display: inline-block;
    position: relative;
    margin-bottom: 40px;
    font-family: $FONT_CINZEL;
    font-size: 5.7rem;
    line-height: percentage(90/57);
    text-align: center;
    width: 120px;

    @include MEDIA_TAB {
      margin-bottom: 30px;
      font-size: 4rem;
    }

    @include MEDIA_SP {
      display: block;
      margin: 0 auto 30px auto;
    }

    &:before {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background: $FONT_COLOR;
      content: '';
    }

    &.num-r {
      transform: translate(-40px, 0);

      @include MEDIA_TAB {
        transform: translate(-30px, 0);
      }

      @include MEDIA_SP {
        transform: translate(0, 0);
      }
    }

    &.num-l {
      transform: translate(40px, 0);

      @include MEDIA_TAB {
        transform: translate(30px, 0);
      }

      @include MEDIA_SP {
        transform: translate(0, 0);
      }
    }
  }

  &__top__title {
    margin-bottom: 40px;
    font-size: 4.6rem;
    font-weight: $FONT_W_B;

    @include MEDIA_TAB {
      margin-bottom: 30px;
      font-size: 3.2rem;
    }

    @include MEDIA_SP {
      margin-bottom: 20px;
      font-size: 2.8rem;
    }
  }

  &__top__thumb {
    flex-shrink: 0;
    max-width: 600px;
    width: percentage(600/1200);

    @include MEDIA_SP {
      width: auto;
      max-width: initial;
    }
  }

  &__top__text {
    font-size: 2rem;
    font-weight: $FONT_W_B;
    color: $COLOR_OCHER;
    line-height: percentage(40/20);

    @include MEDIA_TAB {
      font-size: 1.8rem;
    }
  }

  &__top__main {
    flex-shrink: 0;
    max-width: 600px;
    width: percentage(600/1200);

    @include MEDIA_SP {
      width: auto;
      max-width: initial;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;

    @include MEDIA_SP {
      display: block;
    }
  }

  &__bottom__detail {
    flex-shrink: 0;
    max-width: 600px;
    width: percentage(600/1200);

    @include MEDIA_SP {
      width: auto;
      max-width: initial;
      margin-bottom: 20px;
    }
  }

  &__bottom__detail__title {
    margin-bottom: 30px;
    font-size: 2.6rem;
    font-weight: $FONT_W_M;

    @include MEDIA_TAB {
      margin-bottom: 20px;
      font-size: 2.2rem;
    }
  }

  &__bottom__detail__text {
    line-height: percentage(28/14);
  }

  &__bottom__group {
    flex-shrink: 0;
    max-width: 600px;
    width: percentage(600/1200);
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 40px;

    @include MEDIA_TAB {
      padding-left: 30px;
    }

    @include MEDIA_SP {
      width: auto;
      padding-left: 0;
    }
  }

  &__bottom__child {
    flex-shrink: 0;
    max-width: 174px;
    width: percentage(174/(600 - 40));

    @include MEDIA_SP {
      width: percentage(230 / $MEDIA_SP);
    }
  }

  &__bottom__child__thumb {
    margin-bottom: 10px;
  }

  &__bottom__child__text {
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 60/1000+em;

    @include MEDIA_SP {
      font-size: 1rem;
    }
  }

}
