.l-not-found {
  padding: 50px 20px 100px 20px;

  @include MEDIA_TAB {
    padding-bottom: percentage(280 / $MEDIA_TAB);
  }

  @include MEDIA_SP {
    padding-bottom: percentage(280 / $MEDIA_SP);
  }

  &__inner {
    max-width: $MAIN_WIDTH;
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 40px;
    font-weight: $FONT_W_B;
    font-size: 3rem;
    text-align: center;

    @include MEDIA_SP {
      margin-bottom: 30px;
      font-size: 2.6rem;
      text-align: left;
    }
  }

  &__text {
    margin-bottom: 120px;
    text-align: center;
    line-height: percentage(28/14);

    @include MEDIA_SP {
      margin-bottom: 60px;
      text-align: left;
    }
  }

  &__btn {
    max-width: 400px;
    margin: 0 auto;
  }
}
