/**
* for news single page
*/

.l-news-single {
  border: 10px solid $BG_EARTH_COLOR;
  margin-bottom: 40px;
  padding: 40px 50px;

  @include MEDIA_SP {
    padding: 20px;
  }

  &__head {
    border-bottom: 2px solid $BORDER_GRAY;
    margin-bottom: 20px;
    padding-bottom: 15px;
  }

  &__date {
    margin-bottom: 5px;
    color: $COLOR_OCHER;
    font-weight: $FONT_W_B;
  }

  &__title {
    font-weight: $FONT_W_B;
    font-size: 2.6rem;
    line-height: percentage(40/26);

    @include MEDIA_SP {
      font-size: 2.2rem;
    }
  }

  &__attachment {
    margin: 60px auto 0 auto;
    max-width: 360px;
  }
}
