/**
* for news archive page
*/

.l-news-archive {
  padding: 30px 20px 100px 20px;

  @include MEDIA_TAB {
    padding-bottom: percentage(300 / $MEDIA_TAB);
  }

  @include MEDIA_SP {
    padding-bottom: percentage(180 / $MEDIA_SP);
  }

  &__inner {
    max-width: $MAIN_WIDTH;
    margin: 0 auto;
  }

  &__group {
    margin-bottom: 80px;
    border: 10px solid $BG_EARTH_COLOR;
    padding: 30px 40px;

    @include MEDIA_SP {
      margin-bottom: 50px;
      padding: 20px;
    }
  }

  &__child {
    border-bottom: 1px solid $LINE_GRAY;
  }

  &__link {
    display: block;
    padding: 15px 20px;
    transition: all $HOVER_ANIME_SPEED $HOVER_ANIME_EASING;

    &.hover {
      opacity: $HOVER_ANIME_OPACITY;
    }

    @include MEDIA_SP {
      padding: 15px 10px;
    }
  }

  &__date {
    margin-bottom: 5px;
    font-weight: $FONT_W_B;
    color: $COLOR_OCHER;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: $FONT_W_M;

    @include MEDIA_SP {
      font-size: 1.6rem;
    }
  }
}
