.l-main {
  @include MEDIA_TAB {
    padding-bottom: percentage(120 / $MEDIA_TAB);
  }
}
.l-mv {
  margin-bottom: 130px;
  padding: 50px 20px 0 20px;

  @include MEDIA_SP {
    margin-bottom: 80px;
    padding: 30px 20px 0 20px;
  }

  &__inner {
    max-width: $MAIN_WIDTH;
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 50px;
    text-align: center;
    font-weight: $FONT_W_B;
    font-size: 2.4rem;

    @include MEDIA_SP {
      margin-bottom: 30px;
      font-size: 2rem;
    }
  }
}

.l-business {
  margin-bottom: 130px;

  @include MEDIA_SP {
    margin-bottom: percentage(150 / $MEDIA_SP);
  }

  &__head {
    margin-bottom: 40px;
    padding: 0 20px;

    @include MEDIA_SP {
      margin-bottom: 30px;
    }
  }

  &__title {
    text-align: center;
    font-weight: $FONT_W_B;
    font-size: 2.4rem;

    @include MEDIA_SP {
      font-size: 2rem;
    }
  }

  &__main {
    background: url($IMG_PATH + 'common/bg_lines.png') repeat;
    padding: 50px 20px;

    @include MEDIA_SP {
      padding: 30px 20px;
    }
  }

  &__main__group {
    display: flex;
    justify-content: space-between;
    max-width: $MAIN_WIDTH;
    margin: 0 auto;

    @include MEDIA_SP {
      display: block;
      max-width: 500px;
      margin: 0 auto;
    }
  }

  &__main__child {
    flex-shrink: 0;
    width: percentage(340px / $MAIN_WIDTH);

    @include MEDIA_SP {
      width: auto;
      margin-bottom: 50px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__main__child__thumb {
    margin-bottom: 15px;
  }

  &__main__child__text {
    line-height: percentage(22/14);
    font-weight: $FONT_W_M;
  }
}

.l-wanted {
  margin-bottom: 240px;
  padding: 70px 20px 0 20px;
  background: url($IMG_PATH + 'recruit/bg_wanted.jpg') repeat;

  @include MEDIA_TAB {
    margin-bottom: 200px;
  }

  @include MEDIA_SP {
    margin-bottom: percentage(150 / $MEDIA_SP);
    padding: 50px 20px 0 20px;
  }

  &__inner {
    position: relative;
    z-index: 1;
    max-width: $MAIN_WIDTH;
    margin: 0 auto;

    &:before {
      position: absolute;
      left: 0;
      top: -70px;
      z-index: 1;
      width: 232px;
      height: 112px;
      background: url($IMG_PATH + 'recruit/icon_wanted.png') no-repeat center center;
      content: '';
      transform: translate(80px, -40px);

      @include MEDIA_TAB {
        transform: translate(0, -50%) scale(0.8);
      }

      @include MEDIA_SP {
        top: -50px;
        transform: translate(-20px, -50%) scale(0.6);
      }
    }

    &:after {
      position: absolute;
      z-index: 1;
      right: 0;
      bottom: 0;
      width: 194px;
      height: 409px;
      background: url($IMG_PATH + 'recruit/img_wanted.png') no-repeat center center;
      content: '';

      @include MEDIA_TAB {
        transform: scale(0.8);
      }

      @include MEDIA_SP {
        width: percentage(194 / $MEDIA_SP);
        height: 0;
        padding: percentage(409/$MEDIA_SP/2) 0;
        background-size: 100% auto;
      }
    }
  }

  &__title {
    margin-bottom: 50px;
    color: $COLOR_WH;
    text-align: center;
    font-size: 5.2rem;
    line-height: percentage(56/52);

    @include MEDIA_TAB {
      margin-bottom: 40px;
      font-size: 4rem;
    }

    @include MEDIA_SP {
      margin-bottom: 30px;
      font-size: 2.4rem;
      line-height: percentage(40/30);
    }
  }

  &__group {
    position: relative;
    z-index: 2;
    margin-bottom: 20 - 70px;

    @include MEDIA_SP {
      margin-bottom: 0;
    }
  }

  &__child {
    margin-bottom: 20px;
    text-align: center;
    color: $COLOR_WH;
    position: relative;
    padding-left: 1em;
    font-weight: $FONT_W_B;

    &:last-of-type {
      margin-bottom: 0;
    }

    @include MEDIA_SP {
      text-align: left;
      line-height: percentage(26/14);
    }
  }

  &__photo {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    transform: translate(0, 50%);
  }

  &__photo__child {
    flex-shrink: 0;
    width: percentage(1/5);
  }

}

.l-recruit {
  max-width: $MAIN_WIDTH+40px;
  padding: 0 20px;
  margin: 0 auto 100px auto;

  @include MEDIA_SP {
    margin-bottom: 80px;
  }

  &__table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
  }

  &__table__name {
    width: 250px;
    padding: 15px;
    background: $BG_BEIGE;
    border-bottom: 1px solid $COLOR_WH;
    border-left: 1px solid $BORDER_TABLE_GRAY;
    font-weight: $FONT_W_B;
    text-align: left;
    vertical-align: top;

    @include MEDIA_SP {
      width: 100%;
      display: block;
      border-bottom: 1px solid $COLOR_WH;
      border-left: none;
      border-right: none;
    }
  }

  tr:last-of-type {
    .l-recruit__table__name {
      border-bottom: 1px solid $BORDER_TABLE_GRAY;
    }
  }

  tr:first-of-type {
    .l-recruit__table__name {
      border-top: 1px solid $BORDER_TABLE_GRAY;

      @include MEDIA_SP {
        border-top: none;
      }
    }
  }

  &__table__detail {
    background: $COLOR_WH;
    padding: 15px;
    border-bottom: 1px solid $BORDER_TABLE_GRAY;
    border-right: 1px solid $BORDER_TABLE_GRAY;
    border-top: 1px solid $BORDER_TABLE_GRAY;

    @include MEDIA_SP {
      width: 100%;
      display: block;
      border-top: none;
      border-right: none;
    }
  }
}
