/**
* for single page
*/

.l-staff-single {
  background: url($IMG_PATH + 'common/bg_lines.png') repeat;
  margin-bottom: 40px;
  padding: 40px;

  @include MEDIA_TAB {
    padding: 30px;
  }

  @include MEDIA_SP {
    padding: 20px;
  }

  &__inner {
    border: 1px solid $COLOR_BLACK;
    background: $COLOR_WH;
    padding: 40px;

    @include MEDIA_TAB {
      padding: 30px;
    }

    @include MEDIA_SP {
      padding: 20px;
    }
  }

  &__head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    border-bottom: 1px solid $BORDER_GRAY;

    @include MEDIA_SP {
      padding-bottom: 30px;
    }
  }

  &__thumb {
    position: relative;
    flex-shrink: 0;
    max-width: 300px;
    width: percentage(330 / $MEDIA_TAB);
    max-height: 260px;
    overflow: hidden;

    @include MEDIA_SP {
      height: 0;
      padding: percentage(3/4/4) 0;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    @include MEDIA_SP {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__detail {
    flex-shrink: 0;
    max-width: 600px;
    width: percentage(600 / $MEDIA_TAB);
  }

  &__name {
    margin-bottom: 10px;
    font-size: 3rem;
    font-weight: $FONT_W_B;

    @include MEDIA_SP {
      font-size: 2.2rem;
    }
  }

  &__kana {
    font-weight: $FONT_W_M;
    font-size: 2rem;

    @include MEDIA_SP {
      font-size: 1.8rem;
    }
  }

  &__role {
    margin-bottom: 20px;
    font-size: 1.6rem;
    font-weight: $FONT_W_B;
    color: $COLOR_OCHER;
  }

  &__main {
    margin-top: 40px;

    @include MEDIA_SP {
      margin-top: 20px;
    }
  }
}
