/**
* for staff archive page
*/

.l-staff-archive {
  padding: 50px 20px 100px 20px;

  @include MEDIA_TAB {
    padding-bottom: percentage(200 / $MEDIA_TAB);
  }

  @include MEDIA_SP {
    padding-bottom: percentage(200 / $MEDIA_SP);
  }

  &__inner {
    max-width: $MAIN_WIDTH;
    margin: 0 auto;
  }

  &__group {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: $MAIN_WIDTH;
    margin-bottom: 80px;
    background: url($IMG_PATH + 'common/bg_lines.png') repeat;
    padding: 50px 40px 20px 40px;

    @include MEDIA_TAB {
      width: auto;
      padding: 40px 40px 20px 40px;
      justify-content: space-between;
    }

    @include MEDIA_SP {
      display: block;
      padding: 40px 20px 20px 20px;
    }
  }

  &__child {
    max-width: 310px;
    width: percentage(310 / (1100 - 160));
    position: relative;
    flex-shrink: 0;
    margin: 0 percentage(40 / (1100 - 160)) 50px 0;
    background: $COLOR_WH;
    border: 1px solid $LINE_DG;

    @include MEDIA_TAB {
      width: percentage(460 / $MEDIA_TAB);
      margin: 0 0 50px 0;
      max-width: initial;
    }

    &:nth-of-type(3n) {
      margin-right: 0;
    }

    @include MEDIA_SP {
      width: auto;
      margin-bottom: 40px;
    }

  }

  &__link {
    display: block;
    padding: 20px 20px 80px 20px;
    transition: all $HOVER_ANIME_SPEED $HOVER_ANIME_EASING;

    &.hover {
      opacity: $HOVER_ANIME_OPACITY;
    }
  }

  &__thumb {
    position: relative;
    margin-bottom: 20px;
    width: 300 - 40px;

    @include MEDIA_TAB {
      width: 100%;
    }
  }

  &__img {
    width: 100%;
    height: 200px;
  }

  &__role {
    margin-bottom: 10px;
    font-weight: $FONT_W_B;
    color: $COLOR_OCHER;
  }

  &__name {
    margin-bottom: 20px;
    font-weight: $FONT_W_B;
    font-size: 2rem;

    @include MEDIA_SP {
      font-size: 1.8rem;
    }
  }

  &__more {
    position: absolute;
    left: 0;
    bottom: 30px;
    width: 100%;
    padding: 0 20px;
  }

  &__more__btn {
    text-align: center;
    color: $COLOR_WH;
    background: $BG_BTN_BLACK;
    font-weight: $FONT_W_B;
    padding: 10px;
  }
}
