.l-mv {
  position: relative;
  z-index: 2;
  padding: 0 20px;

  &__title {
    max-width: $MAIN_WIDTH;
    margin: 0 auto;
  }
}

.l-section {
  position: relative;
  background: url($IMG_PATH + 'japanese-modern/bg_main.jpg') repeat;
  z-index: 1;

  &.section-ishigaki {
    margin-bottom: 130px;
    padding: 260px 20px 60px 20px;
    transform: translate(0, -130px);

    @include MEDIA_SP {
      margin-bottom: percentage(20 / $MEDIA_SP);
      padding: percentage(200 / $MEDIA_SP) 20px percentage((60+400) / $MEDIA_SP) 20px;
      transform: translate(0, percentage(-60 / $MEDIA_SP));
    }
  }

  &.section-niwaishi {
    margin-bottom: 160px;
    padding: 0 20px 100px 20px;

    @include MEDIA_TAB {
      margin-bottom: percentage(130 / $MEDIA_SP);
      padding: percentage(260 / $MEDIA_SP) 20px percentage((60+400) / $MEDIA_SP) 20px;
    }
  }

  &__inner {
    max-width: $MAIN_WIDTH;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    &.row-reverse {
      flex-direction: row-reverse;
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    
    @include MEDIA_SP {
      width: 100%;
    }

    &:before {
      position: absolute;
      content: '';
    }

    &.content-ishigaki {
      &:before {
        left: 50px;
        bottom: 0;
        width: 1010px;
        height: 1008/2+px;
        background: url($IMG_PATH + 'stone/img_ishigaki.jpg') no-repeat center center;
        background-size: 100% auto;
        transform: translate(50%, 110px);

        @include MEDIA_TAB {
          left: 0;
          width: percentage(950 / $MEDIA_TAB);
          height: 0;
          padding: percentage(504 / 1010 / 2) 0;
          transform: translate(90%, 0);
        }

        @include MEDIA_SP {
          transform: translate(0, 110%);
        }
      }
    }

    &.content-niwaishi {
      &:before {
        left: -1010/2-50+px;
        top: 0;
        width: 1010px;
        height: 1008/2+px;
        background: url($IMG_PATH + 'stone/img_niwaishi.jpg') no-repeat center center;
        background-size: 100% auto;
        transform: translate(-50%, -60px);

        @include MEDIA_TAB {
          left: 0;
          width: percentage(950 / $MEDIA_TAB);
          height: 0;
          padding: percentage(504 / 1010 / 2) 0;
          transform: translate(-110%, 50%);
        }

        @include MEDIA_SP {
          top: auto;
          bottom: 0;
          transform: translate(0, 110%);
        }
      }
    }
  }

  &__head {
    position: relative;
    z-index: 1;
    margin-bottom: 60px;

    &:before {
      position: absolute;
      z-index: 1;
      width: 470px;
      height: 207px;
      background: url($IMG_PATH + 'stone/bg_deco.png') no-repeat center center;
      background-size: 100% auto;
      content: '';

      @include MEDIA_TAB {
        width: percentage(740 / $MEDIA_TAB);
        height: 0;
        padding: percentage(207 / $MEDIA_TAB / 2) 0;
      }
    }

    &.head-ishigaki {
      @include MEDIA_TAB {
        margin-bottom: percentage(100 / $MEDIA_TAB);
      }

      &:before {
        left: -100px;
        top: 100px;

        @include MEDIA_TAB {
          left: 0;
          top: auto;
          bottom: 0;
          transform: translate(-10%, 25%);
        }
      }
    }

    &.head-iwanishi {
      display: flex;
      justify-content: flex-end;
      transform: translate(0, -50%);
      margin-bottom: 130 - 140+px;

      @include MEDIA_TAB {
        justify-content: start;
      }

      &:before {
        left: 100px;
        top: 100px;

        @include MEDIA_TAB {
          left: 0;
          top: 0;
          transform: translate(-25%, 80%);
        }
      }
    }
  }

  &__title {
    position: relative;
    z-index: 2;
    width: 146px;

    @include MEDIA_TAB {
      width: percentage(180 / $MEDIA_TAB);
      max-width: 146px;
    }
  }

  &__detail {
    position: relative;
    z-index: 2;
    width: 470px;

    @include MEDIA_TAB {
      width: percentage(800 / $MEDIA_TAB);
      max-width: 470px;
    }

    @include MEDIA_SP {
      width: auto;
      max-width: initial;
    }
  }

  &__desc {
    margin-bottom: 30px;
    font-size: 2.6rem;
    line-height: percentage(60/26);
    font-weight: $FONT_W_M;

    @include MEDIA_SP {
      font-size: 2.2rem;
      line-height: percentage(22/40);
    }
  }

  &__text {
    
  }
}

.l-summary {
  width: 100%;
  height: 453px;
  margin-bottom: 280px;
  background: url($IMG_PATH + 'stone/bg_charm.jpg') no-repeat center center;
  background-size: cover;

  @include MEDIA_TAB {
    height: 400px;
    margin-bottom: percentage(250 / $MEDIA_TAB);
  }

  @include MEDIA_SP {
    height: 300px;
  }

  &__inner {
    position: relative;
    max-width: $MAIN_WIDTH;
    margin: 0 auto;
    height: 100%;

    &:before {
      position: absolute;
      left: 50%;
      bottom: -122px;
      width: 1481px;
      height: 707px;
      background: url($IMG_PATH + 'stone/bg_stone_img.png') no-repeat center center;
      background-size: 100% auto;
      content: '';
      transform: translate(-50%, 0);

      @include MEDIA_TAB {
        width: 100%;
        height: 0;
        bottom: 0;
        padding: percentage(707 / 1481 / 2) 0;
        transform: translate(-50%, percentage(122 / 707));
      }

      @include MEDIA_TAB {
        width: percentage(880 / $MEDIA_SP);
        transform: translate(-50%, percentage(110/880));
      }

    }
  }

  &__text {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 546px;

    @include MEDIA_TAB {
      width: percentage(380 / $MEDIA_TAB);
    }
  }
}
