.l-mv {
  position: relative;
  z-index: 2;
  padding: 0 20px;

  &__title {
    max-width: $MAIN_WIDTH;
    margin: 0 auto;
    padding: 0 50px;

    @include MEDIA_SP {
      padding: 0 20px;
    }
  }
}

.l-intro {

  &-wrap {
    position: relative;
    z-index: 1;
    padding: 0 20px;
    transform: translate(0, -50px);

    @include MEDIA_SP {
      margin-bottom: percentage(80 / $MEDIA_SP);
      transform: translate(0, -30px);
    }
  }

  max-width: $MAIN_WIDTH;
  margin: 0 auto;
  padding: 120px 50px 50px 50px;
  background: url($IMG_PATH + 'japanese-modern/bg_main.jpg') repeat;

  @include MEDIA_SP {
    padding: 60px 20px 20px 20px;
  }

  &__head {
    margin-bottom: 50px;

    @include MEDIA_SP {
      margin-bottom: 40px;
    }
  }

  &__head__text {
    margin-bottom: 10px;
    text-align: center;
    font-weight: $FONT_W_B;
    font-size: 2.6rem;
    line-height: percentage(48/26);

    @include MEDIA_SP {
      font-size: 2rem;
    }
  }

  &__head__title {
    text-align: center;
    font-weight: $FONT_W_B;
    font-size: 3.6rem;
    line-height: percentage(48/36);

    @include MEDIA_SP {
      font-size: 2.6rem;
      line-height: percentage(50/26);
    }
  }

  &__head__line {
    position: relative;
    background: linear-gradient(to bottom,  transparent 50%, $COLOR_YEL 51%);
    padding-bottom: 8px;
    background-position: left bottom;

    @include MEDIA_SP {
      padding-bottom: 4px;
    }
    
    & > span {
      position: relative;
      z-index: 2;
      font-weight: $FONT_W_B;
    }
  }

  &__desc {
    margin-bottom: 50px;

    @include MEDIA_SP {
      margin-bottom: 40px;
    }
  }

  &__desc__text {
    text-align: center;

    @include MEDIA_SP {
      text-align: left;
    }
  }

  &__content {
    padding: 35px 30px;
    border: 8px solid $COLOR_WH;
    background: url($IMG_PATH + '10articles/bg_point.jpg') repeat;

    @include MEDIA_SP {
      padding: 30px 20px;
    }
  }

  &__content__head {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include MEDIA_SP {
      display: block;
      margin-bottom: 30px;
    }
  }

  &__content__head__icon {
    flex-shrink: 0;
    position: relative;
    width: 36px;
    height: 38px;
    margin-right: 20px;
    color: $FONT_COLOR;

    @include MEDIA_SP {
      margin: 0 auto 10px auto;
    }
  }

  &__content__head__title {
    font-weight: $FONT_W_B;
    font-size: 2.2rem;
    line-height: percentage(48/22);

    @include MEDIA_SP {
      font-size: 1.8rem;
      text-align: center;
      line-height: percentage(30/18);
    }
  }

  &__content__body {
    display: flex;

    @include MEDIA_TAB {
      display: block;
    }
  }

  &__content__group {
    flex-shrink: 0;

    &:first-of-type {
      margin-right: 25px;

      @include MEDIA_TAB {
        margin: 0 0 15px 0;
      }
    }
  }

  &__content__child {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__content__child__num {
    flex-shrink: 0;
    width: 28px;
    height: 28px;
    margin-right: 10px;
    text-align: center;
    font-weight: $FONT_W_B;
    border-radius: 50%;
    background: $BG_DB;
    color: $COLOR_WH;
    letter-spacing: 0;
    line-height: 2;
  }

  &__content__child__link {
    display: block;
    font-weight: $FONT_W_M;
    line-height: percentage(22/14);
    transition: all $HOVER_ANIME_SPEED $HOVER_ANIME_EASING;

    &.hover {
      opacity: $HOVER_ANIME_OPACITY;
    }
  }

  
}

.l-section-wrap {
  max-width: $MAIN_WIDTH + 40px;
  margin: 0 auto;
  padding: 0 20px 150px 20px;

  @include MEDIA_TAB {
    padding-bottom: percentage(300 / $MEDIA_TAB);
  }
}

.l-section {
  margin-bottom: 60px;
  padding: 50px 40px;
  border: 8px solid $BORDER_BLOCK_GRAY;
  background: url($IMG_PATH + 'japanese-modern/bg_main.jpg') repeat;

  @include MEDIA_TAB {
    padding: 40px 30px;
  }

  @include MEDIA_SP {
    padding: 30px 20px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &__head {
    display: flex;
    position: relative;
    border-bottom: 2px solid $COLOR_WH;
    margin-bottom: 60px;
    padding-bottom: 20px;

    @include MEDIA_TAB {
      margin-bottom: 40px;
    }

    @include MEDIA_SP {
      display: block;
    }

    &:before {
      position: absolute;
      left: 0;
      bottom: -3px;
      width: 100%;
      height: 1px;
      background: $LINE_GRAY;
      content: '';
    }
  }

  &__head__num {
    flex-shrink: 0;
    width: 74px;
    height: 74px;
    margin-right: 20px;
    padding: 0 0 0 2px;
    border-radius: 50%;
    background: $BG_DB;
    color: $COLOR_WH;
    text-align: center;
    font-weight: $FONT_W_B;
    font-size: 3.7rem;
    line-height: 2;
    letter-spacing: 0;

    @include MEDIA_TAB {
      width: 64px;
      height: 64px;
      font-size: 3.2rem;
    }

    @include MEDIA_SP {
      position: absolute;
      left: 50%;
      top: -38px;
      transform: translate(-50%, -50%);
    }

    &.num-solved {
      background: $BG_ORANGE;
    }
  }

  &__head__detail {
    flex-shrink: 0;
  }

  &__head__sub {
    margin-bottom: 10px;
    color: $COLOR_OCHER;
    font-size: 1.8rem;
    font-weight: $FONT_W_B;

    @include MEDIA_SP {
      font-size: 1.6rem;
    }
  }

  &__head__title {
    font-weight: $FONT_W_B;
    font-size: 2.6rem;

    @include MEDIA_TAB {
      font-size: 2.4rem;
    }

    @include MEDIA_SP {
      font-size: 2rem;
    }
  }

  &__main {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-bottom: 40px;

    &.section-last-main {
      margin-bottom: 0;
    }

    @include MEDIA_SP {
      display: block;
    }
  }

  &__main__thumb {
    flex-shrink: 0;
    width: 355px;

    @include MEDIA_TAB {
      max-width: 355px;
      width: percentage(355 / 1000);
    }

    @include MEDIA_SP {
      width: auto;
      max-width: initial;
    }
  }

  &__main__detail {
    flex-shrink: 0;
    width: 600px;

    @include MEDIA_TAB {
      max-width: 600px;
      width: percentage(600 / 1000);
    }

    @include MEDIA_SP {
      width: auto;
      max-width: initial;
      margin-bottom: 30px;
    }
  }

  &__main__detail__inner {
    display: flex;
    margin-bottom: 30px;

    @include MEDIA_SP {
      display: block;
    }
  }

  &__main__icon {
    background: $BG_ORANGE;
    color: $COLOR_WH;
    text-align: center;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    margin-right: 20px;
    padding: 8px 0 0 0;
    flex-shrink: 0;

    @include MEDIA_TAB {
      width: 64px;
      height: 64px;
      font-size: 3.2rem;
    }

    @include MEDIA_SP {
      margin: 0 auto 10px auto;
    }
  }

  &__main__icon__text {
    font-size: 1.4rem;
    font-weight: $FONT_W_B;
    line-height: percentage(16/14);

    @include MEDIA_TAB {
      font-size: 1.2rem;
    }
  }

  &__main__icon__num {
    font-size: 3.5rem;
    letter-spacing: 0;
    font-weight: $FONT_W_B;
    line-height: percentage(42/35);

    @include MEDIA_TAB {
      font-size: 3rem;
    }
  }

  &__main__detail__title {
    font-weight: $FONT_W_B;
    font-size: 2.2rem;
    line-height: percentage(40/22);

    @include MEDIA_TAB {
      font-size: 1.8rem;
    }
  }

  &__main__detail__line {
    position: relative;
    background: linear-gradient(to bottom,  transparent 50%, $COLOR_YEL 51%);
    padding-bottom: 5px;
    background-position: left bottom;

    & > span {
      position: relative;
      z-index: 2;
      font-weight: $FONT_W_B;
    }
  }

  &__main__text {
    font-weight: $FONT_W_M;
    line-height: percentage(22/14);
  }

  &__point {
    position: relative;
    background: url($IMG_PATH + '10articles/bg_point.jpg') repeat;
    border: 8px solid $COLOR_WH;
    padding: 40px 250px 40px 170px;
    min-height: 180px;

    @include MEDIA_TAB {
      padding: 40px 160px 40px 140px;
    }

    @include MEDIA_SP {
      min-height: 130px;
      padding: 30px 15px percentage(220 / $MEDIA_SP) 15px;
    }

    &:before {
      position: absolute;
      left: 30px;
      top: 25px;
      width: 95px;
      height: 51px;
      background: url($IMG_PATH + '10articles/text_point.png') no-repeat;
      content: '';

      @include MEDIA_TAB {
        left: 15px;
      }

      @include MEDIA_SP {
        left: 0;
        top: 0;
        transform: scale(0.5) translate(-50%, -50%);
      }
    }

    &:after {
      position: absolute;
      right: 30px;
      bottom: 0;
      width: 152px;
      height: 212px;
      background: url($IMG_PATH + '10articles/img_man.png') no-repeat;
      content: '';

      @include MEDIA_TAB {
        right: 15px;
      }

      @include MEDIA_SP {
        width: percentage(152 / $MEDIA_SP);
        height: 0;
        padding: percentage(212 / $MEDIA_SP/ 2) 0;
        background-size: 100% auto;
      }
    }
  }

  &__point__text {
    font-size: 1.6rem;
    font-weight: $FONT_W_B;
    line-height: percentage(32/16);

    @include MEDIA_TAB {
      font-size: 1.4rem;
    }

    @include MEDIA_SP {
      font-weight: $FONT_W_M;
      font-size: 1.2rem;
    }
  }
}
