/**
* for single page
*/

.l-voice-single {
  background: url($IMG_PATH + 'common/bg_lines.png') repeat;
  margin-bottom: 40px;
  padding: 40px;

  @include MEDIA_TAB {
    padding: 30px;
  }

  @include MEDIA_SP {
    padding: 20px;
  }

  &__inner {
    background: $COLOR_WH;
    padding: 40px;

    @include MEDIA_TAB {
      padding: 30px;
    }

    @include MEDIA_SP {
      padding: 20px;
    }
  }

  &__head {
    margin-bottom: 40px;
    border-bottom: 3px solid $BORDER_GRAY;
    padding: 0 15px 15px 15px;

    @include MEDIA_SP {
      padding: 0 10px 10px 10px;
    }
  }

  &__head__area {
    margin-bottom: 20px;
    font-weight: $FONT_W_M;
    font-size: 2rem;

    @include MEDIA_SP {
      font-size: 1.6rem;
    }
  }

  &__head__title {
    font-size: 3rem;
    font-weight: $FONT_W_B;
    line-height: percentage(40/30);

    @include MEDIA_SP {
      font-size: 2.2rem;
    }
  }

  &__thumb {
    max-width: 700px;
    margin: 0 auto;
  }

  &__body {
    padding: 15px;
  }

  &__gallery {
    margin-top: 80px;
  }

  &__gallery__title {
    margin-bottom: 40px;
    font-weight: $FONT_W_B;
    font-family: $FONT_CINZEL;
    text-align: center;
    font-size: 4rem;
    color: $BG_DB;
    padding-bottom: 5px;
    border-bottom: 10px solid $BORDER_GRAY;

    @include MEDIA_SP {
      margin-bottom: 30px;
      font-size: 2.6rem;
    }
  }

  &__gallery__group {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;

    @include MEDIA_SP {
      justify-content: space-between;
      padding: 0;
    }
  }

  &__gallery__child {
    flex-shrink: 0;
    width: percentage(310 / $MEDIA_TAB);
    margin: 0 percentage(15 / $MEDIA_TAB) 30px 0;

    @include MEDIA_SP {
      width: percentage(370 / $MEDIA_SP);
      margin-right: 0;
    }

    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }

  &__gallery__link {
    display: block;
  }

  &__gallery__thumb {
    position: relative;
    height: 200px;

    @include MEDIA_SP {
      height: 0;
      padding: percentage(3/4/2) 0;
    }

    &:before {
      position: absolute;
      z-index: 2;
      right: 0;
      bottom: 0;
      width: 30px;
      height: 30px;
      background: url($IMG_PATH + 'common/icon_plus.jpg') no-repeat center center;
      content: '';
    }
  }

  &__gallery__img {
    width: 100%;
    height: 100%;

    @include MEDIA_SP {
      position: absolute;
      z-index: 1;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__gallery__caption {
    margin-top: 5px;
    font-size: 1.2rem;
  }
}

.l-voice-other {
  margin-top: 80px;

  &__inner {

  }

  &__head {
    margin-bottom: 30px;
  }

  &__main {
    background: $BG_LG;
    padding: 40px 40px 10px 40px;

    @include MEDIA_TAB {
      padding: 30px 30px 10px 30px;
    }

    @include MEDIA_SP {
      padding: 20px 20px 10px 20px;
    }
  }

  &__title {
    text-align: center;
    font-weight: $FONT_W_B;
    font-size: 3.2rem;

    @include MEDIA_SP {
      font-size: 2.4rem;
    }
  }

  &__group {
    display: flex;
    flex-wrap: wrap;

    @include MEDIA_SP {
      justify-content: space-between;
    }
  }

  &__child {
    flex-shrink: 0;
    width: percentage(230 / $MEDIA_TAB);
    margin: 0 percentage(10 / $MEDIA_TAB) 30px 0;
    background: $COLOR_WH;

    @include MEDIA_TAB {
      width: percentage(310 / $MEDIA_TAB);
      margin: 0 percentage(15 / $MEDIA_TAB) 30px 0;
    }

    @include MEDIA_SP {
      width: percentage(370 / $MEDIA_SP);
      margin-right: 0;
    }

    &:nth-of-type(4n) {
      margin-right: 0;
      @include MEDIA_TAB {
        margin: 0 percentage(15 / $MEDIA_TAB) 30px 0;
      }
      @include MEDIA_SP {
        margin-right: 0;
      }
    }

    &:nth-of-type(3n) {
      @include MEDIA_TAB {
        margin-right: 0;
      }
    }
  }

  &__child__link {
    display: block;
    padding: 20px;
    transition: all $HOVER_ANIME_SPEED $HOVER_ANIME_EASING;

    &.hover {
      opacity: $HOVER_ANIME_OPACITY;
    }
  }

  &__child__thumb {
    position: relative;
    height: 180px;
    margin-bottom: 15px;
    overflow: hidden;

    @include MEDIA_SP {
      height: 0;
      padding: percentage(3/4/2) 0;
    }
  }

  &__child__img {
    width: 100%;
    height: 100%;

    @include MEDIA_SP {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

}
